[2015-09-09 07:31] kazu-yamamoto commented on #429
Safari does not implement SHA512 correctly. https://github.com/Caligatio/jsSHA/issues/3

I know that the tls library of golang also has this bug. Sigh.

I would propose to remove SHA384 and SHA512 from `supportedHashSignatures`.

[2015-09-09 07:33] kazu-yamamoto commented on #429
Cc: @AaronFriel Just for your information.

[2015-09-09 11:10] kazu-yamamoto commented on #429
@tathougies  Don't worry. I will take care of this tomorrow.

[2015-09-09 23:18] AaronFriel commented on #429
I'm opposed to adding 3DES, that's a clear regression in terms of security. I don't think it's worth it to support 3DES by default, at least.

The quick fix seems to be to do as @kazu-yamamoto suggested and remove SHA384 and SHA512 based ciphers. SHA256 is not considered insecure by anyone, so this isn't a security issue. (It's not like we'd be removing support for all SHA-2 based ciphers, just tw

[2015-09-10 00:32] kazu-yamamoto commented on #429
I have removed SHA 384 and SHA 512. I don't add 3DES. I confirmed that the patch above rescue Safari 8 and golang tls.

[2015-09-10 00:34] AaronFriel commented on #429
Very peculiar. I haven't looked at the other thread in detail. Does `tls` implement SHA384/512 incorrectly or is it golang and Safari?

[2015-09-10 00:42] kazu-yamamoto commented on #429
I believe that golang and Safari suck. When Safari received a SHA512 signature, it returns an alert.

[2015-09-10 03:18] kazu-yamamoto commented on #429
I have released a new version.

[2015-09-10 03:18] #429 closed

[2015-09-11 09:23] DaveCTurner opened #430 "Post-request TLS renegotiation for client certs"
Hi,

I'm in the process of debugging a non-Haskell HTTPS issue and have come across a protocol flow that I was previously unaware of. When using client certificates to authenticate to IIS, the initial connection is set up without client certificates (the server sends no `CertificateRequest` message) and then once the request is received the connection is renegotiated. This means that it can decide

[2015-09-11 17:38] dylex opened #431 "Range requests not working with http2"
It looks like http2 file range responses don't work.  There's no accept-ranges header in responses, and requests with range headers always return a full 200 rather than a 206.  (This complely breaks video streaming.)  Do I have to do something different to make this work in http2 or manually implement range handling?

(On a separate note, as we've had a number of issues with http2, is there anyway

[2015-09-11 18:08] awpr commented on #431
I think the currently-released version doesn't implement that (see https://github.com/yesodweb/wai/blob/warp-tls/3.1.3/warp/Network/Wai/Handler/Warp/HTTP2/Sender.hs#L275 which just always selects the full file); however I have an über-pull-request going that includes a change implementing it, namely https://github.com/yesodweb/wai/commit/7c34e4582ccfabafd9903b1ff12ac3a5a4e823dc (see #426).

This r

[2015-09-11 18:19] dylex commented on #431
That looks exciting, thanks! I've been trying to figure out whether you actually need to include accept-ranges in http/2.  Clients appear to request ranges automatically even without it, but it's not clear.  Probably it's safer to include it.  I'll give your PR a shot when I can and see if it makes our app work.

We've downgraded to wai 3.0 again for now. I'd vote that incompletely implemented fea

[2015-09-11 18:40] awpr commented on #431
IIRC servers that don't support range serving are required (or maybe encouraged?) to ignore Range headers and send 200 OK with the full contents, so it seems like clients should be safe to send Range headers regardless of the Accept-Ranges header.  Indeed "A client MAY generate range requests without having received this header field for the resource involved."

I don't actually see how the Accept

[2015-09-11 18:44] dylex commented on #431
For HTTP1, I can say for sure that accept-ranges is required for a number of browsers, at least for video streaming.  Many browsers (including safari and IE, and older chrome and firefox) send a speculative GET for the full resource, and when they see an accept-ranges, send a new request with a range header, otherwise they assume it won't work. I haven't done enough testing with http2, but the bro

[2015-09-13 07:53] #402 closed

[2015-09-14 08:26] andrewhn opened #433 "High CPU usage with websocketsOr (Windows only)"
Hi,

Hoping this belongs here and not in `websockets`. I've run into trouble writing a http/ws application and boiled it down to the following example. Instructions to reproduce are in the comment. The problem is, when I disconnect a websocket there's a ~5-10 second lag and CPU usage jumps and persists. The issue only seems to occur with the addition of `websocketsOr` - the `runServer` function do

[2015-09-14 18:57] creichert commented on #433
Thanks for the report.

What lts version are you using? What version of wai-websockets,
websockets, wai, and warp? (stack exec -- ghc-pkg list, not sure how to
translate this to windows).

On Mon, Sep 14 2015, andrewhn <notifications@github.com> wrote:

[2015-09-14 21:45] andrewhn commented on #433
[code]

On Windows 8.1 Pro x64. Full output (FYI ``stack exec ghc-pkg list`` works the same on windows):

[code]

[2015-09-15 00:25] kazu-yamamoto commented on #430
Yeah, this is a weak point of WAI.

When a client send a request to protected resource, the following should be carried out:

- The server sends `HelloRequest`
- The client sends `ClientHello` for renegociation
- The server sends `ServerHello` with `CertificateRequest` to request client's certificate

I should learn that the tls library allows this. If not, I should enhance it.

@DaveCTurner In WA

[2015-09-15 01:58] kazu-yamamoto opened #434 "A next release"
I'm now trying to fix two vulnerabilities of Warp. After I fix them, I would like to release new Warp (and WAI). Before that, I would like to make consensus on versions:

- The next WAI version is 3.1.0 since it provides `Network.WAI.HTTP2`.
- The next Warp version is 3.2.0 because of new APIs such as `runHTTP2`.
- The HTTP/2 features in WAI 3.1.0 and in Warp 3.2.0 are trial and subject to change.

[2015-09-15 02:11] awpr commented on #434
Sounds good to me.  Warp will need to change the lower bound on the WAI dependency to 3.1.0 then, right?

[2015-09-15 02:41] kazu-yamamoto commented on #434
Exactly.

[2015-09-15 03:57] kazu-yamamoto commented on #428
I hope the patch above solves the problem.

[2015-09-15 06:41] DaveCTurner commented on #430
Now that is a good question!

My first thought is to add a field to Request of (moral) type ExtraAuthRequest -> IO ExtraAuthResponse.

I imagine, although have not checked, that TLS allows you to do this renegotiation (a) multiple times and (b) even after the response has been partially sent. If so, a function of that type is all that's needed.

[2015-09-17 23:17] kazu-yamamoto commented on #434
@snoyberg Pinging.

[2015-09-18 03:11] snoyberg commented on #434
It doesn't look like these are breaking changes. Exposing a new module should be a minor version bump. AFAICT, the original modules have been unchanged in behavior.

Removing the internal APIs _would_ be a major version bump, but if there are no other major breaking changes in this release, I'd recommend doing that bump separately, so that people still on the current major version don't get stuck

[2015-09-18 03:53] kazu-yamamoto commented on #434
OK. So,

- the next wai is 3.0.4.0
- the next warp is 3.1.4 requiring wai >= 3.0.4.0

[2015-09-18 03:56] snoyberg commented on #434
:+1:

[2015-09-21 15:28] ptek opened #436 "HTTP/2 Cookies from latest Google Chrome and Firefox come in separate fields"
We found out, that in our Warp/Wai application, the cookies in the request headers from the newest Google Chrome and Firefox arrive in multiple fields.

For example in HTTP/2.0 request:
[code]
as opposed to HTTP/1.1:
[code]

In the spec: https://http2.github.io/http2-spec/#CompressCookie it says that it is allowed, but the webserver must concatenate them after for the further usage. Is the current

[2015-09-24 03:12] kazu-yamamoto commented on #436
I forgot to support 8.1.2.5. I will implement it soon. Thank you for reporting.

[2015-09-24 03:15] kazu-yamamoto commented on #436
https://http2.github.io/http2-spec/#rfc.section.8.1.2.5 に書かれている Cookie ですが、受信側は複数の Cookie を1つにまとめるのは MUST と書かれています。聞きたいのは、送信側です。みなさんのサーバでは、Cookie を "; " で分割して、複数行に直していますか？ (or 直すべきですか？)

[2015-09-25 05:04] kazu-yamamoto commented on #436
Implemented as above.

[2015-09-28 02:29] kazu-yamamoto commented on #434
@snoyberg I would like upload wai 3.0.4.0 but I don't have the right to do so. Please add me to its maintainer group.

[2015-09-28 19:01] snoyberg commented on #434
Done

On Mon, Sep 28, 2015, 5:29 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-09-29 06:09] kazu-yamamoto commented on #434
@snoyberg Than you!

[2015-09-29 06:09] kazu-yamamoto commented on #434
I have released wai 3.0.4.0 and warp 3.1.4.

@awpr Thank you for your contribution!

[2015-09-29 06:09] #434 closed

[2015-09-29 06:10] kazu-yamamoto commented on #415
warp 3.1.4 supports this feature. Let's close this.

[2015-09-29 06:10] #415 closed

[2015-09-29 06:11] kazu-yamamoto commented on #428
I would like to close this. Please reopen if necessary.

[2015-09-29 06:11] #428 closed

[2015-09-29 06:12] kazu-yamamoto commented on #436
I would like to close this issue. Please reopen if necessary.

[2015-09-29 06:12] #436 closed

[2015-09-29 10:46] ptek commented on #436
Sure, I can't try it out right now, but looking at the coomit I am confident it will work fine.
Thanks!

[2015-09-29 15:00] wapxmas opened #438 "warp-3.1.4 failed during the building phase"
- HaskellPlatform-7.10.2-a-i386
**Windows 7** x86/x64

Network\Wai\Handler\Warp\Recv.hs:129:16:
    Couldn't match expected type `CInt' with actual type `IO a0'
    Relevant bindings include
      bytes :: IO a0 (bound at Network\Wai\Handler\Warp\Recv.hs:117:5)
    In the first argument of `return', namely `bytes'
    In the expression: return bytes
cabal.EXE: Error: some packages failed to instal

[2015-09-29 15:24] #438 closed

[2015-09-30 22:40] charleso opened #439 "Collaborating with http-types"
[Both](https://github.com/yesodweb/wai/search?utf8=%E2%9C%93&q=hContentRange) [warp/Network/Wai/Handler/Warp/Types.hs](https://github.com/yesodweb/wai/blob/c5001a0fb8100a425e68b09a38c32b83bd69384f/warp/Network/Wai/Handler/Warp/Types.hs#L36) and [wai/Network/Wai/Internal.hs](https://github.com/yesodweb/wai/blob/ac96dc569708a5a3c7df9906ddd2a9f58ff30a2d/wai/Network/Wai/Internal.hs#L167) define  `hCon

[2015-10-01 00:36] awpr commented on #439
The error message doesn't really match your prose -- it refers to ambiguity of `parseByteRanges`, not `hContentRange`.  Nonetheless I bet the issue here is that wai 3.0.4.0 doesn't work with warp < 3.1.4 because of this ambiguity.

You should be able to work around it by explicitly requesting warp 3.1.4 or avoiding wai 3.0.4.0, but I'm not really sure what the best way to address this is in genera

[2015-10-01 00:39] charleso commented on #439
@awpr Apologies, copied the wrong error message in my haste. There was about `hContentRange` as well. I've fixed my compiler errors locally already by restricting `wai`, but just thought you might like to know.

[2015-10-01 00:40] charleso commented on #439
Have updated the error to the full thing

[2015-10-01 23:57] jirib opened #440 "[openbsd] warp-3.1.4 ... linking ... unknown symbol `warpzuBEcL04PUybVBcZZL5KBk14u_NetworkziWaiziHandlerziWarpziMultiMap_Tom_con_info'"
Hi,
I try to install git-annex and it fails on warp.

OS: OpenBSD 5.8 snapshot amd64 (snapshot 2015-09-29)

(Sorry I know nothing about haskell internals, if you need more info I would be happy to provide it.)

[code]

[2015-10-02 00:29] awpr commented on #440
Note: I've seen this symptom before in #428.  It looks like the issue is that the MultiMap module is only built if the sendfile implementation is enabled, but it's used on all non-Windows builds by FdCache.  So, the fix should be to move the Other-modules declaration for it to all non-Windows builds.  I was able to trigger the same symptom on Linux by removing that module from Other-modules entire

[2015-10-02 00:36] kazu-yamamoto commented on #439
I think the best way to solve this is define `Content-Range` in http-types.

@aristidb Are there any reasons to not define `Content-Range` in http-types? It is a standard header defined in https://tools.ietf.org/html/rfc7233#section-4.2

[2015-10-02 00:43] kazu-yamamoto commented on #440
After solving this issue, let's release a new version of Warp.

[2015-10-02 00:59] awpr commented on #439
+1 to having hContentRange in http-types, but the issue I'm unsure about is what to do about wai-3.0.4.0 breaking compatibility with all versions of warp that import the whole Network.Wai.Internal module and also define parseByteRanges.  Renaming Wai's version of parseByteRanges is problematic since it would break warp 3.1.4.

[2015-10-02 01:14] kazu-yamamoto commented on #439
Uhhm. It sounds like that we should have bumped major versions. (#434)

[2015-10-02 01:16] kazu-yamamoto commented on #439
BTW. What is the best position for `parseByteRanges`? In http-types?

[2015-10-02 01:18] awpr commented on #439
Actually, yeah, I do remember wondering why it wasn't in `http-types`.

My understanding is it's not normally required to bump major versions for *adding* exported names.  The only reason it was a problem here is that we imported the whole module with "import Network.Wai.Internal".  In general I don't think it's possible to make any change to a package's exports at all while maintaining compatibil

[2015-10-02 01:24] kazu-yamamoto commented on #439
Let's contribute `hContentRange` and `parseByteRanges` to http-types. @aristidb Are you OK with this?

However, I have no idea on how to solve the current mismatch except just asking upgrading wai and warp.

[2015-10-02 09:54] jirib commented on #440
Looks good, it passed ok. Thank you.

[2015-10-02 14:12] awpr commented on #440
Thanks, I just pushed it to master.  I'll leave this issue open pending a release.

[2015-10-02 22:09] dylex commented on #431
FWIW basic http2 streaming range requests are now working with warp 3.1.4 on chrome and firefox/39, chrome/45, and safari/7. We can do more extensive next week, but generally looks good, thanks!

[2015-10-04 19:04] joeyh opened #441 "warp 3.1.4 fails to build on Windows in Recv.hs"
Network\Wai\Handler\Warp\Recv.hs:129:16:
    Couldn't match expected type `CInt' with actual type `IO a0'
    Relevant bindings include
      bytes :: IO a0 (bound at Network\Wai\Handler\Warp\Recv.hs:117:5)
    In the first argument of `return', namely `bytes'
    In the expression: return bytes

This is using ghc 7.10.2. warp 3.1.3.1 builds ok.

[2015-10-04 21:18] awpr commented on #441
Duplicate of #438.   May as well leave this one open for visibility until the fix is released, though.

[2015-10-05 14:25] nlinker commented on #441
`cabal install wai-3.0.3.0 --reinstall` and then `cabal install warp-3.1.3` builds ok as well.

[2015-10-05 22:10] hvr opened #443 "incorrect lower bound on blaze-builder in wai-3.0.4.0"
[I just increased the lower bound](http://hackage.haskell.org/package/wai-3.0.4.0/revisions/) for `blaze-builder` to require `>= 0.4` because otherwise cabal may pick an install plan resulting in the following compile error:

[code]

[2015-10-05 22:18] awpr commented on #443
I didn't know this was possible!  This capability might be a solution to #439, where wai-3.0.4.0 was unexpectedly incompatible with old warp versions.

[2015-10-05 22:20] awpr commented on #439
Apparently it's possible to amend package metadata on Hackage after-the-fact.  I think we should apply the upper bound < 3.0.4.0 to some number of old warp versions so they will continue to build.

[2015-10-06 18:56] aristidb commented on #439
hContentRange is in http-types 0.9. I'd be open for parseByteRanges in
http-types if it doesn't add dependencies.

Andrew Pritchard <notifications@github.com> schrieb am Di., 6. Okt. 2015 um
00:20 Uhr:

[2015-10-07 17:45] nek0 opened #444 "build error in wai 3.0.4.0"
Hi there,

when building wai, the compiler aborts with this error:

[code]

I can't fix this myself, since I do not understand the code at that point...

[2015-10-08 11:40] ygale opened #446 "wai-extra FTB: requires network >= 2.6.1.0"
The cabal file for wai-extra claims that wai-extra works with versions of network that are quite old: network >= 2.2.1.5. However, the module `Network.Wai.Middleware.RequestLogger.JSON` now references the constructor `SockAddrCan` of `SockAddr`, imported from `Network.Socket`. That only was introduced in a very recent version of network: 2.6.1.0.

Since the network package is commonly pinned to a

[2015-10-08 11:48] snoyberg commented on #446
I've increased the lower bound.

On Thu, Oct 8, 2015 at 2:40 PM, ygale <notifications@github.com> wrote:

[2015-10-08 11:50] snoyberg commented on #446
Also, out of curiosity: what does FTB stand for? I did a quick search, but
none of the results sound like something I'd ever hear you say ;)

On Thu, Oct 8, 2015 at 2:48 PM, Michael Snoyman <michael@snoyman.com> wrote:

[2015-10-08 11:50] #446 closed

[2015-10-08 12:02] ygale commented on #446
Thanks!

FTB is Debian slang, for "fails to build".

[2015-10-08 12:02] ygale commented on #446
I was about to hit send on a PR and you beat me :)

[2015-10-08 15:14] #443 closed

[2015-10-08 15:14] #444 closed

[2015-10-09 14:28] nek0 opened #447 "Build error in wai-extra 3.0.11"
building wai-extra version 3.0.11 as a dependency of my own project results in this error:
[code]

Can somebody please look into this, I don't really understand, what's going on there.

[2015-10-09 14:51] gregwebs commented on #447
Looks like  this is fixed on master already. @awpr do you want me to release the fix to hackage?

[2015-10-09 14:57] awpr commented on #447
The one I fixed was only in wai, not wai-extra.  It's another instance of
the same problem, though -- looks like it was introduced by the JSON
logging PR.  We have the same choices here: bump blaze-builder to 0.4 or
add 'fromByteString' on string literals used as Builders.

On Fri, Oct 9, 2015 at 7:51 AM Greg Weber <notifications@github.com> wrote:

[2015-10-09 15:03] gregwebs commented on #447
Thanks! I will make the change and release a new version of wai-extra

[2015-10-09 22:23] nek0 commented on #447
can this find its way into hackage, please?

[2015-10-09 22:54] gregwebs commented on #447
its up as 3.0.11.1

[2015-10-09 22:54] #447 closed

[2015-10-13 06:36] kazu-yamamoto commented on #441
A new version has been released.

[2015-10-13 06:36] #441 closed

[2015-10-13 06:36] kazu-yamamoto commented on #440
A new version has been released.

[2015-10-13 06:36] #440 closed

[2015-10-14 21:03] dylex commented on #431
We're still getting sporadic SPDY/connection errors in both chrome and firefox, even without range requests.  Is there any way to turn off http2 altogether?

[2015-10-14 21:10] dylex opened #450 "How to disable http/2?"
We've been testing every released version of warp and warp-tls and are still getting ERR_SPDY_PROTOCOL_ERROR in recent chrome and network errors in firefox with warp 3.1.6 and warp-tls 3.1.3 and all other packages updated. This causes serious enough problems that we cannot put any of these in production, but keeping warp 3.0.4.2 in production is becoming more difficult because of incompatibilities

[2015-10-16 16:16] dylex commented on #450
For clarity, this is using `runTLS`. I tried setting `onALPNClientSuggest = Nothing` but it seems to just ignore this and set it back. The problems primarily happen whenever there is a cookie request header -- otherwise most things work. I'd be happy to try to diagnose, but I'm not sure the best way to get a trace (wireshark can't decrypt with DH and the browsers complain if you disable it; enabli

[2015-10-19 02:37] kazu-yamamoto commented on #439
`parseByteRanges` has been merged into http-types on github.

[2015-10-19 02:47] kazu-yamamoto commented on #450
I would like to provide a way to disable HTTP/2.

[2015-10-20 00:39] #450 closed

[2015-10-21 03:23] kazu-yamamoto opened #455 "Splitting "Set-Cookie:" headers"
Cookie and Set-Cookie should be split to increase the compression ratio of HPACK. In Warp, multiple Cookie headers in a request are now concatenated. But a Set-Cookie in a response is not split.

https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/HTTP2/HPACK.hs#L25

@dylex @ptek Are you interested in implementing this feature?

[2015-10-21 04:29] dylex commented on #455
I'm not sure I understand. The "set-cookie" header is not allowed to contain multiple cookies either in http 1.1 or 2, and http 1.1 responses already may contain multiple set-cookie headers. Only the "cookie" header is treated specially in http/2.

[2015-10-21 04:33] kazu-yamamoto commented on #455
Uhhm. The author of h2o said to me that h2o splits set-cookie. I will check.

[2015-10-21 04:41] dylex commented on #455
It doesn't seem to. It looks like it was incorectly merging them at some point, though: h2o/h2o#427

[2015-10-21 05:49] kazu-yamamoto commented on #455
I was chatted with the author of h2o and confirmed that h2o does not split set-cookie. Sorry for bothering you guys. Let's close this.

[2015-10-21 05:49] #455 closed

[2015-10-22 01:00] dylex commented on #431
This seems now to work well across Chrome, Firefox, and Edge.

[2015-10-22 01:00] #431 closed

[2015-10-22 02:03] kazu-yamamoto commented on #431
@dylex Does it mean that cfe9824 solves your problem?

[2015-10-22 02:07] dylex commented on #431
Along with 7c34e4582ccfabafd9903b1ff12ac3a5a4e823dc yes, now that we've been able to test it properly, byte range requests (and video streaming) seem to be handled properly.

[2015-10-22 03:21] kazu-yamamoto commented on #431
@dylex Thanks.

[2015-10-22 15:44] urbanslug opened #456 "Using a later resolver and stack.yaml file."
In an attempt to add a new package https://github.com/urbanslug/wai I ran into an issue because the resolver for wai is 2.17.

Is there is a reason wai can't use a resolver such as 3.* ? Since I am depending on ide-backend 0.10 onwards which isn't in the resolver for 2.* If we must keep the current resolver I
could look for a fix in the extra deps section of the stack.yaml file.

Also just general

[2015-10-22 15:45] snoyberg commented on #456
No, no problem. PR welcome!

On Thu, Oct 22, 2015, 6:44 PM Njagi Mwaniki <notifications@github.com>
wrote:

[2015-10-22 22:08] dylex opened #457 "Transfer-encoding header on http2 responseLBS"
We're still getting http2 errors on chrome with warp 3.1.7 for some requests that use `responseLBS`:
[code]
We are not adding this header ourselves.  Firefox seems to work on an identical request (though claims there's no transfer-encoding response header).

[2015-10-22 22:14] dylex commented on #457
Sorry, I take it back, it was getting passed through a proxied response.

[2015-10-22 22:14] #457 closed

[2015-10-25 00:43] bergmark opened #458 "warp-tls build failure"
Got this while building LTS

[code]

[2015-10-26 08:28] kazu-yamamoto opened #459 "Set END_STREAM on the last non-empty DATA frame when there will be no trailers."
Firefox sends RST_STREAM with CANCEL when Warp sends HEADERS + DATA.

This is probably because Warp sends 0-length DATA frame with END_STREAM set when trailers are empty. In the spec, 0-length DATA is legal. But this is redundant and this is the major case.

@awpr Is it possible to not generate 0-length DATA when trailers are empty?

[2015-10-26 13:23] awpr commented on #459
I believe the spec explicitly condones this behavior.  Initially I had it
send an empty trailers block for this case, but Chrome considered that a
protocol error, so I changed it to use an empty data frame.

On Mon, Oct 26, 2015, 01:28 Kazu Yamamoto <notifications@github.com> wrote:

[2015-11-04 11:59] soenkehahn commented on #376
@snoyberg: I just ran into the same issue. Did you get around to provide the doc fix and I missed that part?

[2015-11-04 12:39] snoyberg commented on #376
No, I didn't. Would you be able to send a PR?

[2015-11-05 14:17] soenkehahn commented on #376
I created a (failing) test-case that demonstrates the behavior, see #460. I haven't looked into the code yet, but is there any reason `defaultWebAppSettings` shouldn't support `ssIndices`? If there are no objections I'll try to make this work.

[2015-11-05 14:19] snoyberg commented on #376
None that I'm aware of.

On Thu, Nov 5, 2015 at 6:17 AM, Sönke Hahn <notifications@github.com> wrote:

[2015-11-12 15:20] michael-swan opened #462 "warp-tls: Status code 200 for insecure request denial"
It's really a minor detail, but perhaps a different status code such as 403 would be more fitting for a request denial due to an insecure request being made.

See https://github.com/yesodweb/wai/blob/master/warp-tls/Network/Wai/Handler/WarpTLS.hs#L465

[2015-11-12 16:02] reiddraper commented on #462
I believe the correct status code is HTTP 426. See [RFC 2817](http://tools.ietf.org/html/rfc2817#section-4.2).

[2015-11-12 16:03] snoyberg commented on #462
Sounds like a good change to me, can you send a PR?

[2015-11-13 08:36] werksjan opened #463 "Add support for the Automatic Certificate Management Environment to warp"
Since [Let's Encrypt](https://letsencrypt.org/) will start it's public beta in early december, an [ACME](https://github.com/ietf-wg-acme/acme/blob/master/draft-ietf-acme-acme.md)-enabled CA would be available. Adding support for the protocoll to warp in time, as does the [Let's Encrypt Client](https://github.com/letsencrypt/letsencrypt) with Apache, would be a good statement pro https.

I could im

[2015-11-14 07:00] #456 closed

[2015-11-16 00:31] kazu-yamamoto commented on #462
:+1:

[2015-11-16 06:34] kazu-yamamoto commented on #463
I'm strongly interested in let's encrypt, too.

For this, how should we modify warp-tls?

[2015-11-16 08:08] werksjan commented on #463
I have been thinking about that for a while.

1. This might be a question of modifying the default settings to hold appropriate, sensible default values that allow to use a afaik yet-to-be-done ACME client to do so.

The downside would be that this cannot cover the domains the certificate should be valid for.

2. Another possible way could be to integrate a small WAI-App that allows user interacti

[2015-11-17 00:21] jhickner opened #464 "Wai-App-Static: How do you define a custom 404 page?"
Hello,

I couldn't find this in the docs or on hackage - how do you specify a custom 404 page for wai-app-static?

Thanks!

[2015-11-17 04:46] MHova opened #465 "Handle no longer auto-flushing"
`Network.Wai.Middleware.RequestLogger.Destination` of type `Handler`, which is the destination type for [default] (https://github.com/yesodweb/wai/blob/master/wai-extra/Network/Wai/Middleware/RequestLogger.hs#L83) `RequestLoggerSettings`, seems to have lost auto-flushing with this [commit] (https://github.com/yesodweb/wai/commit/441a1d776c5e323d9529802a33aac09543da5d59).

[2015-11-18 07:00] #465 closed

[2015-11-18 08:12] kazu-yamamoto commented on #459
It appeared that 0 length data frames are sent twice. One with ACK and the other without ACK. It seems to me that these logically unnecessary frames give big impact on performance.

[2015-11-18 08:16] snoyberg commented on #464
There's no hook available for that yet, but it should be pretty easy to add. Want to take a shot at adding a setting for this?

[2015-11-18 14:49] awpr commented on #459
Interesting, it definitely shouldn't be sending two.  By ACK do you mean END_STREAM, and in the order you mentioned them?  e.g. is it sending DATA(flags=END_STREAM, "") followed by DATA(flags=0, "")?  If so that looks like a protocol error.

I'll try to find how it could end up doing this.

[2015-11-18 20:24] jhickner commented on #464
Sure. I think the simplest approach would be to add a new setting that lets you specify a `MimeType` and a `ByteString` payload to send in case of 404, then insert some new logic into the `NotFound` handler here that delivers it. The `MimeType` setting would be optional and default to `text/plain` and the `ByteString` setting would be optional as well and default to the current value of "File not

[2015-11-18 20:46] snoyberg commented on #464
How about just making it an Application to handle not founds, to allow for
maximum extensibility?

On Wed, Nov 18, 2015 at 8:24 PM, Jason Hickner <notifications@github.com>
wrote:

[2015-11-19 02:10] kazu-yamamoto commented on #459
Sorry.
s/ACK/END_STREAM/

[2015-11-19 02:12] kazu-yamamoto commented on #459
The following sequence occupies CPUs:

[code]

[2015-11-19 02:53] awpr commented on #459
That's weird, but at least it's not a protocol error since the END_STREAM is always the last one.

There are only 2 places that put DATA headers into the buffer: sendTrailers, and fillDataHeaderSend.  The former always sets END_STREAM, so the unexplained frames must be coming from calls to fillDataHeaderSend.

There are only two calls to that, and one is guarded by a check for nonzero length.  So,

[2015-11-19 04:25] snoyberg commented on #464
Yup, I think so

On Wed, Nov 18, 2015, 11:13 PM Jason Hickner <notifications@github.com>
wrote:

[2015-11-19 05:53] kazu-yamamoto commented on #459
@awpr Please review the patch above.

[2015-11-19 10:06] snoyberg opened #468 "Warp sends response bodies for HEAD requests"
Simple repro: run the following minimal Warp application:

[code]

Then make a HEAD request:

    curl -i -X HEAD http://localhost:3000

Expected: the body does not appear

Actual: it does

It seems like this can be resolved easily by modifying `hasBody` (in Response.hs) to check not only the status code, but also the request method. However, the comments in that module quite clearly say that HEAD

[2015-11-19 14:04] kazu-yamamoto commented on #468
Isn't this bug specific to HTTP/2? Does this occur even in HTTP/1.1?

[2015-11-19 14:34] snoyberg commented on #468
I'm uncertain of http 2, but it definitely applies to 1.1, which is where I
was testing

On Thu, Nov 19, 2015, 4:04 PM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-11-19 19:19] #464 closed

[2015-11-20 04:25] kazu-yamamoto commented on #468
OK. The problem is that `isHead` is only used for files. No objection to include `isHead` to `hasBody`.

We should check if we can remove `isHead` from `sendRsp` for `RspFile`.

[2015-11-24 03:52] kazu-yamamoto commented on #468
The patch above lifts up the `isHead` guard. With this change, Content-Length: is now not added to a response to `HEAD`. But it is valid in RFC7230.

I think this patch makes the logic simpler. @snoyberg What do you think?

[2015-11-24 03:55] snoyberg commented on #468
I don't feel strongly about it, I'm fine either way.

[2015-11-24 04:18] #468 closed

[2015-11-24 04:18] kazu-yamamoto commented on #468
Merged. Please check.

[2015-11-24 04:25] snoyberg commented on #468
Confirmed working on master :)

[2015-11-26 05:59] kazu-yamamoto opened #470 "HTTP/2 performance regression"
Now, I established HTTP/2 benchmark environment with `h2load`.

Unfortunately, it appeared that the current HTTP/2 performance is really bad. With `mighty conf route +RTS -A32m -N16`, we get:

[code]

If we use `warp-3.1.3`, we get:

[code]

Both are plain HTTP/2, not HTTP/2 over TLS.

For record, plain HTTP/1.1 results in:

[code]

@awpr I guess that this regression is caused by turning files to

[2015-11-30 03:59] kazu-yamamoto commented on #359
@snoyberg Can I use `vault` to disclose the new cache of file information from Warp to applications?

[2015-11-30 04:41] snoyberg commented on #359
I don't see a reason why not.

On Mon, Nov 30, 2015, 5:59 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-11-30 04:49] kazu-yamamoto commented on #359
Thanks. I will export `getFileInfo` as `pauseTimeout` is exported.

I'm tackling this issue and #345 on HTTP/1.1 now.

[2015-12-01 08:11] abailly opened #474 "Setting 'secure' flag on cookie yields 401"
I have a scotty application using warp and I use cookies to transport authentication tokens. So I set `HttpOnly` and `Secure` flags on the cookie. But then requests going through plain HTTP are rejected with `401 Unauthorized`. I thought those flags were only meant for use by client but it seems they are also verified by warp. This is annoying because our server is running in plain HTTP behing a n

[2015-12-01 10:50] snoyberg commented on #474
I believe what's happening is that the client is not sending the cookie over HTTP (due to `Secure`), and as a result your application is failing due to the missing auth information. Is it possible that the client is sending an insecure request to nginx?

[2015-12-01 10:58] abailly commented on #474
Ah. What happens here is that I am working only in integration tests so this means I am using wreq hence under the hood http-client to make the request. And because we are in tests the server runs in HTTP mode and not HTTPS and the client rightfully rejects passing the cookie back to the server over an insecure link. This makes sense, indeed.

The problem could be solved by running the application

[2015-12-01 10:58] #474 closed

[2015-12-02 01:37] kazu-yamamoto commented on #468
@snoyberg After reading RFCs again, I should admit that I was wrong about the issue of HEAD's content-length. Your original code is correct since HEAD should behave as GET excepting no body. The logic, for instance, for range should be shared by GET and HEAD.

I have reverted 0297412e7f745eaf5c480fbb914a041fb37c80d4 and 22450c7b00b66d3093a882b2dc2c03a5b9028a3e in my local branch.

[2015-12-02 03:13] kazu-yamamoto commented on #345
Two questions about this:

- It is hard to install Acrobat Reader plugin into my Mac. Are there any clients other than Acrobat Reader which support multiple ranges?
- Currently, warp returns a part of the content corresponding to the first range if multiple ranges are specified. How does Acrobat Reader behave when it receives this first part only?

[2015-12-02 03:35] kazu-yamamoto opened #475 "Correct logging for files"
Only `sendResponse` knows the correct size to be sent and the final status. For instance, if `sendResponse` processes `Range:`, the size to be sent would be changed and the status would be change from 200 to 206.

Unfortunately, there is no fields to specify logging actions in `Response`. So, my wai applications cannot record correct logs for files.

@snoyberg Are there any ways to implement corre

[2015-12-02 07:16] kazu-yamamoto commented on #470
I confirmed that push API is not related to this regression. So, I believe that the main reason is converting files to streams. This introduces the following overhead for files:

- Executing one more worker
- Executing a waiter
- Synchronizing the sender and a waiter
- Manipulating `TBQueue`

[2015-12-02 07:34] kazu-yamamoto commented on #470
Random thoughts for performance:

- Don't converting files and builders to streams
- For streams, a waiter should be executed on demand. That is, when the sender notices that a `TBQueue` is empty, the sender executes a waiter for the `TBQueue`. When `TBQueue` becomes non-empty, the waiter enqueues the `TBQueue` to the priority queue and exits.

[2015-12-02 08:38] snoyberg commented on #475
The two ways I can see are:

1. Move the Range handling logic into a middleware instead of Warp itself
2. Allow Warp to receive a setting which will be the logging function

If (1) can be implemented without hurting performance, it's probably the cleaner solution, but I'm not sure that's possible.

[2015-12-02 10:22] kazu-yamamoto commented on #475
Thanks. I will try (2).

[2015-12-02 15:44] tekul commented on #458
Perhaps your installed warp version wasn't up to date? I had a similar issue just now and it was because `settingsHTTP2Enabled` was only introduced in warp 3.1.7. Reinstalling the latest warp solved the problem.

[2015-12-02 16:20] awpr commented on #470
Since the only reason for removing the file case in the HTTP/2 API was that it didn't (appear to) have any benefit there, and it made it slightly simpler for a response to be just a function rather than an ADT, I'd agree it makes sense to add files and builders back as a top-level alternative to streams if there's a significant performance benefit.

As far as I know, I'm the only current user of H

[2015-12-02 16:34] awpr commented on #470
Another thought: if I recall correctly, the way workers are currently set up means that only 10 requests can be executing pre-Response at a time (i.e. inside the IO action returned by Responder).  This is because the worker only requests to be replaced with another one when it starts streaming.

Changing files to streams moved more work into that IO action, which might severely limit throughput by

[2015-12-02 22:02] bergmark commented on #458
Thanks for investigating @tekul.

I double checked added a revision here http://hackage.haskell.org/package/warp-tls-3.1.4/revisions/ please add this change to the repository as well.

[2015-12-03 07:28] kazu-yamamoto commented on #475
Done. This works quite well for me.

[2015-12-03 07:28] #475 closed

[2015-12-03 09:41] #458 closed

[2015-12-03 09:41] snoyberg commented on #458
Done, thanks!

On Thu, Dec 3, 2015 at 12:02 AM, Adam Bergmark <notifications@github.com>
wrote:

[2015-12-04 00:02] jb55 opened #476 "Streaming data to warp/wai over http1.1 returns invalid chunked-encoding response."
`<big-data.csv curl --http1.1 --data-binary @- 'http://localhost:8999'`

Mysteriously enough it works fine if the input is less than 1024 bytes!

If it's larger then that, I get this message from curl:

[code]

When I switch to `--http1.0` it works fine. I'm testing this with [streaming-wai](https://hackage.haskell.org/package/streaming-wai). I've yet to try other streaming-wai libs but I'm not co

[2015-12-04 01:09] kazu-yamamoto commented on #476
This report makes sense to me.

HTTP/1.0 uses one-shot connection by default. So, Warp does not use HTTP chunk for HTTP/1.0 by default.

Anyway, this report suggests that chunk of Warp has a bug. I'm waiting for a minimal example.

[2015-12-04 13:59] werksjan commented on #463
As Let's encrypt started it's open beta in the meanwhile, I'd like to bump this again. Probably a good time, too, to keep an eye on new hackage package releases may helping us out by implementing at least part of the features.

[2015-12-04 21:40] kazu-yamamoto commented on #359
I'm closing this in favor of #477.

[2015-12-04 21:40] #359 closed

[2015-12-06 00:23] kazu-yamamoto commented on #463
My current concern is SNI. If I understand correctly we need to issue two certificates for, say, example.com and www.example.com. The current SNI support by the tls library is poor(https://github.com/vincenthz/hs-tls/issues/103), I believe. We enhance SNI both in WarpTLS and tls.

[2015-12-06 00:24] kazu-yamamoto commented on #463
Anyway, I will start to implement the support of let's encrypt with a single certificate.

[2015-12-06 10:52] snoyberg opened #478 "warp-tls strips out the Host request header"
Just discovered this due to some buggy behavior in `yesod devel`, where URLs were misgenerated for TLS connections but generated correctly for non-TLS connections. Take as an example the following print of a `Request` value for a warp-tls connection:

    Request {requestMethod = "GET", httpVersion = HTTP/1.1, rawPathInfo = "/", rawQueryString = "", requestHeaders = [("Host","localhost:3009"),("Co

[2015-12-06 10:57] snoyberg commented on #478
I'm not actually quite sure what's going on in warp-tls right now, @kazu-yamamoto would this be an easy thing for you to fix?

[2015-12-07 04:34] kazu-yamamoto commented on #478
Probably you cut and pasted a wrong example since it has a Host header.

However, I confirmed that WAI apps don't receive Host headers with WarpTLS. This happens only with github code, not with released code.

[2015-12-07 04:46] kazu-yamamoto commented on #478
Never mind. This happens even with warp-tls 3.1.4.

[2015-12-07 05:18] kazu-yamamoto commented on #478
Fixed.

@snoyberg If your problem has gone away with the commit above, please close this issue.

[2015-12-07 06:53] snoyberg opened #479 "Too weak lower bound on http-types"
[code]

@kazu-yamamoto Like previously, I'd recommend avoiding usage of the new values, and instead just using the raw strings.

[2015-12-07 06:59] snoyberg commented on #478
Confirmed fixed, thanks!

[2015-12-07 06:59] #478 closed

[2015-12-07 08:09] kazu-yamamoto commented on #479
I'm OK with acc8f8c710352ba2a35c1bc458ed05f3eb34b088.

[2015-12-07 08:15] snoyberg commented on #479
OK, I'll cherry-pick to master.

[2015-12-07 08:15] #479 closed

[2015-12-07 08:21] kazu-yamamoto commented on #479
When https://travis-ci.org/yesodweb/wai/builds/95300667 shows all greens, we should release new warp and warp-tls. May I ask you to do so?

[2015-12-07 08:22] snoyberg commented on #479
I'd like to wait until I get my new Stack/Cabal split Travis setup going too, any objection? I'll merge that in without your review if you're OK with it.

[2015-12-07 08:27] kazu-yamamoto commented on #479
No objection. I'm not in hurry. I guessed you are in hurry because of yesod. You can release whenever you like.

For new Stack/Cabal, I'm OK if the three major GHCs are supported.

[2015-12-07 08:28] snoyberg commented on #479
No, there's no hurry from my side either actually, I already put a workaround into yesod-bin for this, so there's no pressure. I just happen to have time to work on this now :)

[2015-12-07 19:38] andygill opened #481 "warp-3.1.10 fails to compile on WINDOWS"
warp is looking for http-date's modules, which are conditionally compiled out of WINDOWS.

Specifically:

    import  Network.HTTP.Date

in `Network/WAI/Handler/Warp/Date.hs` needs to be #ifdef'd out on WINDOWS, or equivalent.

[2015-12-08 06:19] snoyberg commented on #481
@kazu-yamamoto are you able to look into this?

[2015-12-08 11:00] kazu-yamamoto commented on #481
I will take care of this tomorrow.

[2015-12-08 11:10] kazu-yamamoto commented on #481
@andygill Does 34d8981230ec0a942284fba5fe600e750d44d9c6 solve your problem?

[2015-12-08 15:05] andygill commented on #481
I'm not sure - I've not got access to a WINDOWS machine. I'll get the student that uses WINDOWS to try it. (From looking at the patch, it should work)

[2015-12-08 17:42] RyanGlScott commented on #481
34d8981230ec0a942284fba5fe600e750d44d9c6 appears to fix the build for me on Windows with GHC 7.10.2, but it does produce some warnings (if you care about making it `-Wall`-compliant):

[code]

[2015-12-08 18:13] Dridus opened #482 "Support not only requesting client certificates but inspecting them once a connection established"
There is a flag in `TLSSettings`, `tlsWantClientCert`, which pokes `tls` to ask for client certs after receiving the `ClientHello` however there are two and a half problems:
1. There's no way to get the `CertificateChain` returned by the client after the demand.
2. The TLS library by default (due to the default `onClientCertificate` hook) rejects the client certificates.
3. There's no way to hook

[2015-12-08 18:17] andygill commented on #481
I debugged the problem live on a student's WINDOWS laptop, and don't remember who it was I was helping. So Ryan's build is good enough for me. Thanks Ryan! Should I close the ticket?

[2015-12-08 20:16] fhsjaagshs opened #483 "runHTTP2TLS doesn't respect setInstallShutdownHandler"
Given the following:

    settings :: Settings
    settings = setInstallShutdownHandler installShutdown defaultSettings
      where
         installShutdown killSockets = do
           void $ installHandler sigTERM (handler killSockets) Nothing
           void $ installHandler sigINT (handler killSockets) Nothing
         handler killSockets = Catch $ killSockets >>  putStrLn "shut down"

    app

[2015-12-09 00:21] kazu-yamamoto commented on #481
@RyanGlScott Thank you for your reports. I pushed a commit to prevent the warnings.

[2015-12-09 00:21] #481 closed

[2015-12-09 01:07] kazu-yamamoto commented on #470
My observations:

- We definitely need the push API.
- I don't like the current trailer API because it does not make use of sender's buffer. For instance, checksum should be repeatedly calculated over the buffer and sent as a trailer.
- The idea of HTTP2Appliction and promotion is good.
- Network.WAI.Internal should not provide the range APIs. They should be implemented either in http-types or War

[2015-12-09 01:10] kazu-yamamoto commented on #470
I may increase the number of workers from 10 to 20, but not to 100 (or larger). Remember the max concurrency is typically 100. So, for instance, 1,000 is meaningless. Increasing the number of workers results in increasing contention to the output priority queue. I think we should keep it as small as possible.

[2015-12-09 01:16] kazu-yamamoto commented on #470
@awpr I'm very sorry. But I would like to start over the HTTP/2 implementation from Warp 3.1.3. It's a pity to say that this removes all your efforts.

I believe that the performance of HTTP/2 should be better than HTTP/1. For example, `h2o` gets such a result. After improving performance of HTTP/2 based on Warp 3.1.3, I would like to add the push API again.

Here is a topic branch for this: https

[2015-12-09 01:17] kazu-yamamoto commented on #483
Relating to #470.

[2015-12-09 01:17] kazu-yamamoto commented on #482
Relating to #470.

[2015-12-09 01:19] kazu-yamamoto commented on #482
@Dridus Is this related to SNI? (#463)

[2015-12-09 03:47] Dridus commented on #482
@kazu-yamamoto

I don't think this is related to SNI, as far as I know that has to do with being able to present different certificates in response to the client hello, e.g.

Client: Client hello with server name indication
Server: Server hello
Server: Certificate, possibly chosen with indicated name
…

Whereas this has to do with additional handshake steps after that:

Client: Client hello
Server

[2015-12-10 01:18] kazu-yamamoto commented on #479
@snoyberg I think that you forgot to push tags. Please push them.

[2015-12-10 02:25] patrickt opened #484 "Warp doesn't use sendfile() on Solaris."
Line 101 of warp.cabal:
`if (os(linux) || os(freebsd) || os(darwin)) && flag(allow-sendfilefd)`

I'm not sure what the correct `os()` invocation is for Solaris (`sunos`?), but Solaris has supported sendfile for ages.

[2015-12-10 02:36] jaredmorrow commented on #484
According to the cabal docs, it uses the `System.Info.os` call.  So in SmartOS's case, it should be: `os(solaris2)`

[code]

[2015-12-10 03:00] patrickt commented on #484
Actually, you'd need a new .hsc file in simple-sendfile, so never mind.

[2015-12-10 03:00] #484 closed

[2015-12-10 06:25] snoyberg commented on #479
Which tag is missing? I released warp-3.1.10, and the tag warp/3.1.10 is in the repo. I made no release of warp-tls.

[2015-12-10 07:02] kazu-yamamoto commented on #479
I cannot see `warp/3.1.10` yet.

[2015-12-10 07:08] snoyberg commented on #479
I see it here: https://github.com/yesodweb/wai/tree/warp/3.1.10

[2015-12-10 07:42] kazu-yamamoto commented on #479
298b92362a77214ff5b20ff8d2d7b25f119b27e3 is not on the master. Which branch does it belong to?

[2015-12-10 07:44] kazu-yamamoto commented on #479
OK. No branch. In this case, we need to do `git fetch --tags`. I understand.

[2015-12-10 09:30] snoyberg commented on #479
Sorry, I pushed the missing commits to master.

On Thu, Dec 10, 2015 at 9:44 AM, Kazu Yamamoto <notifications@github.com>
wrote:

[2015-12-10 10:09] abailly opened #486 "Does not handle correctly multiple Cookie headers in HTTP/2 requests"
I have started using warp-tls-3.1.3 and encounter an issue with Cookies. When a user-agent send multiple `Cookie` headers, only the first one gets parsed and supernumerary headers are dropped.

AFAICT this is indeed conformant to [RFC625](http://tools.ietf.org/html/rfc6265#section-5.4). But according to [HTTP/2](https://http2.github.io/http2-spec/#CompressCookie) specification, multiple Cookie hea

[2015-12-14 03:36] kazu-yamamoto commented on #486
Multiple cookie values are concatenated into a single one. If you don't see multiple values in a single cookie, it's a bug. Please give us examples.

[2015-12-14 03:36] kazu-yamamoto commented on #470
Pinging @snoyberg

[2015-12-14 09:45] snoyberg commented on #470
We can bump the major versions, but if we do so, I'd like to do it sooner rather than later so it gets picked up by LTS 4.

[2015-12-14 13:56] abailly commented on #486
Tentative unit tests in #487

[2015-12-14 23:46] kazu-yamamoto commented on #486
@abailly Can you try https://github.com/yesodweb/wai/tree/http2-starting-over? This branch has efficient code to make multiple cookies to a single on HTTP/2. It will be merged to the master soon but it breaks backward compatibility.

[2015-12-15 09:15] abailly commented on #486
Sure. Are the tests I provide meaningful and correct?

[2015-12-15 11:03] kazu-yamamoto opened #488 "Weak ThreadId still leaks threads"
It is well known that threads are leaked if we hold their `ThreadId`s. That's why we are using `Weak ThreadId` in Warp. Even if we hold `Weak ThreadId`s, stacks of the threads are released. However, other data structures relating to the threads are not released. We can watch this by `+RTS -hT`.

I believe that this is a bug of GHC. Probably relating to: https://ghc.haskell.org/trac/ghc/ticket/1081

[2015-12-15 11:11] kazu-yamamoto commented on #488
@snoyberg In addition to introduce `IORef` to `onTimeout`, I would like to add a new API - `killManager` which actually kills the timeout manager immediately. This is very important for HTTP/2 since a timeout manager is launched for every HTTP/2 connection. After closing an HTTP/2 connection, the manager should go away immediately. For this, I would like to introduce ` reaperKill` to `Reaper`.

I

[2015-12-15 11:13] snoyberg commented on #488
I don't see any problem with such a change.

On Tue, Dec 15, 2015 at 1:11 PM, Kazu Yamamoto <notifications@github.com>
wrote:

[2015-12-15 14:29] abailly commented on #486
I tried to run the given unit tests against branch `http2-starting-over` but got same issue.

[2015-12-16 03:57] kazu-yamamoto commented on #488
Done in the merged branch above. We use ThreadId instead of Weak ThreadId and ensure that ThreadId is released quickly.

[2015-12-16 03:57] #488 closed

[2015-12-16 04:35] kazu-yamamoto commented on #488
@snoyberg I would like to release a new version of auto-update. Would you add me to the maintainer list?

[2015-12-16 05:30] kazu-yamamoto commented on #470
Merged. This topic branch improves the performance of HTTP/2 and ensures no space leak.

    finished in 4.59s, 217877.46 req/s, 133.20MB/s

But HTTP/2 is still slower than HTTP/1 at this moment.

[2015-12-16 05:31] #470 closed

[2015-12-16 05:32] kazu-yamamoto commented on #459
I'm closing this because we have started over HTTP/2 code.

[2015-12-16 05:32] #459 closed

[2015-12-16 05:57] snoyberg commented on #488
Added

On Wed, Dec 16, 2015 at 6:35 AM, Kazu Yamamoto <notifications@github.com>
wrote:

[2015-12-16 06:05] kazu-yamamoto commented on #486
First of all, your test case for HTTP/2 uses HTTP/2, not HTTP/1.1.

Which do you talk about, HTTP/1.1 or HTTP/2?

- HTTP/1.: Multiple cookies are not allowed. Warp does not concatenate multiple cookies into a single one.

- HTTP/2: Clients are still able to send a single cookie. But HTTP/2 layer divided it into multiple so that HPACK works efficiently. HTTP/2 code of Warp concatenates multiple coo

[2015-12-16 06:15] kazu-yamamoto commented on #488
Thanks. Released.

[2015-12-16 06:29] kazu-yamamoto opened #489 "WAI 3.2"
Let's perpare WAI 3.1:

- wai: 3.0 -> 3.1- bumps up because of breaking change.
- warp 3.1 -> 3.2 - bumps up because of breaking change. I will also remove the internal APIs from `Network.Wai.Handler.Warp`
- warp-tls 3.1 -> 3.2 - bumps up because of breaking change.

[2015-12-16 06:29] kazu-yamamoto commented on #489
@snoyberg For number consistency, should we use 3.2 for wai, too?

[2015-12-16 06:36] abailly commented on #486
I assume you meant it uses HTTP/1.1 instead of HTTP/2. How can I trigger
use of HTTP/2 ? Sorry I am not familiar with HTTP/2 yet...

I triggered this issue because I have seen Firefox sending multiple cookie
headers so not sure I understand your second comment. I will fix first test
case to make it pass, I agree current behavior is compliant with standards.

Le mercredi 16 décembre 2015, Kazu Yama

[2015-12-16 06:59] kazu-yamamoto commented on #486
Sorry. Fixed the comment above.

[2015-12-16 07:00] kazu-yamamoto commented on #486
Let me confirm. Are you sure that Firefox uses HTTP/1.1? Did you confirm it, for instance, by tcpdump?

[2015-12-16 07:13] abailly commented on #486
Definitely not sure, only checked from the firefox debug window and from
our logs. In our logs protocol shows http/2 and in firefox window I can see
multiple cookies sent, as well as when I dump the raw request content. I am
confused again... What is the simplest way to activate HTTP/2 in tests ?

--
Arnaud Bailly

twitter: abailly
skype: arnaud-bailly
linkedin: http://fr.linkedin.com/in/arnaudbai

[2015-12-16 07:42] snoyberg commented on #489
Yes, I'd say jump straight to 3.2 for wai.

On Wed, Dec 16, 2015 at 8:29 AM, Kazu Yamamoto <notifications@github.com>
wrote:

[2015-12-16 08:00] kazu-yamamoto commented on #486
Use develop tool in Firefox. It shows HTTP/1.1 or HTTP/2 for every requests.

[2015-12-16 08:11] abailly commented on #486
I would rather do it in a unit test... I will check in the code then.

--
Arnaud Bailly

twitter: abailly
skype: arnaud-bailly
linkedin: http://fr.linkedin.com/in/arnaudbailly/

On Wed, Dec 16, 2015 at 9:00 AM, Kazu Yamamoto <notifications@github.com>
wrote:

[2015-12-18 20:51] danielkeller opened #491 "wai-websockets not exception safe"
When I throw an exception from a websockets server app run with `websocketsOr`, I get `WebSocket connection to '...' failed: Invalid frame header` (in chrome). However, when I throw an exception in the same way from a server run from `Network.WebSockets.runServer`, I don't get any error.

[2015-12-20 20:38] mark4asp opened #492 "Does not build on Windows 7 (nor 10 apparently)."
I'm trying to install warp because I want to install hoogle, and it's a dependency. The build log gives no additional information.  What's the best way to proceed?  Can I download, build and install it locally? If so will it matter if I install a later warp?

Here is the command line dialog:

C:\Programs>cabal install warp-3.1.10
Resolving dependencies...
Configuring warp-3.1.10...
Building warp-3

[2015-12-21 05:27] snoyberg commented on #492
You can use `cabal unpack warp` to unpack to a local directory, and then
build inside that.

On Sun, Dec 20, 2015 at 10:38 PM, mark4asp <notifications@github.com> wrote:

[2015-12-22 06:51] seanwestfall opened #495 "Network/Wai/Handler/Warp/Timeout.hs:86:15: Not in scope: ‘reaperKill’"
Hey guys, I got this error when trying to install the latest warp. Is this a known issue?
[code]

[2015-12-22 13:10] mwotton opened #496 "wai request logger middleware does not catch all exceptions"
[code]

The first one logs the incoming request, the second one doesn't. (Obviously this is terrible code, but it's derived from a problem I had in a servant webapp, and not seeing the incoming request in the logs made it a lot harder to debug.)

[2015-12-22 14:30] snoyberg commented on #496
This seems like reasonable behavior, I'm not sure what real world use case
would expect something different

On Tue, Dec 22, 2015, 3:10 PM Mark Wotton <notifications@github.com> wrote:

[2015-12-22 14:35] mwotton commented on #496
I disagree - no matter how bad the code behind it is, the logger should always show the received request.

[2015-12-22 14:48] snoyberg commented on #496
I'm open to a pull request that fixes this, assuming it doesn't impact
performance

On Tue, Dec 22, 2015, 4:35 PM Mark Wotton <notifications@github.com> wrote:

[2015-12-22 14:52] mwotton commented on #496
ok, i'll have a go.

[2015-12-23 16:15] ndmitchell commented on #495
I just got this too. Windows, GHC 7.10.2, the dependencies `--verbose` gives are:

* array-0.5.1.0
* auto-update-0.1.2.2
* base-4.8.1.0
* blaze-builder-0.4.0.1
* bytestring-0.10.6.0
* bytestring-builder-0.10.6.0.0
* case-insensitive-1.2.0.4
* containers-0.5.6.2
* ghc-prim-0.4.0.0
* hashable-1.2.3.3
* http-date-0.0.6.1
* http-types-0.8.6
* http2-1.3.1
* iproute-1.5.0
* network-2.6.2.1
* simple-send

[2015-12-23 16:20] ndmitchell opened #497 "Warp 3.1.11 is not in the changelog"
The entry is missing, so there's no easy way to see what this new version contains.

[2015-12-23 16:23] ndmitchell commented on #492
@snoyberg, I don't see why unpacking warp first would be desirable at all? Surely that just introduces more opportunities to get it wrong.

I note there is version 3.1.11 now out, but I've got no idea what that contains (#497), and it won't build for, but that itself has build issues (#495).

[2015-12-24 03:05] rnons commented on #495
Install the new version of `auto-update` solves this problem for me. I believe `reaperKill` is introduced in `auto-update-0.1.3`

[2015-12-24 06:27] kazu-yamamoto commented on #495
Sorry. My fault. I will release new warp including the patch above very soon.

[2015-12-24 06:27] #495 closed

[2015-12-24 06:30] kazu-yamamoto commented on #492
The "http-date" package should be installed. Usually, it is automatically installed when you are installing warp. I don't know what happened.

[2015-12-24 06:31] kazu-yamamoto commented on #492
I will release warp 3.1.12 including fixes for both issues very soon.

[2015-12-24 06:48] kazu-yamamoto commented on #497
Done.

[2015-12-24 06:48] #497 closed

[2015-12-24 07:20] mark4asp commented on #492
Rather than mess about, I reinstalled EclipseFP and Haskell (using a later version) and hoogle works now.

[2015-12-25 01:44] kazu-yamamoto opened #498 "hash is slow"
Simple profiling says that bottlenecks are hash related functions:

HTTP1:

[code]

HTTP2:

[code]

1. We should use faster hash functions.
2. Moreover, the hash function is used twice: one for FD cache and the other for file info cache. We should think a way to avoid this.

[2015-12-26 07:04] kazu-yamamoto commented on #498
1. I cannot find faster hash functions. But we can use `rawPathInfo` of `ByteString` rather than actual `FilePath`.
2. I found a way to use the hash function just once for HTTP/1. I will think HTTP/2, too.

HTTP/1:

[code]

[2015-12-26 22:10] fizruk commented on #496
I have just bumped into this when an SQL exception didn't result in a request log entry.
Luckily, I've been able to reproduce the bug and find out the reason quite quickly.

Nonetheless, missing log entry was very unexpected.

@snoyberg how do you think real world apps should go about internal error logs? Do you suggest that it should keep track of all of its possible sources of exceptions and kee

[2015-12-26 22:14] mwotton commented on #496
I'm taking a few days off over Christmas - if you want to have a crack at
it feel free.

On Sat, 26 Dec 2015 5:10 pm Nickolay Kudasov <notifications@github.com>
wrote:

[2015-12-27 05:34] snoyberg commented on #496
Applications should be catching all exceptions and converting them to 500
errors in a user friendly way (or machine friendly for JSON endpoints).
Blaming the logging middleware for not dealing with an application bug is
just ignoring the real problem.

Yesod installs these kinds of error handlers automatically, I'd recommend
that other web frameworks do the same.

On Sun, Dec 27, 2015, 12:15 AM Ma

[2015-12-27 12:24] kazu-yamamoto commented on #498
HTTP/2 now:

[code]

[2015-12-27 12:25] kazu-yamamoto commented on #498
I would close this issue.

[2015-12-27 12:25] #498 closed

[2015-12-27 12:39] kazu-yamamoto commented on #489
I'm satisfied with the current master. The performance of HTTP/2 is comparable with that of HTTP/1.1.

@snoyberg My concern is Travis CI failures which I don't figure out. Would you take a look?

[2015-12-28 07:01] snoyberg commented on #489
The failures are valid; the warp version number was bumped, but some of the other packages have restrictive upper bounds. Should be easy to resolve.

[2015-12-28 07:03] snoyberg commented on #489
I've just pushed a commit to hopefully resolve the build failures.

[2015-12-28 11:38] fizruk commented on #496
Ok, seems like the problem has moved to servant.

To reduce any confusion in the future I think the documentation for wai logger can be improved though.

[2015-12-28 13:19] snoyberg commented on #489
Alright, Travis is passing again.

[2015-12-28 13:42] snoyberg commented on #496
A PR for improved docs would certainly be welcome.

On Mon, Dec 28, 2015 at 1:38 PM, Nickolay Kudasov <notifications@github.com>
wrote:

[2015-12-28 13:45] kazu-yamamoto commented on #489
Thanks. But the version of warp was not bumped to 3.2 yet. I don't know why f232956 is necessary.

[2015-12-28 13:47] snoyberg commented on #489
Mistake on my part, the only change necessary was upgrading the http2 package version in the stack.yaml file. I've pushed two more changes for this.

[2015-12-28 19:26] mwotton commented on #496
@snoyberg are haddock docs for Wai.Middleware.RequestLogger the appropriate place?

[2015-12-28 22:40] kazu-yamamoto commented on #489
Thanks.

Are you OK to release WAI 3.2 series maybe in the beginning of the next year?

[2015-12-28 23:19] andreyk0 opened #499 "Segmentation fault in warp TLS on ARM platform"
Apologies if this is not the right place to ask about platform-specific issues.

I have an easy to reproduce crash (segfault), this is the smallest piece of code I could narrow it down to: https://gist.github.com/andreyk0/5ffd9dd97fca4a02f22d

Threaded runtime seems significant (can't get it to crash without -threaded flag), on a single-cpu ARM board it takes a few tries, on a dual-core (A20) boar

[2015-12-29 04:19] snoyberg commented on #489
I'd say let's do it now, before LTS 4 is released. Is it ready to go?

On Tue, Dec 29, 2015, 12:40 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-12-29 04:24] snoyberg commented on #496
I don't have much of an opinion. I don't know what needs to be clarified
here exactly, so I'm not sure where such changes should go.

On Mon, Dec 28, 2015, 9:26 PM Mark Wotton <notifications@github.com> wrote:

[2015-12-29 23:24] kazu-yamamoto commented on #489
OK.

I will release wai 3.2 first, then warp and warp-tls.

[2015-12-30 01:27] andreyk0 commented on #499
I've tried to narrow it down a bit more, it crashes because 'pread' in warp/Network/Wai/Handler/Warp/SendFile.hs returns -1 (error).

E.g. running strace
    8440  pread(11, 0xb6100534, 5, 18446744072469087376) = -1 EINVAL (Invalid argument)

Offset is messed up and -1 taken as a result causes it to crash down the line inside encryption methods.

What's weird is that offset value from the app POV

[2015-12-30 01:42] kazu-yamamoto commented on #489
Done.

[2015-12-30 01:49] kazu-yamamoto commented on #489
@snoyberg Would you release wai-conduit for wai 3.2?

[2015-12-30 05:48] snoyberg commented on #489
There are a number of packages that require a bounds bump, I'll take care
of that.

On Wed, Dec 30, 2015 at 3:49 AM, Kazu Yamamoto <notifications@github.com>
wrote:

[2015-12-30 08:51] wiz commented on #489
Hmm.. Hackage was hit with 3.2, but changelog weren't updated.

[2015-12-31 08:24] kazu-yamamoto commented on #489
It's my fault. Sorry. Unfortunately, I'm now on winter vacation. I will take care of this in the next year.

[2016-01-01 11:39] ocharles opened #500 "wai changelog is out of date"

[2016-01-04 00:26] kazu-yamamoto commented on #489
Closing in favor of #500.

[2016-01-04 00:26] #489 closed

[2016-01-04 02:15] kazu-yamamoto commented on #500
Done.

[2016-01-04 02:15] #500 closed

[2016-01-04 02:21] kazu-yamamoto commented on #345
I decided to not implement this because:

- There is only one major application for this - Acrobat reader plugin. Since most major Browsers now implement their own PDF viewer, the plugin is less important than before. Moreover, it's difficult for me to install the plugin to my browser.
- Rumors say that the plugin is broken. I don't want to suffer from the interoperability problem.
- If we don't s

[2016-01-04 02:21] #345 closed

[2016-01-05 03:39] fhsjaagshs opened #502 "What happened to HTTP2 Server push in the latest commits?"
Since the HTTP2 code was removed from WAI, what happened to HTTP2 server push? I see there is an error thrown in `warp/Network/Wai/Handler/Warp/HTTP2/Receiver.hs` by `processStreamGuardingError` when a `FramePushPromise` is encountered. Does this mean it's no longer implemented? If that's the case, would a pull request implementing server push be accepted at this time?

[2016-01-05 03:55] awpr commented on #502
That code means that the server will treat PUSH_PROMISE frames sent _by the client_ as an error, which is the only sensible behavior.

The server push changes to Warp (and probably a few of my bug fixes as well) were removed along with the alternate WAI HTTP/2 interface, which changed all responses to a streaming style, introducing unforeseen overhead (for synchronization).  As far as I know, that

[2016-01-05 04:50] fhsjaagshs commented on #502
Are there any plans for a new HTTP2 interface?

[2016-01-05 19:26] #502 closed

[2016-01-06 01:36] kazu-yamamoto commented on #502
@fhsjaagshs Please read #470.

The current performance of HTTP/2 is almost the same as that of HTTP/1. :-)

The next target is server push and TLS issues (which you can find according to the `tls` label). I'm now snow under on writing a paper about HTTP/2. But after finishing it, I will try them.

[2016-01-06 11:19] sir-murray opened #503 "Handling of missing host header field"
http://tools.ietf.org/html/rfc7230#section-5.4

To test I used this:

[code]

Missing Host:
[code]

More than one host header:
[code]
Invalid host header:
[code]

[2016-01-06 13:16] meteficha commented on #503
How do other popular servers (i.e., Apache, nginx, IIE) handle these corner cases?  Answering this question will give us an idea about the question that matters the most: how many clients out there would no longer work given a stricter implementation?

[2016-01-06 13:52] sir-murray commented on #503
Apache returns 400 on missing host but works fine with the other two:

[code]
[code]
[code]

I don't have nginx but [this](http://serverfault.com/questions/740597/nginx-allow-requests-without-a-host-header) implies it returns 400 for missing host field.

I doubt there are many(if any) clients that send multiple hosts or an invalid host.

[2016-01-06 14:04] sir-murray commented on #503
A lot of websites use shared hosting so the Host header field is pretty much necessary to use the internet at all nowadays.
See here:
http://stackoverflow.com/questions/535053/which-webbrowsers-use-http-1-1-by-default

Looks like unless you want to support Netscape 1.1 this should not be an issue.

[2016-01-06 14:10] meteficha commented on #503
Thanks for the research, @sir-murray, it looks like it would be better for us to stand by the standard then.

[2016-01-07 07:36] snoyberg commented on #503
I'm not convinced of the value of this:

* The desired functionality can be achieved outside of Warp via a middleware (or in the application) trivially. The reverse is not true: once we change Warp's behavior, no one can regain its current functionality.
* It doesn't simplify the application writer's job: due to the presence of HTTP 1.0, you still need to consider the case of missing or multiple h

[2016-01-07 11:35] sir-murray commented on #503
I'm happy to validate this in my application, I just thought something like this belongs in warp if it's meant to be compliant.

Also I notice now, it should only do the check if the request is in fact HTTP/1.1
But I'll only fix that if you decide you want to merge it.

[2016-01-07 12:16] snoyberg commented on #503
@kazu-yamamoto do you want to weigh in here?

Two things I think would be completely unobjectionable would be:

* Adding a new middleware to wai-extra to perform this check
* Add the feature to Warp as a setting, with the default turned off

Less objectionable would be a settings with the default turned on, but still not on obvious "yes we should."

[2016-01-07 13:00] kazu-yamamoto commented on #503
I'm snow under now. Let me tackle this on in the next week.

[2016-01-07 13:07] snoyberg commented on #503
Thanks Kazu!

On Thu, Jan 7, 2016 at 3:00 PM, Kazu Yamamoto <notifications@github.com>
wrote:

[2016-01-11 12:17] jprider63 opened #506 "Middleware to force domain names"
I recently had to implement a middleware to enforce specific domain names. I thought others might find it useful, so I'll make a pull request with this functionality shortly.

[2016-01-12 03:53] kazu-yamamoto commented on #499
Good catch. Thanks. I will add error handling for `pread`.

[2016-01-12 04:01] #492 closed

[2016-01-12 04:17] kazu-yamamoto commented on #499
I pushed the patch above to master. Please test.

[2016-01-12 04:59] kazu-yamamoto commented on #503
Just FYI about Warp implementation:

- HTTP/1.0: `requestHeaderHost` is always `Nothing`
- HTTP/1.1: `requestHeaderHost` is `Just the-last-Host:` if any. Otherwise, `Nothing`.
- HTTP/2: `requestHeaderHost` is `Just the-value-of-:authority` if exists. If not, `Just the-first-Host:` if any. Otherwise, `Nothing`.

[2016-01-12 05:09] kazu-yamamoto commented on #503
If multiple Host:s should be treated as 400, what about the case where other important headers are duplicated?

[2016-01-12 05:10] kazu-yamamoto commented on #503
What can we rescue if we implement 400 for multiple Host:?

[2016-01-12 06:15] snoyberg commented on #503
If we implement 400 inside Warp itself, there is no opportunity at all for applications to recover, which is where my reservations about this feature come from.

[2016-01-12 07:25] kazu-yamamoto commented on #503
I would like to leave Warp as it is for this issue.

[2016-01-12 11:22] #506 closed

[2016-01-12 17:50] Katikatikou opened #509 "warp-3.2.1 failed during building phase"
Hello,

I have the following issue while installing dependencies with cabal  :

[code]

the install stop with an Exit Failure 1 after this. Do you have any idea about this issue ?

Thanks a lot for your help

Kind regards

[2016-01-12 17:52] awpr commented on #509
This looks like what was fixed by #505.

[2016-01-12 17:54] Katikatikou commented on #509
That was blazing fast, thanks  a lot for your help, as I am a novice in Haskell do you know how can I workaround this issue ?

Thanks again for your great help

[2016-01-14 02:34] andreyk0 commented on #499
:+1: LGTM, thanks for the fix!

[2016-01-15 01:34] kazu-yamamoto opened #510 "New push API"
Random thoughts based on discussions in the Japanese HTTP/2 community:

**How does a server know contents to be pushed?**

- Learning based on `Referer:` like Jetty.
-  Push manifest: https://github.com/GoogleChrome/http2-push-manifest/

**How does a server know already-cached contents by a client?**

- Cache digest: https://tools.ietf.org/html/draft-kazuho-h2-cache-digest

**What about API?**

-

[2016-01-15 01:45] kazu-yamamoto commented on #510
Story:

- An `HTTP2Appication` (or `HTTP2Middleware`) learns contents to be pushed somehow.
- A client sends a `GET` request and a cache digest.
- Warp stores the cache digest to `Stream` and launches the `HTTP2Application` with `Request`.
- The `HTTP2Application` returns `Response` with additional push information `[(ByteString,Response)]` where `ByteString` indicates path information.
- Warp fil

[2016-01-15 01:48] kazu-yamamoto commented on #509
I have released a new version which solves this problem. Let's close.

[2016-01-15 01:48] #509 closed

[2016-01-15 01:48] kazu-yamamoto commented on #499
A new version has been released.

[2016-01-15 01:48] #499 closed

[2016-01-28 21:58] awpr commented on #510
Some thoughts:

- I originally had push exposed via an IO action to enqueue a promise, to match the semantics of the protocol more closely: server pushes can be initiated by the server at any time, they needn't be at the beginning of a stream.  I don't know of any use cases that require this extra flexibility, so I don't feel strongly about it; just recording the motivation.
- I originally had pro

[2016-01-30 20:24] davean commented on #510
This seems fairly important to me. Frequently I generate pages from a total
model after some basic validation. I believe moving this to the start of
the request would require storage for arbitrarily large responses or
running the model computation twice, once to generate the dependencies and
a second time to actually send it. At least if one were using the feature.

[2016-02-12 05:54] kazu-yamamoto opened #511 "range bug"
It seems to me that range of HTTP/1.1 does not work well. Transferred files are truncated. Range of HTTP/2 works well.

[2016-02-12 05:54] kazu-yamamoto commented on #511
I will take care of this in the next week.

[2016-02-18 14:34] arianvp opened #512 "warp runSettingsSocket hangs when given a TCP socket instead of UNIX Domain socket"
I am trying to get Systemd socket activation to work with Warp. so that I can run Warp on port `80` without root.

Basically, Systemd is listening on port `80` and as soon as a data is received, it starts up my warp server and passes on the listening sockets to the application through an environment variable `LISTEN_FDS`.  I use the `systemd` hackage package to read out `Socket`s out of this envir

[2016-02-18 14:40] arianvp commented on #512
I'll try to work on a minimal example

[2016-02-18 15:11] arianvp commented on #512
adding `System.Posix.Internals.setNonBlockingFD fd True`  fixed this

[2016-02-18 15:11] #512 closed

[2016-02-24 14:59] ndmitchell opened #514 "Move warp-tls to cryptonite"
The author of your various aes libraries in warp-tls (@vincenthz) says these packages are deprecated in favour of cryptonite. I suggest you move your library over to the new dependencies. See http://tab.snarc.org/posts/haskell/2015-06-02-announcing_cryptonite.html

[2016-02-25 03:31] kazu-yamamoto commented on #514
`warp-tls.cabal` requires tls >= 1.3.2. On the other hand, `cprng-aes` is necessary for tls < 1.3.0. So, let's remove the dead code to remove the dependency to `cprng-aes`.

[2016-02-25 03:31] kazu-yamamoto commented on #514
@snoyberg Please close this issue if you are OK with the patch above.

[2016-02-25 08:13] vincenthz commented on #514
looking good to me.

[2016-02-25 14:40] snoyberg commented on #514
LGTM, thanks @kazu-yamamoto!

[2016-02-25 14:40] #514 closed

[2016-02-26 13:38] nh2 opened #515 "Update docs of logStdout and logStdoutDev"
https://hackage.haskell.org/package/wai-extra-3.0.14/docs/Network-Wai-Middleware-RequestLogger.html#t:OutputFormatterWithDetails

Says `logStdout` doesn't flush stdout while `logStdoutDev` does, but in the code they both seem to use `def` and only the `outputFormat` is different.

@snoyberg mentioned that the docs are likely out of date, the `auto-update` style 1 second flushing is now in place (I

[2016-02-29 08:15] #515 closed

[2016-03-07 19:38] wiz commented on #482
You don't have to attach x509 dependency to wai if you extract fields in tls wrapper and put them in a well-known location. That can be a:

1. `Maybe` container with `(Extracted, Certificate, Fields, In, Common, Types)` or `WAIExtractedClientCertWhatever` of a same general shape.
2. Injected `X-Something-Something` request headers. Stringly typed, yes, but easily accessible to every WAI app withou

[2016-03-12 23:30] jkarni commented on #482
The `onClientCertificate` hook doesn't have access to the `Network.WAI.Request` though, no? Two use cases that would seem important to consider are (a) looking at a request header and at the certificate to check that the certificate corresponds to the client claimed by the request header; and (b) looking at the certificate and passing off client information to the `Application` (via `Vault`, heade

[2016-03-12 23:34] chris-martin opened #521 "What is the Maybe Integer logger parameter?"
I think this could use some documentation:

    settingsLogger :: Request -> H.Status -> Maybe Integer -> IO ()
    -- ^ A log function. Default: no action.

I surmise that the `Maybe Integer` is a response body length, but what I can't exactly tell is: In what circumstances is it `Nothing`?

[2016-03-13 06:19] snoyberg commented on #521
@kazu-yamamoto can you comment on this?

[2016-03-14 01:48] kazu-yamamoto commented on #521
Yes. `Integer` is body length. `Nothing` is used when the length is unknown in advance. (e.g. streaming).

A pull request to improve the documentation is welcome.

[2016-03-14 18:18] singpolyma opened #523 "Streaming response, other side closes connection"
How can I know when the other side has closed the connection when streaming a response?  I would like to stop trying to stream when they're gone.

[2016-03-15 08:24] snoyberg commented on #523
Due to how the TCP sockets work at the OS level, we only know if the
connection is closed by trying to send data over the socket.

On Mon, Mar 14, 2016 at 8:18 PM, Stephen Paul Weber <
notifications@github.com> wrote:

[2016-03-15 14:15] #523 closed

[2016-03-16 17:38] #503 closed

[2016-03-22 03:44] huggablemonad opened #524 "Negative file size in directory listing on 32-bit Linux"
The file size shows `-1,855,979,520 B`. The actual size is `2.3G` (`2,438,987,776 B`). I'm running `warp-3.2.3` on 32-bit Linux.

![warp-int-overflow](https://cloud.githubusercontent.com/assets/17948023/13941331/7f25dd5c-f021-11e5-93fb-73984d3a2821.jpg)
The file downloads fine (tested with `wget` and `vivaldi` browser).

[2016-03-22 09:49] snoyberg commented on #524
Can you give the latest code on master a shot? I pushed a potential fix.

On Tue, Mar 22, 2016 at 5:44 AM, Huggable Monad <notifications@github.com>
wrote:

[2016-03-23 12:06] huggablemonad commented on #524
Yup, the fix works. Thanks!

![warp-dir-list](https://cloud.githubusercontent.com/assets/17948023/13984541/d1e07550-f131-11e5-9d9e-84d6d56847b3.jpg)

[2016-03-26 13:38] #524 closed

[2016-03-30 07:42] sol opened #526 "Regression in warp-3.2.4 (vs 3.2.3)"
The following program used to work with `warp-3.2.3`:

[code]

With `warp-3.2.4` it fails on the first request with:

[code]

You can use `seito` from `hspec/sensei` or `curl --unix-socket .sensei.sock http://localhost/` with a recent version of `curl` to make a request.

`git bisect` says:

[code]

[2016-03-30 07:44] snoyberg commented on #526
I just saw a test failure in Stackage for Scotty, presumably from this. I'm going to temporarily block this newer Warp version in Stackage Nightly.

[2016-03-31 02:36] sol commented on #526
@snoyberg Can we also deprecate 3.2.4 on Hackage?

[2016-03-31 17:04] snoyberg commented on #526
I've set the appropriate preferred-versions to avoid 3.2.4.

On Thu, Mar 31, 2016 at 5:36 AM, Simon Hengel <notifications@github.com>
wrote:

[2016-04-01 12:39] exergasia opened #527 "responseFile ignores given status, always sends 200 (or 404)"
[code]

Not shown: it sends 404 if responseFile is passed a bogus filename. That should probably be 500, since it's an application whoopsie.

[2016-04-01 12:49] exergasia commented on #527
Oh, I see that this is actually according to the documentation: Network.Wai.Handler.Warp.Response.sendResponse explicitly says that it will ignore the given status if the FilePart is Nothing. My contention is that that's really, really surprising and under-documented, and is a blatant foot-gun for anyone trying to serve error pages off disk. At the very least, Network.Wai.responseFile needs a grea

[2016-04-01 14:23] sol commented on #526
Thanks!

Sent from mobile

[2016-04-06 05:23] kazu-yamamoto commented on #511
de909fd20345e445b8b3c56ccca443f481566d34 should fix this.

[2016-04-06 05:23] #511 closed

[2016-04-06 05:31] kazu-yamamoto commented on #526
@sol Does the patch above solve your problem?

[2016-04-06 05:34] kazu-yamamoto commented on #521
Done. Let's close.

[2016-04-06 05:34] #521 closed

[2016-04-06 05:49] kazu-yamamoto commented on #527
I agree that it is hard to understand this API. Unfortunately, it's too late to change the API since there are so many programs which use `responseFile`. So, I would take a big warning. Would you send us a pull request?

[2016-04-07 03:26] kazu-yamamoto commented on #526
I confirmed with @sol's code by myself. I have released a new version. Enjoy.

[2016-04-07 03:26] #526 closed

[2016-04-09 05:43] nikita-volkov opened #528 "Switch to strict ByteString from Builder in StreamingBody"
I see no reason to force the users to resort to a builder for this and more so to a specific one. Picking a specific implementation from an area with a high competition goes against WAI's generality. That is besides ["blaze-builder" actually being the least efficient amongst the competition](https://github.com/nikita-volkov/bytestring-builders-benchmark).

I suggest to switch to the following defi

[2016-04-09 05:45] nikita-volkov commented on #528
Actually, it would be best to get rid of it in all other parts of the API too (e.g., `ResponseBuilder` could be `ResponseLBS`).

[2016-04-09 18:07] snoyberg commented on #528
There are reasons given in the documentation itself justifying why a Builder is chosen instead of just a raw ByteString, and this issue does not address any of them.

http://haddock.stackage.org/lts-5.11/wai-3.2.0.1/Network-Wai.html#v:responseBuilder

[2016-04-09 20:14] nikita-volkov commented on #528
Thanks for the prompt response, Michael. Although I wouldn't expect it to be any other way with you :)

Those arguments seem to apply only to ResponseBuilder, and although I strongly suspect we can find a better solution for that, it will require benchmarking, which will be a time-consuming endeavour, so I'll pass on that for this time.

However I don't see these arguments making sense in case of

[2016-04-10 01:15] mithrandi commented on #463
I think the most natural way to perform the ACME challenge is the `tls-sni-01` challenge type which is performed over the same port you would have to listen on to serve HTTPS anyway. However I'm not sure of what the state of SNI in warp-tls is.

I just finished implementing something similar in Python for the Twisted networking framework (https://github.com/mithrandi/txacme); I think this would be

[2016-04-10 05:40] snoyberg commented on #528
The exact same arguments applying to a StreamingBody, at least for the initial chunks (up until the first flush).

[2016-04-11 01:47] kazu-yamamoto commented on #528
Just FYI.

Recently, blaze-builder's `Builder` is equal to bytestring's `Builder`. The bytestring-builder package does this magic.

If we use `Builder`, it can support strict, lazy and short ByteStrings. It seems to me that there is no reason to limit supported data structures only to strict ByteString.

[2016-04-11 06:08] phadej opened #530 "wai-extra not compilable with GHC 7.4"
[code]

[code]

FYI: http://hackage.haskell.org/package/base-compat-0.9.0/docs/Data-IORef-Compat.html seems to backport it.

I also adjusted the `base` bounds to `>=4.6` for `wai-extra-3.0.15`

[2016-04-11 06:11] #530 closed

[2016-04-11 07:26] nikita-volkov commented on #528
In the end it is the strict bytestrings that get sent over the network. So it is wrapping them in builders that is limiting. In this case it is even more limiting, since both "blaze-builder" and Builder of "bytestring" are up to 4 times slower than competition.

[2016-04-12 01:58] kazu-yamamoto commented on #528
I guess that the best way is to input your knowledge to bytestring's `Builder` to improve its performance. This does not effect any clients of WAI.

@nikita-volkov What do you think?

[2016-04-12 05:02] nikita-volkov commented on #528
@kazu-yamamoto

So you suggest I rewrite "bytestring" so that you won't have to change a signature in "wai"? Is this a serious argument?

You've skipped this point, BTW:

[2016-04-12 05:34] snoyberg commented on #528
@nikita-volkov If I may suggest: Kazu is answering your points very politely, and your response to him sounds antagonistic. If I can elaborate on what I _think_ Kazu is saying:

The Builder datatype in bytestring is central to the Haskell ecosystem at this point, has features not covered by your example alternative (such as the ability to fill a buffer from a short ByteString), and has been tested

[2016-04-12 08:05] kazu-yamamoto commented on #528
@snoyberg Thank you for your explanation. You explained what I want to say. Since English is not my native language, my words are sometime too short. Sorry.

@nikita-volkov As you may know, I love high performance. And I respect your benchmark. Adding a new constructor to `Response` such as `ResponseStreamByteString` is easier. But if you want to change the signature of `ResponseStream`, it breaks

[2016-04-12 10:34] nikita-volkov commented on #528
I had no intention to sound rude or anything. Sorry if I did. I often forget that written words are easier to misinterpret.

@snoyberg

I feel I need to make it clear that I'm not pushing "bytestring-tree-builder" on you to use in "wai". I'm only making a case for using strict bytestrings instead of any builder there. I.e., for leaving the choice of how to deal with bytestring chunks to the end-us

[2016-04-13 06:58] kazu-yamamoto commented on #483
This API is obsoleted. If another APIs have this issue, please open another issue.

[2016-04-13 06:58] #483 closed

[2016-04-13 07:00] #462 closed

[2016-04-13 12:38] snoyberg commented on #528
I'm definitely getting the feeling in this discussion that the points Kazu and I are making are being blatantly ignored. For example, I already commented that moving to `ByteString` would be a pessimization for a common case: wanting the beginning of a stream to be composed together with the headers. AFAICT, you've ignored that point completely. I'm going to give a little more feedback on your com

[2016-04-13 14:09] awpr commented on #528
One more minor point here: the concern of concatenating stream data with other data before sending it is much stronger for HTTP/2, where every chunk of data is appended to some preceding buffer contents -- for chunks that form the start of a frame, they're appended to the 9-byte frame header, and for subsequent chunks, they're appended to the earlier data in the frame.  Using ByteString, or indeed

[2016-04-14 01:38] kazu-yamamoto commented on #528
Just FYI:

`ByteString`s are pinned objects. This means that if we use `ByteString` heavily for a long time, memory got fragmented. (If we use `take` for 4KiB `ByteString` and hold the new short substring, the original one is never GCed.) To avoid this, some users are using `ShortByteString`s. I know there are at least two productions (which are not open source) using `ShortByteString`.

[2016-04-18 03:24] Chimaku opened #533 "How to use it with let's encrypt certificate?"
I want to use Servant + Warp (wai) with HTTPS. I've generated a certificate of "let's encrypt". What do I do next?

And why does it say "**Support for SSL is now obsoleted. HTTP/2 can be negotiated by ALPN. API docs and the README are available at http://www.stackage.org/package/warp-tls.**" at https://hackage.haskell.org/package/warp-tls?

[2016-04-18 06:18] kazu-yamamoto commented on #533
To use TLS, you need to install warp-tls. I have not used let's encrypted yet but I think that you can specify server's certificate, chain file and secret key to `TLSSettings`.

SSLv1 and SSLv2 are obsoleted by IETF. We should use TLS 1.2 (or TLS 1.1 or TLS 1.0 if necessary). That's why warp-tls stopped using SSL anymore.

[2016-04-18 06:53] Chimaku commented on #533
how should I do that?

I have this:

    import Network.Wai
    import Network.Wai.Handler.Warp
    import Servant
    import Network.Wai.Handler.WarpTLS

    startApp :: IO ()
    startApp = do
      let port = 3345
      let tls = tlsSettings "certificate.csr" "key.pem"
      runTLS tls (setPort port defaultSettings) app

And an error  "empty certificate chain". It's on localhost. My certificate

[2016-04-18 12:23] #533 closed

[2016-04-19 05:04] winterland1989 commented on #528
An interesting thing is that: there's no chunked encoding implementation other than `chunkedTransferEncoding :: Builder -> Builder` from blaze-builder. If we switched to `ByteString` based interface, wouldn't  this `ByteString` be a intermedia data structure from chunked encoder's view?@nikita-volkov, I think this cover two issue here:

+ You can improve `Builder`'s performance by using length acc

[2016-04-20 09:40] nanonaren opened #535 "What's the reason `updateAction` API doesn't allow modifiction?"
Is there any particular reason for `Control.AutoUpdate.updateAction` not providing an API to update the existing value? Seems rather a useful thing to have to me.

[2016-04-20 17:31] snoyberg commented on #535
Can you clarify what kind of API you're looking for, ideally with a type signature?

[2016-04-21 04:45] axman6 opened #536 "wai-extra Gzip doesn't appear to compress output"
I'm building a simple web app which produces highly compressible data as CSVs using the servant-cassava package (uncompressed size is over 6MB so should definitely be compressed). I'm finding that when using the gzip middleware, our content is marked as being encoded as gzip, but is not reduced in size at all. The content type of the result is `text/csv;charset=utf-8`, which appears to be covered

[2016-04-21 04:56] axman6 commented on #536
Looking at the code, the `GzipCompress` constructor of `GzipFiles` isn't actually used anywhere, what is it even supposed to do?

[2016-04-21 12:09] nanonaren commented on #535
So, I was looking for something like the following
[code]
That way, when run run the first time it is called with `updateAction Nothing` and at later times as `updateAction (Just a)` where the current value is supplied as argument.

[2016-04-21 15:34] snoyberg commented on #535
I'm not actually seeing how such a function would work. Are you missing a parameter? Is this intended to be a field in a data type?

[2016-04-21 19:07] MaxGabriel commented on #535
@nanonaren wants something like this I think:

[code]

@nanonaren It would probably help clarify things if you provided an example use case

[2016-04-21 21:10] simonmichael opened #537 "wai-handler-launch should not launch a browser if server startup failed ?"
In https://github.com/simonmichael/hledger/issues/226, if server startup fails, eg because of the port being in use, I don't want to show users a useless browser window.

I think we could propagate exceptions from the forked server thread back to the parent, which would prevent the launch. And/or, we could expose the monitored server starting and the cross-platform browser launching as separate fe

[2016-04-21 21:17] simonmichael opened #538 "wai-handler-launch should allow more control of the server's hostname"
Currently it's hard-coded to "*4". Related: https://github.com/fpco/streaming-commons/issues/29, https://github.com/simonmichael/hledger/issues/226.

~~https://github.com/simonmichael/wai/commit/85f9281c07fa6907f5079dec6005d620142353d0~~ is a draft patch, which seems not to work...

[2016-04-21 21:21] simonmichael commented on #538
I meant: https://github.com/simonmichael/wai/commit/ea02528588edb88af53cba10a4004d04892b49a1

[2016-04-22 03:22] nanonaren commented on #535
The example by @MaxGabriel is what I'm looking for. I have a structure in memory that gets updated periodically. Specifically, it maintains a vector of computed values based on recent data in the data. So it pulls in records after the last update time and then drops very old items. This is why I need to update the previous value rather than refresh it with a completely new one.

[2016-04-22 06:07] #538 closed

[2016-04-22 06:13] snoyberg commented on #537
Sounds like a good change, either setOnBeforeMainLoop or the new
withApplication function may be useful. Interested in sending a PR?

On Fri, Apr 22, 2016 at 12:10 AM Simon Michael <notifications@github.com>
wrote:

[2016-04-22 06:18] snoyberg commented on #536
Documentation improvements would definitely be accepted as a PR.

As for behavior of `GzipCompress`, my guess is that through a refactoring at some point, that functionality was removed. I don't see any reason to avoid adding it back, though.

[2016-04-22 06:20] snoyberg commented on #535
OK, that makes sense. To provide for maximum performance and not break backwards compatibility, I'd imagine we could add a new field:

[code]

The idea would be:

* `updateAction` would always be used for the first action
* If provided, `updateActionModify` would be used for subsequent actions
* If not provided, current behavior continues

[2016-04-22 15:36] MaxGabriel commented on #535
@nanonaren Are you interested in implementing this?

[2016-04-22 17:38] simonmichael commented on #537
Here's one that seems to work. I hope adding async is acceptable..

[2016-04-23 06:14] nanonaren commented on #535
Sure, I'll do it.

[2016-04-23 07:39] psibi commented on #536
One way of solving this would be by changing the default instance of `GzipSettings`. Another way would be to override the function `gzip`  in a way such that no matter what value is passed in `gzipFiles` for the record `GzipSettings` , we set it to `GzipCompress`.

Another way would be to change the signature to `gzip :: Bool -> Middleware`, like it was done previously. But that will break backwar

[2016-04-25 15:51] Chimaku opened #545 "How can I change a header in middleware?"
My goal is redirect to "example.com" if the requested domain is "www.example.com". How can I do that with middleware?

      app :: Application
      app req respond = do
        case requestHeaderHost req of
          Just host -> do
            -- if it has  "www" then
            -- case ...... of
              True -> respond =<< redirect' status302 [] "example.com"  -- ok
              False

[2016-04-25 23:52] axman6 commented on #536
None of this seems to deal with the fact the data isn't actually being compressed. Apparently we're not alone though, I'm seeing the same behaviour from varnish or nginx (we're not sure which just yet) the first time we request data from a specific URL, but not from subsequent requests.

[2016-04-27 11:50] snoyberg commented on #536
I reviewed the code again, and in fact `GzipCompress` _is_ used via the fall-through on line 92. But the code is very difficult to parse. I'm going to test a theory...

[2016-04-27 12:02] snoyberg commented on #536
I just confirmed that compressing files works as expected:

[code]

Caveats:

* Make sure you're passing `accept-encoding`
* The file has to be at least 860 bytes in size
* You must set `GzipCompress` as I did in this snippet

If this isn't working for you still, can you provide a code snippet that demonstrates the problem?

[2016-05-01 07:06] snoyberg commented on #545
Have you looked at examples of other middlewares in wai-extra? They should provide pretty clear guidance on how to modify requests and responses in middlewares.

[2016-05-04 08:03] nanonaren commented on #535
^ anyone want to check?

[2016-05-04 08:23] snoyberg commented on #535
LGTM. I didn't review this earlier since Github doesn't send notifications for commits pinging issues/PRs.

[2016-05-09 05:39] #535 closed

[2016-05-11 04:45] snoyberg commented on #537
Resolved by PR #541

[2016-05-11 04:45] #537 closed

[2016-05-12 22:28] istandleet commented on #433
Here to reiterate the same problem. Windows 10

`  webSockets $ (runConduit ((mapOutput (TL.decodeUtf8 . A.encode) parserConduit) =$= sinkWSText))`

`C:\Users\robertkennedy\Documents\haskell\ntServer\.stack-work\install\3c6cd252\pkgdb:
    HDBC-2.4.0.1
    HDBC-odbc-2.5.0.0
    adjunctions-4.3
    aeson-0.9.0.1
    aeson-compat-0.3.2.0
    aeson-pretty-0.7.2
    attoparsec-0.13.0.2
    authenticat

[2016-05-13 16:25] singpolyma opened #548 "Right way to write a middleware that inspects request body?"
I have this middleware:

[code]

Pretty simple.  But because it needs to inspect the request body, then when the actual application calls `strictRequestBody` or anything else, it just gets blank.  This seems like a very unexpected side-effect from the application author's point of view (adding a middleware should not cause my body to dissapear!) -- is there any way I can "put the body back" so tha

[2016-05-13 16:55] singpolyma commented on #548
If I import `.Internal`, I can use a helper like this to generate a new `IO ByteString` with the right behaviour and shove it onto the request I pass on:

[code]

[2016-05-15 07:31] snoyberg commented on #548
That's exactly what you have to do. I believe some of the middlewares in wai-extra demonstrate the technique.

[2016-05-16 22:49] DemiMarie opened #550 "ChaCha20 and Poly1305 as equal preference to AES-GCM"
ChaCha20-Poly1305 should be supported and should be equally preferred (assuming AES-GCM hardware support) or strongly preferred (otherwise) to AES-GCM, as ChaCha20-Poly1305 is faster in software and much easier to harden vs. timing attacks.

AES256-GCM should also be supported.

[2016-05-18 09:31] mkscrg opened #552 "wai-websockets: forkPingThread writes to socket FD after connection is closed"
_Demo in a gist here: <https://gist.github.com/mkscrg/8c1d0cb1a1623348eed90f6d76f8121a>_

I'm not sure if this is an issue with `warp`, `wai-websockets`, or `websockets`. Let me know if I'm barking up the wrong tree!

`websockets`'s [`forkPingThread` is a loop](https://github.com/jaspervdj/websockets/blob/6a70dbad8f5efd88c72f287d7a81a0a63cda7c0f/src/Network/WebSockets/Connection.hs#L277) on `sendP

[2016-05-18 09:47] snoyberg commented on #552
Perhaps #549 fixes this?

[2016-05-18 17:19] mkscrg commented on #552
#549 does fix it—what timing!

[2016-05-18 17:19] #552 closed

[2016-05-20 19:10] mkscrg opened #555 "Safe exception handling with Warp?"
Is it safe to catch all exceptions at the top level of a `wai`/`warp` app? [1]
- If safe and correct, let's document this on `warp`. Catching all exceptions is usually an antipattern, etc etc
- If not safe, is it reasonable to use something like `enclosed-exceptions`? I'd worry about that affecting performance, though I haven't tried it.

FWIW, this question came up because we'd like access to the

[2016-05-22 13:34] snoyberg commented on #555
@kazu-yamamoto do you have thoughts on this? I'm not sure how the HTTP2 code affects things. AFAIK, it's safe to catch exceptions, though if you catch a `TimeoutThread` exception you should probably rethrow it.

[2016-05-24 01:00] kazu-yamamoto commented on #555
I believe all exception should be caught by the code to run Warp regardless of HTTP/1 and HTTP/2.
If it is not the case, it's a bug of Warp.

[2016-05-24 01:06] kazu-yamamoto commented on #550
Right.

I hope that Warp can support them. I'm very sorry but I'm now terribly busy. I have no time to check if cryptonite library supports it.

If it is easy for you to add them to Warp, please give us a pull request.

[2016-05-25 04:02] snoyberg commented on #555
Addressed by #557

[2016-05-25 04:02] #555 closed

[2016-06-17 03:09] kazu-yamamoto commented on #462
The current code hard-codes "HTTP/1.1" and "TLS/1.0". What if "HTTP/2" and "TLS/1.1" or later?

I discussed this issue with my friends. I seems to us that RFC 2817 recommends 426 status code to redirect from 80 port to 443 port. But in this case, WarpTLS is listening to 443 port.

I would suggest another error status code for HTTP/1.1 to avoid this hard coding. I believe that `Content-Length:` is

[2016-06-21 07:18] kazu-yamamoto commented on #510
I have resumed this project.

After deep consideration, I want to try to extend `Response` to hold HTTP/2 specific data. This avoid defining `HTTP2Application`. The HTTP/1.1 handler can just ignore the HTTP/2 specific data if any.

I have created the `push` branch:

https://github.com/yesodweb/wai/tree/push

I will try to implement server-push stuff in the HTTP/2 handler with STM. And its users (s

[2016-06-24 11:01] hce opened #560 "Memory exhaustion with tempFileBackend?"
Hi, I haven't tested this, but by looking at the type signature, it seems that while files are indeed written to temporary files, what is there to stop me from declaring, say 1 GB of data not as a file but as a parameter? That would still be stored in memory in a ByteString. Since parameters are also sent inside the HTTP Body when doing a file transfer, it is not possible to limit the size of the

[2016-06-28 04:59] kazu-yamamoto commented on #510
OK. I found a cleaner way.

The new code provides `getHTTP2Data` and `setHTTP2Data` through vault of `Request`. No change to `Response` nor `Application`.

Now I convinced that this is the best way to provide the push APIs.

[2016-06-28 13:50] snoyberg commented on #560
No, and that's a good point. Interested in sending a PR to add a variant of `tempFileBackend` that allows the caller to provide an arbitrary byte limit to the size of each parameter, and/or the total bytes used by all parameters?

[2016-06-28 14:45] hce commented on #560
Yup! Lemme give it a try.

[2016-06-28 18:12] hce commented on #560
Looking at the code, it seems that the backend cannot control the number of files and doesn't even have access to the non-file parameters. I considered two options:

a) Add to the backend interface a way to intercept any parameter/file and give it a chance to reject it;
b) Add another variant of parseRequestBody that directly accepts more config options.

IMHO option b) is easier and also more eff

[2016-06-29 07:50] snoyberg commented on #560
Yes, sounds good.

On Tue, Jun 28, 2016 at 9:12 PM, Hans-Christian Esperer <
notifications@github.com> wrote:

[2016-06-29 12:43] bjin opened #561 "feature request: HTTP2 CONNECT method support"
HTTP2 spec defines `CONNECT method` in [section 8.3](https://http2.github.io/http2-spec/#CONNECT), and it's most commonly used as tunnel for HTTPS traffic over a proxy server.

A `WAI` application with CONNECT method requires connection takeover and could be implemented with `ResponseRaw`. Unfortunately `ResponseRaw` is not supported in current HTTP2 implementation of `Warp`. In order to run such

[2016-07-04 01:15] kazu-yamamoto commented on #510
I added the Middleware based on `Referer:` in `wai-http2-extra`. Now I convinced that this push API is the right way to go.

[2016-07-04 07:24] kazu-yamamoto commented on #510
Warp 3.2.7 has been released.

[2016-07-04 07:24] #510 closed

[2016-07-05 12:54] snoyberg commented on #536
Bump, any feedback on my comment above?

[2016-07-05 16:40] snoyberg commented on #560
Fixed by your PR, thanks!

[2016-07-05 16:40] #560 closed

[2016-07-06 03:52] axman6 commented on #536
Hey, Sorry Michael, this dropped off my radar, I will try and find time this week, but it's a pretty bad time for us.

I wonder if the fact that we're returning a lazy bytestreing, which appears to have a chunked encoding, means that gzip compression does happen, as it seems to send each row of our csv as a chunk (which is far from ideal). I will look into this as well if I can find time.

[2016-07-07 02:50] kazu-yamamoto commented on #561
I think you are right. Could you contribute the code?

[2016-07-07 07:24] bjin commented on #561
While the idea seems to be very simple, I think it's not trivial to actually be implemented. And I haven't started reading warp's HTTP2 code. That's why I opened a FR thread first. I do want to have it implemented, and if it's necessary, contribute some code. But it gonna take a much longer time as I imagine.

[2016-07-07 09:23] meiersi opened #565 "Limit maximal size of referrer cache in HTTP2 push implementation"
Hi @kazu-yamamoto,

thanks for the nice article on your HTTP2 Push implementation; and thanks for the implementation itself. I wonder what your and the other warp devs' thoughts are on the DOS attack where an attacker floods your push cache by sending lots of cheap GET requests with different referrer headers to a static resource in the configured push-clearing frame. It seems to me that this woul

[2016-07-07 23:55] cstrahan opened #566 "Support for sending Trailers"
wai/warp ought to support sending and receiving [Trailers](https://tools.ietf.org/html/rfc7230#section-4.1.2). I'd like to implement a [gRPC](http://www.grpc.io) library for Haskell, and [the protocol](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) requires support for reading and sending trailers. In Go, this might look something like ([from the docs](https://golang.org/pkg/net/h

[2016-07-08 02:23] kazu-yamamoto commented on #566
Are you planning to implement `gRPC` by streaming?
If so, is it possible to decide the contents of trailers before pushing the final chunk of the streaming?

[2016-07-08 02:28] kazu-yamamoto commented on #565
Hi @meiersi,

Yes, that's my concern. And thank you for telling the idea of an LRU cache and how to implement it.
Could you implement it and give us a pull request? I would love to review and merge it.

[2016-07-08 02:31] kazu-yamamoto commented on #561
OK. I will try when I find time.
Could you show me a WAI application which handles CONNECT in HTTP/1.1?
I should start this work by let the application work in HTTP/2.

[2016-07-08 03:01] awpr commented on #566
This is the same use case I intended for trailers support on #402 -- gRPC requires trailers to include the RPC status code, so they're not determined until the RPC is done (imagine an I/O error on the last chunk of a ReadFile RPC).  What's worse, failed requests are required to be 200s with an error code in the trailers -- any partial or complete response without trailers is a protocol error.  So,

[2016-07-08 07:19] bjin commented on #561
@kazu-yamamoto Thanks! [Here](https://gist.github.com/bjin/4ff5ba18754fcd99cb6681c16b631303) is a simple application. Note that some of the code is taken from `http-reverse-proxy` package.

You can test the proxy server by accessing any HTTPS website with `curl`

[code]

[2016-07-08 07:24] bjin commented on #561
Some additional notes: Accoding to HTTP2 specs, `CONNECT` method will have the `host:port` pair in `:authority` header. Both `:scheme` and `:path` will be omitted. You probably need to change the application a bit to make it work.

[2016-07-08 07:29] meiersi commented on #565
@kazu-yamamoto you're welcome. I currently don't have spare resources to implement this. Sorry. If I would happen to need it for company work, I'd be happy to do it. However, we're currently not using HTTP2.

[2016-07-10 17:28] creativeprogramming commented on #486
I confirm this issue, i'm not a netty direct user, but I'm using vert.x 3 that uses netty 4.1.1 and when a client negotiates http/2 i cannot read all the cookies in the cookie header (i got just one cookie of many).

If i disable ALPN instead i get all the cookies.

[2016-07-14 04:54] kazu-yamamoto commented on #566
I have implemented APIs for trailers. Please try the `trailers` branch.
An application should set trailers just before exiting:

[code]

[2016-07-14 07:31] kazu-yamamoto commented on #565
Now implementing. Tests are necessary.

[2016-07-17 23:25] cstrahan commented on #566
@kazu-yamamoto Thanks for implementing this! I'm afraid I'm a bit too tied up to be able to give this a solid review, but I *think* it looks like what I'd need.

@awpr Perhaps you could weigh in here? I figure you might have given more thought to gRPC than I have, in which case you might have an easier time spotting any problems this might pose for an implementation thereof.

[2016-07-18 22:00] awpr commented on #566
Looks about as suitable for gRPC as the previous incarnation.  As long as there can be exceptions in the Warp code that aren't catchable by the stream body, there's still the possibility for protocol errors in pathological cases, but this should make it possible to get it right for normal situations.  I'm not too enthusiastic about supplying trailers by modifying an IORef in a Vault, but the alter

[2016-07-19 04:58] kazu-yamamoto commented on #566
@awpr Thank you for your review. I would like to strengthen the support of error handling on feedback base. To let users be able to use this API, I would like to merge this first.

[2016-07-19 05:02] kazu-yamamoto commented on #566
Merged.

[2016-07-19 06:32] #566 closed

[2016-07-21 07:01] kazu-yamamoto commented on #565
I have implemented MultiMap with limitations (not based on LRU) and released it.

[2016-07-21 07:01] #565 closed

[2016-07-25 03:03] kazu-yamamoto commented on #561
In HTTP/1.1, the proxy app can just write "HTTP/1.1 200 OK". However, it should be encoded with a Headers frame in HTTP/2. What Warp can do is just receive and send Data frames. Warp cannot intercept the status line because it's application specific. So far, I cannot find a good way to encode the status line to a Headers frame.

[2016-07-25 04:38] bjin commented on #561
IIUC, this is due to the API design flaw in `ResponseRaw`, right? Would it be possible to add an option to `warp` and encode status line and headers before first occurrence of `\n\n` for ResponseRaw?

[2016-07-25 05:48] kazu-yamamoto commented on #561
Cc: @snoyberg

[2016-07-25 05:49] kazu-yamamoto commented on #561
I think that `ResponseRaw` does not assume specific applications. Application may or may not send back a status to the browser. This makes things difficult in HTTP/2.

[2016-07-25 15:16] dbaynard opened #571 "Rewrite middleware contradicts guidance on rawPathInfo"
Hello,

I’ve been using [Network.Wai.Middleware.Rewrite](https://github.com/yesodweb/wai/blob/master/wai-extra/Network/Wai/Middleware/Rewrite.hs) to convert a URL based on compulsory query parameters to one based on paths, in order to place a site I’m upgrading behind a reverse proxy. It’s a bit of a workaround, but the pattern may be useful more generally.

I’d like to add helper functions and so

[2016-07-25 15:29] awpr commented on #561
I might be missing something, but can't HTTP/2's CONNECT method be implemented with a normal streaming response?

- Get the address/port from the request.
- Initiate the connection; if this fails, respond 500 or whatever code is appropriate.
- Respond 200 with a streaming response:
  - Forward data from the request body to the connection, and from the connection to the stream output, until either

[2016-07-25 16:31] bjin commented on #561
You can't forward further data from request body with `ResponseStream`, I'm afraid.

[2016-07-25 16:38] awpr commented on #561
Why not?  The request record has an IO action to read a chunk of the request; just run it repeatedly and write the results to the socket.

[2016-07-25 16:42] bjin commented on #561
Not exactly sure, but I think request with indefinite length has to be chunk encoded, which would actually break the tunneled traffic. IIRC, `ResponseRaw` was actually created for websocket, which is very similar to HTTP connect tunneling.

[2016-07-25 16:52] awpr commented on #561
There's no such thing as chunked encoding in HTTP/2.  The framing mechanism that sits at the core of the protocol gives the same capabilities.  The second paragraph of the HTTP/2 CONNECT spec seems pretty clear that it's not a connection takeover but rather a normal HTTP/2 stream that happens to be implemented by forwarding data chunks.

[2016-07-25 17:02] bjin commented on #561
That's interesting. But I'm afraid the same application works with `HTTP2` will then break with `HTTP 1.0` due to chunked encoding. While there might be workaround to this, there are also existing WAI applications utilizing `ResponseRaw`, which won't work with HTTP2.

[2016-07-25 17:24] awpr commented on #561
ResponseRaw (connection takeover) fundamentally cannot be implemented for HTTP/2 -- taking over the connection will break all open streams and cause the receiving end to explode trying to interpret arbitrary data as HTTP/2 frames.  It's by design that existing WAI applications using ResponseRaw will serve their fallbacks under HTTP/2.

It sounds like you're asking to change the meaning of Response

[2016-07-25 18:24] bjin commented on #561
Okay, sounds fair enough. If the purpose of `ResponseRaw` was just a hack to get connection takeover working with `HTTP1.0`, I don't think more support of it should be added either.

@kazu-yamamoto I think current HTTP2 implementation in `warp` requires `:path` to be non-empty. This would actually reject all `CONNECT` requests. An easy fix to bypasses those checks are possible, but I'm not sure if

[2016-07-25 21:10] bjin commented on #561
@kazu-yamamoto I tried to implement an application with `ResponseStream`. It seems that `HEADERS` frame isn't send immediately to the client with `respond ResponseStream`. Instead, streaming body parameter in `ResponseStream` was called (and blocks everything). Do you know if it's the expected behavior or not?

[2016-07-26 01:36] kazu-yamamoto commented on #561
I agree with @awpr. We should use `ResponseStream` for `CONNECT` in HTTP/2.

[2016-07-26 01:38] kazu-yamamoto commented on #561
You are right. `:path` must be omitted with `CONNECT`. Please give us a pull request.

[2016-07-26 01:45] kazu-yamamoto commented on #561
Warp tries to pack data in the sending buffer as much as possible. If you want to send the Headers frame immediately, I guess your application should call the second function to flush.

[2016-07-26 09:51] bjin commented on #561
@kazu-yamamoto I opened a PR (#572), please take a look. Thanks!

[2016-07-26 11:58] snoyberg commented on #571
Pinging @gregwebs, who I believe initially wrote the Rewrite middleware (https://github.com/yesodweb/wai/commit/acb96bdf922109512825d487da573a6ff67f1abb).

[2016-07-26 12:48] #561 closed

[2016-07-27 06:31] kazu-yamamoto commented on #545
I would close this issue. Please reopen if necessary.

[2016-07-27 06:31] #545 closed

[2016-07-27 06:35] kazu-yamamoto commented on #548
I would close this issue. Please reopen if necessary.

[2016-07-27 06:35] #548 closed

[2016-07-27 06:42] kazu-yamamoto commented on #439
http-types v0.9.1 including `parserByteRanges` has been released.

[2016-07-27 06:45] kazu-yamamoto commented on #417
Is this issue still valid? If not valid, please close this issue.

[2016-07-27 06:46] kazu-yamamoto commented on #528
I would close this issue. Please reopen if necessary.

[2016-07-27 06:46] #528 closed

[2016-07-27 15:00] awpr commented on #417
I think it's still the right thing to do based on the protocol specs, but as far as I know Chrome still (incorrectly?) takes HTTP_1_1_REQUIRED to mean that the server doesn't support HTTP/2 at all.  (Which is somewhat silly given that the HTTP_1_1_REQUIRED code was delivered over HTTP/2...).

So, it's not clear that it's good to do this right now, but if Chrome is changed to retry only the single

[2016-08-05 06:11] dbaynard commented on #571
No response, so I did some digging.

[The 5th comment](https://github.com/yesodweb/wai/issues/325) suggests the current behaviour (modifying `rawPathInfo`) is wrong. In which case, would the change break semantics (in a way discussed in #325 )?

[2016-08-05 06:14] snoyberg commented on #571
It would break semantics, but providing an alternatively named function would certainly be OK. I'd still like to hear from @gregwebs though before we merge anything in case there's a specific reason for the middleware to behave as it does now.

[2016-08-05 06:18] gregwebs commented on #571
Change it :)

[2016-08-05 06:22] dbaynard commented on #571
Ok! I'll link a PR when I get a chance, shortly. I have an example rewriting query parameters to path pieces and back, so I'll add that as documentation, too.

[2016-08-16 18:30] dbaynard commented on #571
I’ve added a PR, but it uses `Data.Functor.Identity`, which breaks the build on `ghc < 7.10` as cabal restrictions conflict. The issue is, I think, with `transformers`, but I’m not so sure.

I’d be grateful for guidance on how to handle this situation.

[2016-08-17 05:13] tolysz opened #577 "Wai-App-Statc."
https://github.com/pcapriotti/optparse-applicative/commit/e4acc2df5d9d1685bcbf37d091b76d93deab1b6d

Breaks [keter-travis] (https://travis-ci.org/snoyberg/keter/jobs/152831587)
[code]

Stuff on hackage needs to have `optparse-applicative < 0.13`

Going forward we need to `import Data.Monoid ((<>))`.

[2016-08-17 05:15] snoyberg commented on #577
I just merged a PR to add this, I'll be releasing later today.

On Wed, Aug 17, 2016, 8:13 AM Marcin Tolysz <notifications@github.com>
wrote:

[2016-08-17 05:16] tolysz commented on #577
I see the change, so the only things left are to edit `hackage` (easy); and cut new version (low prio).

[2016-08-17 05:16] tolysz commented on #577
Thanks :)

[2016-08-17 05:16] #577 closed

[2016-08-24 22:45] dbaynard commented on #571
I’ve added a PR, but it uses `Data.Functor.Identity`, which breaks the build on `ghc < 7.10` as cabal restrictions conflict. The issue is, I think, with `transformers`, but I’m not so sure.

I’d be grateful for guidance on how to handle this situation.

Edit: Forgot about the [AMP](https://ghc.haskell.org/trac/ghc/wiki/Migration/7.10)

[2016-08-26 02:42] #571 closed

[2016-08-28 20:59] bergmark opened #579 "warp: ambiguous modules in doctest"
The test suite is

The test-suite for this package has been disabled in stackage because of this issue. If a fix is published to hackage can you please ping me? You may not want to fix this since it's an issue with the combination of these packages, so feel free to close this if so.

Thanks!

[code]

[2016-08-31 16:10] tolysz commented on #316
I had a new idea :)
https://github.com/yesodweb/wai/pull/580

[2016-09-07 11:39] tolysz commented on #536
Sorry for the late jump it, Is the generated output saved as a file then served to the client? OR it is `conduit` to the client directly from the producer?
The 1st would benefit from different `gzipFiles` (my favourite `GzipPreCompressed GzipIgnore` :P ) settings the later will not.

[2016-10-31 14:02] leohaskell opened #587 "ld (webkit.o): undefined reference to symbol"
`stack build` (LTS-7.6) on `yesod-minimal` gives the following message:
[code]

I've changed only `Main.hs` and now it looks like this:
[code]

[2016-10-31 14:16] snoyberg commented on #587
You must have also changed the imports and the .cabal file, right? What about the stack.yaml file? wai-handler-webkit isn't in any Stackage snapshots.

[2016-10-31 14:22] leohaskell commented on #587
Yes, I changed the imports and I added `wai-handler-webkit-3.0.0.3` as extra-dep to stack.yaml.

[2016-10-31 14:59] snoyberg commented on #587
Can you provide your full stack.yaml so it's clear what GHC
version/snapshot you're using? Also, if you can minimize the test case (for
example, come up with an example that demonstrates this problem with just a
WAI application), that would be helpful. Finally, what OS are you on?

On Mon, Oct 31, 2016 at 4:22 PM, Daniel Taskoff <notifications@github.com>
wrote:

[2016-10-31 15:08] leohaskell commented on #587
I'm on Arch 4.8.4. Here is the stack.yaml:
[code]
And this is the minimal Main.hs:
[code]

[2016-10-31 16:26] snoyberg commented on #587
I don't have ready access to a Linux machine with the necessary libraries.
Can you try adding this to your .cabal file?

pkgconfig-depends: QtWebKit

On Mon, Oct 31, 2016 at 5:08 PM, Daniel Taskoff <notifications@github.com>
wrote:

[2016-11-02 11:37] leohaskell commented on #587
`stack clean` && `stack build` after the change still produces the same output.

[2016-11-15 09:13] ip1981 commented on #536
This works for me https://github.com/zalora/mywatch/commit/bb607424b947f1dad571fe05c2044646073de201

I can see in firefox console that dynamic and static files are compressed.

[2016-11-16 11:26] snoyberg commented on #536
It sounds like this is all working as expected now, closing. If there is a counter example, let's reopen or start a new issue.

[2016-11-16 11:26] #536 closed

[2016-11-16 21:50] simon-nicholls opened #588 "Multiple Accept headers not combined"
I have some intransigent HTTP client software sending multiple `Accept` headers, instead of a combined `Accept` header:

[code]

According to `logStdoutDev`, my (Servant) app is handed the first listed `Accept: text/*` and the rest are dropped, whilst my routing responds to JSON, leading to a `406 Not Acceptable`.

But I gather from the following, that multiple field headers are fine for cases whe

[2016-11-17 03:24] snoyberg commented on #588
Please provide a reproduction against Warp. However, I'm pretty sure you
want to file this issue with servant.

On Wed, Nov 16, 2016, 11:50 PM Si <notifications@github.com> wrote:

[2016-11-20 14:04] krsch opened #590 "wai-frontend-monadcgi does not drop '?' in query string"
When running this simple program:
[code]
on `curl 'http://localhost:8811/?uid=a&password=123'` the program prints `["?uid","password"]`, while I expected `["uid","password"]`

[2016-11-20 15:19] #590 closed

[2016-11-20 15:20] snoyberg commented on #590
Thanks for the report, I've released a new version of Hackage (3.0.0.3) which should resolve the issue.

[2016-11-20 18:52] ip1981 opened #591 "Warp: ERR_SPDY_PROTOCOL_ERROR with HTTP/2 and Google Chrome"
`ERR_SPDY_PROTOCOL_ERROR` with HTTP/2 and Google Chrome / Chromium on Linux and Android 99% of time. Firefox works fine (HTTP/2).

There were quite a few similar issues with Chrome and other sites like Facebook last years. They are fixed now somehow. No suggested workaround help with Warp (flush sockets, clean cache etc.)

Warp/3.2.8, Chromium/53.0.2785.143 (Linux): trying to open any URL in Chrom

[2016-11-21 15:30] simon-nicholls commented on #588
Hmmm. Though `Servant` and `Spock` both appear to assume there is only a single `Accept` header (perhaps header per name generally) in the `requestHeaders`, it's not strictly a bug at WAI / Warp level unless there are guarantees by WAI about combining headers.

It's more of a feature add, for the convenience of various WAI based web app frameworks. I'll have a look at what exactly Servant is doing

[2016-11-21 21:00] ip1981 commented on #591
Please ignore me. My app was sending invalid combinations of headers like `Transfer-Encoding`, etc. :) Firefox is more robust though.

[2016-11-21 21:00] #591 closed

[2016-11-22 01:07] kazu-yamamoto opened #592 "TLS 1.3"
[TLS 1.3](https://tools.ietf.org/html/draft-ietf-tls-tls13) is being standardized in IETF.
Note that the version would be renamed in the future.

In my local branches, TLS 1.3 is working for Warp:

- cryptonite - [this PR](https://github.com/haskell-crypto/cryptonite/pull/112) introduces a new API for elliptic curve diffie hellman. It enables C-based P256 backend, Haskell P384/P521 and C-based X25

[2016-11-24 20:50] ip1981 opened #593 "Thread killed by timeout reaper when sending large HTTP/2 response"
With Warp 3.2.8 I'm getting error `Thread killed by Warp's timeout reaper` when sending large (GiB) bodies from backend servers. This looks similar to https://github.com/yesodweb/wai/issues/351, but happens only on HTTP/2 (HTTP/1.1 to the backend).

[The docs say](https://github.com/yesodweb/wai/blob/7a961288b997c2c485957743763d10d7644a61d6/warp/Network/Wai/Handler/Warp/Internal.hs)

The data is d

[2016-11-28 03:03] kazu-yamamoto commented on #592
PSK is done.
I'm going to try 0RTT.

[2016-11-30 02:20] kazu-yamamoto commented on #592
0RTT is done.

[2016-12-02 09:15] sopvop opened #595 "Warp throws ConnectionClosedByPeer if persistent connection is closed by client in between requests."
### Problem
If client closes connection between requests, for example if it's connection cache has timed out,
warp-3.2.9 throws `ConnectionClosedByPeer` exception.

There is no way to tell if this happened in OK place or during request transfer, so you can't decide if exception can be discarded or logged as it may indicate problems elsewhere in infrastructure.

HTTP/1.1 [spec](https://tools.ietf.o

[2016-12-05 14:20] fizruk opened #597 "HTTP/2 POST fails from browser over TLS"
Some major browsers use HTTP/2 for HTTPS requests. As it turns out `warp` does not support some part of it and as a result POST requests from at least Safari and Chrome fail over HTTPS. At the same time cURL works fine with HTTP/2 POST over TLS.

Here's a sample HTTP/2 sessions for Chrome (you can see one in chrome://net-internals): https://gist.github.com/fizruk/84c0feef4315028a20aaf13a31cb7dfd

[2016-12-06 02:05] kazu-yamamoto commented on #579
@snoyberg Do you think that we should fix it in Warp?
I think that async-dejafu should rename its module.

[2016-12-06 04:24] kazu-yamamoto commented on #486
I believe this problem does not exist. Consider:

[code]

And test with nghttp:

[code]

[2016-12-06 04:28] kazu-yamamoto commented on #486
I confirmed that multiple cookies are actually sent with tcpdump and Wireshark.
Let's close.

[2016-12-06 04:28] #486 closed

[2016-12-06 06:19] kazu-yamamoto commented on #597
Consider this app:

[code]

I can post a JSON object with nghttp:

[code]

So, HTTP/2 PUT in plaintext is working in this case.
I would like to know how to reproduce this in a command line.

[2016-12-06 06:31] kazu-yamamoto commented on #595
In HTTP/1.1, `ConnectionClosedByPeer` is used two places: `headerLines` and `readISource`. The former is a normal case and the latter is an error case. So, we need to fix `headerLines`. To fix this, we have two choices:

1. Throwing a different exception type - we should put a catcher in a upper place but we don't have to modify lower functions drastically.
2. Change structures of lower functions,

[2016-12-06 06:51] kazu-yamamoto commented on #593
I need a small test case.
Consider this application:

[code]
And test it with nghttp:

[code]

I think this is not your problem.  No error is displayed in the we app side.

Could you modify this application to reproduce your problem easily?

[2016-12-06 14:03] snoyberg commented on #579
I'd like that too. However, new idea...

@bergmark What do you think about adding a new setting to Stackage which marks packages as hidden, and tells stackage-curator to hide these packages after registering them, to avoid problems like this? I can imagine that metadata will also be useful for Stack down the road.

[2016-12-06 15:53] bergmark commented on #579
@snoyberg good idea! I think that will work out very nicely.

[2016-12-07 07:49] alexanderkjeldaas commented on #533
The message "Support for SSL is now obsoleted." is very confusing for those that use SSL and TLS interchangeably.

As you probably know, the name TLS has no technical meaning in itself, and was just chosen to avoid a lawsuit from Netscape.  Thus a lot of people use "SSL" for the whole range of protocols, including all the TLS ones.

[2016-12-07 11:51] kazu-yamamoto commented on #533
@alexanderkjeldaas Thank you for pointing it out.

Is "SSLv1 and SSLv2 are obsoleted by IETF. We should use TLS 1.2 (or TLS 1.1 or TLS 1.0 if necessary). " fair enough?

[2016-12-07 12:48] alexanderkjeldaas commented on #533
Sounds good to me.

On Wed, Dec 7, 2016 at 12:51 PM, Kazu Yamamoto <notifications@github.com>
wrote:

[2016-12-08 01:07] kazu-yamamoto commented on #533
Done.
Thank you!

[2016-12-09 11:58] snoyberg commented on #595
I'd probably go for changing the functions, since (I think) this is all internal to Warp. Unless there's reason to be worried about performance from the `Maybe` wrapper, but I doubt the overhead will be greater than installing catchers.

[2016-12-11 10:33] snoyberg commented on #579
OK, I've made the relevant modification to both stackage-curator and build-constraints.yaml, so hopefully the tests will pass in the future. Should we close this and address any remaining issues among just the curator team?

[2016-12-11 11:53] bergmark commented on #579
Awesome, thanks! It Sounds good to me!

[2016-12-11 11:53] #579 closed

[2016-12-18 10:15] konn opened #601 "Multiple TLS certificate files support in `warp-tls`"
I'm using [Let's Encrypt](https://letsencrypt.org) to obtain certificate files for my web-services.
Since Let's Encrypt provides certificates in per-subdomain manner, I have to specify separate certificates and keys for each service running on different subdomains.

I'm currently using [Mighttpd2](http://www.mew.org/~kazu/proj/mighttpd/en/)'s reverse proxy functionality to provide multiple web app

[2016-12-20 08:18] kazu-yamamoto commented on #592
Client full handshake: done.
Client hello retry request: done.

[2016-12-20 08:19] kazu-yamamoto commented on #592
The merge process of cryptonite: done.

[2016-12-21 04:21] kazu-yamamoto commented on #463
`getClientSNI` is now provided by`tls`.

[2016-12-21 08:46] tolysz commented on #463
I am using https://github.com/lukas2511/dehydrated with the DNS challenge  for keter bundles. I would need to add reload certificate on file change.

[2016-12-28 15:32] agrafix opened #602 "Expected behaviour when catching TimeoutThread?"
In an application I am currently debugging a response handler catches all exceptions via

[code]

and then logs the expection and continues to do it's work. While I know that this is bad coding and should be fixed right there, I was wondering what the expected behaviour of warp for this kind of situation would be?

[2017-01-02 08:32] snoyberg commented on #602
Correct me if you think otherwise @kazu-yamamoto, but I think we do not currently handle this case well in Warp. With this code, I believe today you would end up blocking the slowloris protection and the connection would remain open. I think we need the following improvements in Warp:

* Whenever we send a `TimeoutThread` exception, also immediately kill the open connection, so that even if the ap

[2017-01-02 22:43] kazu-yamamoto commented on #602
+1

[2017-01-03 09:50] agrafix commented on #602
Sounds good! I hope to find time for a PR soon :-)

[2017-01-03 09:53] agrafix opened #603 "warp terminates silently"
On a system I've observed that a web server application written using `warp` sometimes terminates with `exit code 0` for no reason. After some debugging, I noticed that it ran out of file descriptors. The problem lies here: https://github.com/yesodweb/wai/blob/c6a542cc4bc51106b207432b1ef81e8dd675a323/warp/Network/Wai/Handler/Warp/Run.hs#L224-L253 . With the default configuration, the exception is

[2017-01-03 10:06] snoyberg commented on #603
Reading through that code, shouldn't `settingsOnException` be able to print the exception?

[2017-01-03 10:24] agrafix commented on #603
Yes, but I think the default `defaultOnException` with `defaultShouldDisplayException` misses the out of file descriptors exceptions and thus does not print it

[2017-01-03 10:27] snoyberg commented on #603
Here's the relevant code:

https://www.stackage.org/haddock/lts-7.14/warp-3.2.9/src/Network.Wai.Handler.Warp.Settings.html#defaultShouldDisplayException

Which of those clauses is catching the out of file descriptors exception?

[2017-01-12 23:38] kazu-yamamoto commented on #592
Client HRR and 0RTT: done.

[2017-01-22 12:53] saurabhnanda commented on #496
that other web frameworks do the same.

Is there a reasonable use-case where someone would be using the WAI logger, but would NOT want this behaviour? Phrased another way, if every web framework using WAI logger would need to implement this behaviour, probably it makes sense for it to be WAI logger's default behaviour.

[2017-01-27 03:14] #602 closed

[2017-01-31 18:10] jasonzoladz opened #607 "Thread Killed by Warp's timeout reaper (min. repro. incl.)"
Confirmed on both `Ubuntu 16.04` and `OSX (10.12.2)`.

`resolver: lts-7.18`

Error Message:
(note: the first line of the error is from the `setOnException` call:

[code]

Code:

[code]

With the given timeout, the error is thrown approximately 1 second after a request is made.  (You can increase it to, say, 20 seconds, and the only result is that you wait longer to see the error after a request is

[2017-02-06 08:42] snoyberg commented on #607
Can you clarify which part of this is unexpected? It's unclear from this report what the expected vs actual behavior is.

[2017-02-06 12:52] jasonzoladz commented on #607
My expectation -- based only on working with warp previously -- was that I wouldn't see such an error message.  But I gather from your response that this is just normal timeout handling at work.

I've spent a fair amount of time with warp, and I've never seen the message before now.  Though its possible/likely that a library on top (e.g., spock or yesod) was just swallowing the message.

[2017-02-06 12:52] #607 closed

[2017-02-09 15:25] bjin commented on #601
It's actually possible with customized `tlsSettings`. Just override `onServerNameIndication` of `tlsServerHooks` to provide additional certificates for subdomains.

The downside is that it requires SNI support from client, but you would require it anyway to support multiple certificates.

[2017-02-09 19:45] mitchellwrosen opened #608 "[Question] When is streaming response flushed?"
The docs state that the `flush` arg to `StreamingBody` is  "provides a means of flushing the data to the client", but it isn't clear to me exactly what this means.

Is it a "default flush behavior override", or is it the only means that data is ever flushed?

If the former, what's the default behavior of when data is flushed?

Thanks!

[2017-02-12 04:46] snoyberg commented on #608
It's flushed whenever the buffer is full, unless flushed first. But that's
an implementation detail, an implementation may choose to always flush or
hold everything in memory.

Obviously at the end of the response it also flushes.

On Thu, Feb 9, 2017, 9:45 PM Mitchell Rosen <notifications@github.com>
wrote:

[2017-02-12 16:03] mitchellwrosen commented on #608
Oh, yes, I suppose the question was referring to `warp` specifically. And one follow up question, is the buffer size configurable? I don't see an option for it in `Settings`.

[2017-02-12 16:10] snoyberg commented on #608
I don't believe it can be configured right now, no.

On Sun, Feb 12, 2017, 6:03 PM Mitchell Rosen <notifications@github.com>
wrote:

[2017-02-12 17:27] mitchellwrosen commented on #608
Thanks, I poked around (for posterity) and I believe this is the current window size (65kb): https://hackage.haskell.org/package/http2-1.6.3/docs/Network-HTTP2.html#v:defaultSettings

Closing!

[2017-02-12 17:27] #608 closed

[2017-02-15 03:27] chris-martin opened #609 "Does "timeout reaper""

[2017-02-15 03:33] chris-martin opened #610 "Not entirely clear what "Thread killed by Warp's timeout reaper" means"
I just started a simple webapp (using Spock, if it matters) running on Warp. It periodically outputs

1. I don't know if I should be concerned by this message. Is this normal behavior, or is it the result of some problem that prevented a thread from completing normally?
2. The printing is interfering with my server's normal log output. Can I either suppress this message, or customize how it prints

[2017-02-15 03:37] #609 closed

[2017-02-18 16:01] prophile commented on #16
@snoyberg 5 years on from this it would be smashing to accept IPv6 by default—can we rely on the `network` bug you mentioned being fixed?

[2017-02-20 07:23] snoyberg commented on #16
I have no desire to reopen this can of worms, it has caused nothing but pain constantly through its history. Changing the network interface being bound is possible when needed.

[2017-02-21 04:21] kazu-yamamoto commented on #601
Sorry for the delay.

- `tls` provides `credentialLoadX509Chain{FromMemory}` which read intermediate certificates (aka chain) in addition to server's cetificate
- `warp-tls` provides  `tlsSettingsChain{Memory}` to create `tlsSettings` based on `tls`'s functions above.
- Now `mighttpd` v3.4.0 provides `Tls_Chain_Files` to specify chain files with `tlsSettingsChainMemory`.

You can set:

[code]

[2017-02-22 21:09] cocreature opened #613 "Regression in warp 3.2.10: Timeout reaper is triggered if socket is kept open"
When building the program below against warp *3.2.9*, everything works as expected. However, using *3.2.10* or *3.2.11*  `Thread killed by Warp's timeout reaper` is printed to stderr when I open [http://localhost:8080](http://localhost:8080) in a browser (I tried firefox and chrome). This error does not occur using curl (even when copying the curl command provided by the browser) and it also doesn

[2017-02-22 21:14] cocreature commented on #610
@chris-martin FYI, I just experienced the same problem in #613 and spend way too long staring at my code to find the problem. So if you are using 3.2.11, the error might not be in your code.

In general this error means that your request handler took longer than the allowed timeout (30s by default). If this is expected you can just increase the timeout using [setTimeout](https://hackage.haskell.or

[2017-02-23 00:40] iand675 opened #614 "[warp] Support using separate sockets for HTTP and HTTPS connections?"
I guess it's most common for warp(-tls) servers to be run behind NGINX or something similar, but it would be nice to be able to bind separate ports for HTTP vs HTTPS connections.

In particular, traditional public-facing web servers serve HTTP at 80 and HTTPS at 443, and I don't think that's doable currently. Please correct me if I'm wrong.

[2017-02-23 00:47] iand675 opened #615 "[warp] Support h2c for HTTP/2"
I know that there are good reasons for encouraging browsers to use HTTP/2 exclusively over TLS, but it would be nice for warp to support h2c (non-TLS encrypted HTTP/2 traffic).

The use case here is that it's very common for something like HAProxy or ELB to do TLS termination and send unencrypted traffic within the private network. It would be really nice to not have to deal with setting up end-to

[2017-02-23 10:08] cocreature commented on #613
I just figured out that this happens *only* using the threaded runtime. To make it easier to reproduce I also created a full cabal repo that builds with cabal and stack and demonstrates the bug https://github.com/cocreature/warp-bug

[2017-02-23 10:15] cocreature commented on #613
A bisect points to 3eb586636b7f0a9a8e4b4ad456c16efe23847c9e

[2017-02-23 11:38] snoyberg commented on #613
Good catch, and thanks for the clear repro steps. I think this is fixed with 35ef1ca27ec50025198dfe6c7f5eabac95d3498f, can you give it a shot?

[2017-02-23 14:15] cocreature commented on #613
I can confirm that this fixes the bug for me. However, I noticed that merging #611 also made the bug disappear even without your commit. But maybe it’s just harder to trigger now, I haven’t looked at the actual changes.

It would be great if you could do a bugfix release.

[2017-02-23 14:20] snoyberg commented on #613
Yeah, I was curious if #611 would affect this... I've just merged master back into this branch, can you try that as well? Since these are the only changes since the last release, I feel comfortable making the release myself without waiting for @kazu-yamamoto (though Kazu's review is always appreciated).

[2017-02-23 14:24] cocreature commented on #613
It still works :)

[2017-02-23 14:27] snoyberg commented on #613
Cool, I'll merge/release that PR once Travis goes green.

[2017-02-23 21:26] kazu-yamamoto commented on #615
Warp supports direct HTTP/2!
Try connect to Warp with `h2load`, for example.
The issue is HTTP client side!

[2017-02-23 21:39] kazu-yamamoto commented on #614
You can run Warp and WarpTLS with `concurrently`.
Mighttpd2 does this:

https://github.com/kazu-yamamoto/mighttpd2/blob/master/src/Server.hs#L166

[2017-02-24 00:13] kazu-yamamoto commented on #613
I think that 35ef1ca is a direct solution for 3eb5866.
So, it's OK to merge 35ef1ca.

Now I'm trying to understand the relationship with #611.

[2017-02-24 00:46] kazu-yamamoto commented on #613
#611 looks good. It seems to me that including both patches are OK.

[2017-02-24 00:48] kazu-yamamoto commented on #613
Now `fork` is complicated and hard to read. I just pushed the refactoring code: c01f8e38b1a16175ed30324890aad26d90bdf054

@snoyberg Please review it.

@cocreature Please test the `613-better-exception-handling` branch.

[2017-02-24 07:22] cocreature commented on #613
@kazu-yamamoto I can confirm that it still works.

[2017-02-24 11:59] #613 closed

[2017-02-24 12:00] snoyberg commented on #613
Reviewed changes (look great), merged, and released to Hackage. Thanks!

[2017-02-24 12:01] cocreature commented on #613
Thans for fixing this so fast!

[2017-02-27 07:46] kazu-yamamoto commented on #597
I cannot reproduce this with Firefox/Chrome/Safari on Mac.
Some bugs of Warp relating to HTTP/2, found by new` h2spec`, were fixed.
So, I could try the latest Warp.

[2017-04-05 18:53] centromere opened #618 "Prematurely closed connections do not include request information"
If an HTTP client (such as curl) receives an HTTP error while it's sending the body of a request, it will immediately close the connection. If this happens, Warp will call the [exception handler](https://www.stackage.org/haddock/lts-8.8/warp-3.2.11.1/Network-Wai-Handler-Warp.html#v:setOnException), but the `Maybe Request` will be `Nothing`.

This is bad because it becomes impossible to audit these

[2017-04-06 02:44] kazu-yamamoto commented on #614
@iand675 Can we close this issue?

[2017-04-06 02:44] kazu-yamamoto commented on #615
@iand675 Can we close this issue?

[2017-04-06 03:33] iand675 commented on #614
Yes, closing it is fine. But I think it might be good to mention this strategy in the warp documentation.

[2017-04-06 03:33] #614 closed

[2017-04-09 11:36] snoyberg commented on #618
I cannot reproduce, I used the following script:

[code]

And I got the output:

[code]

[2017-04-10 13:03] centromere commented on #618
I fully acknowledge that this test case uses Scotty, and that the problem may lie within it and not WAI/Warp:

[code]

[code]

[code]

[2017-04-12 08:57] snoyberg commented on #618
Alright, I think I've identified what's going on here:

* `curl` is initiating a chunked request body, and not sending any content
* Your application is not trying to read the request body at all, so it gets no exception
* After your application finishes, Warp tries to flush the body
* Warp _should_ notice that there is no request body data and close the connection, but it is not doing that right

[2017-04-12 09:28] snoyberg commented on #618
OK, this turned out to be quite a bit simpler: when keep-alive connections were failing, it was generating an exception, which it shouldn't do. I've added a commit to master to avoid that, can you test it out?

[2017-04-12 16:11] centromere commented on #618
I've tested it out and Warp now behaves as expected. Thank you.

[2017-04-12 16:13] snoyberg commented on #618
Cool, thanks for confirming. @kazu-yamamoto any objection to me cutting a release with this change?

[2017-04-13 00:25] kazu-yamamoto commented on #618
LGTM.

@snoyberg Thank you for your work!

[2017-04-13 07:50] #618 closed

[2017-04-13 07:51] snoyberg commented on #595
Looks like I did exactly what @kazu-yamamoto mentioned here in my fix for #618, closing.

[2017-04-13 07:51] #595 closed

[2017-04-13 11:06] kazu-yamamoto commented on #595
I'm sorry for not taking time to fix this issue.
I concentrate TLS stuff currently.

[2017-04-15 01:14] kanishka-azimi commented on #243
Current progress, next steps?

[2017-04-20 16:46] Gothdo opened #619 "Warp: don't send the Server header by default"
I don't think there's any good reason to send the `Server` header, and in fact it can even be harmful. [RFC 2068](https://www.ietf.org/rfc/rfc2068.txt) says:

See also this article: [Shhh… don’t let your response headers talk too loudly](https://www.troyhunt.com/shhh-dont-let-your-response-headers/).

Can you make it that Warp doesn't send the `Server` header by default, or at least add an option

[2017-04-20 16:50] psibi commented on #619
I don't think [Security through obscurity](https://en.wikipedia.org/wiki/Security_through_obscurity) is good...

[2017-04-20 16:53] Gothdo commented on #619
@psibi But that doesn't mean that you should give a potential attacker any information that could help them in exploiting your server.

[2017-04-21 02:27] kazu-yamamoto commented on #619
It is easy to implement such an option. We should make a consensus on what kind of options should be implemented. For instance,

- Reuse `setServerName`. If it set "", Server: is not sent
- Define `setServerNameDisabled`.

[2017-04-21 14:07] Gothdo commented on #619
@kazu-yamamoto I think the first option is better, because it doesn't make sense to send an empty "Server" header anyway.

[2017-04-24 11:51] osa1 commented on #610
Anyone know how to completely disable this timeout reaper thing? I have a server that maintains websocket connections with clients. These connections are supposed to stay alive for days, but that's impossible to implement with warp because as far as I can see there's no way to disable timeouts. I tried `pauseTimeout`, `mask_`, forking a thread etc. nothing worked.

If that's important, I'm using `

[2017-04-24 12:08] osa1 commented on #610
So I read reaper's source code and realized that the timeout counter resets in some cases (e.g. when data appears in socket etc.). Just to test I forked a websocket ping thread and it worked. It's still annoying that I couldn't find anything about this in documentations of wai, warp, wai-websockets and websockets and had to read the source code.

[2017-05-01 13:11] Gothdo commented on #619
@psibi @kazu-yamamoto Any update on this?

[2017-05-02 01:07] kazu-yamamoto commented on #619
Sorry for the delay. Please give a try to the patch above.

[2017-05-02 01:17] kazu-yamamoto commented on #619
Please try the `master` branch. The first one is on a wrong branch, sorry.

[2017-05-02 08:54] Gothdo commented on #619
@kazu-yamamoto I added the patched package to my `stack.yaml` file:
[code]
and I added `setServerName ""` to my code but it still doesn't work. The server sends header `Server: Warp/3.2.11.1`, but the version of Warp is 3.2.11.2. Maybe this is because I'm using Yesod, and Yesod has Warp as a dependency. How can I make Yesod use the patched package?

[2017-05-03 09:25] snoyberg commented on #619
What's the output of this command?

    stack exec -- ghc-pkg list warp

[2017-05-03 10:23] snoyberg commented on #619
@kazu-yamamoto I think the current implementation does not work as expected. I got the following change to produce the expected results, but it's likely not as efficient as desired:

[code]

[2017-05-03 11:43] Gothdo commented on #619
@snoyberg When I run this command, I get the following output:
[code]
`/home/michal/backend/` is the directory of my project (and my current working directory).

[2017-05-03 11:46] snoyberg commented on #619
I'm pretty sure the Stack configuration is correct then, and it's just an
issue with the patch.

On Wed, May 3, 2017, 2:43 PM Michał Perłakowski <notifications@github.com>
wrote:

[2017-05-03 12:12] Gothdo commented on #619
@snoyberg But why the Warp version in the `Server` header is 3.2.11.1 instead of 3.2.11.2?

[2017-05-03 13:12] snoyberg commented on #619
How are you running the server? Are you using yesod devel by any chance?

On Wed, May 3, 2017, 3:12 PM Michał Perłakowski <notifications@github.com>
wrote:

[2017-05-03 15:03] Gothdo commented on #619
@snoyberg Yes, I'm using yesod devel.

I reinstalled all packages, and now when I run the server with yesod devel, I get `Server: Warp/3.2.11.2`, but when I run the executable build by stack, there's no `Server` header, so the patch is working.

[2017-05-08 03:36] kazu-yamamoto commented on #619
@snoyberg Sorry for the delay. I was on vacation.
And sorry for my careless coding. Your patch looks good to me.
Would you push your patch to the master branch?
Please don't forget to modify `HTTP2/HPACK`, too.

[2017-05-08 14:05] snoyberg commented on #619
Actually, I'm a bit confused now. @Gothdo is reporting that the patch does appear to work, though it was not working for me. Reviewing the code, it does _not_ look like it should work. I think I'll go ahead with pushing to master, but @Gothdo, if you could check again that it really is working as expected, I'd appreciate it.

[2017-05-08 14:48] snoyberg commented on #619
@kazu-yamamoto Reviewing the HPACK code, I _think_ it's correct already.

[2017-05-08 14:51] Gothdo commented on #619
@snoyberg Yes, it's working as expected.

[2017-05-08 14:52] snoyberg commented on #619
Can you tell me if you're connecting over HTTP 2?

[2017-05-08 14:53] Gothdo commented on #619
@snoyberg No, I'm using HTTP 1.1.

[2017-05-09 03:11] kazu-yamamoto commented on #619
I believe:

- Both @snoyberg and @Gothdo are using HTTP/1.1
- @snoyberg's application calls `sendResponse` with `Server:` included. So, my patch does not delete `Server:`.
- @Gothdo's application calls `sendResponse` without `Server:`. So, my patch does not add an additional `Server:`.

Make sense?

[2017-05-09 03:47] snoyberg commented on #619
Sounds like a good hypothesis.

On Tue, May 9, 2017, 6:11 AM Kazu Yamamoto <notifications@github.com> wrote:

[2017-05-09 04:02] kazu-yamamoto commented on #619
Good.

Uhhm. I think that `Server:` should be deleted if exists. I will check.

[2017-05-09 04:46] kazu-yamamoto commented on #619
@snoyberg Before tackling HTTP/2, I added test case for HTTP/1.1.
To my surprise, your code is still buggy. The patch above should fix the bug.
Please review this patch.
c4000b0e1088b156262691207e63fc0705f880f6 explains the expected behavior.

[2017-05-09 04:55] snoyberg commented on #619
👍

[2017-05-09 06:32] kazu-yamamoto commented on #619
The HTTP/2 part is also done.
Let's close this.

[2017-05-09 06:32] #619 closed

[2017-05-11 03:42] kazu-yamamoto commented on #619
I have released a new version of Warp.

[2017-05-17 13:03] NCrashed opened #620 "Question: 'connection: close' header is ignored?"
Hi!

Warp from `lts-8.13` doesn't close connection when `Connection: close` header is passed.

Code:
[code]

Curl request:
[code]

P.S. This behaviour of warp actually is allowed by RFC, but solving the issue would save a lot of time. The problematic client side is not developed by our team and we can try to fix the issue only on server side.
P.S.S. Thank you for awesome warp!

[2017-05-24 14:46] snoyberg commented on #620
Interesting, I'm seeing different behavior than indicated by curl when I use telnet:

[code]

[2017-05-25 00:36] kazu-yamamoto commented on #620
I cannot reproduce this with `curl`:

[code]

I think that the connection is closed and the prompt is printed.

[2017-05-26 06:33] kazu-yamamoto commented on #592
I decided to maintain https://github.com/vincenthz/hs-tls/issues/167 instead of this issue.

[2017-05-26 06:33] #592 closed

[2017-05-26 20:37] lucasdicioccio commented on #593
I _think_ I can reproduce a similar problem with my nano test case and my experimental client library.

Client: my executable at https://github.com/lucasdicioccio/http2-client

Server:
[code]

If I don't set the timeout  with `Warp.setTimeout 3600` I noticed my client failing around 1min in (the default timeout being `30s`. If I set the timeout to `5s` then my client fails after `10s` seconds. No

[2017-05-30 05:56] lucasdicioccio commented on #593
I think I found a cause for at least my version of the bug.

In `Run.hs` when it is decided to switch to HTTP2 over normal HTTP, ( https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/Run.hs#L334-L346 ), the HTTP side wraps the handle with a `wrappedRecv`. This function is responsible for tickling the timer. The HTTP2 side wraps the handle with `makeReceiveN` only.

@kazu-yama

[2017-05-30 07:14] kazu-yamamoto commented on #615
Let's close.

[2017-05-30 07:14] #615 closed

[2017-05-30 07:50] kazu-yamamoto commented on #593
@lucasdicioccio I think that your observation is right.
Could you create a wrapped version of `makeReceiveN` or something?

[2017-05-30 19:53] lucasdicioccio commented on #593
Ack. I'll give it a shot this week-end.

[2017-05-30 20:40] lucasdicioccio commented on #593
Hi, @ip1981 can you give a try to my patch? It definitely fixed my problem but the patch might need more work (e.g., see my TODO in the current diff 51934a346127f234d69eb861889ec8b2670e2d7b + I've cargo-culted an IORef which is only written-to in HTTP2 but I don't know what it's used for in HTTP).

[2017-06-02 19:10] brent80 opened #626 "New feature request for setting multiple hosts to run warp on"
@snoyberg
I was curious if we could ever get a function like
setHosts  instead of setHost  that takes multiple hosts
example
host: "127.0.0.1", "192.168.1.1", "111.111.111.111"

So you could set the exact NIC's your warp server runs on.
I would like this feature so I could run warp servers on both
local host and a private network, but not a public network.

Feel free to close this if this can't be

[2017-06-03 01:12] kazu-yamamoto commented on #626
Warp uses the `bind` syscall which takes only one address.
It is difficult to change this architecture.
If you want to bind multiple addresses, just run multiple instances of Warp with `forkIO`.

[2017-06-04 00:23] #626 closed

[2017-06-08 02:01] kazu-yamamoto commented on #593
Ping @ip1981

[2017-06-08 05:05] ip1981 commented on #593
It will take some time :)

[2017-06-10 12:19] ip1981 commented on #593
Negative. I'm still getting timeout.

To be 100% I used cabal sandbox, installed warp from the `http2-timer-tickle` branch of  https://github.co/lucasdicioccio/wai, then installed sproxy.

I used 1G file created with `dd if=/dev/zero of=/var/tmp/zero bs=1M count=1024` and `python -m SimpleHTTPServer 1234` as a backend.

Sproxy log:
[code]

Did I miss something?

[2017-06-14 11:02] mithrandi opened #627 "Gzip middleware does not set Vary: Accept-Encoding"
I think this should be set for all responses passing through the middleware, because they might be gzipped if the client supplies `Accept-Encoding: gzip`.

[2017-06-14 11:55] snoyberg commented on #627
Seems reasonable. Want to send a PR?

On Wed, Jun 14, 2017 at 2:02 PM, Tristan Seligmann <notifications@github.com

[2017-06-19 15:18] danclien opened #628 "`wai` allows invalid HTTP headers"
### General
`wai` allows HTTP header names with spaces which breaks Chrome (returns an `ERR_SPDY_PROTOCOL_ERROR` error) when using HTTP/2.

We discovered this while using an AWS Application Load Balancer (ALB) which automatically upgrades the connection between the browser and the ALB to HTTP/2. The connection between the ALB and the server was HTTP/1.1.

### Relevant RFCs

-- https://tools.ietf.o

[2017-06-26 00:52] kazu-yamamoto commented on #628
Which is better?
- just not adding broken headers to responses
- throwing an error if broken headers are found

[2017-06-26 01:51] danclien commented on #628
I prefer failing fast by throwing an error if broken headers are found, but I know that can also break other people's code.

[2017-07-03 03:41] kazu-yamamoto commented on #593
I finally reproduce @ip1981's problem (with @lucasdicioccio's patch).
I will try to fix it.

[2017-07-03 04:42] kazu-yamamoto commented on #593
Here is what I did:

- I created 1073741824-bytes file and configurd `mighty` to serve it
- `nghttp` can download it
- Chrome can download it
- But Firefox stalls when a pop-up window ("save to a file?" stuff) is displayed

What I found is probably a bug of Firefox, not @ip1981's one.

[2017-07-07 07:57] kazu-yamamoto commented on #593
This happens Firefox on macOS only.
I guess that this is because of bugs of `poll()` on Sierra.
`sendAll` in the network package does not work on Sierra in a specific situation.

[2017-07-24 19:18] creichert opened #634 "[autohead] HTTP invalid status line '0'"
@snoyberg I believe you've already fixed this in: https://github.com/yesodweb/wai/issues/346, https://github.com/yesodweb/wai/commit/f1f658ba6aacb77aeec33b122a8ed3f13700a8f0

- autohead code: https://github.com/yesodweb/wai/blob/master/wai-extra/Network/Wai/Middleware/Autohead.hs#L14

I think the `autohead` middleware may have the same problem but I haven't had luck getting an isolated repro.

---

[2017-07-24 19:21] creichert commented on #634
Here's my result in assertible (not shareable yet):

![](https://user-images.githubusercontent.com/526560/28540502-3b5c8806-707b-11e7-80df-fc820d59edc6.png)

[2017-07-25 04:52] mschristiansen opened #635 "Broken app example in wai-extra"
The [example](https://github.com/yesodweb/wai/blob/master/wai-extra/app/Main.hs) in `wai-extra` needs an update. I was looking at doing it and got some advice / guidelines from @snoyberg in #631 (see below), since it is also not in the cabal file.

It isn't an urgent issue and I'm happy self-assign and fix once I'm a bit ahead on my current project.

[2017-07-25 10:08] saurabhnanda opened #636 "Detailed logging of incoming JSON, file meta-data (in case of file uploads), etc in production"
We were trying to implement our own middleware for detailed request/response logging and realised that the `requestBody` function does not return the entire body. It  only returns one chunk at a time (btw, it should probably be renamed to `requestBodyNextChunk` or something). Digging around we found https://github.com/yesodweb/wai/blob/bbab0fa2f5c251b3b8c40611f1643fcaa49fe7f2/wai-extra/Network/Wai

[2017-07-25 10:09] saurabhnanda commented on #636
Also, has anyone benchmarked the current approach? How much does it slow down the application?

[2017-07-26 13:52] snoyberg commented on #634
FWIW I tried the following and saw nothing unusual in the output. Perhaps it's an interaction with some other request header, like GZIP?

[code]

[2017-07-27 17:31] creichert commented on #634
Thanks for looking into this. It's definitely not a deterministic issue. It's frustrating but I am certain it's only happening on `HEAD` requests.

I'm going to close this issue for now until I have more details or a repro.

[2017-07-27 17:31] #634 closed

[2017-07-27 19:43] creichert commented on #634
FTR, here's how often we are seeing it (and every request is a HEAD request):

![](https://user-images.githubusercontent.com/526560/28688721-755a1ee2-72d8-11e7-99a5-c75c9b1250f7.png)

---

I actually removed the `gzip` middleware from the app recently because it was being gzipped by our nginx proxy.

**middlewares we are using:**
- request logging middleware
- autohead
- wai-session (middleware)
-

[2017-07-28 09:25] saurabhnanda commented on #636
Any ideas around this?

[2017-07-28 10:03] snoyberg commented on #636
The current approach is intentional, and is documented in the `requestBody` field itself. Including the entire body would break streaming. There is no intention right now to break backwards compatibility for any renamings.

[2017-08-01 01:19] kazu-yamamoto opened #637 "travis ci"
@snoyberg Do you understand why this fails?
Only this job fails at this moment.
"Restarting job" always results in the same.

https://travis-ci.org/yesodweb/wai/jobs/258386862

[2017-08-01 03:25] snoyberg commented on #637
It's an out of memory condition for building the Cabal library. I've pushed a commit to force Cabal to be built on its own instead of in parallel with other packages.

[2017-08-01 04:44] kazu-yamamoto commented on #637
Great! Thanks.

[2017-08-01 04:44] #637 closed

[2017-08-08 05:25] #635 closed

[2017-08-10 21:36] lucasdicioccio opened #639 "Unwanted HTTP2 GOAWAY when receiving late WINDOW_UPDATE"
It's me again. Found some time continuing my http2 client.
While implementing flow-control I've realized there's a race-condition leading to unwanted GOWAYs.

The race-condition is triggered as follows:

[code]

The GOAWAY message is: `(FrameHeader {payloadLength = 51, flags = 0, streamId = 0},GoAwayFrame 127 ProtocolError "this frame is not allowed in an idel stream")` .

The problem occurs in `w

[2017-08-14 16:18] osa1 opened #640 "Trivial server throws exception when run with warp-tls (but not with warp)"
I have a trivial warp (and warp-tls) server that just responds with 200 to all
requests: Here's the version that serves over HTTP (compile and run with
lts-9.0):

[code]

I can test this with curl:

[code]

This version works fine. However, if I comment out the `runSettings` line and
enable the line before that (`runTLS` line), after each request I get this line
printed in the server:

(test with

[2017-08-14 16:30] osa1 commented on #640
Not sure if this is helpful, but this exception is throws while trying to write these bytes:

[code]

[2017-08-15 06:40] osa1 commented on #640
This seems to be the stack trace when the socket error is turned into `ConnectionClosedByPeer`:

[code]

[2017-08-15 07:00] osa1 commented on #640
This seems to be related with the teardown process of tls: https://tools.ietf.org/html/rfc5246#page-29

Relevant parts:

If I'm understanding this correctly, each side needs to send close_notify but they shouldn't wait to receive it. So in our case, it's fine if we can't send close_notify because other side of the connection is closed -- that's completely legal according to the RFC.

Should I send

[2017-08-15 20:41] ygale opened #643 "wai-app-static returns no data in HTTP responses on WSL"
On Ubuntu 16.04 over WSL, `wai-app-static` applications close the HTTP connection without ever sending any data (no headers, no body) on every HTTP request.

Reproduces with version 3.1.6.1 (via lts-8.21, hence `wai` 3.2.1.1) using the following "Hello World" `wai-app-static` program. The program works fine on Ubuntu 16.04 over the regular Linux kernel and on MSYS2-based GHC.

    {-# LANGUAGE Ove

[2017-08-16 04:20] snoyberg commented on #643
Can you test if it's actually just a problem with Warp's file handling code by using `responseFile`?

[2017-08-16 18:47] ygale commented on #643
Indeed. Here is my new minimal reproduction:

    module Main where

    import Network.Wai (Application, responseFile)
    import Network.Wai.Handler.Warp (runEnv)
    import Network.HTTP.Types.Status (status200)

    main = runEnv 3000 fileApp

    fileApp :: Application
    fileApp _req respond = respond $
      responseFile status200 [] "index.html" Nothing

This is probably a combination of t

[2017-08-17 06:40] penteract opened #644 "Warp ignores status code in ResponseFile"
When an application passes a responseFile to the continuation, the Warp server ignores the status code sent with it (sending 200 along with the data if the file is present in the filesystem) and does not appear to provide a setting for changing this behaviour. This is a problem when trying to write a custom 404 response using a file.

Minimal example:
[code]

[2017-08-17 10:08] ygale commented on #643
Verified that the problem does not reproduce when warp is compiled with `allow-sendfilefd: false`.

[2017-08-20 06:01] #640 closed

[2017-08-20 06:43] snoyberg commented on #643
I'm not really familiar with the sendfilefd code, we'll have to wait for @kazu-yamamoto. I don't think he'll be available until at least next month.

[2017-08-20 07:17] snoyberg commented on #644
I've pushed a commit to a separate branch 661257ff6eaad454b83572604013f4998d5478a5 on 644-incorrect-file-status-code) that adds a test demonstrating the problem. I'll try poking at the code a bit more, but I'm not that familiar with the codepaths going on here. @kazu-yamamoto when you're back in action, would you mind having a look at this?

[2017-08-20 13:41] ygale commented on #643
@snoyberg First of all I again confirm that it's sendfilefd. My confusion before had to do with a mistake I made with setting flags. Sorry about that.

Anyway, it seems like at least a temporary fix could be simply to turn off sendfilefd for now, as we do for freebsd. Although I would love to work with @kazu-yamamoto and find out why it isn't working here and fix it. This kernel is by design suppo

[2017-08-20 13:43] snoyberg commented on #643
That's what I was afraid of, that we don't have any kind of short term fix.
I don't have access to a WSL installation to test on right now, but if you
can figure out a way to detect it with cabal I'll be happy to change the
flags around.

On Sun, Aug 20, 2017, 4:41 PM ygale <notifications@github.com> wrote:

[2017-08-20 13:55] ygale commented on #643
I don't have any immediate ideas. If you want to poke around on my machine, I'd be happy to give you an SSH tunnel, contact me off-line. (Wow, things sure have changed on Windows, haven't they? :))

[2017-09-04 18:47] simonmichael opened #646 "wai-handler-launch needs updating on hackage/stackage"
wai-handler-launch is not in recent stackage, keeping eg hledger-web out as well. Perhaps a hackage release including https://github.com/yesodweb/wai/pull/645 will resolve it.

[2017-09-05 05:17] snoyberg commented on #646
Thanks for the ping, new version released.

[2017-09-05 05:17] #646 closed

[2017-09-05 15:03] simonmichael commented on #646
Thanks Michael.

[2017-09-05 15:05] snoyberg commented on #646
No problem. BTW, I forgot to ask earlier: you interested in being added as a maintainer here on Github and on Hackage?

[2017-09-05 15:13] simonmichael commented on #646
Thanks, but I must decline for now.

[2017-09-05 15:13] snoyberg commented on #646
No problem

[2017-09-06 03:20] kazu-yamamoto commented on #644
This is intentional. Doc from https://hackage.haskell.org/package/warp-3.2.13/docs/Network-Wai-Handler-Warp-Internal.html#v:sendResponse

You should specify `Just` to `responseFile` to use your status code.

[2017-09-06 03:36] kazu-yamamoto commented on #643
Sorry for keeping you waiting for a long time.

@ygale I cannot interpret this. Would you put either OK (succeed to send) or NG (fail to send) to the followings?

- Warp 3.2.11, allow-sendfilefd: false
- Warp 3.2.11, allow-sendfilefd: true
- Warp 3.2.12, allow-sendfilefd: false
- Warp 3.2.12, allow-sendfilefd: true
- Warp 3.2.13, allow-sendfilefd: false
- Warp 3.2.13, allow-sendfilefd: true
- Warp

[2017-09-06 05:48] kazu-yamamoto commented on #639
Sorry for keeping you waiting. I'm back.
Thank you for your good catch.
I support your approach.
Please consider following two items and send us a PR:

- Please add comments about lag, e.g. its purpose.
- Please also ignore `RST_STREAM` if possible.

[2017-09-08 19:30] simonmichael commented on #646
wai-handler-launch [seems](https://www.stackage.org/package/wai-handler-launch) to have dropped out of stackage around 7/25, I haven't figured out why.

I want to re-enable hledger-web, which requires it, and I'm not sure if the stackage builder will automatically pull it from hackage.

Should wai-handler-launch be added to build-constraints.yaml ?

[2017-09-09 17:00] snoyberg commented on #646
It's not necessary to add it in, dependencies are automatically pulled in.
If you'd like to add it manually to build-constraints.yaml, you can, but
just added hledger-web will do the same thing.

On Fri, Sep 8, 2017 at 10:30 PM, Simon Michael <notifications@github.com>
wrote:

[2017-09-09 17:16] simonmichael commented on #646
I see, thanks for the help!

[2017-09-10 22:01] lucasdicioccio commented on #639
Thanks for the reply, don't worry for the delay :-). I'll probably have some time next Week-End to work on a PR.
Tha said, I don't feel like my proposed workaround is a proper fix and I'm afraid it would make finding this issue much harder => are you OK with keeping the issue open until we design and implement a proper fix?

[2017-09-11 13:16] roberth commented on #610
The ping thread workaround only solves this problem partially. The workaround requires that pings are sent with the same interval as would be required for an old fashioned 'slow HTTP response' approach.
A versatile websockets server implementation needs to be able to handle a longer timeout for websockets than for normal requests. On mobile, for example, you don't want to drain your users' batteri

[2017-09-27 19:39] penteract commented on #644
Thanks

[2017-09-27 19:39] #644 closed

[2017-09-30 08:50] michalrus opened #647 "Payload Too Large in WAI is 500 instead of 413"
Would it be possible here:

https://github.com/yesodweb/wai/blob/a1cb17ff79887e0c33be7fb975b5a0f559e2cf45/wai-extra/Network/Wai/Parse.hs#L634

… to throw something that’d turn into a standard `413 Payload Too Large` response instead of a scary `500 Internal Server Error` with `Maximum size exceeded` logged only to app’s stdout/err (by default)?

This causes https://github.com/haskell-servant/serva

[2017-10-02 06:57] snoyberg commented on #647
I don't see a problem with such a change, what do you think @kazu-yamamoto?

@michalrus You interested in sending a PR?

[2017-10-03 00:24] kazu-yamamoto commented on #647
I think that we should change this to 413.

[2017-10-03 09:35] michalrus commented on #647
Great to hear that you both agree! I’ll take a look at how similar cases are handled over the weekend. If anyone wants to do it earlier, please, do. =)

Thank you!

[2017-10-11 14:13] osa1 opened #648 "Distinguishing exceptions caught in accept loop vs. in handlers?"
I'm trying to debug a warp server that somehow get stuck and stop accepting new connections (but existing websocket handlers keep running). I'll now add logging with `setOnException` but looking at the warp source code it seems like there's no way to distinguish errors caught in handlers (in `Run.hs:fork`) and in the accept loop (`Run.hs:acceptNewConnection`). Because I'm only interested in the la

[2017-10-15 11:52] snoyberg commented on #648
Are you asking how to modify the source code on a custom fork of the repo to perform debugging, or to make a change to the official repo?

[2017-10-20 09:28] horus opened #649 "Possible space leak after 3.2.11.2"
The symptom can be reproduce by compiling & running the following code with Warp >= 3.2.11.2:

[code]

A simple keep-alive client will do (I don't think clients that close the connection can make this happen):

[code]

Monitor the app using top(1) for awhile.

If compiled with 3.2.11.1, the RES column will be more or less stable, otherwise it will grow.

[code]
I encountered this issue when runnin

[2017-10-24 21:33] Superpat opened #650 "TLS Handshake error with self-signed certificate"
I'm using runTLS with default settings and a certificate generated through the instructions on hackage, but I get a handshake failure every time I make a request to my api from my client.

`HandshakeFailed (Error_Misc "user error (unexpected type received. expecting handshake and got: Alert [(AlertLevel_Fatal,UnknownCa)])")`

[code]

I generated my certificate with:
[code]

The client is an elm ap

[2017-10-25 12:40] paul-rouse commented on #650
Is your client configured to accept a self-signed certificate?  It looks to me as if the client is the side which is complaining.

[2017-10-25 13:42] Superpat commented on #650
Yeah I just figured that out this morning. I can accept the cert in my browser and a direct call to my api will work, as will a call with curl. So it's definitly on the elm  / webpack side.

Thanks anyways!

[2017-10-25 13:42] #650 closed

[2017-10-30 06:08] Daniel-Diaz opened #651 "Connection Counter"
Hello.

In an application I wanted to have available the number of open connections to the server. So I used `setOnOpen` and `setOnClose` together with a variable. This worked well.

For some reason, I started reading warp's code, and realized that there is already a counter set up in those same places, but this counter is hidden from the user. I know keeping an additional counter is not a big dea

[2017-11-01 08:09] snoyberg commented on #651
I'd defer to @kazu-yamamoto on this one. My gut feeling is that this is an internal structure that we wouldn't really want to expose, but I don't have a strong feeling here.

[2017-11-01 12:47] kazu-yamamoto commented on #651
Generally, I don't mind exporting `Counter`.

I don't understand this. So, please show me your patch.

[2017-11-01 15:35] jbransen opened #652 "wai-extra: srequest doesn't properly set requestBodyLength"
Consider the following contrived example:

[code]
The code will print `KnownLength 0`, even though the request body has been set to "test".

[2017-11-03 10:43] snoyberg commented on #652
Would you be interested in sending a PR to address this?

[2017-11-12 04:45] ghost opened #655 "Possible to expose some of the internal types from HTTP2 implementation?"
Hi,

First, thank you for all your work on the Warp and Wai software. I recently read the paper here:
http://www.mew.org/~kazu/doc/paper/http2-haskell-2016.pdf and you guys have put a lot of work in to writing a performant server.

**The point:**
I want to use some of the code and types from the HTTP2 code handling in the Warp server here, but it isn't currently exposed:

https://github.com/yesodw

[2017-11-13 13:17] alexanderkjeldaas opened #656 "fyi, zero-copy socket operations available in linux 4.14"
https://lwn.net/Articles/726917/

[2017-11-14 05:20] kazu-yamamoto commented on #656
Thank you!
Very interesting.

[2017-11-14 08:41] osa1 commented on #648
Sorry for the late response,

I managed to make some progress with the current exception handler callbacks of warp. One of the things that I still need to do but I can't (without modifying warp) is to log remote host address on every `accept()`. For this I currently need to modify `warp` and `warp-tls`, to add something like:

[code]

where `s` is the accepted socket. (`showSockAddr` is a custom f

[2017-11-14 08:41] #648 closed

[2017-11-14 09:56] snoyberg commented on #648
If this would be an extra setting available, I don't see a problem.

[2017-11-14 12:37] kazu-yamamoto commented on #648
But we should make consensus about a new setting name.

[2017-11-21 11:58] #652 closed

[2017-12-12 23:44] flip111 commented on #246
wai is quite low in all benchmarks, often getting out performed by ruby, python, js, php solutions. Is this inherit to haskell itself ?

[2017-12-15 07:45] snoyberg commented on #246
Probably not. I gave up trying to get those benchmarks to perform correctly after wasting weeks trying to get a change merged in to use the correct compiler version. I haven't bothered fixing or even looking at the benchmarks since then. The other thing that has historically always hurt the benchmarks is that our database libraries are not performant, but that's also not inherent to Haskell.

[2017-12-15 18:46] flip111 commented on #246
I believe stack can be used now. Could just try make it stack based on the latest lts. I think there are a few benchmarks that don't involve the database such as json serialization and plain-text.

[2017-12-16 16:32] snoyberg commented on #246
If you'd like to work on getting that changed, I'd support it, but I don't
have time to work on such a PR myself.

On Fri, Dec 15, 2017, 9:46 PM flip111 <notifications@github.com> wrote:

[2017-12-19 23:03] flip111 commented on #246
Ok it wasn't much work i created a PR here https://github.com/TechEmpower/FrameworkBenchmarks/pull/3149

I did some ghc profiling on one of my own projects once and made a nice html with profiteur. I could do that too for wai. It will obviously slow down the benchmarks but give an idea where most of the slowdown happens. I don't see myself optimizing wai at this point but i can probably generate t

[2017-12-20 04:50] snoyberg commented on #246
I'd certainly be interested in any benchmarking information you'd like to share. But a three year old closed issue may not be the best place to share it :). If you notice regressions, can you open a new issue?

[2017-12-20 20:09] flip111 commented on #246
@snoyberg since i was not able to run wai with lts-6.3 i don't know if there was a performance regression, we will have to wait till the next TFB benchmark i guess. Would you like that i open an issue for the trace in case i'm able to collect one?

[2017-12-21 10:23] snoyberg commented on #246
I'm not sure what you mean by the trace.

On Wed, Dec 20, 2017 at 10:09 PM, flip111 <notifications@github.com> wrote:

[2017-12-21 10:25] flip111 commented on #246
@snoyberg i meant making a ghc profiling file and visualizing it with profiteur https://github.com/jaspervdj/profiteur#profiteur

[2017-12-21 16:56] snoyberg commented on #246
Not sure how to answer, but: if you see evidence of a performance issue in
Warp, yes, please open an issue.

On Thu, Dec 21, 2017 at 12:25 PM, flip111 <notifications@github.com> wrote:

[2017-12-27 02:00] flip111 opened #663 "Performance profile"
I tried to profile wai with [this source code](https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/Haskell/wai/bench/wai.hs). Run with lts-10.0 and ghc 8.2.2 (i used system ghc).

This is the profile file i got: [wai-test.txt](https://github.com/yesodweb/wai/files/1588152/wai-test.txt) (renamed from `.prof`) and generate html [wai-test.prof.html.zip](https://github.com/yesodw

[2017-12-27 22:35] koterpillar opened #664 "Warp: memory leak with lots of incoming requests"
A simple Warp application will consume more and more memory if a large amount of requests is sent, and eventually run out of open files.

## Steps to reproduce:

Run this Warp application:

[code]

Note the memory consumption of the executable (47 MB on my machine).

Overload it with requests (requires [vegeta](https://github.com/tsenart/vegeta/)):

[code]

## Expected result:

Regardless of the e

[2017-12-27 23:32] koterpillar commented on #664
I have created a demo repository at https://github.com/koterpillar/warpleak/tree/1d12429cdb0031b09e723101cde05c16d2626ec2.

If I roll back the package versions to:

[code]

The memory usage is roughly stable at 400 MB even after multiple runs, however, the message `Network.Socket.accept: resource exhausted (Too many open files)` is repeated multiple times per run.

[2017-12-28 03:01] kazu-yamamoto commented on #664
Does this occur even with Warp 3.2?
Warp 3.2.9 fixed a space leak. #586

[2017-12-28 03:11] koterpillar commented on #664
Yes, this occurs on 3.2.13. Unlike #586, I'm not using streaming at all.

[2017-12-28 13:36] kazu-yamamoto commented on #664
This may be relating to #649.

[2017-12-28 13:38] kazu-yamamoto commented on #664
Sorry but my winter vacation has just started. I will get back to this issue after 10th Jan.

[2018-01-10 05:44] kazu-yamamoto commented on #649
@snoyberg We have only https://github.com/yesodweb/wai/issues/618 between 3.2.11.1 and 3.2.11.2.
I guess that this patch made Warp to not release connections.
So, if Warp receives a lot of connections at the same time, connections look like leaking.
Would you give a look?

[2018-01-10 05:52] kazu-yamamoto commented on #664
I guess your listen queue is too small. It's 128 by default on macOS. What's happens if you do:

[code]

[2018-01-10 16:57] snoyberg commented on #649
I'll look into it when I'm back home next week, currently in an extended
travel mode.

On Tue, Jan 9, 2018, 9:44 PM Kazu Yamamoto <notifications@github.com> wrote:

[2018-01-11 07:05] kazu-yamamoto commented on #655
I'm very sorry for this really late response.
If you wish, please add what you need to the `Internal` module and give us a pull request.

[2018-01-15 01:28] kazu-yamamoto opened #665 "travis CI"
Recently, building & testing take too much time resulting in failures on travis CI.
Should we remove something?

https://travis-ci.org/yesodweb/wai/builds/327988263?utm_source=github_status&utm_medium=notification

[2018-01-15 03:34] snoyberg commented on #665
I've just pushed a commit which should hopefully address this.

[2018-01-15 04:46] kazu-yamamoto commented on #665
Very fast but it seems to me that no "cabal test" is running. Is it your intention?

[2018-01-15 06:44] snoyberg commented on #665
Yes, I can't figure out a way to make that work. Stack is already running
its test suites.

On Mon, Jan 15, 2018 at 6:46 AM, Kazu Yamamoto <notifications@github.com>
wrote:

[2018-01-15 07:07] kazu-yamamoto commented on #665
OK. That is dependency checking only. I understand.

[2018-01-15 07:07] #665 closed

[2018-01-17 19:31] gzh commented on #648
My apologies @osa1, may I ask whether have you found out what was the reason for initial problem? ("a warp server .. get stuck and stop accepting new connections (but existing websocket handlers keep running")?

Seems like I ran into similar behavior of Warp in my project (occasionally something happens, so that HTTP server keeps serving on existing connections, but does not accept any new connect

[2018-01-17 19:50] snoyberg commented on #649
I wasn't able to reliably reproduce the error, but I think I see what the issue is: the exception handlers are stacking up. I've rewritten the code to hoist the exception handler out of the loop and restore the functions to being proper tail calls. Can you try out #667?

[2018-01-17 23:22] koterpillar commented on #664
Please note that my problem isn't the message but the memory leak. I still get the memory leak with increased `somaxconn`.

[2018-01-18 02:38] kazu-yamamoto commented on #664
@koterpillar Would you try #667?

[2018-01-18 06:29] osa1 commented on #648
@gzh in our case it turns out another library was leaking file descriptors so the process was running out of file descriptors and `accept()` was returning an error. You can `strace` your process to see if `accept()` is failing, and if so, it may be that you're also running out of file descriptors (maybe because some other code is leaky).

[2018-01-18 12:15] gzh commented on #648
@osa1 Thank you for the prompt reply!
File descriptor leak is probably not my case, because I'm watching for number of FDs via /proc - it's OK, and I also see other threads keep on successfully creating and opening other sockets in that process after Warp has failed. In fact there's even another instance of Warp on another port in the same process, and that other instance of Warp keeps working nor

[2018-01-19 03:32] horus commented on #649
@snoyberg I think it solved this issue.

I've recompiled my testcase with Warp 3.2.15. The resulting graph is attached below. No crazy climbing lines any more. :-)

![3 2 15](https://user-images.githubusercontent.com/92146/35133536-aeea1fd2-fd0b-11e7-8703-626c92e93742.png)

Thank you very much for your time!

[2018-01-19 04:43] snoyberg commented on #649
Awesome, thanks!

@kazu-yamamoto want me to cut a release, or did you want to?

[2018-01-19 07:45] kazu-yamamoto opened #668 "The "sanitizes header values" test case"
I got `http-client` back for Warp testing since it does not rely on crypto stuff.
Unfortunately, the "sanitizes header values" test case fails because the behavior of `http-client` is different from that of `HTTP`.

@snoyberg Do you know how to fix this?

[2018-01-19 09:08] snoyberg commented on #668
I think it's a limitation of http-client, it doesn't support multiline headers.

[2018-01-19 10:13] kazu-yamamoto commented on #649
@snoyberg I will review this, too. After approval and merging, you should release by yourself. :-)

[2018-01-19 10:29] kazu-yamamoto commented on #668
Thanks. I commented out it.

[2018-01-19 10:29] #668 closed

[2018-01-20 23:56] nh2 opened #669 "Long-time renaming request: Make clear in the name that requestBody returns just one chunk"
My biggest gripe with `wai` is `requestBody :: Request -> IO ByteString`.

Even though the docs say that it gets only the next chunk, not the full request body, this is just too easy to forget.

[code]

is too easily written, it compiles, it looks correct, it works in most of the cases, but it is wrong: when you get over 16 KiB (16384 Bytes), stuff starts breaking.

It would be nice if over coming

[2018-01-25 05:13] kazu-yamamoto commented on #664
@koterpillar Would you try Warp v3.2.15?

[2018-01-25 05:36] koterpillar commented on #664
I don't see the rapid memory increase with v3.2.15, thanks!

[2018-01-25 05:36] #664 closed

[2018-01-25 16:07] MaxGabriel commented on #669
I just saw someone run into this in the #yesod channel on the FP Slack:

[code]

[2018-01-31 00:12] lancelet opened #671 "Concurrent requests seem to break testWithApplication"
When Warp is sent concurrent requests in `testWithApplication`, it often fails with a timeout.

Test code to replicate the problem is included below (as a `stack` script). For me, this test *very occasionally* succeeds. However, the vast majority of the time, it fails.

[code]

Example of the observed failure:
[code]

Expected output:
[code]

Relevant system information (some is not relevant becau

[2018-01-31 05:56] snoyberg commented on #671
I just pushed a commit to master to ignore some exception in `testWithApplication`, see e8aa56ed2a6d47492d139c830d50a69878f836f7. Can you confirm that this addresses the behavior you saw?

[2018-02-04 23:17] lancelet commented on #671
Unfortunately I'm still seeing the same thing.

I've created a repo which contains the test code and points to the latest commit:
https://github.com/lancelet/warp-problem
(Using a git submodule.)

Is this perhaps macOS-specific, or are you also able to replicate the problem with the above repo?

[2018-02-05 21:42] flip111 commented on #663
flamegraph: http://svgur.com/s/5NH

[2018-02-07 15:17] snoyberg commented on #671
OK, pretty sure I got it with c548f558. Turns out that the backlog was being set to 1. Can you try out master now?

[2018-02-14 17:37] nh2 opened #673 "Investigate how warp handles HTTP/2 GOAWAY"
Hi @kazu-yamamoto,

yesterday I found a problem in nginx's implementation of the HTTP/2 `GOAWAY` feature. It is very easy to get that feature wrong. I have written up and linked the details on https://trac.nginx.org/nginx/ticket/1250#comment:4.

Would you be able to tell me if warp handles this correctly currently, or if that's not clear yet, how it implements sending `GOAWAY` or where the bit tha

[2018-02-15 00:55] lancelet commented on #671
@snoyberg thanks for the fix. I can confirm that I'm able to run my example repeatedly without problems. 😄

[2018-02-15 00:55] #671 closed

[2018-02-15 01:30] kazu-yamamoto commented on #673
This may be relating to https://github.com/yesodweb/yesod/issues/1479

[2018-02-15 01:33] kazu-yamamoto commented on #673
Warp does not make use of `shutdown` at this moment. So, the same thing would happen in many cases including sending `GOAWAY`.

[2018-02-15 03:44] snoyberg commented on #671
Cool, new version released to Hackage.

On Thu, Feb 15, 2018 at 2:55 AM, Jonathan Merritt <notifications@github.com>
wrote:

[2018-02-23 20:55] nh2 commented on #673
@kazu-yamamoto Yes, it's very likely the issue you see in the other bug.

[2018-02-26 02:46] kazu-yamamoto commented on #673
I think I will be able to take time to consider this in March.

[2018-02-26 15:28] BlakeRain commented on #597
I've recently encountered this issue in one of our applications. It seems to be only occurring on Chrome and Safari, and only seems to happen when the POST request has no content.

I've posted an example Yesod application here: https://gist.github.com/BlakeRain/9ce990e5dbb1546f245a92a4bef50a08

The example shows a simple form that submits no fields. When the POST request is made, the handler is no

[2018-02-27 20:54] ryantrinkle commented on #649
I'm still seeing this issue reliably with warp-3.2.17.  Here's my test setup:

- Same main.hs as given above
- Run with `+RTS -S`
- Hit the running server with `ab -c 1 -n 100000 http://localhost:8081/`

*Desired:* column 3 of the output ("Live bytes") should be approximately constant.
*Actual:* "Live bytes" grows approximately linearly with each request

Note: Eventually, the amount of live bytes

[2018-02-27 20:56] ryantrinkle commented on #649
Another note: in order to see this leaked memory in the heap profile, I had to run with `+RTS -xt`.  Otherwise, it would appear in `-S`'s output, but not in `-hc`'s output.

[2018-02-27 20:56] ryantrinkle commented on #649
@kazu-yamamoto @snoyberg Let me know if you'd prefer I open a new issue, since this seems like it may have a different underlying cause from the previous one.

[2018-03-02 07:54] kazu-yamamoto opened #675 "Builder"
I guess that it's time to switch `Builder` of `blaze-builder` to that of `bytestring`.
We need to research the impact of this change.

[2018-03-02 13:38] snoyberg commented on #649
Doesn't look like a leak to me. It appears that the slowloris protection is keeping track of the connections that have been opened and then flushing that information each time it does a purge.

[2018-03-02 23:04] huseyinyilmaz opened #676 "Space leak on wai or warp."
Here is the original discussion:

https://www.reddit.com/r/haskell/comments/81cbmt/help_for_a_space_leak/

I made this simple wai app:
https://github.com/huseyinyilmaz/spock-memmory-usage-test/blob/master/waitest/library/Example.hs

I have build and run the server with this command:

[code]

Then, I started to the send requests to the server:

[code]

I saw that memory usage is keep going up on th

[2018-03-02 23:24] ryantrinkle commented on #649
@snoyberg Thanks for taking a look!  That makes sense.  It looks like `ab` wasn't using Keep-Alive (and I couldn't get it to use it properly, even with `-k`), and when I manually send a stream of requests on a single connection, there's no increase in memory usage.

[2018-03-05 06:18] huseyinyilmaz commented on #676
I think I found the problem with the help of /u/tom-md on reddit.
It was caused by warp version 3.2.13 having a space leak. So it turns out that problem was fixed in version 3.2.17. So, for my personal problem I can just use nightly build to get rid of the problem.

I will keep this issue open because LTS version 10.7 and 10.8 is still using warp 3.2.13. I thought that warp version on those versio

[2018-03-05 06:29] kazu-yamamoto commented on #676
@huseyinyilmaz Thank you for your report!
@snoyberg Do you have ideas to fix this issue in the LTS versions?

[2018-03-05 08:06] snoyberg commented on #676
I've opened up https://github.com/fpco/lts-haskell/issues/101 to address this.

[2018-03-06 00:42] kazu-yamamoto commented on #676
@snoyberg Thank you!
I would close this in favor of fpco/lts-haskell#101.

[2018-03-06 10:35] snoyberg commented on #676
Agreed.

[2018-03-06 10:35] #676 closed

[2018-03-07 12:23] jkarni opened #678 "New version of streaming-commons breaks warp 3.2.13"
When running a project on GHC 7.8, installing `warp` results in the following error:

[code]

There's a minimal reproduction [here](https://github.com/jkarni/repro/tree/master/warp).

Later versions of `warp` have higher lower bounds on base, so they don't get picked when using 7.8.4.

[2018-03-07 12:34] kazu-yamamoto commented on #678
Unfortunately, we don't support GHC 7.8 anymore according to the rule of three major GHC versions.

[2018-03-07 12:42] jkarni commented on #678
Hm, would it be possible to simply edit cabal file to put an upper bound on streaming-commons? It seems like a very quick fix, and it'd be unfortunate to have projects not work anymore because of the lack of such a bound.

[2018-03-07 12:55] phadej commented on #678
@kazu-yamamoto Note: the issue is about past (not latest) release of `warp`.
3.2.13 was the last release supporting GHC-7.8.

As a Hackage Trustee I'll soon make revisions for old `warp` releases. See https://github.com/haskell-infra/hackage-trustees/issues/137

[2018-03-07 13:25] reite opened #679 "warp-tls + wai-cors fails in Edge and Safari when Http2 is enabled."
When using `warp-tls` together with `wai-cors` a requests using cors will never finish (stuck at pending) in Edge and Safari. In Chrome and Firefox it works as expected. When I disable http2 in warp settings it works.

I have created a minimal example that shows the error. The server code is here:

https://github.com/reite/test-warp-tls/tree/master/server

The server is running and the result can

[2018-03-07 13:45] kazu-yamamoto commented on #678
So, should we bring this to `streaming-commons`?

[2018-03-07 17:57] jkarni commented on #678
Why bring it there? Isn't this just an issue with a missing upper bound in warp?

[2018-03-07 19:46] phadej commented on #678
I made revisions, `warp` is again green: https://matrix.hackage.haskell.org/package/warp

[2018-03-08 00:58] chris-martin opened #680 "Feature request: Setting to disable Last-Modified for ResponseFile"
I'm serving files from a directory in which the files don't have timestamps (they're in `/nix/store`), and so Warp's automatic addition of the `Last-Modified` header is wreaking havoc with the browser's caching. Could there be something in `Settings` to disable this feature?

[2018-03-08 08:07] jkarni commented on #678
Yup, thanks a lot!

[2018-03-08 08:07] #678 closed

[2018-03-10 20:37] DanBurton opened #681 "warp-3.2.18 benchmark build failure"
As seen on the Stackage build server:

[code]

How I reproduced locally:

[code]

[2018-03-11 17:41] #681 closed

[2018-03-11 17:41] snoyberg commented on #681
Thanks for the report @DanBurton, I'm uploading a new version with a fix.

[2018-03-11 20:59] mgmeier commented on #675
After conferring with @snoyberg via mail, that change looks rather painless since
1. `blaze-builder` re-exports `bytestring`'s `Builder` type these days
2. `blaze-bilder`'s chunked (HTTP) encoding isn't used, just API calls that `bytestring` provides as well.

Dropping `blaze-builder` should therefore be transparent to consumers of all the packages in this repo. Since time is an issue here (`blaze

[2018-03-11 22:29] mgmeier commented on #675
a heads up: I had to open a PR here kazu-yamamoto/logger#159 to remove the (unused) `blaze-builder` dependency from `wai-logger`. So without a published new version of that package, these here depending on it won't compile.

[2018-03-12 03:32] kazu-yamamoto commented on #675
@mgmeier I completely agree with you.
Some days ago, I tried to remove `blaze-builder` for all packages relating to `wai`. But it appeared that a lot of things should done and I gave up.

[2018-03-12 09:38] mgmeier commented on #675
@kazu-yamamoto could you reopen this ticket for discussion? There are still some cases where I need input on how to proceed (esp. `warp` package). Or do you prefer to discuss via e-mail?

[2018-03-12 09:47] mgmeier commented on #675
FYI: For wai-websockets, I'm waiting on jaspervdj/websockets#170 ("Remove dependency on `blaze-builder`") to merged and released to depend on the latest `websockets` package. I'll create another PR for that.

[2018-03-12 22:29] kazu-yamamoto commented on #675
I might misunderstand your intention. Sorry.
I would love to continue the discussion here.

[2018-03-13 11:45] anacrolix opened #684 "pauseTimeout doesn't appear to work"
`pauseTimeout` doesn't seem to have the intended effect. [Here's](https://github.com/anacrolix/transcoder/blob/master/Main.hs#L342) where I'm using it for context. I wanted to check my assumptions are valid before trying to create a smaller test case.

The request receives lines of the form `a=b` from a long running process, approximately 10/s. With the default timeout of 30s, after 30s the reques

[2018-03-16 08:51] anacrolix commented on #196
I'm not sure what the state of this issue is. Was something implemented for this purpose?

[2018-03-16 10:34] mgmeier commented on #675
@sjakobi and me did everything in the same PR after all, it's been merged, so I think this issue can be closed. Thank you @kazu-yamamoto for your time and especially for your quick responses.

[2018-03-16 12:24] kazu-yamamoto commented on #675
Thanks!

[2018-03-16 12:24] #675 closed

[2018-03-23 05:07] kazu-yamamoto opened #685 "Releasing packages for GHC 8.4"
@snoyberg I think we should release some packages to save GHC 8.4 users from `blaze-builder`.

[2018-03-23 05:10] snoyberg commented on #685
They should all be released already.

On Fri, Mar 23, 2018, 8:07 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2018-03-23 05:16] kazu-yamamoto commented on #685
Sorry.
I should have done `git fetch upstream` to get tags before creating this issue.
Thank you for your work!

[2018-03-23 05:16] #685 closed

[2018-03-23 05:21] snoyberg commented on #685
No problem, thank you for the review and merge on the changes.

On Fri, Mar 23, 2018, 8:16 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2018-03-24 17:44] simonmichael opened #686 "wai-handler-launch needs a release for latest stackage nightly"
wai-handler-launch-3.0.2.3 fails to build with nightly-2018-03-23 (eg) due to a too loose upper bound on streaming-commons. This has been fixed in git, could it be released ? This will allow hledger-web back into stackage.

[2018-03-25 03:13] seagreen commented on #527
The documentation for this in in [warp](https://hackage.haskell.org/package/warp-3.2.18.2/docs/Network-Wai-Handler-Warp-Internal.html#v:sendResponse), there's none at all in `wai` where [responseFile](https://hackage.haskell.org/package/wai-3.2.1.2/docs/Network-Wai.html#v:responseFile) is defined. That's definitely not ideal.

What's the connection between providing a `FilePart` and the response s

[2018-03-25 13:08] snoyberg commented on #686
I've just released 3.0.2.4 to Hackage.

[2018-03-25 21:16] simonmichael commented on #686
Thanks!

[2018-03-25 21:50] #686 closed

[2018-03-30 00:00] MaxGabriel opened #687 "Interest in having a function that returns the remote IP?"
A long time ago I answered a StackOverflow question about getting a user's IP in Yesod: https://stackoverflow.com/a/33575615/1176156

I recently needed that functionality and it occurred to me it might make sense to add it to one of the WAI libraries directly, if you'd be interested.

1. This would add a dependency on iproutes (@kazu-yamamoto 's package). Because of this, maybe it should be in wai

[2018-04-07 05:54] thomasjm commented on #597
I'm seeing this too, likewise on Chrome when the POST request has no content.

In `chrome://net-internals/#events` I see the error `HTTP2_STREAM_ERROR` and the message "Server reset stream." as well as `ERR_SPDY_PROTOCOL_ERROR`

I'm on Stack LTS-10.0, with `warp-3.2.13` and `warp-tls-3.2.4`

[2018-04-09 22:09] QuLogic opened #688 "warp-tls: setSocketCloseOnExec requires warp 3.2.17"
In warp-tls 3.2.4.2, [this call to setSocketCloseOnExec](https://github.com/yesodweb/wai/blob/master/warp-tls/Network/Wai/Handler/WarpTLS.hs#L301) was added. The [minimum warp](https://github.com/yesodweb/wai/blob/master/warp-tls/warp-tls.cabal#L24) is 3.2.10, but `setSocketCloseOnExec` was [added in warp 3.2.17](https://hackage.haskell.org/package/warp-3.2.18.2/docs/Network-Wai-Handler-Warp-Inter

[2018-04-18 04:17] kazu-yamamoto commented on #688
Than you for this report.
Set warp >= 3.2.17 and a new version has been released.

[2018-04-18 04:17] #688 closed

[2018-04-18 04:25] kazu-yamamoto commented on #687
What about implementing a convert function (`:: SockAddr -> Maybe IP`) in `iproute`?
If you wish, I will implement it.

[2018-04-18 04:37] kazu-yamamoto commented on #439
Fixed. Let's close.

[2018-04-18 04:37] #439 closed

[2018-04-18 04:46] kazu-yamamoto commented on #587
This is very old, so I would close this.
Please reopen if necessary.

[2018-04-18 04:46] #587 closed

[2018-04-18 14:12] MaxGabriel commented on #687
That would work. I was wondering if implementing it in Wai would allow us to ignore the sockAddrUnix case and drop the Maybe, but I’m not sure if that’s the case

[2018-04-19 01:09] kazu-yamamoto commented on #687
Done: https://github.com/kazu-yamamoto/iproute
If you like it, I will release a new version of iproute.

[2018-04-19 04:08] kazu-yamamoto commented on #597
Sorry for the delay.
Now I resume the HTTP/2 project and I can reproduce @BlakeRain's one. Thanks.

I will spend time to fix HTTP/2 related issues.