[2018-04-19 04:40] kazu-yamamoto commented on #639
Now I resume my HTTP/2 activity.
Please send me your PR!

[2018-04-19 04:42] MaxGabriel commented on #687
Thanks, looks great!

On Wednesday, April 18, 2018, Kazu Yamamoto <notifications@github.com>
wrote:

[2018-04-19 05:41] kazu-yamamoto commented on #597
It appeared that this bug is due to my careless refactoring.
The commit above fixes this issue at least for no content.

But I'm not sure that this fixes all cases relating to HTTP/2 POST.

[2018-04-19 11:10] thomasjm commented on #597
Thanks for the fix! It might be good to add a unit test with an empty body since it's such a subtle edge case.

[2018-04-20 00:41] kazu-yamamoto commented on #597
Yes. I should improve the `http2` library so that we can implement such test cases.

[2018-04-20 03:47] kazu-yamamoto commented on #679
This is the same problem as #597 and fixed by 1b7a7f8.

[2018-04-20 03:53] kazu-yamamoto commented on #679
A new version has been released.
Please close this issue if your problem is gone.

[2018-04-20 03:53] kazu-yamamoto commented on #597
A new version has been released anyway.

[2018-04-20 04:32] reite commented on #679
The issue is indeed gone in IE. I am not able to test in safari but will assume the issue is gone there too. Will leave my server up for a few days if someone want to try it.

Thank you!

[2018-04-20 04:32] #679 closed

[2018-04-20 05:45] kazu-yamamoto commented on #679
Thank you for your report!

[2018-04-20 06:14] kazu-yamamoto commented on #687
A new version of `iproute` has been released.

[2018-04-20 06:14] #687 closed

[2018-04-25 07:31] kazu-yamamoto commented on #593
I'm 100% sure that Warp version 3.2.20 fixes this issue.

[2018-04-25 07:31] #593 closed

[2018-04-25 07:32] kazu-yamamoto commented on #655
Ping @kneedler

[2018-04-25 13:42] CMCDragonkai commented on #655
I'll have a look into this.

[2018-04-27 04:23] kazu-yamamoto opened #690 "Testing HTTP/2"
- [x] GET, HEAD, POST
- [x] 0-length and large request/response body

[2018-04-27 04:24] kazu-yamamoto commented on #597
Now POST is OK even if the request body length is large.

[2018-04-27 04:25] kazu-yamamoto commented on #597
I would close this in favor of #690.

[2018-04-27 04:25] #597 closed

[2018-04-27 04:28] kazu-yamamoto commented on #684
Do you use HTTP/2? If so, it has been fixed in 65874cd5c4dd1c2bd0dfc63fbe104e77ed67cd64.

[2018-04-27 04:30] kazu-yamamoto commented on #669
@snoyberg This proposal makes sense to me. What do you think?

[2018-04-27 17:02] fizruk commented on #690
Should compatibility with various clients be tested as well (cURL, Chrome, Safari, Firefox, IE)?

[2018-04-29 07:39] snoyberg commented on #669
I'd like to avoid a breaking change, but I think we can get away with:

* Add a new function like `getRequestBodyChunk = requestBody`
* Deprecate `requestBody`

Backends like Warp will still need to work directly with `requestBody` for constructing the `Request` value, but end user code should be safe.

[2018-04-29 12:33] anacrolix commented on #684
I think I'm using HTTP/1.1.

[2018-05-10 06:36] anacrolix commented on #684
I'm currently using 3.2.22. `pauseTimeout` doesn't prevent timeout reaping with HTTP/1.1. My handlers are getting `Thread killed by Warp's timeout reaper`, including those that I've upgraded to websockets with wai-websockets' `websocketsApp`.

[2018-05-11 10:54] anacrolix commented on #351
I don't think `pauseTimeout` works as intended. It sets the `pauseTimeoutKey` value to `Paused`, which is promptly lost on `resume` and `tickle`, which occur outside the callers control.

[2018-05-11 21:11] anacrolix commented on #610
I've encountered the same problems with websockets and timeouts. I'm currently poking through the code to see if there's anything I can do.

[2018-05-31 14:00] basvandijk opened #691 "Closing listening socket never terminates"
At work I noticed that I couldn't terminate my warp-based webservers. Fortunately systemd will kill the process after 1m and 30s however, I don't want to rely on that. I isolated the problem to the following small example program:

https://github.com/basvandijk/warp-close-test

Note how I use `setInstallShutdownHandler` to install a shutdown handler. The shutdown handler will install a signal hand

[2018-06-01 15:11] basvandijk commented on #691
The process is hanging on `close socket` [here](https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/Run.hs#L133).

Using `strace` I don't see any `close` syscalls after printing "Received SIGTERM. Closing socket":

[code]

so the hang must occur in Haskell. I see that [`close` is using `modifyMVar_`](http://hackage.haskell.org/package/network-2.7.0.0/docs/src/Network.Socket.h

[2018-06-01 15:56] basvandijk commented on #691
Ok, after debugging the `network` library, I can confirm the program is blocking on the `modifyMVar_` in `close`.

[2018-06-01 20:06] ndmitchell opened #692 "warp-tls kills threads"
When running Hoogle on a Linux box I track what errors occur when serving up requests. The graph is:

![image](https://user-images.githubusercontent.com/1651197/40860998-4af709c6-65df-11e8-9865-bc80ebce44d7.png)

As you can see, I had no errors for many years, then they started happening about 0-7 times a day since I switched to serving over https, and switching from warp to warp-tls. Given Hoogle

[2018-06-04 01:39] kazu-yamamoto commented on #691
`runSettings` ensures that a listening socket will be closed in `bracket`.
Why do you try to close the socket doubly with `setInstallShutdownHandler`?

[2018-06-04 01:44] kazu-yamamoto commented on #692
Do you know who prints "thread killed"?
If warp prints, it should be "Thread killed by Warp's timeout reaper".

[2018-06-04 10:49] ndmitchell commented on #692
It's coming from my code, specifically: https://github.com/ndmitchell/hoogle/blob/master/src/General/Web.hs#L81-L84

[code]

Basically I wrap the execution of the operation in `try_` (which is just `try` scoped to `SomeException`) and if that returns `Left` I record the error message. At the point the thread is killed, it's actively trying to respond to a users request.

[2018-06-04 15:45] basvandijk commented on #691
Hi Kazu, because in my real application I would like to implement a graceful shut down. So when I receive SIGTERM I would like to:

* stop receiving new connections (closeSocket)
* immediately kill long-polling and websocket connections
* allow all other established connections to finish (or timeout)

So to implement this I think I need control over when the listening socket is closed. Do you know

[2018-06-05 01:37] kazu-yamamoto commented on #691
So, you should not use `runSettings` but use `runSettingsSocket`. This avoids the conflict.
You can see how `mighttpd2` implements the graceful shutdown: https://github.com/kazu-yamamoto/mighttpd2/blob/9973d756cb3656fcb37f8a4aae45d5fd3c02d196/src/Server.hs#L119

[2018-06-05 01:43] kazu-yamamoto commented on #691
- Warp waits that all connections are closed by default.
- You can set timout for the connections by `setGracefulShutdownTimeout`.
- You should close the listening socket by yourself. You must not use `runSettings` for this purpose.

[2018-06-05 02:02] kazu-yamamoto commented on #692
So, while executing `Input -> IO Output`, `ThreadKilled` is received.
Uhhm.

[2018-06-05 02:05] kazu-yamamoto commented on #692
Which protocol is used for the error case, HTTP/1.1 or HTTP/2?
HTTPS enables HTTP/2 and old versions of HTTP/2 in Warp is buggy.
Would you tell me the version of Warp?

[2018-06-06 18:37] ndmitchell commented on #692
I don't know which version of HTTP is running at the time. Looking, I'm quite a bit behind, so will upgrade and let you know. Current state is:

[code]

[2018-06-06 21:39] ndmitchell commented on #692
Upgraded to as per below. Will let you know if that fixes it in a few days.

[code]

[2018-06-08 06:55] ChShersh opened #693 "Improve documentation for 'Control.Reaper' module in 'auto-update' package"
I want to use this library as a cache cleanup worker thread. But I have hard times understanding example in documentation. Specifically, those lines in `Control.Reaper` module:

Why do you call action every 2 seconds to clean items outdated for more than `10` seconds? Why not just call this action once per 10 seconds?

Also, documentation for `reaperAction` is not clear enough.

[code]

It's not c

[2018-06-11 00:36] kazu-yamamoto commented on #691
@basvandijk Any feedback?

[2018-06-12 15:18] snoyberg commented on #693
For the first question: consider a situation where a new thing is being created every 1 second. That would mean that after 10 seconds, 0 items need to be reaped, and after 11 seconds, 1 needs to be reaped. If we waited every 10 seconds to reap, we would acquire 10 items to reap. Reaping every 2 seconds allows us to clean up those items more frequently.

The temporary workload here refers to items

[2018-06-18 13:11] #693 closed

[2018-06-24 21:04] basvandijk commented on #691
As [mentioned in network #326](https://github.com/haskell/network/issues/326#issuecomment-399787104) I just build `warp-close-test` against network-HEAD (I had to adapt `simple-sendfile` and `warp` to the new `network` API which was trivial) and the test finished successfully. I see that in network-HEAD the `withMVar` in `accept` and the `modifyMVar` in `close` are no longer there. That very likel

[2018-06-25 05:49] kazu-yamamoto commented on #691
As one maintainer of `network`, we will release at least 2.7.x.x to fix the `close` issue ASAP.

[2018-07-15 12:41] basvandijk commented on #691
This has been fixed in [network-2.6.3.6](http://hackage.haskell.org/package/network-2.6.3.6).

[2018-07-15 12:41] #691 closed

[2018-07-16 02:15] christian-marie opened #699 "wai-extra Network.Wai.Parse doesn't consider quoted multipart form boundary markers."
In trying to use servant-multipart, which uses Network.Wai.Parse for multipart form handling, I found that a .net client (C#, HttpClient) was getting errors from our webservice. Upon digging into the problem, I found the issue to be a double quoted form boundary.

The following patch corrected the issue, but I don't like it as it duplicates the dq function from a where binding later in the file an

[2018-07-16 03:55] snoyberg commented on #699
Yesod simply uses wai-extra's code, nothing special. I've never run into this myself, but I'm happy to accept a PR that addresses it for everyone. Bonus points for an added test case.

[2018-07-22 12:02] alexanderkjeldaas commented on #601
does this explain how to fix @konn's issue?  I don't see it.

[2018-07-26 19:14] pbrisbin opened #701 "setTimeout doesn't end request"
I might be misunderstanding how this is supposed to work, but...

Given:

[code]

I'd expect, this:

[code]

To complete in close to 5 seconds with an error.

Instead, it happily runs for 10 seconds.

[code]

In the context of our larger application, we also see this behavior with a more realistic slow request such as `runDB $ rawSql "SELECT pg_sleep(10);" []`.

[2018-07-29 13:16] pbrisbin commented on #701
Hmm, I'm a little confused. Are you saying that `setTimeout` is specifically a slowloris-related setting, to give a lower bound on how quickly that mechanism *may* kick in? Or that the two timeout mechanisms just interact in a surprising way?

[2018-07-29 21:33] dredozubov commented on #701
After I modified a script by @pbrisbin to have a timeout of 1 second and 2 second delay I got this:
[code]

[2018-07-30 13:46] snoyberg commented on #701
Correct, the docs could definitely be clearer about this.

[2018-07-30 13:53] pbrisbin commented on #701
Gotcha! So is there just no way to put a simple timeout on request handling?

[2018-07-30 13:54] snoyberg commented on #701
You can use the `timeout` function yourself, but Warp provides no such facility to do it automatically, since it can't do it any more efficiently than you can. If you want, you can automate this with a middleware.

[2018-07-30 14:09] pbrisbin commented on #701
OK, that seems reasonable. Still a bit surprising (IMO) to find that feature missing in a webserver, but it makes sense that it's simple to do as Middleware.

Feel free to close this Issue, or consider it a feature request for such a Middleware. We'll likely go that route and, if so, I'll gladly PR it here.

[2018-08-07 21:18] alexanderkjeldaas opened #703 "Safari won't load (also: HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR)"
Using

* stack Version 1.7.1, Git revision 681c800873816c022739ca7ed14755e85a579565 (5807 commits) x86_64 hpack-0.28.2
* resolver: nightly-2018-06-27

So I was fed up with haproxy + let's encrypt and wrote a simple reverse proxy using `reverse-proxy` and some loading of certs etc.

All was good until someone told me that it doesn't load on Safari.  I'm getting`NSPOSIXErrorDomain:100` which the int

[2018-08-07 21:19] alexanderkjeldaas commented on #703
website in question:  astor.ai

[2018-08-07 22:24] alexanderkjeldaas commented on #703
I'm getting errors in `curl` as well now:
[code]

[2018-08-10 12:49] ndmitchell commented on #692
It's definitely not fixed. I still get ~10 errors a day out of ~3000 uses.

[2018-08-11 17:56] dgaw opened #705 "wai-extra: ResourceCleanupException in tempFileBackEndOpts"
After upgrading from stack lts-9.13 to lts-11.20 I noticed that my Spock web app started throwing the following exception when handling post requests:

`ResourceCleanupException {rceOriginalException = Nothing, rceFirstCleanupException = /tmp/webenc29043-0.buf: removeLink: does not exist (No such file or directory), rceOtherCleanupExceptions = []} `

I've traced the problem to the tempFileBackEndO

[2018-08-12 14:14] snoyberg commented on #705
You're mostly correct, though it's better to catch the not found exception
to avoid a race condition. PR welcome.

On Sat, Aug 11, 2018, 8:56 PM dgaw <notifications@github.com> wrote:

[2018-08-14 17:08] snoyberg commented on #705
Fixed by #706

[2018-08-14 17:08] #705 closed

[2018-08-15 17:50] k-bx opened #707 "warp-tls and connection keep-alive header error"
So, I was trying to add a `Connection: keep-alive` header to my application, which is served in both, HTTP and HTTPS (via warp-tls). Surprisingly, once I've added the header, curl started showing an error `curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)`. I've re-created the minimal code here: https://github.com/k-bx/warp-keepalive

Without the header I get:

[code]

Addi

[2018-08-17 16:49] mitchellwrosen opened #708 "graceful shutdown only fires for `IOException`s"
Hi, I discovered that the graceful shutdown mechanism only works when the web server experiences an `IOException`. Is this the intended behavior? (It makes it so Ctrl-C hard-quits a warp server without gracefully shutting down, for example) Here is the relevant code from `Network.Wai.Handler.Warp.Run`:

[code]

The `try getConnMaker` is called at type `IO a -> IO (Either IOException a)`.

Thanks.

[2018-08-19 03:04] snoyberg commented on #708
This code isn't for graceful shutdown. It's to deal with a specific corner case of file descriptors becoming exhausted IIRC (CC @kazu-yamamoto). We should probably have a comment explaining that.

We could change this by using `finally` or similar to ensure that graceful shutdown kicks in, but I'm not sure it will behave properly in cases of things like async exceptions. The real question is what

[2018-08-20 17:35] mitchellwrosen commented on #708
Can you clarify what you mean by this?

Is there some other code that is for graceful shutdown?

The basic problem I'm trying to solve: Ctrl-C on a Warp server only shuts down after all outstanding requests are handled. Is that possible with the current Warp API? Thanks :)

[2018-08-21 05:06] snoyberg commented on #708
What I meant is that the error checking code you pointed at is not intended for graceful shutdown, it's dealing with a specific corner case. In other words, changing that bit of code would not be appropriate. That's why I mentioned the potential of using `finally`.

Can you rephrase this as "I expected X but Y happened?" I'm not sure what you're saying is currently happening versus what you want t

[2018-08-21 05:09] mitchellwrosen commented on #708
I want to be able to, upon receiving an OS signal, reject all incoming requests and wait for all outstanding requests to finish. Warp already counts outstanding requests in a TVar and exposes a "graceful shutdown" mechanism, but I am unsure of how to use it to get this behavior.

[2018-08-21 16:51] snoyberg commented on #708
Changing the code to use `finally` should address that goal. My concern is that this almost the antithesis of good async exception handling behavior: instead of cleaning up quickly and exiting, it's going to delay an unbounded amount of time. I'm OK with that as opt-in behavior if it's well documented. It seems like the "graceful shutdown" mechanism is already opt-in enough that making this change

[2018-08-24 14:58] eyeinsky commented on #601
@alexanderkjeldaas if you create a certificate (e.g `certbot certonly --standalone -d something.com -d something-else.com`) and use the `fullchain.pem` and `privkey.pem` from the `/etc/letsencrypt/live/something.com` folder, then this has both the domains certified. But AFAIK this is not SNI since the domains are listed in the Certificate Subject Alt Name of the single certificate (and not chosen

[2018-08-25 20:45] lucasdicioccio commented on #639
Hi Kazu we need to catch each other working on similar topics in the same week!
I also resumed working on HTTP2/gRPC recently! :-)

I'd like to get a proper fix rather than a workaround like in my above diff. This diff measures "recently-closed" in terms of stream-IDS. However, I now think we should measure "recently closed" in time rather than stream-IDs. Otherwise we face a risk that a long "str

[2018-08-25 20:46] lucasdicioccio commented on #690
I can definitely give a hand using `http2-client` for generating a few scenarios (so that `http2-client` also benefits from some cross-testing).

[2018-08-28 06:55] kazu-yamamoto commented on #708
Sorry for the delay. I was on vacation.

`mighttpd2` uses Warp's graceful shutdown. `mighttpd2` sets a signal handler which closes the *listening* socket. This breaks `acceptLoop`, so `gracefulShutdown` is executed.

I agree that
- we should use `finally` to ensure that `gracefulShutdown` is called
- we should prepare a new API to break `acceptLoop` (such as `GracefulTeardown`)

[2018-08-28 20:18] mitchellwrosen commented on #708
@kazu-yamamoto Thanks! Is there anything more you would like me to do to help hash out the implementation? I am a bit confused by your two bullet points - if we want to always enter `gracefulShutdown` (as `finally` does not distinguish exception types), then why is there a need for a new `GracefulTeardown` code path in the accept loop?

[2018-08-29 08:10] kazu-yamamoto commented on #639
@lucasdicioccio Yes. You can add "recently-closed".

Should I merge #711 anyway? Or is it unnecessary if we implement "recently-closed"?

[2018-08-29 17:58] lucasdicioccio commented on #639
After some research I think we should go ahead with #711 and weigh the pros&cons before doing anything more. In particular, comparing to how the Go implementation handle this case. The Go handler for WindowUpdate ignores on closed streams (cf. https://github.com/golang/net/blob/master/http2/server.go#L1405-L1411) and the ResetHandler on an unreferenced stream (cf. https://github.com/golang/net/blo

[2018-08-29 17:59] lucasdicioccio commented on #639
Aslo, FYI my warp-grpc implementation works like a charm with #711. I'd rather just merge this simple patch and move on :-) to help on other bugs.

[2018-08-30 03:54] kazu-yamamoto commented on #708
Never mind. After investigations, I changed my opinion. The current code should be kept as it is.

Typically I run `mighty` in two mode:
- Daemon: I typically send a signal to let `mighty` enter graceful shutdown and executes another `mighty`.
- Debug: `mighty` is not detached from its terminal. I use "C-c" to stop `mighty`. In this mode, graceful shutdown is not necessary.

If we use `finally`, g

[2018-08-30 03:56] kazu-yamamoto commented on #708
@mitchellwrosen So, my question: Is closing a listening socket good enough for your purpose? Or are any other APIs for graceful shutdown necessary?

[2018-08-30 18:33] mitchellwrosen commented on #708
@kazu-yamamoto

Here is the `gracefulShutdown` code from warp:

[code]

This is because warp is already counting requests, so it already knows how many requests are outstanding, and (to my knowledge) does not expose this count in the external API.

Can you clarify how you accomplish this:

Are you counting requests outside of warp, and _not_ using its built-in graceful shutdown mechanism?

[2018-08-30 18:39] mitchellwrosen commented on #708
In the current implementation, I can get the behavior I want only by throwing an `IOException` to the thread running warp. Any other exception does not cause `gracefulShutdown` to be called. That was the original reason I opened this ticket - to clarify that this was the intended behavior.

[2018-08-30 20:33] lucasdicioccio commented on #639
Thanks Kazu for the merge! do you think we can close this Issue or keep it around?

[2018-08-31 01:00] kazu-yamamoto commented on #708
No. `mighty` uses the built-in graceful shutdown. `mighty` prepares a signal handler which closes a listening socket. So, when I send the signal to `mighty`, the build-in graceful shutdown runs.

[2018-08-31 01:04] kazu-yamamoto commented on #708
Ah. OK. I understand your point.

I don't think that this behavior is intentional. The current code satisfies my requirement. But if it does not satisfy your requirement, you can change it as you like. Would you send us a PR?

[2018-08-31 18:32] mitchellwrosen commented on #708
Oh, I see. You are inducing an `IOException` by closing the listening socket! This is in fact explain in the documentation of `runSettingsSocket`:

Thanks, I will use this technique as well. All's good, shall I close this issue?

[2018-09-01 20:25] staffehn opened #713 "Irritating comment in "Wai.hs" - "this library is built on top of the conduit package""
Hi. I’m trying to get a quick grasp of the wai package and therefore looking at the Hackage page, and one of the first thing I read is that wai "is built on top of the conduit package" (in [this file](https://github.com/yesodweb/wai/blob/master/wai/Network/Wai.hs#L7)). This seems to be outdated, since from version 3.0.0 on, there’s no dependency on the conduits package and also nothing obvious in

[2018-09-03 05:00] snoyberg commented on #713
True. Could you send a PR to update the docs?

On Sat, Sep 1, 2018, 11:25 PM Frank Steffahn <notifications@github.com>
wrote:

[2018-09-03 06:57] staffehn commented on #713
I would. I have no idea what it *is* built on top now though, like - if the Bytestring builders are still relevant (probably yes?) or if anything new worth mentioning in that sentence was used, since, as mentioned, I only took a quick look on the documentation of the package so far.

[2018-09-04 05:47] #713 closed

[2018-09-04 05:47] snoyberg commented on #713
I've pushed a commit to change the wording.

[2018-09-04 11:12] LukaHorvat commented on #610
Same issue with websockets

[2018-09-04 16:31] mitchellwrosen commented on #708
Sure, I'll make a PR with some documentation improvements

[2018-09-06 18:57] alexanderkjeldaas commented on #707
Seems related to #703 - does Safari set this header for HTTP/2 unlike other browsers?

[2018-09-07 03:44] kazu-yamamoto commented on #707
https://tools.ietf.org/html/rfc7540#section-8.1.2.2 says:

   connection-specific header fields; in this protocol, connection-
   specific metadata is conveyed by other means.  An endpoint MUST NOT
   generate an HTTP/2 message containing connection-specific header
   fields; any message containing connection-specific header fields MUST
   be treated as malformed

   HTTP/2 will need to remove any

[2018-09-07 05:13] kazu-yamamoto commented on #707
I could reproduce this and confirmed that the patch above fixed this issue.

@k-bx Would you try to test `master`?

[2018-09-07 05:15] kazu-yamamoto commented on #703
@alexanderkjeldaas Would you try to test `master`?
If this does not solve your problem, please identify which header causes this problem, "Keep-Alive:", "Proxy-Connection:" or "Upgrade:"?

[2018-09-07 07:49] alexanderkjeldaas commented on #703
I will.  It will take a while though.

[2018-09-07 16:46] k-bx commented on #707
@kazu-yamamoto yes, it works, thank you!

[code]

[2018-09-07 16:46] #707 closed

[2018-09-10 03:35] kazu-yamamoto commented on #707
A new version of Warp has been released.
Thank you for your contribution!

[2018-09-18 18:32] 3noch commented on #610
Is it possible to simply `forkIO` the websocket handler?

[2018-09-30 12:22] sordina opened #715 "Middleware support in wai-app-static?"
Not sure if this should be an issue, just close if not appropriate!

I'd been wanting to use wai-app-static in a Scotty app (or any wai app really) but found it hard to compose with other applications since it is an Application in its own right. This can be remedied by wrapping it to turn it into a middleware like so:

https://github.com/sordina/wai-app-static-file-embed-middleware/blob/master/src

[2018-10-02 07:07] snoyberg commented on #715
I can't speak to Scotty, but in Yesod we have the ability to defer handling to a WAI application. That would seem to me a better approach than a middleware. That said, I'm not opposed to adding functionality here if you think it would be useful in general.

[2018-10-10 05:28] kazu-yamamoto commented on #708
@mitchellwrosen ping

[2018-10-10 17:03] mitchellwrosen commented on #708
@kazu-yamamoto #716 Pong :)

[2018-10-11 00:42] kazu-yamamoto commented on #708
Thanks. Let's close this.

[2018-10-11 00:42] #708 closed

[2018-10-21 11:15] lucasdicioccio commented on #639
Let's say it's closed!

[2018-10-21 11:15] #639 closed

[2018-10-21 11:36] lucasdicioccio opened #717 "Unwanted GOAWAYs on handlers with empty DATA frames"
Hi Kazu, others.
Observed at least on GETs (but the bug may affect other methods).

Upon receiving an empty DATA bodies and then other requests, Warp kills the connection with GOAWAYs.

I've identified this bug while trying to make a `servant-http2-client` benchmark with Warp as a backend. The reproduction case using `http2-client-exe` ( https://hackage.haskell.org/package/http2-client-exe-0.1.0.0

[2018-10-21 15:40] andreyk0 commented on #703
For what it's worth, something has improved!
I used to see protocol errors in chrome (android and desktop), couldn't isolate enough to submit a bug report, so ran with HTTP2 disabled on an older version.
Just updated to (latest lts on stackage):
[code]
used to get errors pretty consistently on some pages but haven't seen any so far, browsed for a while on mobile and desktop.
Thanks a lot for looki

[2018-10-22 23:15] kazu-yamamoto commented on #717
I don't understand this bug deeply yet. So, two question:

Q1) Is this message the signle of the bug which you pointed out? If so, it is not relating to the empty data frame.

If the empty data frame is the source of this problem, the possibility is a wrong Content-Length:. See:
https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/HTTP2/Receiver.hs#L313

Q2) Does the header fr

[2018-10-23 21:07] lucasdicioccio commented on #717
Hi Kazu. For the reproducibility, I'm using https://github.com/lucasdicioccio/servant-client-benches as a server/client application.

For Q1: yes, the "stream identifier must not decrease" message is the sign of the bug, if you look at the trace, there are no cases of decreasing stream identifiers.
I've checked again and you are right: the empty data-frame is not important. I can reproduce with a

[2018-10-23 22:47] kazu-yamamoto commented on #717
OK. I understand. Please give a look at: https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/HTTP2/Receiver.hs#L167

`if streamId <= csid` should be `if streamId == csid then ... else if streamId < csid`. And in the `==` case, data frame should be ignored. Could you test this idea?

[2018-10-24 19:34] lucasdicioccio commented on #717
Thanks Kazu. I remember this line quite well from my previous patches ;-).

I've fixed my servant-http2-client for the most cases. I'll be on vacation next week but I'll poke around and try ideas afterwards. It seems to me that changing the `<=` condition to a `==` is insufficient in the case of concurrent requests: you could have `streamId = csid - 50` and still hit the same condition.

I believe

[2018-10-24 22:02] kazu-yamamoto commented on #717
OK. Have a good vacation.

[2018-10-30 05:02] kazu-yamamoto opened #718 "HCAR files"
@snoyberg You removed `hcar-wai.tex` and `hcar-warp.tex` in 9cf4a6890e345bcffcc18edf0700e0998750eb9c. Was it accidental?

- If it was accidental, I will add them again.
- If it was intentional, would you tell me the reason?

[2018-10-30 05:06] snoyberg commented on #718
I believe they were already out-of-date, I always rely on the HCAR team to send me the most up to date versions of the entries. If you'd like them back, go ahead, apologies for removing them without checking.

[2018-10-30 05:10] kazu-yamamoto commented on #718
Just curious. How do you track the versions of your HCAR article?

[2018-10-30 05:11] snoyberg commented on #718
I don't at all. Each time I receive an email from the HCAR team, I download the files they send and update them.

[2018-10-30 05:14] kazu-yamamoto commented on #718
OK. I will take your approach.

[2018-10-30 05:14] #718 closed

[2018-10-30 05:14] kazu-yamamoto commented on #718
P.S. I submitted articles about WAI and Warp.

[2018-10-30 05:16] snoyberg commented on #718
Awesome, thank you!

[2018-11-18 22:30] lucasdicioccio commented on #717
I found a bit of time today and I think I got down to the gist of it.

So basically I got a good grasp of the issue by now and I have a minimal patch in a branch on my fork: https://github.com/lucasdicioccio/wai/tree/explicit-half-remote-closed . Can you have a look and make suggestions before I make a proper PR?

The current calls to `closed` do three things: set the stream state to Closed and re

[2018-11-26 01:41] kkweon opened #719 "Build Error in wai-extra for lts-12.19"
## Summary

Currently, wai-extra failed to build for lts-12.19. I haven't checked with other LTS yet

## OS Info

[code]

https://gist.github.com/kkweon/0a4a3ce80651b25251449a66c8962ca7

## How to reproduce

[code]

## Error

[code]

[2018-11-26 10:59] snoyberg commented on #719
Looks like some files in the package database got corrupted. Can you try `stack exec -- ghc-pkg unregister wai-extra --force` and then building again?

[2018-11-26 19:07] kkweon commented on #719
I'm running into the same problem (the same output)
In the meantime, LTS 12.20 was published, I tried with that, still no luck.

So don't you run into the same error when you `stack new temp servant`?
I will try on other machines

[2018-11-26 21:04] kkweon commented on #719
Confirmed it worked on other machines 😱

Haven't figured it out why it doesn't work on my machine
But since it's my local thing, I'm closing this

[2018-11-26 21:04] #719 closed

[2018-11-30 21:31] lucasdicioccio commented on #717
Hi Kazu, any chance you can give my branch a look?

[2019-01-06 15:20] defanor opened #721 "Accessing warp's bound sockets"
Sometimes it is handy to output a "listening on" message after starting a server (e.g., as in https://github.com/myfreeweb/wai-cli/issues/3), but apparently with Warp it would require a custom `runSettings` function. It seems it may be more appropriate to pass a `Socket` and/or a `SockAddr` to a function set with `setBeforeMainLoop`.

[2019-01-07 06:01] snoyberg commented on #721
You can accomplish this with runSettingsSocket

On Sun, Jan 6, 2019, 5:20 PM defanor <notifications@github.com wrote:

[2019-01-08 02:07] kazu-yamamoto commented on #721
I have no motivation to change the current API.

[2019-01-08 03:08] defanor commented on #721
Okay, then closing the issue.

[2019-01-08 03:08] #721 closed

[2019-01-10 23:56] crockeea opened #722 "Linker Errors when Profiling on Windows"
System: Windows 10, stack 1.9.3

When I build [this](https://github.com/yesodweb/wai/files/2747500/src.zip) project in Windows with stack's --profile option, I get linker errors:

[code]
It's not clear if this is a GHC bug or an issue with warp-tls, but since the error only seems to happen when depending on warp-tls, I'm posting here.

[2019-01-11 01:02] crockeea opened #723 "How is packet ordering achieved with wai.run?"
This isn't a bug so much as it a question about appropriate usage. If a client sends two requests to a WAI server (using `run` or friends from Network.Wai.Handler.Warp), my understanding is that the server spawns two new `Application` threads. But it's not clear to me how my application can be sure to handle those requests in the order in which they were sent.

The only way I can imagine this bein

[2019-01-11 06:00] crockeea commented on #722
Reasonably convinced now that this is a GHC bug. I isolated the problem to the `warp` library, and can reproduce with the attached zip which only depends on base and bytestring. Closing this in favor of https://ghc.haskell.org/trac/ghc/ticket/16166.
[wai.zip](https://github.com/yesodweb/wai/files/2748270/wai.zip)

[2019-01-11 06:00] #722 closed

[2019-01-11 14:08] snoyberg commented on #723
Excluding details of HTTP/2, which I'm not that familiar with, you're describing HTTP pipelining. The first request will be fully processed and answered before any other requests are processed at all.

[2019-01-11 16:23] crockeea commented on #723
I'm just wondering how that works under the hood.

If I have
[code]

are both <work 1> and <work 2> guaranteed to be finished before the server creates a new thread to handle another response? Internally, how does warp detect this? I mentioned that perhaps the response continuation could be used, but I suppose the server could also just track the thread lifetime.

[2019-01-12 15:59] snoyberg commented on #723
They'll both finish. As to how it's guaranteed, you'd have to look at the codebase, but it's pretty straightforward in the main event loop.

[2019-01-12 16:16] #723 closed

[2019-01-21 05:42] zenhack opened #725 "Warp: missing upper bound on network package causes build failure"
The `network` package recently released a version `3.0.0.0`, which includes some changes that break the current release of warp on hackage. The build error I'm getting is below; forcing `network <3` fixes the problem.

Warp appears to be missing upper bounds for most of its dependencies; is there a specific reason not to bound according to pvp?

[code]

[2019-01-21 07:16] kazu-yamamoto commented on #725
I don't know why I (the maintainer of `network`) missed this. Anyway, #725 should fix this.

[2019-01-22 01:29] kazu-yamamoto opened #727 "CI failure"
This is due to `unix-time`. I will take care of this.

[2019-01-22 07:36] #669 closed

[2019-01-22 18:37] crockeea opened #728 "Session Manager consumes large amounts of memory"
I've attached a simple project in which the warp-tls server consumes large amounts of memory. There is a single client which repeatedly sends requests to the server. The memory profile changes from extremely greedy to constant by varying the parameters of the `tlsSessionManagerConfig` in memleak\Crypto\TLS.hs.
[memleak.zip](https://github.com/yesodweb/wai/files/2784138/memleak.zip)

$ cd memleak
$

[2019-01-22 22:49] kazu-yamamoto commented on #725
Fixed.

Metadata of previous versions on Hackage are also modified.

[2019-01-22 22:49] #725 closed

[2019-01-23 00:14] crockeea commented on #728
I added the default extensions and tried again. I'm assuming that the "right" amount of memory use is somewhere in the <40MB range (and it seems like it should be *much* less than that). Even with `-XStrict` and `-XStrictDat`, memory usage was over 150MB within a few minutes using the `defaultConfig`.

[2019-01-23 01:09] kazu-yamamoto commented on #728
@crockeea Thank you for your report. So, I need to consider deeply. Uhhhm.

[2019-01-24 05:00] kazu-yamamoto commented on #728
Since I'm very busy now, I will get back to this issue in Febrary.

[2019-01-30 21:34] lovehermadly opened #729 "Please enable configuration of CAs for supplying hint in client certificate request"
warp-tls currently does not support configuration of a CA certificates for providing it to the client during the certificate request message as a typical client certificate selection criterion.

Implementation could be provided by adding a new tlsSetting element that is mapped to serverCACertificates in Network.TLS.

[2019-02-08 18:16] crockeea commented on #728
@kazu-yamamoto Any progress on this? Does [#354](https://github.com/vincenthz/hs-tls/pull/354) fix the issue, or not? Is there anything I can do to help?

[2019-02-09 01:49] kazu-yamamoto commented on #728
@crockeea Sorry, I forgot to inform you. Would you try `master` of `tls`?  We suspect that this issue is due to `ByteString` fragmentation and modified the code to copy `ByteString` relating to sessions.

[2019-02-12 16:49] neongreen opened #730 "warp-tls doesn't complain when it can't bind to the port"
I have something running on port 4570 on my machine.

I attempt to start a warp-tls server on the same port:

[code]

It starts (but is inaccessible, of course). I would expect it to throw an exception instead. Am I missing something?

---

[code]

[2019-02-14 22:14] crockeea commented on #728
The example included with the original post doesn't work with hs-tls HEAD, so I had to make some modification. My preliminary results indicate that there is no change, or if anything, that matters are now worse. I'll do some further investigating and try to post an updated example.

[2019-02-18 17:08] crockeea commented on #728
[memleak2.zip](https://github.com/yesodweb/wai/files/2876737/memleak2.zip)
Here's an updated example that compiles with hs-tls HEAD and still leaks like crazy. Server uses about ~350 MB after just 15 minutes. This should be easy to test with new versions of hs-tls; just update the hash in the stack.yaml file.

[2019-02-19 19:07] crockeea commented on #728
I think I fixed the problem in #732

[2019-02-20 09:42] #728 closed

[2019-02-28 11:32] robinp commented on #196
Current behavior seems to still not notice that the connection was gone.

The post http://stefan.buettcher.org/cs/conn_closed.html describes a way to get async notification about a closed connection: `select` on the connection, and if it says `data available`, do a `peek-only + dontwaint recv` to see if there's actual data available or the connection was closed (in case bytes available is zero).

[2019-03-03 07:00] snoyberg commented on #196
I can reopen, but I'm not planning on looking into this myself. If you're interested in taking a stab at this, feel free. However, given the likely dangerous nature of introducing more asynchronous exceptions at surprising points of the codebase, I can't guarantee anything will get merged in.

[2019-03-04 02:45] iand675 opened #733 "Not all TLS certificates seem to work with warp-tls"
Using the latest stack & latest LTS snapshot, I attempted to follow this guide and use the generated certs with `warp-tls`: https://smallstep.com/blog/step-v0-8-6-valid-HTTPS-certificates-for-dev-pre-prod.html

warp-tls outputs (interleaved logs, but each of them works out to):

[code]

The above error occurs for both `curl` and Google Chrome.

Minimal program:

[code]

[2019-03-04 02:59] iand675 opened #734 "setTimeout documentation unclear"
We have some warp servers running behind a Google Load Balancer, and periodically we'll get 502 or 503 errors where it seems that the backends are unavailable.

The [Google Load Balancer docs](https://cloud.google.com/load-balancing/docs/https/#timeouts_and_retries) indicate that they expect the TCP session timeout for the backends to *exceed* the timeout for the load balancers. In the case of GLB

[2019-03-05 10:16] snoyberg commented on #733
Have you tested these files directly against the `tls` package?

[2019-03-05 10:19] snoyberg commented on #734
This is unrelated to any TCP session timeout. Warp provides a slowloris protection where, if a client takes too long to send or receive data, it will close the connection.

[2019-03-06 01:26] kazu-yamamoto commented on #734
@iand675 Please read "Timers for Connections" in https://www.aosabook.org/en/posa/warp.html

[2019-03-07 02:59] iand675 commented on #734
Thank you, that's helpful for clarifying the purpose of the `setTimeout` functionality.

However, the main thing I'm trying to understand is how warp handles keepalive.

Lines like this one lead me to believe that connection keepalive uses the same functionality as the slowloris attack protection: https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/Run.hs#L437

[2019-03-25 23:22] naushadh commented on #663
I've added Warp/Wai to the benchmarks: https://github.com/TechEmpower/FrameworkBenchmarks/pull/4571

[2019-03-25 23:29] naushadh commented on #663
@flip111 your link to the source code is now dead as `wai` was removed here: https://github.com/TechEmpower/FrameworkBenchmarks/pull/4522

This was the last intact version of `wai`: https://github.com/TechEmpower/FrameworkBenchmarks/blob/6a47903ec37f73697c7826a831ee4e7a83f6d1c3/frameworks/Haskell/wai/bench/wai.hs

My earlier comment (https://github.com/yesodweb/wai/issues/663#issuecomment-47641457

[2019-03-25 23:30] naushadh commented on #663
the link seems dead? I only see a giant red cross.

[2019-03-26 01:35] flip111 commented on #663
There are 3 binaries now. `warp-hasql  warp-mysql-haskell  warp-postgres-wire` which one should i use to test plaintext? Do you want profiling information or benchmark?

[2019-03-26 02:09] flip111 commented on #663
[warp-postgres-wire.zip](https://github.com/yesodweb/wai/files/3006194/warp-postgres-wire.zip)

profiling info for `/plaintext`

[2019-03-26 23:57] naushadh commented on #663
thanks; it doesn't matter which of the three as the code for plaintext is the same.

[2019-03-27 01:54] flip111 commented on #663
I changed the stack resolver from 13.13 to 13.14 forgot to mention that

[2019-04-04 06:16] tysonzero opened #738 "Add Map from MimeType to canonical Extension"
Currently I am converting mime types back into file extensions to generate appropriate extensions for uploading files. It would be nice if there was some easy functionality for going the opposite direction.

[2019-04-05 14:21] snoyberg commented on #738
Does [`defaultMimeMap`](https://www.stackage.org/haddock/lts-13.15/mime-types-0.1.0.9/Network-Mime.html#v:defaultMimeMap) provide what you're looking for? I realize you'd have to reverse it yourself, and there may be more than one potential extension, but I'm wondering if this is good enough for your use case.

[2019-04-05 19:06] tysonzero commented on #738
Yeah that is what I am using at the moment and it works. So not an urgent issue by any means but thought it was worth suggesting some sort of functionality for finding the "canonical" extension of a given mime-type.

[2019-04-08 16:10] ebergq opened #739 "Exception in 'threadWait' after a while"
I'm getting `threadWait: invalid argument (Bad file descriptor)` after a while when an endpoint has been triggered.

### Example code
[code]

### Steps to reproduce
1. Compile with profiling options
2. Start the application with `+RTS -xc`
3. Make a request against `http://localhost:8080/modules`
4. Wait for the exception stack trace to be printed to the console

### StackTrace
[code]

When adding

[2019-04-10 07:08] kazu-yamamoto commented on #727
@snoyberg Thank you for fixing CI.

[2019-04-10 07:08] #727 closed

[2019-04-10 07:38] snoyberg commented on #727
My pleausre :)

[2019-04-11 07:04] snoyberg commented on #739
Please attempt to reduce this to a repro against Warp itself.

[2019-04-17 07:48] vlatkoB commented on #647
Quite a complex and low-level library.
Where does the `error` get turned into HTTP error code? Tried:
[code]
But it doesn't get turned into proper status. The only `catch` on `ConnectionError` I found is in `frameReceiver` (`sendGoaway`) in `Network/Wai/Handler/Warp/HTTP2/Receiver.hs`, but seems that one is not the right one.
 A little help, please.

[2019-04-18 20:36] alpmestan commented on #647
I think it's `warp`'s default exception handler that just turns any exception that's not caught by that point into a 500 response: https://github.com/yesodweb/wai/blob/b29e2705d0b4035a17227a8669c6430eb7c9d067/warp/Network/Wai/Handler/Warp/Settings.hs#L174

[2019-04-19 09:15] vlatkoB commented on #647
@alpmestan Thanks for the pointer. :-)
I added 413 (Payload too large) and 431 (Headers too large)

Interestingly, Linux and MacOS tests pass, but Windows fails in 1 test.

[2019-04-19 09:37] iand675 commented on #703
Note: I think #740 will help this some by not triggering what some browsers treat as protocol errors. (Chrome at least treats INTERNAL_ERROR as PROTOCOL_ERROR for me).

[2019-04-24 02:14] kazu-yamamoto commented on #738
@tysonzero Would you send a PR?

[2019-04-24 07:25] kazu-yamamoto commented on #647
#741 has been merged.

[2019-04-24 07:25] #647 closed

[2019-04-25 00:48] kazu-yamamoto opened #742 "Releasing warp 3.2.27"
#740 and #741 have been merged.
It's time to release a new version.
@snoyberg Should we fix CI before releasing it?

[2019-04-25 04:47] kazu-yamamoto commented on #734
@iand675 Would you suggest the next action for this issue?

[2019-04-25 05:01] kazu-yamamoto commented on #730
This is because macOS controls IPv4 and IPv6 separately. For example, your something binds to IPv6:4570 while warpTLS binds IPv4:4570.

`netstat -a -n | grep 4570` would help.

[2019-04-25 05:08] snoyberg commented on #742
I won't be able to look into this until next week. I don't see a problem
with making a release now if you're ready.

On Thu, Apr 25, 2019, 3:48 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2019-04-25 05:37] kazu-yamamoto commented on #742
OK. I will take core of this issue.

[2019-04-25 06:03] kazu-yamamoto commented on #742
Warp 3.2.27 has been released.

[2019-04-25 06:03] #742 closed

[2019-04-25 06:04] kazu-yamamoto opened #743 "CI fails"
CI does not work as we expect recently.

[2019-04-25 06:49] kazu-yamamoto commented on #717
@lucasdicioccio I'm very sorry for this late response. I'm now looking at your `explicit-half-remote-closed` branch.

[2019-04-25 07:28] iand675 commented on #734
I have checked, and the same timeout is used between requests as is used during requests. In my opinion, it would be good to have two or three separate settings:

1. `keepaliveTimeout`. It would be used between HTTP requests, and if no request is made for the duration then close the connection.
2. `sendTimeout`. If the client doesn't receive data fast enough, close the connection.
3. `recvTimeout`

[2019-04-26 04:18] kazu-yamamoto commented on #717
Your code looks great to me. I have cleaned up and merged it.
Thank you for your contribution.
Please give a look and close this issue if no problem is found.

[2019-04-26 04:41] kazu-yamamoto commented on #703
I would like to close this issue because #740 is merged.
Please reopen if necessary.

[2019-04-26 04:41] #703 closed

[2019-04-28 15:23] #743 closed

[2019-04-28 19:07] tysonzero commented on #738
On what basis should the canonical file extension be decided? For my use case just effectively picking the first (earliest lexicographically/alphabetically) works fine, but in the general case that might not be desired.

[2019-05-10 02:22] thomasjm opened #745 "auto-update feature request: be able to control leading vs. trailing edge in Control.Debounce"
Most debounce packages I've seen allow you to specify whether the debounced action should occur on the leading edge or trailing edge of the wait period. For example, [Lodash's version](https://lodash.com/docs/4.17.11#debounce) has a good API.

For some debouncing use-cases, you want the update to happen only after one or more events have happened and things have settled down. But the current packa

[2019-05-12 14:40] snoyberg commented on #745
Would you be interested in submitting a PR to add this functionality?

[2019-05-19 14:12] k-bx opened #746 "setOnException not called in warp-tls"
I see a difference in behavior between warp and warp-tls. The latter doesn't call my setOnException handler.

I've made a fully reproducible repo (run with `stack run`) where you can comment/uncomment to switch between http/https and see the difference: https://github.com/k-bx/servant-custommonad-logging/blob/master/waitls-onexception-bug/src/Main.hs

[code]

HTTP Gives:

[code]

Switchging to htt

[2019-05-20 09:32] thomasjm commented on #745
I won't have time in the foreseeable future unfortunately, but maybe eventually if nobody else gets around to it first.

[2019-05-22 16:53] idcm opened #749 "content-length header in wai-app-static does not appear automatically when use yesod devel."
Though a note in the sources code of wai-app-static say warp can do this automatically. This is ture when compiled the program using stack build, but  when I test the program using yesod devel,  strange thing happens, the "Content-Length" header just disappear. Some thing may be done by yesod devel, but I can not find out.

[2019-05-23 16:36] snoyberg commented on #749
This is probably due to the reverse proxy provided by `yesod devel`. You can try `--disable-reverse-proxy` and see if the headers come through.

[2019-05-23 16:57] idcm commented on #749
The headers come through with "--disable-reverse-proxy".

[2019-05-26 12:08] snoyberg commented on #749
Cool. This is all working as expected, so closing.

[2019-05-26 12:08] #749 closed

[2019-06-04 19:59] robx opened #751 "warp: test failure: Run, chunked bodies, in chunks"
I caught a test failure building warp 3.2.23 on guix:

[code]

Is this maybe the same problem as referenced in the comment above?
https://github.com/yesodweb/wai/blob/366f1088af33b83f36809e24ff729a22da243fff/warp/test/RunSpec.hs#L323

For the moment, this isn't reproducible, but I wanted to note it before it gets lost.

[2019-06-04 21:11] robx commented on #751
By spinning that test, I get it to fail quite reliably, within a ~100 iterations / a couple of seconds.

Raising the threadDlay by a factor 10 it happens less frequently, but it still fails now and then (after 37s this time).

With threadDelay a 10th of the original, it fails directly.

[2019-06-05 12:03] snoyberg commented on #751
Please test against the latest version on `master`, which enables `-threaded` in the test suite. See f612eb35b3fc35ba28e715e5c9325925aba08fdc

[2019-06-05 12:53] robx commented on #751
I haven't managed to set up a master build on the guix vm yet, but applying the `-threaded` change by itself doesn't fix the issue.

(Do you know a way to verify that the test executable I built is compiled with `-threaded`? The build environment is a bit tricky to work with.)

[2019-06-05 12:59] robx commented on #751
It does behave a bit differently now: Most of the time it fails after precisely 4 iterations, and with half the expected result instead of an empty result.

[code]

When it doesn't fail right away, it always spins for a while, typically taking longer to fail than before the `-threaded` change. E.g.:

[code]

Of course, it's very much unclear these changes in behaviour aren't accidental.

[2019-06-05 13:00] snoyberg commented on #751
You can use `./executable +RTS --info`. On my system: the non-threaded runtime includes ` ,("RTS way", "rts_v")`, and the threaded runtime includes `,("RTS way", "rts_thr")`.

[2019-06-05 13:01] robx commented on #751
Thanks; then yes, I am using the threaded runtime.

[2019-06-05 13:29] robx commented on #751
I've built version 3.2.27 now, and I can't get it to fail anymore, whether I pass `-threaded` or not. If it was fixed between 3.2.23 and 3.2.27 my apologies for the outdated report. Could also be chance of course. I'm letting it spin for a bit now.

[2019-06-05 13:53] robx commented on #751
It seems stable, feel free to close.

[2019-06-05 15:58] snoyberg commented on #751
Cool, thanks for confirming.

[2019-06-05 15:58] #751 closed

[2019-06-16 23:31] kazu-yamamoto commented on #728
I found one more speak leak in the session manager. Months ago, TLS maintainers found the values were leaking due to `ByteString`. So, we changed to copy the values.

I found that keys are also leaking due to `ByteString`. So, we should also copy the keys. I will send a PR to TLS and this leaking should be fixed in version 1.5.1.

[2019-06-20 02:12] kazu-yamamoto opened #753 "getRequestBodyChunk"
`getRequestBodyChunk` is exported only from `Internal`, not from `Network.Wai`. Is this intentional?

Relating to #726.

[2019-06-20 10:40] snoyberg commented on #753
Good catch, I'll fix that, thanks @kazu-yamamoto!

[2019-06-20 10:44] #753 closed

[2019-06-24 07:06] kazu-yamamoto commented on #746
I'm very sorry. I did not notice this and the code changed very much.
Would you give a look at the current code and think how to integrate?

[2019-06-24 07:09] kazu-yamamoto opened #755 "A new version of Warp"
I'm going to release a new version of Warp. But I would like to register this issue just in case.
Since the type of `http2dataTrailers`, I would like to make a major release: 3.3.0. I updated the change log.

@snoyberg Would you make double check?

[2019-06-24 07:16] snoyberg commented on #755
I'll be out of the house all day today, but can check tomorrow. From what you've described, this is the correct version bump.

[2019-06-24 12:25] k-bx commented on #746
Sure, I can check it out on latest wai/warp/http2. Just tried -- getting this build error:

[code]

You can reproduce by cloning this repo https://github.com/k-bx/servant-custommonad-logging and then doing `cd waitls-onexception-bug && stack build --fast`

[2019-06-24 13:21] kazu-yamamoto commented on #746
Very strange. `network-byte-order` version 0.1.1 should provide both. And `http2` version 2.0.0 requires it.

[2019-06-24 13:21] k-bx commented on #746
Ok, I'll check it later sometime.

[2019-06-24 16:25] snoyberg commented on #755
@kazu-yamamoto No objection to the release from me, thanks for checking. 👍

[2019-06-25 04:44] kazu-yamamoto commented on #755
Thanks. I have released warp-3.3.0 and warp-tls-3.2.7.
@snoyberg You should release a new version of wai-app-static.

[2019-06-25 04:44] #755 closed

[2019-06-26 21:24] MichaelXavier opened #758 "Document OutputFormatter/OutputFormatterWithDetails"
It would be really helpful if `OutputFormatter` (`ZonedDate -> Request -> Status -> Maybe Integer -> LogStr`) and `OutputFormatterWithDefaults` (`ZonedDate -> Request -> Status -> Maybe Integer -> NominalDiffTime -> [ByteString] -> Builder -> LogStr`) documented their arguments. I'm trying to implement a custom logger and I'm really having to dig into the code to see what some of these fields even

[2019-06-27 04:58] snoyberg commented on #758
Would you be interested in sending a PR adding such documentation? It would definitely be appreciated! I haven't looked at this in quite a while.

[2019-07-05 23:24] centromere opened #760 "Change log specifies incorrect pull request"
The [change log](https://github.com/yesodweb/wai/blob/master/warp/ChangeLog.md#330) says:

but in 3.2.28 it says:

and lists the same PR for both.

[2019-07-06 04:17] t3hmrman opened #761 "Requests with no headers cause errors"
It looks like WAI (more precisely warp) regards headers as required for web requests, throwing an error if none are present. Is this the intended behavior?

The relevant warp code is in [Request.hs @ L106](https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/Request.hs#L106) (reproduced below):

[code]

**Machine information**
OS Name: Ubuntu 18.10 (on the server)
`stack`: 1.7

[2019-07-19 18:54] goolord opened #763 "sinkRequestBodyEx fails to parse multipart/form-data, loops"
Ubuntu 18.04
ghc 8.6.3
cabal 2.4.1.0
wai-extra == 3.0.27
wai == 3.2.2.1

minimal reproducible example:
https://github.com/goolord/wai-sinkRequestBodyEx-mre/blob/master/src/Main.hs

with `noLimitParseRequestBodyOptions`, this loops forever

[2019-07-21 04:30] snoyberg commented on #763
I don't reproduce that behavior. Using Stack and lts-13.28, I get:

[code]

[2019-07-24 00:01] Cipherwraith opened #764 "request: Backlog controlling parameter"
We are running WAI on our freebsd machines and are having trouble keeping up with traffic when there is a burst of connections. In 2015 our team had similar problems with the freebsd kernel itself and we submitted a kernel patch to raise somaxconn to 32bit integer size. Our patch (was included in freebsd11)[https://lists.freebsd.org/pipermail/freebsd-current/2015-October/057745.html].

Recently ou

[2019-07-24 07:07] snoyberg commented on #764
I don't see a problem with such a change. Would you like to send a PR to
add such a configuraiton option?

On Wed, Jul 24, 2019 at 3:01 AM Ron <notifications@github.com> wrote:

[2019-07-24 12:20] Cipherwraith commented on #764
Okay, I will work on that this week. Will follow-up if I have questions.

[2019-07-26 08:36] xaviershay opened #765 "wai-extra: new EventSource builder to enable recursive emitters?"
Let's say I'm writing an eventsource handler that counts upwards. To do this with current API, I _think_ the best way is to use an `IORef` with `eventSourceAppIO`. WDYT about a method like this as an alternative:

[code]

The type is a bit weird, but it lets me do:

[code]

... which I think is quite nice and feels more like how I would write this sort of loop normally?

I'm happy to contribute a

[2019-07-27 00:13] xaviershay commented on #765
There's some prior art in `wai-websockets`, which isn't exactly the same interface but allows the same approach: http://hackage.haskell.org/package/wai-websockets-3.0.1.2/docs/Network-Wai-Handler-WebSockets.html (recursively call `sendTextData`)

[2019-07-29 12:36] snoyberg commented on #765
I'm OK with something like this in principle, no strong opinions right now.

[2019-07-29 21:30] xaviershay commented on #765
Thanks, I'll try putting together a proper PR!

[2019-07-29 21:30] #765 closed

[2019-08-04 16:17] eyeinsky commented on #482
Hi -- I'd like to resurrect this ticket. It looks like it's currently not possible to have access to client certificates in the request handler. The only field in the request that has to do with https is `isSecure` which is a boolean for if the connection to warp is over TLS.

There is a `onClientCertificate` hook in the tls settings which receives the certificate chain, but as @jkarni pointed out

[2019-08-04 19:25] vdukhovni commented on #482
I'll try to take a look at this in the next few weeks, but can't make any promises... :-(

[2019-08-05 07:54] eyeinsky commented on #482
Thanks! I might as well try "getting the thing I want" and then we could work out on what the API should be. I'm basically just looking for tips from someone more knowledgeable on if there is an obvious way this should be.

I was also thinking that maybe in the warp-tls there should be a form of runTLS that would take a new TLSApplication type (since it is warp-*tls*) which in addition to the `Req

[2019-08-05 13:26] vdukhovni commented on #482
In terms of "persisting" across resumptions, I would ensure that sufficient client certificate information is encoded in session tickets, so that the state is kept client-side, and returned to the server on each resumption. Ticketless resumption (TLS 1.2 and earlier support both tickets and session-ids) would then not be supported, maintaining server-side state for disconnected clients is too expe

[2019-08-06 16:34] eyeinsky commented on #482
I don't know too much of TLS internals -- do you mean that it is possible to store custom data inside the session ticket and that the client certificate could be fitted in there so that it would be available at resumption?

Do you mean that in most cases there should be a separate `onClientCertificate` hook for each domains? (Or at least have distinct code paths for them, perhaps behind an `if` or

[2019-08-06 20:36] hanshoglund commented on #746
I've run into this on a private repo using LTS-11.17 (warp-tls-3.2.4.3). Will try to do a minimal repro.

[2019-08-07 06:04] vdukhovni commented on #482
The session ticket is an opaque encrypted blob, whose content and syntax is private to the issuing server, a server can put anything it wants to in a session ticket, all that's required is that it be able to use the session ticket and its STEK (session ticket encryption key) to recover the master secret for the session. Whatever else the server puts into a session ticket is up to the server.

No.

[2019-08-17 13:00] eyeinsky commented on #482
Alright, I've now dug deeper into tls.

This is perhaps a random note but re-reading this https://github.com/vincenthz/hs-tls/issues/275 issue I found that at least to me it looks like the `Information` data type is pretty much transient. It's created by contextGetInformation from a `Context` and has no life of its own. So the idea to store anything there makes no sense by itself -- it needs to be

[2019-08-20 06:04] eyeinsky commented on #482
I forked tls and warp-tls (wai) and did these changes:
- in tls: add a new field to the context https://github.com/eyeinsky/hs-tls/commit/e9e3fcbef4eaa11c85bce31718959b05801724dc, then add a function to get this (it doesn't have the ctx prefix and maybe what it will return will not only be client certificates, thus the more general name) https://github.com/eyeinsky/hs-tls/commit/64945eeb263b8ff973

[2019-08-23 09:16] survived commented on #345
Nowadays this is the only way to serve properly MP4 video files. For example, Chrome requires Range requests support to enable feature "jumping over video timeline". Bare range request support may be implemented by writing specific handlers, but multirange is needed for large files and cannot be implemented by writing specific handlers. Shouldn't this issue be reopened again?

[2019-08-29 14:55] kamoii opened #768 "Http headers for HEAD method and GET method differs"
When the reponse is created using `responseLBS`, the response http headers for `GET` method and `HEAD` method differs. `GET` haves `Transfer-Encoding: chunked` header but `HEAD` doesn't.

Test code:
[code]

Request with `GET` and `HEAD`
[code]

According to [rfc2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html), `GET` and `HEAD` response http headers should be same.

[code]

[2019-09-08 05:26] fumieval opened #769 "warp-tls: responseFile doesn't seem to work"
In https://github.com/fumieval/webauthn/blob/2f496a4809a4e328970820f070b904412969aaff/wai-middleware-webauthn/demo/Main.hs, using `responseFile` instead of `responseLBS` causes ERR_SPDY_PROTOCOL_ERROR on the browser. ~It displays
`HandshakeFailed (Error_Packet_unexpected "Alert13 [(AlertLevel_Fatal,CertificateUnknown)]" " expected: handshake 13")` __in both cases__, not sure if it's relevant.~

Ad

[2019-09-10 02:39] #673 closed

[2019-09-11 00:28] kazu-yamamoto commented on #769
What will happen if set `settingsHTTP2Enabled` to `False`?

[2019-09-11 11:00] fumieval commented on #769
That did work.

[2019-09-11 12:18] kazu-yamamoto commented on #769
Did you access to `https`, not to `http`?
Anyway, is the certificate of your server valid? I.e. do you provide certificate chains including all intermediate CAs?

[2019-09-13 08:56] fumieval commented on #769
The problem I'm talking about is `ERR_SPDY_PROTOCOL_ERROR`, not `HandshakeFailed`. `ERR_SPDY_PROTOCOL_ERROR` happens only when `responseFile` is used.

[2019-09-17 02:27] kazu-yamamoto commented on #769
This is not relating to TLS. TLS is just required to negotiated HTTP/2.
This bug happens on all platforms including macOS if `settingsFdCacheDuration` is 0, the default value.

b688d9b30e0b0b05813cc612ae03e64af112e04b should fix this.

[2019-09-19 00:25] kazu-yamamoto commented on #769
A new version of `warp` has been released.
Than you for reporting this issue.

[2019-09-19 00:25] #769 closed

[2019-09-28 09:56] k-bx commented on #746
Just spent a minute checking this. The issue is still present, made a PR fixing it https://github.com/yesodweb/wai/pull/770

[2019-10-03 07:22] #746 closed

[2019-10-09 15:04] ip1981 opened #772 "Dependency hell"
Guys, what is going on with the dependencies?

`wai-extra-3.0.28` requires  `wai-logger (>=2.3.2 && <2.4)` _and_ `fast-logger (>=2.4.5 && <2.5)`, while perfectly fitting `wai-logger-2.3.6` requires `fast-logger (>=3)`.

This is kind of a rant towards entire Haskell ecosystem with arbitrary unmotivated upper boundaries of non-existent releases :man_facepalming:.

TL:DR:

[code]

[2019-10-09 15:19] ip1981 commented on #772
The least that can be done is not set version constraints on indirect dependencies.

[2019-10-09 21:58] kazu-yamamoto commented on #772
@snoyberg `wai-extra` should fix the boundary.
@ip1981 As workaround, you can use the `--allow-newer` option to `cabal` and `allow-newer: true` to `stack`.

[2019-10-10 02:58] snoyberg commented on #772
The original report is far too confusing for me to follow. The original
reporter would be better off opening a PR.

On Thu, Oct 10, 2019, 12:58 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2019-10-11 11:16] #772 closed

[2019-10-30 20:39] emhoracek opened #774 "Hiding passwords from RequestLogger"
I'd like to use RequestLogger in my app because it seems like the simplest logging solution, but I need to be able to filter passwords from the logs. I see that I can create a `OutputFormatterWithDetails` but it's pretty annoying to have to import a bunch of low-level libraries to stitch together a custom logging string, when I really like the `Detailed` format except that it logs passwords. I hav

[2019-10-30 23:20] bitc opened #775 ""defaultOnException" function should also print request path"
The current implementation of `defaultOnException` is short-and-sweet and to the point:

[code]

This prints only the error message to the console. In my opinion, this is missing the crucial information of the request path. Not knowing which request caused the error makes debugging it needlessly more difficult.

I believe that a better implementation that most users would prefer would be something

[2019-10-31 02:33] snoyberg commented on #774
Do I understand correctly that you're concerned about passwords in query string parameters? Standard best practice is to not include passwords or any sensitive information there, since multiple systems may by default log that information (including intermediate proxies and clients themselves). Instead, it's better to include passwords in POST parameters (i.e. the request body) or some kind of auth

[2019-10-31 02:35] snoyberg commented on #775
The error message is intentionally very vague, because:

1. The fact that this function is called should always be considered a bug in the application itself. Applications should catch and log their own exceptions. Doing otherwise breaks middleware, for example.
2. There's a concern of leaking information into logs. As it happens, the previous issue talks about this kind of problem (#774).

[2019-10-31 19:29] emhoracek commented on #774
@snoyberg No, these passwords are in POST parameters. The `Detailed True` format prints the POST body and POST parameters.

[2019-10-31 21:52] emhoracek commented on #774
Here's a test I added to the PR I just submitted (#776 )
[code]

[2019-11-01 06:55] bjin opened #777 "incorrect Request.isSecure for plain text HTTP/2 connection"
### steps to reproduce

* Compile and run the following wai application (tested with stackage `nightly-2019-11-01`)

[code]

* Connect to application with HTTP/1.1 get correct `Request.isSecure`
[code]

* Connect to the application with plain text HTTP/2 get incorrect `Request.isSecure`
[code]

### expected behavior
The application should return the same response for HTTP/1.1 and HTTP/2, and since

[2019-11-03 07:26] snoyberg commented on #775
We're talking about defaults here. And the default should not contain extra information. I don't see the relevance of the rest of this discussion to that point.

[2019-11-03 07:47] snoyberg commented on #777
@kazu-yamamoto do you have thoughts on this?

[2019-11-05 07:03] kazu-yamamoto commented on #777
To tell the truth, I knew this issue. But I have not motivated for a long time, sorry.

eb33f4b6d0cd316be4bcd811337c9350cca34a2c should fix this. With my toy code:
[code]

@bjin Would you try `master`?

[2019-11-05 07:09] bjin commented on #777
yes, it fixed the issue. thanks.

[2019-11-05 07:09] #777 closed

[2019-11-05 19:30] eyeinsky commented on #482
@vdukhovni @kazu-yamamoto Hi! Sorry, I have been busy with other life, but would like to continue with the topic of making tls information available at request time. The need we had was to authenticate requests based on client certificates (based on the email saved in a certificate) that are installed in the browser. We got this working in my forks of hs-tls and wai and are using it.

Just to make

[2019-11-05 21:39] bitc commented on #775
ok. what about my suggestion about enhancing [`logStdoutDev`](http://hackage.haskell.org/package/wai-extra-3.0.28/docs/Network-Wai-Middleware-RequestLogger.html#v:logStdoutDev) to display more detailed errors?

[2019-11-06 00:38] kazu-yamamoto commented on #777
A new version has been released.
Thank you for your contribution!

[2019-11-06 00:58] kazu-yamamoto commented on #768
[RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.2) says:

   header fields in response to a HEAD request as it would have sent if
   the request had been a GET, except that the payload header fields
   (Section 3.3) MAY be omitted.

[RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.3.1) says:

Thus, `Transfer-Encoding` should be sent but not MUST.

So, my question comes: do we ha

[2019-11-06 01:13] kazu-yamamoto commented on #482
@eyeinsky Since this is a real problem, I would like to fix it.
I'm one of maintainers of both `tls` and `warp-tls`, I could help you.

The first thing you should do is send a PR of `ctxClientCerts` to hs-tls.

[2019-11-06 04:35] snoyberg commented on #775
That's getting pretty far afield of what we were originally discussing, so I'm finding it hard to keep track of where this is heading. Overall, I'd be worried about hiding at dev time broken applications. It's simply a bad idea to have an application in WAI that throws an exception. The most I'd consider appropriate would be to have `logStdoutDev` raise a big warning that your application isn't ex

[2019-11-07 13:12] kamoii commented on #768
@kazu-yamamoto If its not a `MUST`, no, I don't think there is any reason to spend time fixing this issue.
Thank you for responding. Closing the issue.

[2019-11-07 13:12] #768 closed

[2019-11-10 23:02] t3hmrman commented on #761
Thanks to /u/WJWH from reddit:

Based on this (and looking at the code mentioned) it looks like the request *itself* has to be completely empty

[2019-11-10 23:04] t3hmrman commented on #761
Just figured it out -- this *is not* a bug with `wai` but my own fault -- a monitoring tool I'm using was doing pure TCP connection checks *rather* than doing a full HTTP GET.

This was entirely self-inflicted -- apologies for any time this may have taken up

[2019-11-10 23:04] #761 closed

[2019-11-16 16:48] eyeinsky commented on #482
I created the pull request here: https://github.com/vincenthz/hs-tls/pull/405

[2019-11-19 04:14] #763 closed

[2019-11-19 10:29] tirumaraiselvan commented on #734
Is this on the roadmap? :)

[2019-12-06 04:12] hasufell opened #780 "Extreme slowdowns (x20) in web spec tests with warp==3.3.4"
### Bug Report

We are running some webspecs with a scotty/warp/wreq/http2 stack.

The freeze file can be seen at: https://gist.github.com/hasufell/0d709bbbdc06af9a86809d64be69dd6c#file-cabal-freeze-broken

Our entire test suite used to take **8 minutes**, with the bump to `warp==3.3.4` it takes about **3 hours**. There is no other bump that can cause it, *all other dependencies are exactly the sa

[2019-12-06 05:19] hasufell commented on #780
Through bisecting I found the commit: https://github.com/yesodweb/wai/commit/aee7377197a30aff4cdff3064a569bdf01d1d42b
related issue: https://github.com/yesodweb/wai/issues/673

[2019-12-06 06:42] kazu-yamamoto commented on #780
@hasufell Thank you for reporting.

`gracefulClose` adds extra 5 seconds to close a connection in *worst* case. Does webspec include about 2,000 test cases?

[2019-12-06 06:48] hasufell commented on #780
I think about ~1k, but some of them have multiple requests.

Shouldn't `gracefulClose` be specific to HTTP/2?

[2019-12-06 06:59] kazu-yamamoto commented on #780
Yes, `gracefulClose` helps HTTP/2. But it should not harm HTTP/1.1.
Could you look into packet dumps to see if clients send TCP FINs?
It FINs are coming, this is a bug of `gracefulClose`. If FINs are not coming, this is a bug of the client.

[2019-12-10 09:49] hasufell commented on #780
I don't see any FINs from the client https://gist.github.com/hasufell/d87db04ada989c34bba37beebfadde01

IMO, it's a huge assumption. I think such a big change should be as narrow in scope as possible.

[2019-12-10 10:34] kazu-yamamoto commented on #780
OK. I will think workaround for HTTP/1.1.

[2019-12-11 05:06] hasufell commented on #780
@kazu-yamamoto afais wreq uses http-client to do the calls and this doesn't seem to send FIN either. @snoyberg?

[2019-12-11 06:26] snoyberg commented on #780
I don't know offhand, but the keepalive/connection manager code in http-client would probably prevent that.

[2019-12-15 00:17] win-t commented on #196
Hi, I'm trying to build a simple web server with WARP.
I coming from golang, in golang they use `context` to notify if a request is canceled or not.
I look into the implementation [here](https://github.com/golang/go/blob/bbbc6589dfbc05be2bfa59f51c20f9eaa8d0c531/src/net/http/server.go#L677-L715), they use a separate thread (goroutine) to read from the socket, if the socket returns 0 bytes it means

[2019-12-16 07:17] #780 closed

[2019-12-17 03:32] kazu-yamamoto opened #784 "Implementing sesson tickets"
`warp-tls` now uses `Network.TLS.SessionManager`. The motivation which I implemented this module is to allow early data (0RTT) of TLS 1.3. It requires that session information is used only once to prevent replay attacks. For this purpose, `sessionResumeOnlyOnce` of`SessionManager` was introduced in `tls`. And *in-memory* manager was required to check the only-once policy.

However, memory usage of

[2019-12-20 00:49] larskuhtz commented on #692
I wonder if the following is related: We have an event source, that when served via HTTP works fine, but when served via HTTPS terminates after about 60s, but sometimes also earlier. On the server side the application receives `ThreadKilled`. On the network side the TLS connection is closed normally with `Alert (Level: Warning, Description: Close Notify)` and the TCP connection is closed.

This ha

[2019-12-30 18:55] larskuhtz opened #785 "Eventsource with HTTP/2 + TLS terminates after approximately 60s"
We have an event source, that when served via HTTP/2 works fine, but when served via HTTPS/2 terminates after about 60s, but sometimes also earlier. On the server side the application receives `ThreadKilled`. On the network side the TLS connection is closed normally with `Alert (Level: Warning, Description: Close Notify)` and the TCP connection is closed.

This happens with browsers and curl as cl

[2020-01-04 06:30] t3hmrman commented on #739
I don't have a warp-only repro just yet, but where I think the problem is:

- https://github.com/yesodweb/wai/blob/8773fb48a436fad5f451dbb6a8750fab66d1aeff/warp/Network/Wai/Handler/Warp/Run.hs#L359
- https://github.com/yesodweb/wai/blob/8773fb48a436fad5f451dbb6a8750fab66d1aeff/warp/Network/Wai/Handler/Warp/Run.hs#L553

Just spitballing here but I *think* that the `recv` (aka `connRecv`) is being c

[2020-01-06 02:35] kazu-yamamoto commented on #739
I would like to understand the point correctly. Idle connections are cleaned up after 30 seconds or so. What is an expected behavior? Should `ThreadKilled` returned instead of `Bad file descriptor`?

[2020-01-06 02:41] kazu-yamamoto commented on #785
Thank you for your report. The point is getting clearer. I will try to find a source of this bug.

[2020-01-06 05:52] t3hmrman commented on #739
Hi @kazu-yamamoto Well I'm not sure what the original poster of this issue wanted for behavior, but personally I'd like this to *not* be an exception if possible, since it's not an "exceptional" case. If a connection is idle and cleaned up, it would be nice to prevent receiving on it without letting the failure happen -- a well placed MVar or IORef seems like it might help here, or even more simpl

[2020-01-07 03:07] kazu-yamamoto commented on #745
Fixed in #756. Let's close.

[2020-01-07 03:07] #745 closed

[2020-01-07 03:14] kazu-yamamoto commented on #760
Sorry for the late response. I did not notice this.
This is fixed in a7c8be2.
Thank you for your report!

[2020-01-07 03:14] #760 closed

[2020-01-07 03:18] kazu-yamamoto commented on #730
I would like to close this issue. Please reopen if necessary.

[2020-01-07 03:18] #730 closed

[2020-01-07 05:12] kazu-yamamoto commented on #785
Relating to #692.

[2020-01-07 05:29] kazu-yamamoto commented on #785
`http-client` does not support HTTP/2. I think that HTTP/1.1 was used in your test.

[2020-01-07 05:33] larskuhtz commented on #785
That would explain why the issue was not observed with http-client. So, it's specific to HTTP/2 over TLS.

[2020-01-07 05:50] kazu-yamamoto commented on #785
Ah. OK. Thanks.
Would you tell me how to use `curl` to reproduce this issue?

[2020-01-07 06:06] larskuhtz commented on #785
Here is some code that I use to reproduce the issue. It contains a comment about how to test with curl. It also has some html to reproduce from a browser. https://gist.github.com/larskuhtz/f8eb5616d5eb9a0c7afa228171c45e76

The example isn't minimal, but roughly mimics the relevant bits of our actual production code. Let me know if you want me to try to come up with a minimal example.

[2020-01-07 06:32] kazu-yamamoto commented on #785
Now I reproduced it!

[2020-01-07 07:19] kazu-yamamoto commented on #785
This is not specific to HTTP/2 over TLS but specific to HTTP/2.
Please try `curl -v --http2-prior-knowledge -H "Accept:text/event-stream" "http://127.0.0.1:8080""`.

This makes sense to me.

[2020-01-07 07:59] kazu-yamamoto commented on #785
@larskuhtz Would you try this patch? https://github.com/kazu-yamamoto/wai/commit/520c3de860d9e31ac39470d03c381a3ed405b096

This fixed this issue on my local machine.

[2020-01-07 08:00] kazu-yamamoto commented on #785
The minimum server code so far: https://gist.github.com/kazu-yamamoto/370d3ff3e0bc28bbfe6eb2ecc67feb95

[2020-01-07 14:24] kazu-yamamoto commented on #739
Would you tell me the GHC version and which OS.

[2020-01-07 14:42] kazu-yamamoto commented on #739
GHC 8.8.1 on macOS 10.15.2: I can reproduce this with the following code:

[code]

Client side:

[code]

Server side:

[code]

[2020-01-08 06:18] kazu-yamamoto commented on #739
I have implemented several toy servers to reproduce this.
While they try to receive data, they are killed by other threads.
In all cases, `ThreadKilled` is caught instead of `Bad file descriptor`.

The warp code tells me that a server thread is killed and then its socket is closed. I don't understand why a server thread can survive and read the socket after its the socket is closed.

@snoyberg Any

[2020-01-08 06:26] kazu-yamamoto commented on #739
Ah. `closeConn` is also called the timeout manager! That's why.

[2020-01-08 06:26] snoyberg commented on #739
Nice, good catch!

[2020-01-08 06:33] kazu-yamamoto commented on #739
I'm reading #602 and #605.

[2020-01-08 06:45] kazu-yamamoto commented on #739
`setOnException` was introduced in 3.1.0. #605 was merged for 3.2.10.
Isn't `setOnException` good enough for #602? I don't understand why we merged #605 instead of recommending usage of `setOnException`.

[2020-01-08 10:43] #482 closed

[2020-01-08 11:43] kazu-yamamoto commented on #785
This should be fixed with Warp 3.3.6.
Please reopen if necessary.

[2020-01-08 11:43] #785 closed

[2020-01-08 11:43] kazu-yamamoto commented on #692
This should be fixed with Warp 3.3.6.
Please reopen if necessary.

[2020-01-08 11:43] #692 closed

[2020-01-08 11:47] kazu-yamamoto commented on #482
New versions of `tls`, `warp` and `warp-tls` have been released. So, this issue should be fixed.

[2020-01-08 13:52] eyeinsky commented on #482
Depended on the new releases in our project with positive results :). AFAIK this issue is now resolved, thank you!

[2020-01-08 17:16] larskuhtz commented on #785
@kazu-yamamoto thanks a lot for taking care of this! I'll try your fix soon.

[2020-01-13 10:31] tysonzero commented on #738
Perhaps the [IANA](https://www.iana.org/assignments/media-types/media-types.xhtml) could be used.

One thing worth noting is that neither direction in this relation is actually truly injective, since one mime type can have multiple valid extensions, and one extension can have multiple valid mime types.

This isn't a huge problem as we can just pick a canonical value in each direction. It just mean

[2020-01-16 15:20] #739 closed

[2020-01-20 02:16] kazu-yamamoto commented on #738
@tysonzero If you want this to go forward, please show us your proposal code.

[2020-01-21 00:40] kazu-yamamoto opened #788 "Deleting stale branches"
@snoyberg We have about 30 stale branches. They are annoying me when I try to find a target commit. May I delete stale branches? Which branches do you want to keep?

[2020-01-21 00:42] kazu-yamamoto commented on #788
The `wai-frontend-monad` branch is huge and really annoying.

[2020-01-21 05:42] snoyberg commented on #788
I've cleaned up a bunch of these. Are you happy with what's left?

[2020-01-21 08:07] kazu-yamamoto commented on #788
Yes. Yes. Yes! Thank you!

[2020-01-21 08:07] #788 closed

[2020-01-24 12:20] Profpatsch commented on #680
I have tried doing this with the current wai-app-static:

[code]

I patch `ssLookupFile` to remove the file modification time from the result, which makes it fall to the `Nothing` case here:

https://github.com/yesodweb/wai/blob/73f79222b52c02f006becad83c44caf30736b640/wai-app-static/Network/Wai/Application/Static.hs#L189-L193

However, the `Last-Modified` header is still set by warp, in `conditio

[2020-01-28 01:32] kazu-yamamoto commented on #680
Does #791 also fix this?

[2020-01-28 15:18] Profpatsch commented on #680
@kazu-yamamoto I don’t think so, it will always add a `Last-Modified` header when passing `Nothing` instead of `Just Filepart` to `respondFile`, right? afaik `wai-app-static` uses `respondFile` with `Nothing`, so it should still create a `Last-Modified` header in any case.

[2020-01-28 15:39] Profpatsch commented on #680
Yeah, it calls `responseFile`:

https://github.com/yesodweb/wai/blob/9a89f81c9a77f40ce60c87770b6513e920077314/wai-app-static/WaiAppStatic/Storage/Filesystem.hs#L98

Of course you can overwrite it, but then you have to re-implement `fileSystemLookup`, which is not exposed.

[2020-01-29 02:06] kazu-yamamoto commented on #680
It seems to me:

- In the case of `Just`, `addContentHeadersForFilePart` is called. It does not add `Last-Modified:`.
- In the case of `Nothing`, `conditionalRequest` is called. It does not add `Last-Modified:` if exists.

Am I missing something?

[2020-01-29 21:22] Profpatsch commented on #680
My use-case (and I’m assuming @chris-martin’s as well) is serving static files with `wai-app-static` (which is also in this repository).

`wai-app-static` passes `Nothing` to `responseFile`, which means that a `Last-Modified` header is always added. We would like a way to disable adding `Last-Modified` headers alltogether when using `wai-app-static`.

I realize you are mainly the author of `warp`,

[2020-01-30 01:37] kazu-yamamoto commented on #680
Ah. You were talking about `wai-app-static` while I was talking about `warp`. Sorry but I cannot help you on this issue.

[2020-03-09 13:58] #701 closed

[2020-03-09 15:34] exarkun opened #797 "Large builder-generated responses are unreasonably timed out while being written"
If an application provides a builder for a response body that builds a sufficiently large value then it cannot be written to a client before the "slow-loris" timeout engages and closes the connection.  This seems to be because the `sendRsp` implementation for `RspBuilder` never tickles the timeout manager while sending the response data to the connection.

Imagine a response body of 1000 KiB and a

[2020-03-11 06:03] snoyberg commented on #797
It's definitely intended by me that each reasonably-sized chunk that is sent in a response should tickle the timer. If it's not behaving that way, I'd consider it a bug. @kazu-yamamoto does this issue sound familiar to you?

[2020-03-16 03:13] kazu-yamamoto commented on #797
It seems to me that the current semantic of timeout in the HTTP/1.1 code is ambiguous. It's good time to re-consider things around timeout. I think more `tickle`s are necessary.

[2020-03-22 01:26] Dridus commented on #684
a quick glance at the code makes me think that it's due to `processRequest` in `Network.Wai.Handler.Warp.Run` using `T.resume th` after the response has been triggered, since websockets are a raw "response". probably this code should not call `T.resume th` when a raw response is being used?

[2020-03-22 16:48] Dridus commented on #684
for me, using a ping thread (`Network.WebSockets.withPingThread`) solved the problem of my websockets being killed after ~60 seconds

[2020-03-23 00:34] kazu-yamamoto commented on #797
Probably relating to #684

[2020-03-24 00:25] int-e opened #798 "warp 3.3.6 broke warp-tls-3.2.9 (the latest version to support GHC 8.0)"
This comes rather late, but because https://github.com/yesodweb/wai/commit/f8282948d891fbf6a9e6dc22ca1339b4a5275817 added a new (strict) field to the `TLS` constructor of the `Transport` type, warp 3.3.6 was not API-compatible with 3.3.5.

As a result, trying to install warp-tls with cabal-install on GHC 8.0.2 currently finds no viable installation plan: it picks up warp-tls-3.2.9, and warp-3.3.9

[2020-03-28 18:28] danidiaz opened #799 "wai-extra: problem using `eventStreamAppRaw`"
Hi, I'm trying to write a simple example of server-sent events with `Network.Wai.EventSource`  and it keeps failing on the client side. I'm using Windows 10, GHC 8.10.1, wai 3.2.2.1, wai-extra 3.0.29.1 and warp 3.3.9.

The server starts up without problems, but the javascript code (tested in Chrome) doesn't receive any events, only errors.

The code on the server side uses `eventStreamAppRaw`, it

[2020-03-28 23:07] danidiaz commented on #799
Actually, there is no bug in wai-extra. I just misunderstood how the server-sent events protocol worked, and my code was incorrect. So I'm closing this.

That said, perhaps it could be mentioned in the docs for `eventStreamAppRaw` that the function ignores `CloseEvent`s completely, as it seems to do. That confused me a little. Also clarify that a  "flush" action is passed to the handler.

[2020-03-28 23:07] #799 closed

[2020-04-04 04:22] kazu-yamamoto commented on #798
@int-e Thank you for reporting. I did the first option. Would you confirm?

[2020-04-04 09:40] int-e commented on #798
Looks good to me, thanks! (closing)

[2020-04-04 09:40] #798 closed

[2020-05-12 04:25] #797 closed

[2020-05-20 01:33] kazu-yamamoto opened #802 "Supporting HTTP/3 (aka HTTP/2 over QUIC)"
I added `warp-quic` to this repository.

This library depends on no-yet-released libraries including `tls`, `quic` and `http3`. I don't recommend to use it now.

HTTP/3 and QUIC are still under standardization. I will release `quic` and `http3` when their specs become RFCs.

Anyway, `warp-quic` is working well. I'm looking forward to the day to release `warp-quic`!

Cc: @snoyberg

[2020-05-20 01:41] kazu-yamamoto commented on #690
This is done in `http2` library.

[2020-05-20 01:41] #690 closed

[2020-05-20 01:42] kazu-yamamoto commented on #655
The next version of `http2` will expose a lot of `Internal` modules. You can check here: https://github.com/kazu-yamamoto/http2

[2020-05-20 01:42] #655 closed

[2020-05-20 01:56] kazu-yamamoto commented on #550
This is done by `tls` and warp-tls is ussing `ciphersuite_strong`.
Let's close.

[2020-05-20 01:56] #550 closed

[2020-05-20 03:12] snoyberg commented on #802
I was just discussing QUIC with some coworkers yesterday, we're all very excited about your work here!

[2020-05-22 11:24] docteurklein opened #803 "is it possible to flush headers early when using responseStream ?"
I'm using wai-extra's `eventSourceAppChan` and the headers are only sent after the first activity on the chan, which causes clients like curl to timeout with `curl: (52) Empty reply from server`.

I think the headers should be flushed right after the connection is initiated.
Any idea how I could achieve that?

[2020-05-22 11:52] snoyberg commented on #803
Not sure it'll work, but could you try adding a `CommentEvent` with a [`flush`](https://www.stackage.org/haddock/lts-15.13/binary-0.8.7.0/Data-Binary-Builder.html#v:flush)?

[2020-05-23 11:39] docteurklein commented on #803
I thought about putting an initial CommentEvent to trigger the header flush, but it should be triggered right after a new connection, which doesn't seem to be possible (how to know when a connection is made) ?

Thanks for the quick answer and your time :)

[2020-05-23 12:11] docteurklein commented on #803
I just tested this change https://github.com/yesodweb/wai/commit/c4aa172e3978837313424f843355563fa02c5f94
and it seems to do the trick.
Do you think i should try to propose a PR?

[2020-05-24 10:56] snoyberg commented on #803
I'm OK with such a PR.

[2020-05-26 03:33] #803 closed

[2020-06-09 20:47] kazu-yamamoto commented on #802
FYI: https://kazu-yamamoto.hatenablog.jp/entry/2020/06/09/155236

[2020-06-18 22:27] ocramz commented on #669
This is the only place I've seen mentioning the size of a body chunk; perhaps it's worth mentioning this quantity in the Haddock? Is it 16KB in all cases ?

[2020-06-23 22:43] kazu-yamamoto commented on #729
Now the `tls` library exports `getClientCertificateChain :: Context -> IO (Maybe CertificateChain)`. We should think how to pass `Context` to this function.

[2020-06-23 22:50] kazu-yamamoto commented on #729
Sorry, I might misunderstand this. Do you want to provide private Cert chains for client certificates?

[2020-06-23 22:52] kazu-yamamoto commented on #733
This should be brought to `tls` if necessary. Let's close.

[2020-06-23 22:52] #733 closed

[2020-06-30 14:52] lovehermadly commented on #729
The purpose is the one you mentioned in the question just before for enabling suitable selection of a client certificate during client authentication request in the TLS handshake.

Currently I'm using the runTLS function of Network.Wai.Handler.WarpTLS.

In the left-most parameter thereof (TLSSettings), I'm using the tlsWantClientCert field with True to request client authentication and I'm using t

[2020-07-23 04:57] tirumaraiselvan opened #807 "settingsMaxTotalHeaderLength not working as expected"
Raised a question [here](https://stackoverflow.com/questions/63035202/is-maxtotalheaderlength-working-as-expected) and [K. A. Buhr](https://stackoverflow.com/a/63044372/1911889) helped in confirming a bug.

Cross-posting:

Warp has a `settingsMaxTotalHeaderLength` field which by default is 50*1024 : https://hackage.haskell.org/package/warp-3.3.10/docs/src/Network.Wai.Handler.Warp.Settings.html#def

[2020-07-27 17:03] ocharles opened #808 "HTTP session prematurely closed for streaming responses that take a long time to deliver their first chunk"
In short, if you have an `Application` that uses `responseStream`, but the `StreamingBody` provided takes more than the slow-loris timeout duration to provide the first streaming chunk, `warp` will prematurely close the connection (under slow loris protection). This is wrong, the slow lorris protection should only kick in for warp-specific code, but in this case we're blocked in user code.

Here's

[2020-07-28 22:45] snoyberg commented on #808
I think you're probably right, thank you for identifying this! Would you be up for sending a PR adding in the appropriate `pause` call?

[2020-08-08 22:34] vdukhovni commented on #784
FWIW, I agree that early data is not worth it.  Use session tickets.

[2020-08-08 22:53] vdukhovni opened #809 "Control.Reaper undocumented cache lookup/cleanup race"
The `Control.Reaper` module includes example usage as a cache with a periodic cleanup action.

However, I believe that the cache exhibits an unexpected and undocumented behaviour, in that it is
made empty when the cleaner action starts, and threads doing lookups overlapping that action will
needlessly perform work and create new entries that will need to be merged with the retained cache
once the

[2020-08-09 04:39] snoyberg commented on #809
I think you're reading the code correctly

[2020-08-09 05:15] vdukhovni commented on #809
Perhaps a disclaimer about the current limitation (behaviour) is sufficient, unless there's an appetite for a more atomic cleaner action that can replace the cache without zeroing it temporarily.  But I don't think this meshes well with the job reaping use-case.  The two just aren't looking for the same semantics.

It seems that the cache example was just a refactoring of documentation for a plaus

[2020-08-09 09:17] snoyberg commented on #809
Sounds good. Doc PR definitely welcome

On Sun, Aug 9, 2020, 8:15 AM Viktor Dukhovni <notifications@github.com>
wrote:

[2020-08-10 03:48] snoyberg commented on #809
Addressed by #810

[2020-08-10 03:48] #809 closed

[2020-09-14 23:30] MaxGabriel opened #811 "Behavior of strictRequestBody and lazyRequestBody is undocumented"
`strictRequestBody` and `lazyRequestBody` consume the request body such that calling them twice will yield empty string the second time. This is fairly error prone and I think unexpected.

Example cases where you might access the body twice:

1. Middleware, which might read the body to log data about it up front, or could catch an exception in processing the request and log the request's body.
2.

[2020-09-15 02:23] snoyberg commented on #811
1. Agreed
2. I'm not in favor of breaking the API
3. That's reasonable, but I think the answer is straightforward: the entire point of the API is to be streaming, so consuming is a requirement
4. No, that breaks the point of the API and encourages bad behavior. There shouldn't be a "workaround," there should be "if you really think you have this need, do X."

[2020-09-15 12:22] MaxGabriel commented on #811
I guess, how do you think about the two example use cases I provided? Is the answer that middleware or middleware-esque functions like Yesod's [isAuthorized](https://www.stackage.org/haddock/lts-16.14/yesod-core-1.6.18/Yesod-Core.html#v:isAuthorized) should never touch the request body?

To me those use-cases are things I run into all the time and are legitimate (especially authentication checks l

[2020-09-15 15:49] snoyberg commented on #811
Bad behavior means holding data in memory when it isn't necessary. Most of the time, it isn't necessary. There are certainly cases where it is necessary. But talking about them as workarounds instead of necessary evils will encourage bad behavior.

I'm ok with introducing docs to clarify the situation. I'm ok with adding new functions with clearer names. I'm semi OK with deprecating the old ones.

[2020-09-20 08:22] vdukhovni opened #815 "wai-app-static generates non-standard (unquoted) ETag headers..."
It also compares `ETag` values in a way that does not conform to the the specification.

The code [in question](https://github.com/yesodweb/wai/blob/master/wai-app-static/Network/Wai/Application/Static.hs#L155-L174) just takes the base64-encoded bytestring as the "ETag" header value, but [RFC7232, Section 2.3](https://tools.ietf.org/html/rfc7232#section-2.3) requires quoted `ETag` values.

* Quote

[2020-09-20 17:06] snoyberg commented on #815
Are you interested in opening up a PR with the change you're hoping to see?

On Sun, Sep 20, 2020, 11:23 AM Viktor Dukhovni <notifications@github.com>
wrote:

[2020-09-21 01:10] vdukhovni commented on #815
Sure, if there are no objections.  But first, I would like feedback on whether that should be the slightly kludgy backwards-compatible approach, with quoting and "W/" prefixing  left to each implementor of `ETagLookup`, or whether (major version bump) the return type should be changed to a sum type:
[code]
with the quoting and "W/" prefixed done internally in `wai`.

In the backwards-compatible va

[2020-09-21 02:31] snoyberg commented on #815
I'm OK with the backwards-incompatible approach. For the more efficient etag: yes, it should be a separate PR, and ideally have a flag to control the behavior. I'm OK if the new behavior is the default though.

[2020-09-21 04:23] vdukhovni commented on #815
Looking more closely at the code and the specification, I see that there is not yet any handling of multi-valued "If-None-Match" headers, or the wildcard "*" value. So correct handling of "If-None-Match" will require parsing the header. Which brings me to my next question.  What parser combinator libraries if any are acceptable/preferred dependencies in `wai`?

I did not see any parser combinators

[2020-09-21 04:38] snoyberg commented on #815
I'd prefer not adding a new dependency in this library

[2020-09-21 04:45] vdukhovni commented on #815
I think this means a best-effort hand-rolled parser, or perhaps an internal small combinator module, with just the essentials, specialised to parsing (ByteString) header values. Mostly it would just need to recognise a few forms of quoting, so that splitting on various delimiters does not happen inside quotes.

[2020-09-23 01:41] MaxGabriel commented on #811
Ok cool, writing up some docs. The main security hole I envision is being vulnerable to a DDOS attack, since data could be kept in memory for longer. Is there also a concern about e.g. keeping plaintext passwords in memory longer than necessary or something like that that I'm missing?

[2020-09-23 02:36] snoyberg commented on #811
No, I was thinking of the DDoS attack. But it's really just a DoS attack: a single machine can trivially take down a server.

[2020-09-29 07:02] saurabhnanda opened #819 "wai-app-static: Allow handling of methods other than GET/HEAD"
I think I have hit an issue similar to #715. I'm trying to compose a Scotty application with wai-app-static, with wai-app-static being the first application in the Wai "chain".

wai-app-static has an `ss404Handler` which narrowly handles only those requests that are deemed worthy of a 404 by wai-app-static. In the case of a `POST` request, it summarily reject the request with a 405 and stops all f

[2020-09-29 07:33] snoyberg commented on #819
I don't really understand from this issue what the problem is, so I can't comment.

[2020-09-29 08:09] saurabhnanda commented on #819
@snoyberg do the changes in #820 make the issue and it's resolution clearer?

[2020-09-29 08:25] snoyberg commented on #819
Sort of. It seems like you're trying to convert this project into a middleware, when it was never designed for that use case. I'm hesitant to start adding hacks in to address a use case the library was never designed for in the first place.

I would recommend instead having a middleware in front of wai-app-static that checks its responses and then falls back to a different application on 404 or 40

[2020-09-29 08:54] saurabhnanda commented on #819
Hmm, I thought this was a logical extension of the existing `ss404Handler`.

Nevertheless, would you be able to point me to an example where a middleware executes multiple applications and decides which response is sent back to the browser/client?

[2020-09-29 09:10] snoyberg commented on #819
I don't have such an example available, sorry.

[2020-10-05 18:20] #811 closed

[2020-10-07 06:00] IfSixWasNine opened #821 "Please remove template haskell dependency from wai-websockets"
The Network.Wai.Handler.WebSockets module (being content of the wai-websockets package) does obviously not use code from the wai-app-static package, but it references this latter package as dependency. As a consequence, it has a dependency on template haskell which is painful for cross compiling.

Please remove this dependency for avoiding cross-compiling complexity.

[2020-10-07 06:12] snoyberg commented on #821
PR welcome

[2020-10-09 07:39] IfSixWasNine commented on #821
I've now detected the cause of the problem. It is due to the setting of the 'example' flag which is enabled by default.
Consequently, the only change that I'd propose is to disable this flag by default as this is probably a more suitable setting for the majority of the use cases and then this issue can be closed again.

[2020-10-09 07:39] #821 closed

[2020-11-14 23:45] Valdsonjr opened #824 "Vault is always empty on setOnException"
OS : Windows 10 Home
Cabal: 3.2.0.0
ghc: 8.8.4

Description: ```lookup key vault``` aways returns Nothing inside setOnException. Am I missing something?

example:

[code]
Expectation:
![image](https://user-images.githubusercontent.com/6580116/99159312-0d122e80-26ba-11eb-8d3b-50f10fd803d4.png)

Reality:
![image](https://user-images.githubusercontent.com/6580116/99159197-33839a00-26b9-11eb-89bc-4a7b

[2020-11-15 04:21] snoyberg commented on #824
That's the way it's expected to work. The Vault is not stored in a mutable variable.

[2020-11-15 11:00] Valdsonjr commented on #824
I'm not sure I understood you, shouldn't `setOnException` (in case of an exception) receive the same request that went in the app function?

Anyway, thank you and can you tell me what is the recommended way to do what i'm trying to do? (generating an unique id for every request to be logged in case of an exception)

[2020-11-15 12:51] snoyberg commented on #824
Yes, it's exactly the same request. But you've "modified" the vault by creating a new request value and putting in a modified vault value. Warp doesn't have access to that.

You should ideally not rely on `setOnException`, but rather catch applications yourself and then handle them. That's what frameworks like Yesod do.

[2020-11-15 13:09] Valdsonjr commented on #824
Thank you for the explanation

[2020-11-15 13:09] #824 closed

[2020-11-24 16:48] cuklev opened #825 "Warp exits after accepting too many simultaneous connections on Linux"
Might be related to #603

Here is a sample code:
[code]

When I run something like `while :; do curl -s http://localhost:3003 > /dev/null & done` the Haskell program receives
`Network.Socket.accept: resource exhausted (Too many open files)` and then exits successfully after all connections close.
It always happens after printing 1011 for me. This is because each accepted connection is a new open f

[2020-11-25 06:29] snoyberg commented on #825
The server can't respond with a 429 in that case, since it cannot accept the new connection at all. I'd strongly advise bumping the FD limit, 1024 is far too low for a busy server.

[2020-11-27 16:52] cuklev commented on #825
Well, it is not necessarily a busy server. It could be just someone trying to abuse it.
In my case, I was surprised that my server process exited.
I feel like bumping the FD limit is only a temporary solution.

[2020-12-17 06:50] kazu-yamamoto opened #830 "Allowing EMFILE in acceptNewConnection"
As @domenkozar  described in https://github.com/haskell/network/issues/493, the following error can happen:

[code]

This is `EMFILE`.

@snoyberg I think `eMFILE` should be also allowed in `Run.acceptNewConnection`. What do you think?

[2020-12-17 07:08] snoyberg commented on #830
This sounds like a bad idea to me, I disagree with @domenkozar here. Looking at the proposed patch, let me compare current vs proposed behavior:

Current: if the FD limit is set too low, the main `warp` thread will exit with an exception, which under normal circumstances will cause the entire process to exit, causing a discernible error. (If the process _isn't_ exiting, I'd like to know why). This

[2020-12-17 12:22] domenkozar commented on #830
That's not the current behavior: the process will print the error and not accept new connections according to my observation.

If it did crash that would be fine.

Why would it busy-loop, it should try to handle new connection, opening a socket fails and that should be handled but not retried?

[2020-12-17 14:57] snoyberg commented on #830
You're right. I think _that's_ the bug, not the fact that it doesn't retry.

I'm commenting on the implementation in @kazu-yamamoto's PR. I'm not sure what behavior you'd expect to see besides busy-looping. The server will repeatedly try to accept new connections regardless of how many open FDs are available until an existing connection closes and an FD is freed up.

[2020-12-17 16:47] domenkozar commented on #830
I'm not familiar with the code so I can't comment on PR but: If a new client connection comes in, then FD error pops up, which is logged and that connection is closed, I don't see how it could busy-loop?

[2020-12-18 01:13] kazu-yamamoto commented on #830
Relating to #553.

[2020-12-18 01:19] kazu-yamamoto commented on #830
@snoyberg Is the following the intended behavior?

- Stop the accept loop when a listening socket is closed (for some reasons).
- Stop the accept loop in the case of unrecoverable errors (e.g. most `ResourceEhausted`)
- Continue the accept loop in the case of recoverable error (`eCONNABORTED` according to #553)

And do you categorize `eMFILE` as unrecoverable?

[2020-12-18 06:25] snoyberg commented on #830
Yes, that sounds right @kazu-yamamoto. I think perhaps we should go to a whitelist of "recoverable errors" and default to treating errors as unrecoverable.

[2020-12-21 11:03] domenkozar opened #833 "mkAutoUpdate: worker thread exited with exception: thread blocked indefinitely in an MVar operation"
using `nightly-2020-11-21`:

[code]

[2020-12-21 11:26] snoyberg commented on #833
This doesn’t look like a big in the library, and I cannot do anything without a reprint.

[2020-12-21 11:35] #833 closed

[2020-12-21 17:08] domenkozar commented on #830
I gave this a bit more thought and I don't think stopping the accept loop is the best way to handle this. Consider the scenario of hitting the limit for just a fraction of connections being handled, then you're giving up 99% of connections because the server couldn't handle 1%.

I see two solutions here:

- sleep in case of EMFILE and retry
- reserve one fd at the beginning and free it when hittin

[2021-01-04 06:24] snoyberg commented on #627
Implemented elsewhere, closing

[2021-01-04 06:24] #627 closed

[2021-01-07 18:31] IfSixWasNine opened #835 "requestSizeLimitMiddleware obviously not working"
The attached Main.hs example produces a request body content length which is greater than the configured maximum,
 but the middle ware seems to ignore this fact (Haskell GHC 8.10.3 on Linux 20.04).

I apologize for the bad formatting, but GITHUB seems not to provide suitable means for preserving indentation or for uploading an *.hs attachement into such a comment. At least it is not obvious how to

[2021-01-10 07:56] snoyberg commented on #835
CC @MaxGabriel, I haven't verified this yet.

@IfSixWasNine please look into code fences, e.g.:

[code]

[2021-01-10 20:53] IfSixWasNine commented on #835
I've noticed now that du to the WAIT design, content length is only checked when the request body is actually consumed (cf. attached new Main.hs example). This restriction holds irrespectively of the fact, whether the request is chunked or not.

As a consequence, I will close the issue again.
Thanks a lot for the support!

[code]

[2021-01-10 20:53] #835 closed

[2021-01-22 00:15] Vlix commented on #807
A "quick" look around makes me think it's the `len + bsLen` in [`Network.Wai.Handler.Warp.Request.push`](https://hackage.haskell.org/package/warp-3.3.10/docs/src/Network.Wai.Handler.Warp.Request.html#push)?
Isn't the `bsLen` already all the previous bs `prepended` to the current one? So wouldn't it result in the length doing "fibonacci"-like jumps, where it adds the new chunk length on top of the

[2021-01-22 00:28] kazu-yamamoto commented on #807
Relating to #781.

[2021-02-02 20:54] moll commented on #687
For the sake of record, Wai definitely gets Unix socket remote hosts. I run Wai this way behind Nginx. In fact, I'm just debugging why `Wai.requestHost req` returns a `SockAddrUnix` with a path of a single newline (`"\n"`). That's a surprising remote host. It's probably coming from a deeper layer, though.

[2021-02-05 04:23] tirumaraiselvan commented on #807
Thank you @Vlix  for #838 . Closing this now!

[2021-02-05 04:23] #807 closed

[2021-02-05 19:27] swamp-agr commented on #825
@cuklev Could you please provide client-side code you're invoking?

[2021-02-08 17:25] cuklev commented on #825
`while :; do curl -s http://localhost:3003 > /dev/null & done` in bash.

[2021-02-08 17:45] swamp-agr commented on #825
Seems that you're running out of sockets/FDs. `ulimit -Sn` will show current value of FDs.

Application cannot allocate more than `ulimit -Sn` sockets and simple refuses to respond since you're forcing it to wait for 3 seconds for every single query. Warp throws an error, since it could not allocate more.

 I do not know what is the best strategy for the socket exhaustion fault tolerance here. May

[2021-02-09 14:05] cuklev commented on #825
Yes, increasing the FDs limit will improve the situation but it will not solve it. Warp should definetely catch that error and not exit.
I tested the same setup but with nginx in the middle, using `proxy_pass` to the Haskell server. In that case, my application never crashes. Nginx responds with 500 for half of the requests.

[2021-02-09 15:02] swamp-agr commented on #825
## curl

Consider `curl` case for simplicity.

- So, your application is listening port `3003` (1 FD).
- It is trying to accept incoming connections from a lot of `curl`s.
- According to `curl` defaults, each "client" will wait for `accept` from server up to 60 seconds and for `connect` up to 300 seconds.
- And if both events happened it will wait indefinitely for response from application.
- E.g.

[2021-03-04 05:20] thomasjm opened #839 "Different graceful shutdown behavior for websockets?"
The documentation for [setGracefulShutdownTimeout](https://hackage.haskell.org/package/warp-3.3.14/docs/Network-Wai-Handler-Warp.html#v:setGracefulShutdownTimeout) explains how Warp enters a graceful shutdown mode when the server socket is closed. If a non-`Nothing` timeout is installed, the server will wait for the timeout for requests to finish up before shutting down the server.

This behavior

[2021-03-10 12:50] RyanGlScott opened #840 "warp-3.3.11 fails to build with http2-1.6.3"
Attempting to build the `warp-3.3.11` library with `http2-1.6.3` results in a build failure, as observed in [this failing GitHub Actions job](https://travis-ci.org/github/scotty-web/scotty/jobs/762085065#L1341). To reproduce, run the following:

[code]

I think `warp-3.3.11` needs to depend on `http2 >= 2`, as `http2-2.0.0` introduced the `Network.HTTP2.Server` module. Can you revise `warp-3.3.11`

[2021-03-11 00:32] kazu-yamamoto commented on #840
Done on Hackage. Please check.

[2021-03-11 00:50] RyanGlScott commented on #840
Excellent, thanks!

[2021-03-11 00:50] #840 closed

[2021-04-25 16:40] brprice opened #842 "warp: Incorrect handling of `If-None-Match` vs `If-Modified-Since`"
## In practice

I have seen a caching bug where I expected warp to serve a fresh version of a file, but firefox stubbonly used its stale cached copy.

I was running a local server serving some assets from `/nix/store` (where all the timestamps are set to the start of the unix epoch), with `Cache-Control: no-cache` (i.e. "verify with server before serving from local cache"). Load up the page in fir

[2021-04-25 16:43] brprice commented on #842
One workaround is to disable caching completely, though this obviously is not a good long-term solution. You can achieve this using the middleware
[code]

[2021-04-25 16:45] brprice commented on #842
I suspect this same issue is at play in #680 , which asks for a workaround of just not setting a `Last-Modified` header.

[2021-04-27 06:57] snoyberg commented on #842
Issue #680 is a WONTFIX and I'm going to close it.

It seems like you're asking for logic added to warp that ignores if-modified-since if if-none-match is provided. Is that correct?

[2021-04-27 06:57] snoyberg commented on #680
Closing as invalid, setting response headers like this is intentional.

[2021-04-27 06:57] #680 closed

[2021-04-27 10:17] Profpatsch commented on #680
I will add that the use-case still exists and all things I noted above still apply.

[2021-05-21 02:32] kazu-yamamoto opened #845 "AsyncCancelled in Warp"
In my QUIC implementations, a QUIC connection consists of multiple Haskell threads. To avoid leaking threads, `race` and `cuncurrently` of the `async` library are used.

To implement an HTTP server over QUC, Warp is launched in a QUIC runner function. In this use case, Warp MUST NOT ignore `AsyncCancelled`. If Warp ignores it, threads are leaked.

Currently `SomeException` is ignored in many place

[2021-05-21 02:42] kazu-yamamoto commented on #839
Sorry for the delay.

Let's talk about the exception approach. I guess that threads for web socket are willing to accept the exception but other threads are not because waiting for timeout. How to distinguish these two types of threads?

[2021-05-21 03:45] kazu-yamamoto commented on #842
This cache logic of Warp was implemented by me. I decided to not use e-tag in the Warp level because calculating e-tag is costly.

To skip the logic, Warp need to know the upper-level application used its own cache mechanism. I suggest to use `Vault` in `Request` since `conditionalRequest` is called in `sendRsp` called in `sendResponse` which takes `Request`. So, it's quit easy to pass this value

[2021-05-21 03:54] snoyberg commented on #845
I'd replace all usage's of `try` with [`tryAny`](https://www.stackage.org/haddock/nightly-2021-05-20/unliftio-0.2.16/UnliftIO-Exception.html#v:tryAny). Similar with `catch`, `handle`, and other exception catching mechanisms. The basic idea is that, when there's an async exception, we should _clean up_ after it, but not _recover_ from it.

If you're concerned about adding a new dependency to `warp`

[2021-05-21 05:59] kazu-yamamoto commented on #845
No objection to add a new dependency. Let's use excellent libraries. Could you take care of this issue?

[2021-05-23 00:00] #845 closed

[2021-06-17 18:22] alaendle commented on #845
@kazu-yamamoto, @snoyberg To be honest I haven't completely verified my assumption, but my guess is that this change now exposes "Thread killed by timeout manager" exceptions if a UncaughtExceptionHandler is in place - so at least in my case a the update from lts-17.15 (warp 3.3.14) to lts-18.0 (warp 3.3.16) breaks my logic to to try an graceful shutdown of the process if an uncaught async excepti

[2021-06-18 01:38] snoyberg commented on #845
I'm sorry, I don't understand the problem you're describing.

[2021-06-18 09:15] Profpatsch opened #849 "Unable to update `requestBody` without using a deprecated record setter"
https://hackage.haskell.org/package/wai-3.2.2.1/docs/Network-Wai.html#v:requestBody is deprecated, thus there is no way of using it as a setter without using a deprecated symbol.

I used the following workaround module, I suggest we add this setter function:

[code]

[2021-06-18 14:56] alaendle commented on #845
@snoyberg Many thanks for your answer. I was very vague yesterday, but I had some time for additional investigation on the behavioural change I spotted between warp 3.3.14 and 3.3.16.

I hope I do a better job presenting the problem now:

The easiest way to detect the changed behaviour - add a handler for uncaught exceptions that prints out any exception (via [setUncaughtExceptionHandler](https://

[2021-06-18 16:23] chrisdone commented on #845
I've just upgraded from `resolver: lts-15.7` to `resolver: lts-18.0` and saw the following output:

[code]

Previously, I would see just `ConnectionClosed`. This is triggered, I believe, by my websocket handler attempting to send a heartbeat message on a closed connection. That's fine. The yesod handler looks like this:

[code]

When the browser closes the websocket, this `ConnectionClosed` is thr

[2021-06-18 16:28] chrisdone commented on #845
Perhaps https://github.com/yesodweb/wai/issues/839 is related to the issue I'm seeing. I'll move my discussion there.

[2021-06-18 16:39] chrisdone opened #850 "Thread killed by timeout manager"
With this file
[code]
[code]

I see this output

[code]

[code]

The two "Thread killed by timeout manager" messages appear when I hit C-c C-c. But I've elsewhere seen the message appear without shutting down the server. This is the best repro I can make so far.

Is this expected behavior? It seems to be one message for the websocket thread and one for the handler. If I omit the `webSockets` call,

[2021-06-18 16:40] chrisdone commented on #845
I moved my issue here: https://github.com/yesodweb/wai/issues/850

[2021-06-19 00:38] kazu-yamamoto commented on #845
@snoyberg `Control.Exception.throwTo` is used in `time-manager`. I guess we should use `UnliftIO.Exception.throwTo`.

[2021-06-20 06:47] snoyberg commented on #849
PR welcome

[2021-06-20 07:20] snoyberg commented on #845
I think we should move this discussion over to #850. And I'm not convinced switching to `UnliftIO.Exception.throwTo` is the full solution here

[2021-06-20 08:13] snoyberg commented on #845
@alaendle it would be much easier to be sure we're talking about the same issue here if you provide a minimal repro. Perhaps you can add it to #850 like @chrisdone has?

[2021-06-21 06:32] alaendle commented on #845
@snoyberg - as my problem is already solved with https://github.com/yesodweb/wai/pull/851 I think a reproduction case no longer makes sense? Again many thanks for your work!

[2021-06-21 07:41] snoyberg commented on #845
Agreed, no need for a repro, thanks for confirming the fix worked!

[2021-06-22 00:12] #850 closed

[2021-06-25 01:59] kazu-yamamoto commented on #842
@brprice Gentle ping.

[2021-06-26 16:38] brprice commented on #842
Thanks for the ping!

@snoyberg

Yes, I think this would fix it. I think we want both that
- when receiving a request with both if-modified-since and if-none-match we should ignore if-modified-since
- when sending a response, do not add last-modified if a underlying application has added an etag, to avoid problems with browsers that do not support if-none-match (is this a concern these days? I am

[2021-07-03 14:10] magthe opened #852 "TimeoutThread exceptions in 3.3.16, what to do with them in my application?"
When making the switch 3.3.15 -> 3.3.16 I noticed that my application's "uncaught exception handler" started receiving `TimeoutThread` exceptions for the first time. As I'm not really sure what I as an application writer should do with them I have to ask, was that intentional?

I suspect maybe the change  https://github.com/yesodweb/wai/commit/45e76481a5297aadf46241e5e4dbab197fe83211 could be the

[2021-07-03 18:27] snoyberg commented on #852
Please see #851. Can you try out version 3.3.17?

[2021-07-04 06:35] magthe commented on #852
Ah yes that should be easily done. Thanks!

[2021-07-04 07:16] magthe commented on #852
Yes, 3.3.17 seems good. :smiley:

Thanks for your help!

[2021-07-04 07:16] #852 closed

[2021-07-13 07:22] jbransen opened #853 "Graceful shutdown not working with keep-alive"
I encountered unexpected behaviour with the graceful shutdown method. I have the following code:

[code]

Now when I run this and send a sigint, the program will shut down properly. However, when I request `localhost:3000` in my browser, and then ask the server to shutdown, it will always take up the full grace period:

[code]

However, this is unexpected, as there were no request coming in at thi

[2021-07-13 16:34] thomasjm commented on #839
Sorry @kazu-yamamoto, I thought I responded to this already.

I was thinking that since `wai-websockets` lives in this same repo, there must be some way it can communicate with Warp that it's running a WebSocket thread. Might be tricky because this communication would have to happen through the WAI abstraction.

For example (just thinking out loud here) maybe Warp could provide some callback `regi

[2021-08-07 19:37] juhp opened #854 "testsuite failed on armv7hl: SendFile.readSendFile sends a file correctly (3)"
warp-3.3.17 testsuite built with ghc-8.10.5 (using lts-18.5 versions) failed on armv7hl:

[code]
For now I will just disable the testsuite for armv7hl

[2021-09-29 15:55] domenkozar commented on #833
Likely cause: https://gitlab.haskell.org/ghc/ghc/-/merge_requests/6617

[2021-09-29 22:56] unclechu opened #855 "Warp: How to increase maximum number of files?"
Hey, I’ve implemented a file uploading via multipart/form-data using Warp & Servant but now I’m getting this exception when I’m selecting more than a few files:

[code]

How can I increase this maximum number of files for Warp?

[2021-09-30 02:31] snoyberg commented on #855
You'd need to change the settings with something like this:

https://www.stackage.org/haddock/lts-18.12/wai-extra-3.1.6/Network-Wai-Parse.html#v:setMaxRequestNumFiles

[2021-09-30 23:14] unclechu commented on #855
@snoyberg Yeah, I found this one earlier. But it isn’t obvious for me looking at the Warp’s API how would I use it there.

[2021-09-30 23:39] unclechu commented on #855
Ah, I think I should look into the Servant library I’m using:

https://hackage.haskell.org/package/servant-multipart-0.12.1/docs/src/Servant.Multipart.html

[2021-10-17 22:15] sordina opened #856 "wai-extra logging middleware should optionally log request before response is constructed"
Waiting for the response before logging has issues:

* Exceptions can prevent logging
* Long response times delay seeing corresponding request logs

This makes using logging for development/debugging annoying and sometimes impossible.

Ideally the logging datastructures should be partitioned into request/response and middleware should be provided or be able to be configured to log the request as i

[2021-10-18 08:55] snoyberg commented on #856
No objection from me, seems reasonable. PR welcome, though it should avoid breaking existing application behavior.

[2021-10-21 23:40] bitc opened #859 "warp-tls: Issues with "ability to load TLS credentials from IORefs""
@vdukhovni left some very insightful comments on the pull request *Add the ability to load TLS credentials from IORefs*:

https://github.com/yesodweb/wai/pull/806#pullrequestreview-483039614

The comments were not addressed by the authors of warp-tls, but I believe that that they are valid points that reveal shortcomings in the current implementation. I recommend reading the original comments sinc

[2021-11-05 04:58] danwdart opened #861 "warp fails to build on GHC 9.2"
[code]

Using latest master on nix.

[2021-11-05 05:50] danwdart commented on #861
A change in `ghc-prim` recently probably caused this.

Looks like if I change the offending line from:
[code]

to:
[code]

it compiles and passes relevant tests.

Included a draft PR in https://github.com/yesodweb/wai/pull/862 as still not sure how this affects earlier versions of GHC.

[2021-11-05 05:52] danwdart commented on #861
Also unsure how much performance is impacted by converting `Word8` to `Int8` and then `Int` or converting `Word8` to `Word` and then `Int`, or how the host/target bitness will affect things.

[2021-11-08 17:49] robx commented on #853
Yup, this looks like a bug. Worse than just not shutting down, requests keep being handled after shutdown (though that's not entirely unexpected all things considered):

[code]

while I was talking to the server as follows:

[code]

(Sequence was 1. `cabal run` 2. `nc` and enter the first http request 3. hit `Ctrl-C` on the server 4. enter second http request.)

[2021-11-09 09:05] swamp-agr commented on #853
1. Combination of `connection: keep-alive` and `graceful shutdown` has not been specified explicitly.
2. According to [RFC 2616 section 8.1.4](https://datatracker.ietf.org/doc/html/rfc2616#section-8.1.4):

   close on the transport connection. Clients and servers SHOULD both
   constantly watch for the other side of the transport close, and
   respond to it as appropriate. If a client or server do

[2021-11-11 14:51] fumieval commented on #861
#863 fixed this

[2021-11-11 22:43] kazu-yamamoto commented on #861
Let's close.

[2021-11-11 22:43] #861 closed

[2021-12-22 21:21] darrell-roberts commented on #824
Is this also true for `setLogger`? In my case I had created Middleware to generate a UUID for each request and store it in vault. This is used to correlate logs for individual requests. It seems though the function provided to `setLogger` is unable to extract from vault.

[2021-12-23 05:13] snoyberg commented on #824
Yes the same logic would apply

[2021-12-23 19:41] darrell-roberts commented on #824
@snoyberg Thanks for the prompt reply. And of course thank-you for all your Haskell contributions.

I suspect what I can do to retain this `UUID` I'm putting in the `Request` vault for error logging is to add `Middleware` that has a catch all with a re-throw.

[code]
This seems to give me what I need however with what I read on an article [you wrote on exceptions in Haskell](https://www.fpcomplete

[2021-12-24 03:22] snoyberg commented on #824
Overall seems right.

[2022-01-05 10:36] bitc commented on #721
I would like to voice my support for this feature.

warp `runSettings` function supports the use case of binding to port 0, which tells the operating system to bind to any free port. The problem is that it is then impossible to know which port we are listening on, making this feature useless.

As has been mentioned, we can use `runSettingsSocket` ourselves to get this functionality. The problem is

[2022-01-10 04:57] chris-martin opened #867 "warp 3.3.5 does not build with base 4.16"
Warp could use a metadata revision to indicate that 3.3.5 (I assume other versions as well) does not build with base 4.16.

[code]

[2022-01-10 14:30] polyrod commented on #867
Had the same issue : workaround

add the snippet from : http://head.hackage.haskell.org/

to your .cabal or better cabal.project file

cabal update && cabal clean && cabal build

will do then

[2022-01-17 00:25] kazu-yamamoto commented on #867
This issue has been fixed in the newer versions.

[2022-01-17 00:25] #867 closed

[2022-01-17 01:51] chris-martin commented on #867
Thank you, I appreciate that there are newer versions that support base 4.16. What I'm suggesting is that the bounds for the older versions could be corrected. Having accurate bounds information across all the releases helps users find collections of versions that will work together without having to just experiment with compiling various configurations to find out what will build.

[2022-01-17 01:55] chris-martin commented on #867
I understand if it is not worth taking the time to support older minor releases. In that case, I think an equally helpful course of action would be to deprecate them.

[2022-01-17 02:00] kazu-yamamoto commented on #867
There are a lot of old versions. Only v3.3.18 can be built with GHC 9.x.
Are you suggesting that we should modify all version except v3.3.18 with `< 4.16` or deprecate them?
It's a very tough job, I guess.

[2022-01-18 01:00] chris-martin commented on #867
In the 3.3 series, there are 18 previous releases to be corrected. If we already know for sure that nothing prior to 3.3.18 supports base 4.16, then it takes maybe 30 seconds to change each one via the Hackage web interface, so I reckon that's about nine minutes of labor. Happy to help if I can.

[2022-01-18 05:04] kazu-yamamoto commented on #867
I remember that metadata on hackage can be modified by a command-line tool. But I cannot recall its name. Do you know that?

[2022-01-18 05:10] kazu-yamamoto commented on #867
`hackage-cli`!

[2022-01-18 06:45] kazu-yamamoto commented on #867
`hackage-cli` cannot be build with GHC 8.6 on Monterey, sigh.

[2022-01-18 22:23] chris-martin commented on #867
Bounds for warp-3.3.0 to warp-3.3.5 have been corrected by hackage trustees. https://github.com/haskell-infra/hackage-trustees/issues/329

[2022-01-19 21:35] sjakobi opened #868 "Build failures in warp v3.2.15 to v3.2.27 with GHC 9.0.2"
[code]

[code]

As a Hackage trustee, I have created Hackage revisions that should prevent users from encountering these errors. See e.g. https://hackage.haskell.org/package/warp-3.2.27/revisions/.

[2022-01-19 21:35] #868 closed

[2022-01-31 17:52] jjantura opened #869 "Stress testing causes exception"
Environment: CentOS 7.9, lts-18.23, core count: 8

Description:
I performed simple stress testing [servant over TLS](https://github.com/haskell-servant/servant/tree/master/doc/cookbook/https) using [ab](https://httpd.apache.org/docs/2.4/programs/ab.html) tool:
`ab -n 100000 -c 16  https://localhost:8080 (100k requests, 16 concurrent)`

Result:
Application fails with:
[code]
What is even more inter

[2022-02-01 21:03] ProofOfKeags commented on #830
Currently running into this now. If warp *ever* gets an exception for too many open files, it just refuses all future connections, irrespective of whether load has decreased. I have tried increasing the ulimit but to no avail.

[2022-02-02 00:36] ProofOfKeags commented on #830
I rebased #831 and put in a PR: #870 . I have verified that this actually works in the production case where we had this problem. Feedback appreciated.

[2022-02-02 03:56] kazu-yamamoto commented on #830
Thanks for the verification.

[2022-02-02 04:03] kazu-yamamoto commented on #830
#831 has been merged and a new version is released.
Thank you, all, for your contribution!

[2022-02-02 04:03] #830 closed

[2022-02-02 04:08] kazu-yamamoto commented on #869
I guess that you should set limitation correctly. This Japanase article describes how to set it:

https://www.iij.ad.jp/dev/tech/activities/weighttp/

Hoping that translation will work well.

[2022-02-03 10:17] tomek-grzesiak commented on #869
Hi, I was able to run this benchmark on Fedora 35, It didn't crasch server.

# sudo sysctl -w net.core.somaxconn=10000
# ulimit -n 10000
# uname -a
# Linux fedora 5.15.16-200.fc35.x86_64 #1 SMP Thu Jan 20 15:38:18 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
# i5-9400 / 16GB ram
# ab -n 1000000 -c 16 https://localhost:8080/word
This is ApacheBench, Version 2.3 <$Revision: 1879490 $>
Copyright 1996 Adam

[2022-02-03 18:45] jjantura commented on #869
@tomek-grzesiak I was able to crash the app by slightly changing ab parameters to -n 5000 - c 32 on Fedora 35 (virtualized). I also increased ulimit for files to 16384 - application crashed in 3rd attempt. I couldn't repeat the same effect without TLS - it's rock solid. I suspect that there is some problem with one of cryptonite backends (?).

[2022-02-03 23:51] kazu-yamamoto commented on #869
@jjantura Would you explain the crash more concretely? Is an exception thrown?

[2022-02-04 00:05] kazu-yamamoto commented on #869
If the entropy is the source of the problem, running `rngd` would fix it.

[2022-02-04 00:07] kazu-yamamoto commented on #869
Note that local testing on a virtual machine is not friendly for the entropy generator because it does not use network hardwares at all.

[2022-02-09 17:39] jjantura commented on #869
Closing. I'm not able to isolate one particular cause for this issue, it might be some uncaught async exception and/or descriptor leakage.

[2022-03-15 11:26] shlevy opened #873 "warp: Use custom exception on listen socket closure"
Currently, my custom uncaught exception logger needs:

[code]

in order to avoid logging the `invalid argument` error that results from the listen socket being closed (to start graceful shutdown). It would be nice to have a custom exception type passed to the uncaught exception handler in this case, as it's an internal implementation detail if there could be other cases of `ResourceVanished` or `I

[2022-03-15 12:53] snoyberg commented on #873
Making such a change would end up silently breaking lots of existing code that's doing exactly what you've done here.

[2022-03-15 16:19] shlevy commented on #873
Hmm so options here:

1. Do nothing
2. Accept the breakage
3. Have some new interface generalizing `setOnException` with a richer context

Probably 1 is the right answer for the library but I wouldn't say no to 3.

[2022-03-16 08:59] snoyberg commented on #873
An option (4) that I think would work here: provide predicate functions that test for the common cases people care about, e.g. `isListenSocketClosedException :: SomeException -> Bool`

[2022-03-18 14:41] jbransen commented on #853
@swamp-agr That is not true, Nginx does close the connection as soon as a response has been sent, e.g. see https://trac.nginx.org/nginx/ticket/1022 and also this is easy to test. Start it, then with `nc` send a request and keep the connection open, then in another terminal do `nginx -s quit` (graceful shutdown) and see that the `nc` tcp connection is dropped immediately and no further requests are

[2022-04-04 01:51] Vlix commented on #243
I feel like taking a jab at the GZip middleware. Any objections? (since this issue is a bit old)

[2022-04-04 04:17] snoyberg commented on #243
No objection from me.

[2022-04-05 01:40] Vlix commented on #588
Sounds like something `Middleware` could easily fix? 🤔

[2022-04-05 15:25] asheshambasta commented on #734
I hate to post on an old issue, but we seem to have been bitten by this pretty bad. We have our API Gateway (written with Warp and Wai) running behind an AWS ALB. And we seem to get 504s randomly, for no obvious reason. After a ton of digging, we found that the 504s can happen due to the ALB misusing open connections with the backend (warp).

The ALB has an idle-timeout setting, which defaults to

[2022-04-05 23:33] Vlix commented on #243
First draft made in #875

[2022-04-11 09:30] chrisdone-artificial opened #876 "Question: should the `InvalidRequest` exception type be ignored by middlewares?"
## Scenario

I have a middleware with a `catchAny` (of `safe-exceptions`), that catches everything apart from async exceptions, the problem is logged, and then a 500 status is returned.

[code]

Pretty much following the advice under here:

https://github.com/yesodweb/wai/blob/40a53a88074c96a7bd2bc55f825324178836fd00/warp/Network/Wai/Handler/Warp.hs#L174-L182

## Result

I've found that `Warp: Cli

[2022-04-12 07:08] snoyberg commented on #876
That seems reasonable to me.

[2022-04-12 07:46] #876 closed

[2022-04-14 22:20] Vlix commented on #243
I found a bunch of subtle edge cases and I'm making this Middleware a bit more robust before I add the ETag functionality.
I think I'm done with the extra checks and tweaks in handling headers, but I still want to add some tests for what is testable with this Middleware. Hope make a PR before end of next week.

[2022-04-19 14:35] tfausak opened #879 "wai-extra fails to build on Windows"
I am not able to build wai-extra version 3.1.9 on Windows. I get a handful of errors when compiling `Network.Wai.Handler.CGI`:

[code]

I think this was introduced by #875. Specifically these lines of CPP don't seem to import `System.IO` properly on Windows:

https://github.com/yesodweb/wai/blob/5321b1a639a0fc0261387ea15cfac9de322e36db/wai-extra/Network/Wai/Handler/CGI.hs#L34-L43

[2022-04-19 21:58] Vlix commented on #243
Second step in #880 , new and improved `gzip` middleware. After this, I'll actually add the ETag functionality 😅

[2022-04-20 05:48] snoyberg commented on #879
CC @Vlix

[2022-04-20 09:59] Vlix commented on #879
Ah, automatic linting threw the `System.IO` imports into the `else` :facepalm: Will fix in the PR (#880) that's standing right now.

[2022-04-20 16:58] snoyberg commented on #879
@Vlix I implemented a smaller version of that fix, since that PR is pretty large and I don't want to block things.

@tfausak this should now be fixed with wai-extra 3.1.10.

[2022-04-20 17:53] Vlix commented on #879
👍 No prob

[2022-04-20 18:07] tfausak commented on #879
Thanks! I can confirm that #881 and version 3.1.10 fixed my problem. Perhaps deprecating version 3.1.9 might be in order?

[2022-04-21 02:37] snoyberg commented on #879
Good idea, deprecated on Hackage.

[2022-04-22 00:08] MichaelXavier opened #882 "Possibly avoidable impure exception in auto-update"
In `auto-update` it looks like you insulate the worker loop by catching exceptions and converting them to impure exceptions:

[code]

It makes sense to me why you'd need to protect that loop. However, the user gets back an action `IO a` to demand the current value. I think it's reasonable for them to expect that when they evaluate that `IO a`, any exception would get thrown and if it didnt, the au

[2022-04-22 14:51] torgeirsh opened #883 "defaultShouldDisplayException hides exceptions from writing invalid characters to stdout."
Consider this contrived program:
[code]
The output when stdout has a character encoding that can represent "ø" is:
[code]
The result is that warp quietly terminates requests that attempt to log a message that contains an invalid character, instead of printing out an error message. The relevant case in defaultShouldDisplayException's implementation seems to be:
[code]
Is it necessary to hide all IO

[2022-04-26 08:42] snoyberg commented on #882
Seems reasonable. It may be possible to each this with just a bit of strictness in the current code, e.g. at:

https://github.com/yesodweb/wai/blob/2188619168ce23468749b519a8b51debf34df02b/auto-update/Control/AutoUpdate.hs#L195

Changing:

[code]

to

[code]

But I'm open to other approaches.

[2022-05-10 09:47] juhp opened #886 "wai-extra-3.1.12 testsuite failure: WaiExtra.Network.Wai.gzip gzip checking of files"
In the Stackage Nightly build:
[code]

[2022-05-10 12:38] snoyberg commented on #886
@Vlix any thoughts?

[2022-05-10 15:46] Vlix commented on #886
Hmmm, only with the Nightly build? :thinking:
I'll have to run the tests locally to find out what's going on. Will try to come back to this ASAP.

[2022-05-11 14:07] juhp commented on #886
Okay if it's not reproducible I would say don't worry too much about it for now.

[2022-05-14 01:39] felixonmars commented on #886
I am also getting the same failure reliably with either wai-extra 3.1.11 or 3.1.12 on Arch Linux. It probably has something to do with https://github.com/yesodweb/wai/pull/880

[2022-05-14 01:52] felixonmars commented on #886
Update: Figured it out. The tests run successfully from the git repository but not the hackage tarball because `test/json.gz` and `test/noprecompress` aren't present in the latter.

[2022-05-14 18:05] #886 closed

[2022-05-16 03:05] kazu-yamamoto opened #888 "dejafu for AutoUpdate"
I'm trying to use dejafu to make sure no race condition in the current AutoUpdate. [A Concurrency Testing Library for Haskell](https://eprints.whiterose.ac.uk/118198/1/DejaFu.pdf) pointed out two races.

I have imported AutoUpdate from dejafu-test and modified to synchronize auto-update v0.1.1.4 that has the first bug as descrived in #294 and the paper. My work branch is here: https://github.com/k

[2022-05-16 23:14] Vlix commented on #886
Ah, so it was me being dumb! Thankfully not in the code 🤦 I somehow always forget `extra-source-files` 😞

[2022-05-17 04:03] juhp commented on #886
Already in lts19 btw:
https://www.stackage.org/lts-19.7/package/wai-extra-3.1.12.1

[2022-05-30 00:52] kazu-yamamoto commented on #888
@barrucadu I hope you find this issue.

[2022-05-31 19:00] barrucadu commented on #888
Ok, well, I don't really remember exactly what I was showing in the paper there (and I seem to have left that part of the example out of my thesis - but kept the deadlock part), but returning either `0` or `1` here is expected because this code is inherently racy: if you read the value at the same time it's supposed to be updated, what happens?  Well, if you're slightly earlier you'll get the old

[2022-06-01 01:10] kazu-yamamoto commented on #888
@barrucadu Thanks. I'm relieved to hear that. Let's close this issue.

[2022-06-01 01:10] #888 closed

[2022-07-25 21:42] Vlix commented on #243
Implemented with #885

[2022-07-25 21:42] #243 closed

[2022-07-25 22:02] Vlix commented on #476
@jb55 Can you remember if you ever managed to fix this, and if it's important enough to pour time into this, or can this issue be closed? (`streaming-wai` is also 7 years old now)

[2022-07-25 22:20] Vlix commented on #491
I believe this has been fixed in the following commits:

* 000a181079a80eaf2f54efbfb8f8a302f106d497
* 23c7a07682b3183fab6b822b9570c5fcd02f7484
* 2b622b3baa13b523fcfdd2ed487e7b5ddb48d391

[2022-07-25 22:20] #491 closed

[2022-07-25 22:35] Vlix commented on #496
#857 can probably help in this situation, right?

If you have the prelogged request, but not the actual accompanying request, that means there was probably an exception preventing the response.

[2022-07-25 23:15] Vlix commented on #825
I think it should be possible to not let the application crash, and just print to stdout/stderr that no file descriptors were available, and just continue with the loop?

The `Network.Socket` error is just an `IOError` with `OtherError` and a string, so it should be easy, although pretty frail, so let's hope `Network.Socket` doesn't change it's exception's syntax 🙃

[2022-07-26 00:08] Vlix opened #893 "`waitForZero` tweak"
Might it be a good idea to change the check in `waitForZero` to `<= 0`, instead of `== 0`?

Just in case for _some_ reason it dips below 0 (erroneous double `decrease`) and then never goes back up?
I don't see the downside of this, since negative numbers are breaking the invariant anyway, and this way the gracefulShutdown won't have a chance to hang unnecessarily.

[2022-07-26 00:08] Vlix commented on #651
@Daniel-Diaz Could you explain what you meant with the following?

Do you mean you want the user to be able to provide a TVar which will be adjusted exactly the same as the internal one? I don't think we want to expose the internal one, since it is relied on for graceful shutdowns.

[2022-07-26 00:20] Vlix commented on #684
Has this been fixed with #797 ?

[2022-07-26 00:43] Vlix commented on #715
Routes in `scotty` are literally just `Middleware`, where the `addroute` function just adds the checking for the correct path and method and then runs the handler with the request. So I think it should be easy enough to add a raw application into a `scotty` app. (cf. `addroute`, `addRoute`, `route`)

[2022-07-26 09:29] basvandijk opened #894 "toBufIOWith: BufferFull: minSize"
* Your OS name and version: **NixOS-22.05, Linux kernel 5.15.53**
* The versions of tools you're using: **GHC-9.2.3**
* The versions of dependencies you're using: [cabal.project.freeze](https://gist.github.com/basvandijk/8b6d4e000d66655fc044888fcce5634a#file-cabal-project-freeze)

I have a warp-3.3.20 web-server that is serving a prometheus `/metrics` endpoint using the [prometheus-2.2.3](https://

[2022-07-26 10:05] basvandijk commented on #894
I noticed something interesting. The following is a screenshot of a grafana dashboard showing some of the metrics served from the /metrics endpoint. The gaps in the data (clearly marked with the red vertical lines) correspond to the BufferFull errors.

What's interesting is that the error only seems to happens when the metric goes from >0 to 0 or from 0 to >0.

![Screenshot 2022-07-26 at 11 59 40]

[2022-07-26 11:04] basvandijk commented on #894
These are the differences in dependencies before and after the GHC 9.0.2 -> 9.2.3 upgrade:
[code]
My suspicion is that the bug is caused by the  bytestring 0.10.12.1 -> 0.11.3.1 upgrade ([changelog](https://hackage.haskell.org/package/bytestring-0.11.3.1/changelog)).

[2022-07-26 12:04] basvandijk commented on #894
Some musings on this:

1. The amount of metrics produced by my /metrics endpoint is about 52 KiB:
[code]
2. I see [the buffer size used by warp is 16 KiB](https://sourcegraph.com/github.com/yesodweb/wai@fc0527eee2f4cce1a2405bede9d220d747dc3e61/-/blob/warp/Network/Wai/Handler/Warp/Buffer.hs?L33:1).
3. Since we hit the [`More`](https://hackage.haskell.org/package/bytestring-0.11.3.1/docs/Data-ByteSt

[2022-07-26 13:52] basvandijk commented on #894
Currently playing with having a dynamically sized write buffer in: https://github.com/yesodweb/wai/compare/master...basvandijk:wai:dynamic-write-buffer ...

[2022-07-26 16:11] Daniel-Diaz commented on #651
Hello!

Wow, this is really old. I totally forgot about it!

I'm not completely sure what I meant by that sentence, but I definitely meant for the counter to be read-only. I guess a function to read it without exposing the type would also do.

[2022-07-26 16:22] #476 closed

[2022-07-26 21:15] Vlix commented on #774
#826 has implemented this, so I'm closing the issue.

[2022-07-26 21:15] #774 closed

[2022-07-27 07:25] basvandijk commented on #894
I can confirm that the above patch fixes the BufferFull errors:
![Screenshot 2022-07-27 at 09 17 46](https://user-images.githubusercontent.com/576355/181186971-c62bf302-9da7-4ea7-a0f6-e690337ea023.png)
I'll turn it into a PR.

[2022-08-09 09:07] yobson opened #896 "Warp 3.3.22 breaks WarpTLS 3.3.2"
# WarpTLS build error

Warp version 3.3.22 removes:
* `connFree`
* `connBufferSize`

from the `Connection type`. As a result, building a warp application that includes warpTLS (without bounds) from hackage breaks.

Using this cabal file:
[code]

[code]

[2022-08-09 09:39] alexbiehl commented on #894
@basvandijk I think the issue is caused by a bug in the bytestring library. I've put up a fix for it over at https://github.com/haskell/bytestring/pull/538. Maybe you can give it a shot?

[2022-08-09 16:19] adrianmay opened #897 "Can't authenticate client"
I might be missing something, but it looks to me like `warp-tls` can't authenticate clients properly, by which I mean, against a CA cert that it doesn't have the private key for.

Where would the CA cert go? If I use `runTLS` or `runTLSServer` it'll want a `TLSSettings` which has the fields `tlsCredentials` and `certSettings`. It can't be the former cos that's all cert+key pairs but CAs don't disc

[2022-08-09 17:48] edmundnoble commented on #896
It is warp 3.3.22 that breaks warp-tls 3.3.2, not warp 3.3.21. https://hackage.haskell.org/package/warp-3.3.21/docs/Network-Wai-Handler-Warp-Internal.html shows that `connFree` was still present.

[2022-08-09 19:12] yobson commented on #896
Thanks! I've updated the ticket!

[2022-08-10 00:11] kazu-yamamoto commented on #896
My bad. I will take care of this ASAP.

[2022-08-10 00:26] kazu-yamamoto commented on #896
warp 3.3.22 should be released as 3.4.0 since it includes a breaking change.
But I did not notice when I reviewed the PR.
I have released warp-tls 3.3.3 which requires warp 3.3.22 or later.

[2022-08-10 17:53] yobson commented on #896
Could you do a metadata update on warpTLS 3.3.2 to make sure it isn't pulling 3.3.22?

[2022-08-15 21:27] sthibaul opened #898 "warp tests don't build on non-linux/freebsd/darwin"
Hello,

As can be read on

https://buildd.debian.org/status/fetch.php?pkg=haskell-warp&arch=hurd-i386&ver=3.3.21-2&stamp=1660597971&raw=0

[code]

Warp tests don't build on GNU/Hurd, because there's a missing dependency on unix. Looking at `warp.cabal` we can read

[code]

And thus on non-linux/freebsd/darwin, the unix dependency is not pulled, even though we have in  `Network/Wai/Handler/Warp/Dat

[2022-08-19 06:03] kazu-yamamoto commented on #898
Thank you for your report. I believe that "test-suite spec" should have the same logic as "library".

[2022-08-19 06:13] kazu-yamamoto commented on #896
@yobson Sorry the delay. I have done it.

[2022-08-19 06:15] yobson commented on #896
@kazu-yamamoto No need to apologise! Thank you so much!

I will close the issue now 😃

[2022-08-19 06:15] #896 closed

[2022-08-22 00:11] #898 closed

[2022-09-02 00:32] lachrimae commented on #802
What's the situation with the HTTP/3 project? @kazu-yamamoto mentioned wanting to release some dependency libraries once these specs became RFCs.

It seems like [QUIC has become an RFC](https://datatracker.ietf.org/doc/html/rfc9000), and [so has HTTP/3](https://datatracker.ietf.org/doc/html/rfc9114/), though I am not clear on the exact meaning of the various RFC statuses. (These two have the sub-s

[2022-09-03 11:20] kazu-yamamoto commented on #802
`quic`, `http3` and `warp-quic` are already on Hackage.

[2022-09-05 10:35] jecaro opened #907 "warp-tls: offer the possibility to provide our own data to the library via some hooks or `Connection` object"
I'm working on a low level network application. And basically I'd need to pass some buffered data straight to warp-tls instead of having it fetching from client sockets.

Ideally, I'd need to have some kind of interface or hooks in the like of `Connection` objects so I can pass my data to warp-tls. I understand this is not possible right now. FWIU of the code, warp-tls performs some low level oper

[2022-09-06 00:36] kazu-yamamoto commented on #907
The `tls` package has `Backend`: https://hackage.haskell.org/package/tls-1.6.0/docs/Network-TLS.html#g:2

Would you give a look at `Backend` first? It's quite easy to extend `warp-tls` to specify `Backend` to `tls`, I guess.

[2022-09-06 07:06] jecaro commented on #907
Thx for pointing this.

That looks like a better idea. And for handling plain HTTP, one can create the required `Connection` from the TLS `Backend`, just like it's done for HTTP over TLS. Indeed, I think that could work.

Would you be interested in a PR on that feature ?

[2022-09-06 11:20] kazu-yamamoto commented on #907
Yes, of course!

[2022-09-08 08:57] Merivuokko opened #908 "warp fails to build with unix ^>=2.8 even though cabal file claims to support any version"
warp fails to build with a recent unix version (>= 2.8) which breaks the old API.

The error is in warp/Network/Wai/Handler/Warp/FdCache.hs on line 70 and can be simply fixed by deleting the "Nothing" argument from the function call to openFd.

This is made more annoying by cabal file claiming to support any version of the unix package.

Note (for testing) that unix-compat also needs some patching

[2022-09-12 16:46] itd0 opened #910 "warp: test-suite: uses but does not depend on curl"
Dear maintainer,

it would be great if `warp`'s test-suite `spec` would express its dependency on the tool `curl`.
(Which is used, e.g., [here](https://github.com/yesodweb/wai/blob/46142591534cb848a2c653ae4e6f813d5ee6e350/warp/test/WithApplicationSpec.hs#L23).)

Thanks!

Regards
itd

[2022-09-15 06:23] arianvp opened #911 "Allow for graceful shutdown without closing the listener socket for socket activation compatibility"
### Feature request

Currently graceful shutdown is triggered by closing the listener socket.
This is not always what you want. e.g. in https://hackage.haskell.org/package/warp-systemd-0.2.0.0/ the socket comes from a `systemd.socket` unit and you're supposed to keep it open between restarts. This allows you to restart your `systemd.service` without ever rejecting incoming connections. The're queu

[2022-09-15 06:27] arianvp commented on #911
To change this we could change this line to not call `closeListenSocket` but to call `setMVar accepting False`

https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/Run.hs#L153

[2022-09-15 12:11] arianvp commented on #911
After a discussion with @roberth he says I should double check if closing the passed down socket actually causes the systemd socket to be closed.  He says he doesn't think so and that this already works as expected.

Closing for now after I did a bit more research

[2022-09-15 12:11] #911 closed

[2022-09-28 06:30] jecaro commented on #907
Closing as #912 solves this issue

[2022-09-28 06:30] #907 closed

[2022-09-29 07:56] dbeacham opened #914 "Access to socket within Application (detect disconnects)"
We want eagerly detect client disconnections, i.e. before we try to write our response, from our API. Requests can be long running/CPU intensive and don't want to waste cycles unnecessarily.

From [this comment](https://github.com/yesodweb/wai/issues/196#issuecomment-468240104) in #196 I can see that we could implement the logic ourselves by polling [recvBufMsg](https://hackage.haskell.org/package

[2022-11-02 00:26] Vlix commented on #588
I believe the new middleware from #901 resolves this issue so I'm going to close this.

[2022-11-02 00:26] #588 closed

[2022-11-02 23:30] Vlix commented on #910
Do you mean you'd like a comment above the `spec` function saying so? Or somewhere else?

[2022-11-02 23:46] Vlix commented on #894
It would be nice if @basvandijk could verify this problem has been fixed, but I think I'll close this issue because there's two fixes that seem likely to have resolved this.

[2022-11-02 23:46] #894 closed

[2022-11-03 00:28] Vlix commented on #376
@soenkehahn A bit late, but do you remember if this was fixed? #460 seems to do what this issue was opened for, if I understand it correctly? 🤔

[2022-11-03 05:32] alexbiehl commented on #894
It turned out it was a bug in bytestring — I don’t think the new toByfIOWith has anything to do iff bytestring works correctly.

[2022-11-04 17:15] soenkehahn commented on #376
I don't remember the details at all, but I did claim in #460 that it fixes this issue. So I think this can be closed.

[2022-11-05 00:54] #376 closed