[2011-02-06 13:41] thsutton opened #1 "test.hs is broken"
The `test.hs` file (and, perhaps, other files in the project) is broken, referencing modules that no longer exist. It should be removed or, preferably, replaced with an example that tests and demonstrates the same features.

[2011-02-06 16:45] #1 closed, assigned to nobody

[2011-10-06 16:52] yogsototh opened #12 "Experience some problem on OS X"
Hi!

I wanted to try warp to serve my static website. And I then tried to use the Apache Benchmark tool ab to make some test.

I tried both on Ubuntu Linux and on OS X Lion 10.7.

On Lion I experience some error messages from the server:

[code]

And a lot of error message from the ab tool. It returns the following errors:

a lot of "Send request failed!"
and time to time a "apr_socket_recv: Conne

[2011-10-07 01:56] mwotton opened #13 "wai-websockets headers"
i think there might be a header parsing problem - I'm playing around with Jasper's websocket stuff, and when i dump the request headers inside the intercept funciton, i get this:

[("Upgrade","WebSocket\r"),("Connection","Upgrade"),("Host","\192.\168:9160\r"),("Origin","ArduinoWebSocketClient\r")]

in this case, it fails to intercept because it's looking for "WebSocket", without the "\r".

http://

[2011-10-09 19:53] luite opened #14 "304 not modified requests timing out"
I've run into a problem with static files (with yesod staticFiles) causing timeouts if the status is 304 not modified. If I force a reload, then it works ok.

My setup:
OS X 10.7.1
nginx 1.0.7 reverse proxy from localhost -> localhost:3000

Blake Rain has encountered the same issue on linux, with Apache reverse proxy

[2011-10-10 14:42] #14 closed, assigned to nobody

[2011-10-10 14:59] gregwebs opened #15 "ssGetMimeType encourages inefficient code."
ssGetMimeType is invoked for each FileResponse in wai-app-static. That means if someone writes ssGetMimeType to lookup from a file, that file will be read each time.

Can the type signature be changed to be pure? What is the IO needed for?

[2011-10-10 15:23] #15 closed, assigned to nobody

[2011-10-11 22:10] luite opened #16 "ipv6 default for warp causes some problems"
Warp tries to open an ipv6 socket if one is available, but this seems to cause problems for some users. Many people probably expect a server to respond to 127.0.0.1, and not all platforms forward connections automatically to v6 (there was a user who reported problems in #yesod, on Windows, don't know if he also had trouble connecting to http;//localhost ). Happstack defaults to opening an ipv4 soc

[2011-10-21 23:12] mdempsky opened #17 "Warp doesn't support chunked requests"
HTTP/1.1 requests are allowed to use the chunked transfer encoding scheme, but Warp currently only recognizes a request entity if there's a content-length header.

[2011-11-03 06:14] akaspin opened #18 "How to send response to client on Exception?"
For now `warp` can only print application-generated errors to stderr. But the client does not receive anything (324 ERR_EMPTY_RESPONSE).

How to send response to client (500 ...)? Maybe it's `Wai` question. But I cant use Applications with `catch`.

[2011-12-15 20:57] #18 closed, assigned to nobody

[2011-12-15 21:03] #13 closed, assigned to nobody

[2011-12-25 12:14] gregwebs opened #25 "remove Network.Wai.Middleware.Debug module"
I am including this functionality in the new RequestLogger module. I think this name is better - there are many possible things that could be debugged. Users should require a change to a single import statement.

[2012-01-12 05:39] #25 closed, assigned to nobody

[2012-01-12 12:58] #16 closed, assigned to nobody

[2012-01-17 06:47] snoyberg opened #32 "Clean up Network.Wai.Middleware.RequestLogger"
See comments in module

[2012-01-17 22:12] akaspin opened #33 "Conduit-based version on hackage"
Is there any chance to see the conduit-based version of WAI and Warp on hackage?

[2012-01-19 09:20] #33 closed, assigned to nobody

[2012-01-22 20:57] #32 closed, assigned to nobody

[2012-01-28 17:36] snoyberg opened #37 "ReadInt code doesn't compile with GHC 7.4"
Hey @erikd

I get the following error message compiling on 7.4.

[code]

The easy fix is to revert to digitToInt, but that's obviously not too efficient. I don't mind using that as a stop-gap measure until you have a chance to look at this, just let me know.

[2012-02-01 16:12] #37 closed, assigned to nobody

[2012-02-01 16:14] snoyberg opened #40 "Huge slowdown for request body of length 1025"
Previously mentioned in yesodweb/yesod#248 by @luite

I can confirm that this is occurring, but now the weird part: the slowdown seems to be coming from the call to `network`'s `recv` function. I've added the following debug output to Warp:

[code]

Plus the helper function `time` and related imports:

[code]

You can see clearly that connRecv finishes about a second after it starts.

[2012-02-01 18:31] ecyrb opened #41 "Warp -Werror failure (Prelude catch deprecated for Control.Exception.catch)"
[code]

Bigger excerpt:

[code]

I'm sure I'm doing something wrong, so I apologize in advance.

[2012-02-01 18:54] #40 closed, assigned to nobody

[2012-02-01 19:54] #41 closed, assigned to nobody

[2012-02-02 09:49] peti opened #43 "Please release a new version that supports conduit 0.2.0 and blaze-builder-conduit 0.2.0"

[2012-02-02 11:15] #43 closed, assigned to nobody

[2012-02-03 11:37] #12 closed, assigned to nobody

[2012-02-04 15:46] drdo opened #45 "IO"
Hello!

Is there a special reason why almost everything in Wai and friends is tied to IO?

[2012-02-04 21:21] #45 closed, assigned to nobody

[2012-02-05 05:16] pikajude opened #46 "wai-handler-fastcgi fails to install"
Trying to build wai (via scripts/install) for yesod 0.10 on OSX 10.7.3 yields this:

[code]

[2012-02-05 05:33] #46 closed, assigned to nobody

[2012-02-08 14:33] akaspin opened #49 "Using `vault` from request"
I broke my brain when I tried to use `vault` from `Wai.Request`. For example, I need middleware for authentification. Current implementation requires that next `Application/Middleware` in chain received user data as first parameter.

When I try `vault`. I can store user data with `newKey`. But how to retrieve it in next `Application/Middleware`? Can you give an example?

[2012-02-17 05:09] kazu-yamamoto opened #52 "ConnectionClosedByPeer vs IncompleteHeaders"
Since [1] deleted ConnectionClosedByPeer, we cannot distinguish ConnectionClosedByPeer and IncompleteHeaders. Are there any ways to distinguish them with Conduit?

One idea is that if a buffer is empty and pull returns null bytestring, we take it as ConnectionClosedByPeer. Does this make sense? Is it possible to implement this idea? (I'm not familiar to the internal of Conduit, so I cannot.)

[1]

[2012-03-11 00:21] joshtriplett opened #55 "warp-tls: Please document how to serve HTTP and HTTPS from the same server"
I'd like to serve both HTTP and HTTPS from the same Yesod-based application, using the same event loop.  In my case, I'd like to have all HTTP requests redirect to HTTPS; other applications might wish to serve some requests via HTTP and other requests via HTTPS.  Either way, I don't want to have to run a separate application or web server just to serve these redirects.  Please consider adding docu

[2012-03-21 17:46] akaspin opened #57 "Dependencies. Again"
Same as in #43. Is it possible to release "dependent" versions as soon as possible? Or, relax restrictions on dependencies versions.

[2012-03-21 18:28] #57 closed, assigned to nobody

[2012-03-25 07:10] #55 closed, assigned to nobody

[2012-03-25 07:11] #49 closed, assigned to nobody

[2012-04-08 20:26] cgaebel opened #60 "No redirect when using warp-tls"
When I configure my site with warp-tls, http traffic is sent to a page with the contents of:

http://pastebin.com/tuthyb5A

HTTPS traffic works fine.

Can this be changed to redirecting to the https site automatically? I don't know how this is done on a low level, but it's possible! I swear!

[2012-04-10 14:12] luite opened #61 "screen.css: getFileStatus: does not exist (No such file or directory)"
[code]

I get this error when installing wai-websockets from github with cabal-meta, has anyone else seen this?

[2012-05-01 22:39] AlexanderAA opened #66 "README.md - broken link"
Link to http://www.yesodweb.com/book/wai is broken

[2012-05-02 03:47] #66 closed, assigned to nobody

[2012-05-08 13:25] bitonic opened #68 "wai-websockets doesn't work with Hybi00"
The Hybi00 [spec](http://tools.ietf.org/html/draft-ietf-hybi-thewebsocketprotocol-00#section-1.3), in the handshake section, specifies that there have to be 8 bytes at the end that make up the 128bit key necessary for the handshake.

The problem is that warp throws those last 8 bytes away, since they're not part of the headers, and there is no "content-length" header. This makes Hybi00 unusable wi

[2012-05-09 08:22] #68 closed, assigned to nobody

[2012-05-09 19:45] #61 closed, assigned to nobody

[2012-05-10 21:29] bitonic opened #69 "wai-websockets does not close connections correctly"
These two programs should behave the same when faced with websockets requests, the first works with websockets `runServer`, the second with warp and wai-websockets `intercept`:

[code]

[code]

So they simply accept the request and return. However, they behave differently. If I try to make a request with the "native" version, I reasonably get a `ConnectionClose` exception:

[code]

With the wai-we

[2012-05-13 05:50] #69 closed, assigned to nobody

[2012-05-18 05:51] kazu-yamamoto opened #73 "releasing warp"
May I ask to release warp? I would like to release Mighttpd based on it.

[2012-05-20 03:25] #73 closed, assigned to nobody

[2012-05-30 15:19] luite opened #76 "support for multiline HTTP headers"
warp doesn't seem to support multiline headers, that are allowed by the HTTP 1.1 spec:
http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2
if the other lines are prefixed by a space or a horizontal tab

[2012-06-01 17:51] luite opened #77 "listen on unix socket"
small feature request picked up from the #yesod irc channel: it would be nice if Warp supported listening on unix sockets
(nginx supports proxying to unix sockets, managing multiple yesod apps might be easier with sockets, since you don't have to manage free port numbers, and performance would likely be slightly better)

[2012-06-03 13:35] #77 closed, assigned to nobody

[2012-06-05 02:51] snoyberg opened #78 "warp: Allow sending response while consuming request?"
Currently, to avoid deadlocks, Warp flushes the request body before sending the response body. Perhaps it would be better to send the response body first. This could in theory cause problems for some HTTP clients. See discussion on StackOverflow:

http://stackoverflow.com/questions/10807824/unexpected-conduit-behaviour-with-wai

[2012-06-05 02:53] snoyberg opened #79 "Clean up wai-extra's BackEnd"
wai-extra contains a BackEnd for dealing with file uploads. This could be much more nicely integrated with conduit. Let's go ahead and do so for the next major release.

[2012-06-05 03:03] snoyberg opened #80 "Include support for conduit 0.5"
This version is not yet released, but should be supported by the next major release of the wai ecosystem. Will likely not require any changes to wai itself except a version bump.

[2012-06-05 03:04] snoyberg opened #81 "Include improved wai-app-static in next major release"
Currently code is on a separate branch: https://github.com/yesodweb/wai/tree/static-cleanup

This introduces a breaking change.

[2012-06-05 03:15] #17 closed, assigned to nobody

[2012-06-05 10:32] Tener opened #82 "Make wai-extra's BackEnd more configurable"
By default tempFileBackEnd uses whatever getTemporaryDirectory function returns and a specific temporary file pattern "webenc.buf".

I would be nice to have that bits configurable, for example by making a more generic function that accept parameters for these two parts.

-- | Save uploaded files on disk as temporary files
tempFileBackEnd :: BackEnd FilePath
tempFileBackEnd = tempFileBackEndOpts ge

[2012-06-05 13:06] #76 closed, assigned to nobody

[2012-06-07 21:45] zopa opened #83 "Hackage documentation still mentions enumerators, not conduit"
The Hackage documentation says  "To address performance, this library is built on top of the enumerator [...] package," and so on. This should probably be updated to conduit.

[2012-06-08 06:25] #83 closed, assigned to nobody

[2012-06-13 14:22] #79 closed, assigned to nobody

[2012-06-19 08:11] andykitchen opened #85 "Request port information missing in Request"
Hi,

I was trying to write a HTTP proxy using WAI and http-conduit,
but I came across this problem:

Basically, in the HTTP protocol the request port can be different to the host port

for example a client may connect to a HTTP proxy server on
port 8080 and send:

[code]

In this case, the server port is 8080 but the request
port is 3001. There is currently no way get the
this information in a wai

[2012-06-24 07:24] yuttie opened #87 "Incomplete response can be returned if gzip middleware is used."
When my WAI application returns a response with long content, the response body is not completely output.

The following code reproduces it.
https://gist.github.com/2980993#file_test_with_cgi.hs

Here is a result of executing the program on my environment:

[code]

If it finishes correctly, its output must ends with characters "END".

Without "Accept-Encoding: gzip", it works fine as follows:

[co

[2012-06-24 12:00] #85 closed, assigned to nobody

[2012-06-25 05:32] #87 closed, assigned to nobody

[2012-06-25 08:39] kazu-yamamoto opened #88 "Please release warp"
Please release the next version of warp which uses simple-sendfile v0.2.4. Thanks in advance.

[2012-06-25 17:41] #88 closed, assigned to nobody

[2012-06-26 20:00] #81 closed, assigned to nobody

[2012-06-26 20:00] #80 closed, assigned to nobody

[2012-07-01 07:18] #78 closed, assigned to nobody

[2012-07-02 08:28] #82 closed, assigned to nobody

[2012-07-03 13:08] #60 closed, assigned to nobody

[2012-07-10 06:56] kazu-yamamoto opened #89 "Separating Mime stuff"
I would like to extract mime stuff from wai-app-static and create a new package like "mime-types".

Background: I would like to test #52 with mighttpd2. mighttpd2 depends on wai-app-file-cgi, which depends
on wai-app-static because of mime types. But wai-app-static depends on crypto-conduit whose version 0.5.0
is not available from HackageDB. From the wai-app-file-cgi point of view, wai-app-static

[2012-07-11 12:21] #52 closed, assigned to nobody

[2012-07-11 12:27] #89 closed, assigned to nobody

[2012-07-14 10:59] meiersi opened #90 "tighten fast-logger dependency of wai-extra 1.2.0.5"
Due to the release of fast-logger-0.2, compilation of wai-extra versions 1.2.\* break, as their version restriction to `fast-logger (≥0.0.2)` is too weak. It should be

[code]

or probably better

[code]

[2012-07-14 18:38] #90 closed, assigned to nobody

[2012-07-19 18:33] astro opened #92 "warp-tls is prone to BEAST attack"
Hi

Let me first thank you for your efforts. Yesod is awesome, and Conduits is the data processing model I've always wanted.

I am now running Warp on ports 80 & 443, and [some SSL analysis site](https://www.ssllabs.com/ssltest/analyze.html?d=bitlove.org) says it's prone to the BEAST attack.

Removing the MD5/RC4 ciphers from warp-tls did not help. Sorry that I cannot come up with a patch as I don

[2012-08-10 23:24] singpolyma opened #97 "Constructing URLs"
serverName and serverPort both say they should not be used in constructing URLs.  Fine.  What, then, _should_ be used?

[2012-08-11 18:23] #97 closed, assigned to nobody

[2012-08-13 15:34] singpolyma opened #98 "[wai-extra] parseSimpleQuery vs parseQuery"
Why use parseSimpleQuery for resonseBody instead of parseQuery?  Parameter-less items are still possible in a request body.

[2012-08-13 23:56] singpolyma opened #99 "[wai-extra] Some proposed additions"
I've put up at https://gist.github.com/3344927 some code that I'm proposing being included in wai-extra.  Not sure which module(s) it all belongs in, this is all just odd and ends that I've found very useful when working with WAI that don't really in any other package I have or plan to have.  I mean, I could create my own wai-extra-singpolyma, or wai-singpolyma-util, but I thought I'd submit here

[2012-08-23 09:01] Ragnaroek opened #101 "Network.Wai.Handler.Launch.run fails on MacOSX"
I'm trying to run an application with

main :: IO ()
main = do
    app <- toWaiApp HelloWorld
    HL.runUrlPort 30001 "" app

The HelloWorld Yesod App is the one from the book.
Executing this gives me the error:
bind: unsupported operation (Can't assign requested address)
I also tried to simply execute run with the default port, but it gives me same error message.

I'm on MacOS X 10.7.4 and ghc-7.

[2012-09-03 01:57] kazu-yamamoto opened #102 "releasing new Warp"
Hello,

The new Warp has been running stably in the real world.
Since the new Warp does not break backward compatibility, I guess it's a good time to release it.
Please merge the refactoring branch to master and release the new warp.

[2012-09-04 15:22] #102 closed, assigned to nobody

[2012-09-21 12:05] #98 closed, assigned to nobody

[2012-09-21 12:07] #99 closed, assigned to nobody

[2012-09-21 12:08] #92 closed, assigned to nobody

[2012-09-23 11:31] mjakl opened #109 "Warp cannot handle "Transfer-Encoding: chunked" requests"
When sending POST requests to Warp with "Transfer-Encoding: chunked" (like Go does when serializing byte arrays).

Here's the Server I used for testing:

[code]

Here's the client I used for testing (takes two parameters, one for the number of concurrent requests, and one to set the total number of requests).

For exmple, 10 clients and 10000 requests: `go run rest-tester.go 10 10000`

To disable

[2012-09-25 07:40] #109 closed, assigned to nobody

[2012-09-26 23:17] #101 closed, assigned to nobody

[2012-09-28 09:05] erikd opened #113 "warp-tls fails to build"
Current git HEAD:

[code]

and so on.

[2012-09-28 14:09] #113 closed, assigned to nobody

[2012-09-30 23:14] erikd opened #114 "Difference in behaviour : warp vs warp-tls"
I was having some troubles with warp-tls giving me a "data: end of file" failure.

I tried debugging this myself, but wasn't able to make much progress. However, during my debugging I came up with a (relatively) simple test program that shows the problem (I'll add it as an attachment, warp-tls-test.hs).

When the test program is run as:

[code]

it sets up a warp server with a simple WAI Applicati

[2012-10-03 05:31] kazu-yamamoto opened #116 "Performance regression of warp"
f1ccbe83d5 and c82539f570 made Warp much slower:
Without the patches: about 41,000 req/s
With the patches: about 35,000 req/s

Why is this change necessary?

[2012-10-06 14:48] singpolyma opened #117 "parseHttpAccept bug with media type parameters"
http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html says:

[code]

But:

[code]

The media type parameter is eaten, and additionally the `q` param is ignored if any other param comes earlier in the string.

[2012-10-06 14:49] singpolyma opened #118 "More specific Accept values overrides less specific"
http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html says:

[code]

But:

[code]

[2012-10-10 04:55] #117 closed, assigned to nobody

[2012-10-10 04:55] #118 closed, assigned to nobody

[2012-10-26 13:53] notogawa opened #122 "warp/warp-tls fails to respond to https GET request by wget"
Build and start "pong".

[code]

then, try to wget

[code]

In this case, [Network.TLS.recvData](https://github.com/vincenthz/hs-tls/blob/v0.9.11/Network/TLS.hs#L36) receive an empty bytestring before receive HTTP requst string. On the other hand, [Network.Wai.Handler.Warp.Run.connSource](https://github.com/yesodweb/wai/blob/warp/1.3.4.1/warp/Network/Wai/Handler/Warp/Run.hs#L207) stop its processi

[2012-10-30 07:51] #116 closed, assigned to nobody

[2012-11-03 16:22] #114 closed, assigned to nobody

[2012-11-06 17:17] snoyberg opened #123 "More efficient share connections with unconsumed bodies"
Should Warp determine whether or not to close a connection based on the size of the remaining request body?

Consider the case where the a client wants to send two requests to the server. The first request has a 2MB request body, which the application entirely ignores. Warp currently will flush that request body and then process the next request.

Perhaps instead, Warp should analyze the remaining

[2012-11-15 12:26] #122 closed, assigned to nobody

[2012-12-02 20:14] sol opened #126 "wai-handler-devel: Remove -O2 from cabal file?"
The bad thing about adding `-O2` in general is that it does not play well with `cabal configure --disable-optimization`.  Consequently you can't optimize for build time, e.g. while developing or testing with various compilers.

Unless there is a strong reason not to do so, I suggest to remove `-O2` from the cabal file.

[2012-12-03 05:16] #126 closed, assigned to nobody

[2012-12-04 23:52] jhickner opened #128 "is there a way to disable Nagle's algorithm when using wai-websockets?"
I'm sending a lot of small messages over a websocket and I'm seeing delays that I believe are caused by `TCP_NODELAY` not being set on the underlying socket.

Is there a way to specify this as an option when starting a server, or a way to get at the raw socket to set the option?

[2012-12-05 09:23] #128 closed, assigned to kazu-yamamoto

[2012-12-20 20:21] hreinhardt opened #129 "runSettings doesn't kill its spawned thread on Windows"
Consider the following program:

[code]

On Linux it works fine, but on Windows it produces exceptions:

[code]

I'm not sure where the WSAEINTR comes from but the accept-errors are caused by Warp. I've traced the messages down to 'getConnLoop' in the 'runSettingsConnectionMaker' function:

[code]

Because the socket is closed, this function will continously produce error messages. The reason it o

[2012-12-26 13:36] snoyberg opened #130 "Range request support"
http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35

[2012-12-27 07:39] #123 closed, assigned to nobody

[2013-01-04 22:14] tsuraan opened #131 "Strange issue in HTTP parsing"
Preliminary info: linux kernel, ghc 7.4.1, wai 1.3.0.1, warp 1.3.5.1

I have a really simple Wai program that looks like this:

[code]

So, it runs on port 8001 returning really simple 404 pages.  Now, I have two different ways I'm trying to upload a file: header first, and then a newline, and then the body, or all as a single string (the below copy/paste jobs say HTTP/1.0, but the same happens if

[2013-01-06 19:08] #131 closed, assigned to nobody

[2013-01-07 07:02] mzero opened #133 "Warp should set FD_CLOEXEC on sockets"
If a Warp based program is going to fork/exec, then there is a leak of socket FDs into the fork/exec processes. This leak is both a serious resource problem (for example, it will hold the listening socket open as long as those processes are alive), and a potential security breach.

The lower level cause is that Warp doesn't set the `FD_CLOEXEC` flag on all it's socket's FDs. It is _almost_ possibl

[2013-01-08 17:00] #133 closed, assigned to nobody

[2013-02-02 05:22] gertcuykens opened #137 "wai/warp-static/warp.hs"
1) Mime type seems to be always text/plain?

[code]

2) How do I enable gzip only for text?

[2013-02-02 18:05] #137 closed, assigned to nobody

[2013-02-03 02:04] gertcuykens opened #138 "tls ghc 7.6.x linux"
static errors
`send: resource vanished (Broken pipe)` when using firefox
`Error_EOF` when using chrome

wss errors
`Error_Packet "partial packet: expecting 16416 bytes, got: 4054"`

[code]

[code]

[code]

[2013-02-11 20:20] gertcuykens opened #140 "Network.Wai.Handler.WebSockets / Network.Wai.Application.WebSockets"
Is it possible to make a wai app for websockets pleas?

[code]

[code]

[2013-02-12 02:52] #140 closed, assigned to nobody

[2013-02-14 01:19] amccausl opened #141 "http://www.yesodweb.com/book/wai no longer resolves"
Content from http://www.yesodweb.com/book/wai moved to http://www.yesodweb.com/book/web-application-interface

Need to update cabal files accordingly.

[2013-02-14 05:04] #141 closed, assigned to nobody

[2013-02-17 21:06] enolan opened #143 "Warp-tls will happily use cleartext HTTP over the secure port if the connecting browser asks."
I can visit my dev site on both http://localhost:3000 and https://localhost:3000. I should only be able to use secure mode on the secure port when I use warp-tls.

I worry an attacker could give a link to http://bank.com:443 and trick a user into sending a password over the network in the clear. Users may not look for the lock icon if they know they're on the right domain and everything looks norm

[2013-02-18 06:54] alexanderkjeldaas opened #144 "Compilation issue with GHC 7.6.1"
I need the following to compile wai-extra on my system:
diff --git a/wai-extra/Network/Wai/Parse.hs b/wai-extra/Network/Wai/Parse.hs
index c6b7fc8..95cc474 100644
--- a/wai-extra/Network/Wai/Parse.hs
+++ b/wai-extra/Network/Wai/Parse.hs
@@ -3,6 +3,7 @@
 {-# LANGUAGE ExistentialQuantification #-}
 {-# LANGUAGE PatternGuards #-}
 {-# LANGUAGE TypeFamilies #-}
+{-# LANGUAGE RankNTypes #-}
 -- | Some

[2013-02-18 08:35] #144 closed, assigned to nobody

[2013-03-09 05:55] joeyh opened #146 "slowloris protection can be triggered by legitimate use of chromium"
I have a yesod web app that I'm able to fairly reliably, through a particular pattern of activity, cause to seem to freeze. Ie, I click on a link in the web browser and it spins, forever. Once this has happened, any links I click on will exhibit the behavior, and even pages that are a simple static hamlet template with no other IO freeze. However, open any link in a new tab and it works fine. It's

[2013-03-24 09:59] sol opened #148 "Warp does not close open connections on ctrl-c (in GHCi)"
##### Steps to reproduce
1. Start a simple wai application in GHCi on port `8080` (e.g. what we have in the [README](https://github.com/yesodweb/wai/tree/master/wai#readme))
2. Visit [`http://localhost:8080/`](http://localhost:8080/) with a web browser
3. Interrupt Warp with `ctrl-c`
4. Visit [`http://localhost:8080/`](http://localhost:8080/) a second time
##### Expected result

The second request

[2013-04-01 16:09] sol opened #151 "wai-handler-devel does not quite on ctrl-c"
**Steps to reproduce:**

Start the `SmallApp` example like so:

[code]

Hit `ctrl-c`.

**Expected result**:  The application terminates, the GHCi prompt is shown.

**Actual result:** `<interactive>: user interrupt` is printed to the terminal. The app remains running and serves requests on http://localhost:3000/.  Code reloading does not work anymore.

I tinkered with the code but it's not yet clea

[2013-04-01 18:52] sol opened #152 "wai-handler-devel sometimes serves from a stale app"
Currently we constantly check whether we should reload the app, with a `threadDelay 1000000` in between.

This means that if you modify the app and do a request right after, your request may be served by a stale app.  I think the right thing to do would be to instead block for a request, do the reload and then serve from the freshly reloaded app.

I haven't looked into it, so not sure whether this

[2013-04-02 17:09] #152 closed, assigned to nobody

[2013-04-02 17:11] #151 closed, assigned to nobody

[2013-04-06 19:48] tinco opened #153 "WAI does not define an interface for spawning applications"
Hi,

I would like to add support for WAI applications in Phusion Passenger. WAI is very useful in this regard but it lacks an important feature, namely a common way to spawn applications.

At the moment it is the case that an application must specifically choose a webserver (Handler) to run the application with, this puts an unnecessary coupling with the webserver in the application code.

In Ruby

[2013-04-17 12:03] luite opened #154 "wai-extra Gzip middleware doesn't export GzipSettings constructor"
so it's impossible to override the settings. also `warp-static` doesn't compress JavaScript files by default, perhaps it should?

[2013-04-17 19:46] #148 closed, assigned to nobody

[2013-04-18 09:16] #154 closed, assigned to nobody

[2013-05-19 08:55] HeinrichApfelmus opened #157 "Serving large files fails on MacOS X"
I would like to serve a video file via the `warp` web server. Unfortunately, the request fails with the following error message.

[code]

It seems that this issue only occurs for large files, serving small text files is no problem.

EDIT: There seems to be some browser dependence. It does not work in Chrome at all, but Safari 5.1.9 sends several requests and occasionally (but not always) succeeds

[2013-05-21 09:30] kazu-yamamoto opened #158 "Documentations for warp-tls"
@snoyberg  I started to support HTTPS for Mighty using warp-tls. I wrote documentations for warp-tls and exported `tlsLogging` (for debugging purpose). Please merge this if you like. If you release a new version with these patches, it would be appreciated.

https://github.com/yesodweb/wai/tree/warp-tls-hack

[2013-05-21 11:34] #158 closed, assigned to nobody

[2013-05-21 12:22] kazu-yamamoto opened #159 "isSecure of WAI"
warp-tls does not set `isSecure` of WAI to `True`. Is this a spec?
I'm very surprised that some applications set it `True` according to the "https" prefix.
What is the intended behavior of `isSecure`?

[2013-05-22 09:09] #159 closed, assigned to nobody

[2013-05-26 11:52] liammclennan opened #160 "Error installing wai-extra"
Hi,

I get the following error when I try to install wai-extra. Any ideas?

$ cabal install wai-extra
Resolving dependencies...
Configuring wai-extra-1.3.4.1...
Building wai-extra-1.3.4.1...
Preprocessing library wai-extra-1.3.4.1...
[ 1 of 13] Compiling Network.Wai.Middleware.HttpAuth ( Network/Wai/Middleware/HttpAuth.hs, dist/build/Network/Wai/Middleware/HttpAuth.o )
[ 2 of 13] Compiling Network

[2013-05-26 12:05] #160 closed, assigned to nobody

[2013-06-01 22:54] gertcuykens opened #161 "http-reverse-proxy / websocket intercept / staticApp"
I would like to reverse proxy all or some pages to a openstack swift server. Can you help to put the reverse proxy together in combination with static pages for error pages?

[code]

[2013-06-03 07:32] #161 closed, assigned to nobody

[2013-06-04 18:47] jimenezrick opened #163 "wai-extra: export RequestLoggerSettings constructor"
In `Network.Wai.Middleware.RequestLogger` there are some predefined values of the type `RequestLoggerSettings`, but wouldn't be useful to have the constructor itself exported so that it's possible to create more values manually of this type?

[2013-06-04 19:46] #163 closed, assigned to nobody

[2013-07-14 08:59] #157 closed, assigned to nobody

[2013-07-27 19:16] singpolyma opened #165 "How to bind to specific address with warp?"
If I want warp to only listen on localhost, how do I do that?

[2013-07-27 19:16] #165 closed, assigned to nobody

[2013-08-30 11:04] gregorycollins opened #168 "Warp doesn't send a Date header"
Hi guys,

RFC 2616 stipulates in section 14.18:

[code]

Warp doesn't seem to be generating this header:

[code]

And the output:

[code]

[2013-09-08 15:08] #130 closed, assigned to nobody

[2013-09-08 15:11] #153 closed, assigned to nobody

[2013-09-08 15:18] #146 closed, assigned to nobody

[2013-09-08 15:19] #143 closed, assigned to nobody

[2013-09-11 18:47] peti opened #172 "wai-app-static-1.3.2 test suite doesn't compile"
[code]

A complete build log is at http://hydra.cryp.to/build/13085/nixlog/4/raw.

[2013-09-12 07:15] #172 closed, assigned to nobody

[2013-09-24 21:31] singpolyma opened #173 "Application exception handling with warp"
`warp` has a way to provide an exception handler for every possible exception that happens while handling a request.  I would be nice if there could be _two_ exception handlers: one for before the `env` has been produced, and one for after.  The latter would then be able to receive the parsed request as an argument, which is very useful for error reporting tools, etc.  (I am trying to use HoneyBad

[2013-09-25 21:54] singpolyma opened #174 "Default exception response with Warp"
It would be nice if, instead of just closing the connection without sending anything, warp would send back a valid HTTP 500 response when an unhandled exception occurs (by default).

This would improve user experience considerably.

[2013-09-27 05:10] #174 closed, assigned to nobody

[2013-10-03 01:55] kazu-yamamoto opened #178 "WAI 2.0"
This issue is to discuss WAI 2.0 (the internal-state branch). Please read http://www.haskell.org/pipermail/web-devel/2013/002646.html first.

[2013-10-10 08:57] kazu-yamamoto opened #182 "Isn't mask_ necessary?"
@snoyberg Please review "FIXME" in `initialize` of Warp's `Timeout.hs`.

`FdCache.hs` has `mask_`. Isn't it necessary here?

[2013-10-16 11:57] kazu-yamamoto opened #184 "How to kill the thread of timer manager and the thread of Fd cacher."
When Warp finishes, cleaning up timer relating resources and opened Fd works well. But it seems to me that their threads are not killed. @snoyberg is this intentional?

If we should kill them, what about modifying `initialize` so as to return `ThreadId` as well?

[2013-10-17 11:18] #184 closed, assigned to nobody

[2013-10-21 07:48] #182 closed, assigned to nobody

[2013-10-21 11:28] #173 closed, assigned to nobody

[2013-10-28 07:30] kazu-yamamoto opened #186 "handleExpect"
I resumed to hack the request parser of Warp. I have a question.

`Request.handleExpect` removes the Expect header from a list. Why should it be removed?

[2013-10-28 09:10] #186 closed, assigned to nobody

[2013-10-30 02:45] kazu-yamamoto opened #187 "WAI 2.0: removing `Settings` from `sendResponse`"
I'm now trying to make `recvRequest` and `sendResponse` as symmetric as possible. Currently, `sendResponse` takes `Settings` but `recvReqeust` does not. It is only used to obtain `settingsServerName`.

I would like to remove `Settings` from `sendResponse` and to remove `settingsServerName` from `Settings`. `Application` can specify Server: through response headers.

@snoyberg what do you think?

[2013-10-30 04:21] #187 closed, assigned to nobody

[2013-10-30 06:17] kazu-yamamoto opened #188 "Content-Range"
This is just for record. I will close when I implement it.

`sendResponse` assumes Content-Range exits in HTTP response header if `Maybe FilePart` is `Just`.  However, `sendResponse` adds Content-Length if it does not exist and `Maybe FilePart` is `Just`.

This would be a pitfall. Actually, Mighty falls into this pitfall. I will think Warp can add Content-Range (if necessary) even if `Maybe FilePa

[2013-11-02 04:09] kazu-yamamoto opened #189 "WAI 2.0 Trust model for responser header"
While refactoring `sendResponse` of Warp, I'm wondering how we should treat the response header from an application. Actually @melpon identified a problem: https://github.com/kazu-yamamoto/wai-app-file-cgi/pull/4

To my best knowledge, inconsistency happens if an application carelessly specify the following headers:
- Content-Length
- Content-Range
- Content-Encoding
- Transfer-Encoding

Typical s

[2013-11-02 04:21] kazu-yamamoto opened #190 "WAI 2.0: hostAndPort record field to Request"
The Host header is often used by WAI applications but `serverName` is deleted at this moment. If I understand correctly, this deletion is because that we cannot set a correct value on HTTP/1.0.

I would like to propose to add a new record field (e.g. `hostAndPort`) whose type is `Maybe ByteString`. The field is `Just` if the Host header exists. Otherwise, `Nothing`.
If this field is added, applica

[2013-11-02 04:27] kazu-yamamoto opened #191 "WAI 2.0: parsePath"
While adding doctests in `RequestHeader.hs`, I found a problem of `parsePath`.
- The argument `path` is never null. So, this case is redundant.
- If `path` is "http://example.com", the result becomes "", not "/".

I think the first case is not necessary. And the second case should return "/".

@snoyberg what do you think?

P.S.

Thanks to doctests, we can remove some test cases from `RunSpec.hs`.

[2013-11-03 00:47] ygale opened #192 "Haddock comment breaks CPP in wai-extra"
The haddock comment for the function `detailedMiddleware` in `wai-extra/Network/Wai/Middleware/RequestLogger.hs` contains the string "*/*" in two places. That confuses clang's CPP processor, so wai-extra does not compile on Mac OS X Mavericks and above. The problem was reported in [this reddit thread](http://www.reddit.com/r/haskell/comments/1pn6bk/wrapper_script_for_xcode_5_os_x_109/).

[2013-11-03 11:39] #190 closed, assigned to nobody

[2013-11-03 12:20] kazu-yamamoto opened #193 "WAI 2.0: parseRequestLine"
Here is the current profile of Mighty:

[code]

As you can see, `ResponseHeader.parseReqeustLine` (its old name if `parseFirst`) is costy. So, I implemented two simpler versions and took benchmarks:
- `parseReqeustLine0` is original one.
- `parseReqeustLine1` is a simpler version. It does not allows TAB characters nor separated HTTP/1.x.
- `parseReqeustLine2` is a low level version (i.e. pointer p

[2013-11-03 21:58] #189 closed, assigned to nobody

[2013-11-04 00:29] #191 closed, assigned to nobody

[2013-11-04 21:30] #188 closed, assigned to nobody

[2013-11-04 21:37] #193 closed, assigned to nobody

[2013-11-05 06:06] #192 closed, assigned to nobody

[2013-11-05 06:43] #168 closed, assigned to nobody

[2013-11-05 12:42] kazu-yamamoto opened #194 "WAI 2.0: todo"
Here is the current profile:

[code]

I don't see any bottlenecks except `sendfileloop`.  And I don't know we can make it faster since Fd striping did not work.

Moreover, Mighty/Warp (wai2 branch) compiled with GHC 7.7 is faster than nginx at least in the case where one core is used.

So, I would stop improving War's performance. What I want to do next is:
1.   Making fast-scalable logger to a li

[2013-11-07 14:23] snoyberg opened #196 "Long-running application and closed connections"
I believe this is the cause of https://github.com/snoyberg/keter/issues/29. It's not necessarily a bug in Warp, but it's a design point that requires some consideration. Consider the following interaction between an HTTP client, Warp, and a WAI application:
1. Client connects to server.
2. Warp parses request and passes it to Application.
3. Application does something that takes a long period of t

[2013-11-15 00:56] kazu-yamamoto opened #198 "Allocating buffer to send a response"
`sendRsp` has one FIXME:

[code]

Now we have a mechanism to allocate/free a buffer for receiving per connection: `allocateRecvBuffer` and `freeRecvBuffer`. @snoyberg I think you can reuse them for sending.

These code uses malloc()/free(). This means that GC of GHC does not care about them. Recent malloc() has an arena per core. If we use the same size both for receiving and sending, malloc()/fre

[2013-11-17 01:09] #198 closed, assigned to nobody

[2013-12-07 03:46] joeyh opened #202 "warp crashes on Windows on 1st connect"
I'm trying to use warp on Windows, and find that it crashes as soon as the client connects to make the first request. Using wget, I see it connects, sends a request and then wget says, "Read Error (Connection reset by peer) in headers"

I'm using the hello world example from http://www.yesodweb.com/book/web-application-interface  (A yesod hello world behaves identically.)
I tried adding withSocket

[2013-12-08 20:40] #202 closed, assigned to nobody

[2013-12-09 18:34] peti opened #205 "warp test suite fails when run in container environment"
NixOS runs all builds in a chroot container that doesn't have network access to guarantee that build results are reproducible. The latest version of warp fails its test suite in that environment: see http://hydra.cryp.to/build/27363/nixlog/4/raw for a complete build log.

To remedy the situation, the entire test suite has been disabled, which is unsatisfactory. Would it be possible to split the te

[2013-12-10 07:20] #178 closed, assigned to nobody

[2013-12-10 07:21] #194 closed, assigned to nobody

[2013-12-20 07:37] kazu-yamamoto opened #206 "RspBuilder"
RspBuilder is now using blaze-builder's Builder. It is handled by `toByteStringIO` so we cannot supply the per-connection buffer. I think we can utilize the buffer if we implement our `toByteStringIO` using the low level APIs.

@snoyberg Please see `toBufIOWith` in this patch:
https://github.com/kazu-yamamoto/logger/commit/960b506ca81c2d4df8dadfa56731dbde45ad0a4d

`toBufIOWith` does not allocate e

[2013-12-24 07:53] Zane-XY opened #208 "wai-extra-2.0.1 failed to install on Windows"
running cabal install yesod yesod-bin on Windows 7 x64 (don't know about other OSs), GHC version 7.6.3. get the following errors:

Network\Wai\Middleware\RequestLogger.hs:85:64:
    Not in scope: `logStrBuilder'
Failed to install wai-extra-2.0.1
cabal: Error: some packages failed to install:
wai-extra-2.0.1 failed during the building phase. The exception was:
ExitFailure 1
yesod-core-1.2.6.2 depen

[2013-12-24 10:13] s9gf4ult opened #209 "wai-extra broken with fast-logger > 2.0.0"
Starting from fast-logger-2.0.1 `logStrBuilder` is not in `System.Log.FastLogger` any more.

Someone hit the author for that, please.

[2013-12-24 15:15] #208 closed, assigned to nobody

[2013-12-24 18:30] #209 closed, assigned to nobody

[2013-12-25 12:55] hdgarrood opened #210 "Caching issue with wai-app-static"
With the following application:

[code]

I do the following:
[code]
So far, so good. Now open test.txt in Vim, delete the word "hello", and save.
[code]
However, test.txt now just contains "world\n"
Looking at the headers with `curl -v`, the `Content-Length` does get updated correctly, but it seems to be serving the wrong content.

See also https://github.com/scotty-web/scotty/issues/55
Could this

[2013-12-27 04:01] kazu-yamamoto opened #211 "changelog"
I noticed that Hackage 2 supports the changelog of the Debian style:

http://www.debian.org/doc/debian-policy/ch-source.html#s-dpkgchangelog

Let's introduce changelog gradually. Warp is good as a first target.

[2013-12-28 23:09] NerdGGuy opened #212 "warp-tls requries withSocketsDo (Windows)"
When converting my warp code over to warp-tls I got the following error:

example.exe: getAddrInfo: does not exist (error 10093)

After calling withSocketsDo (e.g. "withSocketsDo $ runTLS ...") it works.

Standard warp does this call internally:

[code]

Maybe warp-tls should also do this call internally?

[2013-12-29 06:35] #212 closed, assigned to nobody

[2014-01-16 19:20] kosmoskatten opened #217 "wai-websockets, missing query string in http request"
Hi @banacorn and others!

The Http request contains a query string (e.g. /foo?bar=123) but when the application handler inspects the pending request only the path part (i.e. /foo) is available.

In Wai's intercept handler for WebSocket requests, only the path part is taken  from Wai's request record (rawPathInfo), but not the query string (rawQueryString). I guess that both those parts should be c

[2014-01-16 19:43] dcoutts opened #218 "Cannot handle exceptions raised while running a response"
In a customer's yesod application (using warp-2.0.x) we are getting a 500 response with "Something went wrong" as the error message. This is a little unusual since yesod can normally catch exceptions throw by calls to error.

A little digging reveals that this comes from the warp exception handler when running one or more requests on a socket.

[code]

It's that send500 that produces the "Somethin

[2014-01-20 22:04] singpolyma opened #219 "How to use now tempFileBackend?"
`Network.Wai.Parse.tempFileBackend` takes an `InternalState` now -- am I supposed to get one of those from somewhere?  I had a vague idea that it had been added to `Request`, but I don't see it there?

[2014-01-21 08:41] nikomi opened #220 "Warp API suggestions: client address on open"
Hi,

I would like to put the following Warp API suggestions up for discussion:

1) Client socket address as additional parameters to settingsOnOpen and settingsOnClose: this would enable log entries like '... accepted/closed connection from x.x.x.x:n on ...'

2) settingsOnOpen could return IO Bool - True accepts the connection, False refuses the connection, i.e. the connection is instantly closed.

[2014-01-21 18:47] maxcan opened #221 "RequestLogger doesn't call the updater function returned by clockDateCacher"
In `RequestLogger.Internal:40` `getDateGetter` calls `clockDateCacher` but throws away the second element of the returned tuple which is a `function IO ()` to update the cached time variable. This causes all log entries to display the same time, specifically the time the first log entry was ran.

[2014-01-21 21:26] #221 closed, assigned to nobody

[2014-01-27 08:27] #219 closed, assigned to nobody

[2014-01-29 23:57] singpolyma opened #224 "wai-extra has too loose a lifted-base dependency"
It requires at least `lifted-base-0.1.2`, but currently says it will work with any version.

[2014-01-30 06:24] #224 closed, assigned to nobody

[2014-02-04 17:31] dcoutts opened #226 "Default exception response with Warp breaks apache reverse proxy"
From issue #174:

[code]

Code to do this (issue #175) was merged in warp-1.3.10.

Unfortunately this breaks apache reverse proxying. It also likely violates the HTTP spec.

In practice for people using apache reverse proxying it makes the whole thing completely unusable, with initially quite perplexing behaviour that most yesod users will have no chance of debugging. So for people using that conf

[2014-02-05 07:15] #206 closed, assigned to nobody

[2014-02-13 14:47] #226 closed, assigned to nobody

[2014-02-13 14:55] #218 closed, assigned to kazu-yamamoto

[2014-03-05 11:46] davean opened #231 "No timeout after keep-alive"
With the basic wai/warp app:

[code]

I see the below behavior:

[code]

as you can see, it times out in about the right amount of time when you don't send a request (or if you send a partial one actually, though that of course sends an error page). After having actually sent a request though, it seems to wait around indefinitely. You can send a second request on this connection, or just keep wait

[2014-03-05 17:32] #220 closed, assigned to kazu-yamamoto

[2014-03-06 05:22] #231 closed, assigned to nobody

[2014-03-10 13:53] phadej opened #232 "wai-websockets long quiet connections"
Is it possible to have different kill timeout for threads serving `websocketsApp`. With otherwise reasonable whole warp instance wide 30 seconds timeout  bundled chat example application is not usable in quiet chat rooms?

[2014-03-10 19:19] #232 closed, assigned to nobody

[2014-03-10 20:42] xich opened #233 "setPort/settingsPort deprecation"
The most recent warp deprecates `settingsPort` (and the other record selectors of `Settings`) in favor of new setter functions like `setPort`. However, there don't seem to be any new getter functions. For instance, I'd like to use `defaultSettings` and then figure out what port the server started on to report it to the user, in the case they haven't explicitly specified a port.

I can do this with

[2014-03-24 18:33] xich opened #236 "responseToSource return type"
WAI offers the following function:

[code]

is there a way to turn the third component of the tuple (`WithSource IO (Flush Builder) b`) back into `Source IO (Flush Builder)`, which is suitable for use with `responseSource`?

I'm unfamiliar with the `WithSource` and `Source` types, so I'm a bit lost.

[2014-03-26 02:15] gregwebs opened #237 "fileRange masking errors"
I am trying to figure out why sendfile isn't working properly on a specific setup.

However, the entirety of Network.Wai.Handler.Warp.Response.fileRange is wrapped in a try, and then any error is discarded.

Most of this function is pure, with one initial stat call. Can we just wrap the stat in a try or is there a reason that the entire function is wrapped up?

[2014-03-29 08:50] sol opened #239 "Warp does not respect "Connection: close" in a timely manner"
You can reproduce this if you rely on the connection getting closed when reading the body (I'm not saying this is the right thing to do, but anyway...).

I'll post proper steps on how to reproduce this later on.

[2014-03-30 07:15] #239 closed, assigned to nobody

[2014-04-03 02:00] meteficha opened #243 "Gzip middleware cache should index by etag as well"
Hi! =)

If I'm reading the code correctly, right now the gzip middleware may serve stale data from the gzip cache since it only takes the filename into account.  Its etag, if available on the response header, should be used as well, right?

[2014-04-08 04:59] andrewthad opened #245 "isSecure doesn't work for warp-tls"
I'm using warp-tls and allowing non-secure connections (trying to redirect from HTTP to HTTPS), and isSecure is always returning false.

[2014-04-09 05:13] #237 closed, assigned to nobody

[2014-04-14 05:35] kazu-yamamoto opened #246 "TechEmpower's Web Framework Benchmarks"
GHC 7.8.2 has come. How can we ask this benchmark to use GHC 7.8.2?

@gregwebs I think "-A4M" is small. (I'm not sure the capital letter "M" is correct.)  "-A32m" should be enough. Moreover, "-qa" would help to improve the performance.

https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/wai/setup.py

[2014-04-18 20:35] andrewthad opened #248 "warp-tls and Godaddy certs"
I'm responsible for a website with an SSL cert (from Godaddy), and I am trying to get it working with warp-tls. On localhost, I've managed to generate a fake certificate with openssl, and it works fine. However, on the production server, I can't get the real cert to work. Possibly relevant certificate information from Godaddy's control panel is:
Type:Standard SSL
Private Key Length:2048 bits
Signa

[2014-04-20 04:18] larskuhtz opened #249 "Warp response with an invalid status line when echoing a chunked request body"
In the following program warp returns a response with an invalid status line. The issue occurs when echoing back a chunked request body directly to the response stream.
It does not occur if no chunk arrives delayed or if the request body is completely buffered before it is returned.

[code]

[2014-04-25 04:01] #249 closed, assigned to nobody

[2014-05-05 14:56] stuartallenmills opened #252 "wai-app-static does not install on 64 bit windows using 64 bit ghc 7..8.2"
The issue appears to be in unix-compat which generates a link err: :
"unknown symbol 'snprintf" ".

Builds were done in both a standard Windows admin console and a mingw console (using   ghc 7.8.2 mingw)

Running 64 bit windows 7.

[2014-05-11 05:52] sol opened #256 "warp test suite broken since update to conduit 1.1"
Both the test suites (`doctest` and `spec`) do not terminate.  The last revision that works for me is `cbb8cf9fdd9d5a9b3a7c755b8a9a57aee0d8b451`.

[2014-05-11 06:01] #256 closed, assigned to nobody

[2014-06-10 05:23] BardurArantsson opened #262 "Documentation: WAI 3.0 documentation refers to Source"
There are a couple of left-over references to Source in the WAI 3.0.0 documentation. Here's some text to search for:
- "The strange structure of the third field or ResponseSource is to allow for exception-safe resource allocation. As an example:" (The example also mentions ResponseSource, but I it should be rewritten something like:

[code]

(not compile-checked!)
- The "responseStream" function d

[2014-06-10 18:20] #262 closed, assigned to nobody

[2014-06-17 01:42] andygill opened #264 "Install fails from hackage if older version of streaming-commons is present"
groundhog install of  fails out of the box.
  * It looks like I have  `streaming-commons-0.1.1`
  * `Data.Streaming.Blaze` did not appear until 0.1.2.

So, `streaming-commons` should be `streaming-commons >= 0.1.2`, perhaps?

        $ cabal install warp
        Resolving dependencies...
        Configuring warp-3.0.0.2...
        Building warp-3.0.0.2...
        Preprocessing library warp-3.0.0.2

[2014-06-18 07:28] AlexanderAA opened #265 "Gzip middleware breaks websocket connections"
Yesod.Core.Dispatch.toWaiApp includes gzip middleware from wai-extra by default. Gzip midleware causes certain browsers to be unable to connect - for example, Firefox sends "Accept-Encoding:  gzip, deflate" header and receives HTTP 500 response with missing websocket-related headers. HTTP 500 is caused by gzip or other default middlewares (acceptOverride, autohead or methodOverride).

Workaround -

[2014-06-19 10:09] #265 closed, assigned to nobody

[2014-06-22 19:48] gzh opened #266 "Cannot echo http-client's response with wai"
I'm not sure whether this bug relates to wai or to http-client. (Not even sure it's a really bug - not that I'm doing something wrong). Posting it here because there was similar issue #249.

I wrote a minimal example showing what I'm trying to do. In a few words, within a WAI application, the original HTTP request is slightly modified and forwarded to a thirdparty web server. Then, the response fr

[2014-06-23 06:17] kazu-yamamoto opened #267 "A test for warp fails"
Spin out from #258. In some environments, `cabal test` fails for warp.

[code]

[2014-06-24 05:54] #267 closed, assigned to nobody

[2014-06-25 10:55] #266 closed, assigned to nobody

[2014-07-06 09:16] 0xAX opened #270 "setPort and settingsPort"
Hello all,

I'm using `settigsPort` but getting warnging that it is deprecated and it's alright because:

[code]

But how to use `setPort`, i can't `import Network.Wai.Handler.Warp.Settings` now, or it will be available in next release?

Thank you.

[2014-07-06 17:30] #270 closed, assigned to nobody

[2014-07-15 23:16] dschalk opened #271 "wai-websockets-example malfunctioning."
I fired up the wai-websockets server on my Ubuntu 14.04 box and loaded four browsers: Chrome, Firefox, Opera, and Arora.  The chat works as expected until I close any one of the browsers.  Closing any one browser brings the chat session to a halt for the remaining clients.  Their messages are no longer broadcast.

New clients can sign on.  They are prohibited from using existing names.  But their

[2014-07-22 08:44] DaveCTurner opened #272 "HTTP chunks == TCP packets?"
Hi,

Not an 'issue' as such, just a question: Is there a good reason why Warp splits a streaming response into HTTP chunks at TCP packet boundaries? I sort of expected the HTTP chunks to match up with calls to the 'write' continuation in a StreamingBody, and if each chunk doesn't fit into a single packet then the magic of TCP is there to handle that. Indeed, IP fragmentation could subsequently spl

[2014-07-22 12:36] #272 closed, assigned to nobody

[2014-07-23 08:21] kazu-yamamoto opened #274 "negative index: -1"
Mighy logs "Data.ByteString.index: negative index: -1" sometime. I'm not sure where this comes from. But I suspect that `checkCR` in `Network.Wai.Handler.Warp` receives 0 as the second argument.

[2014-08-07 20:30] peti opened #280 "auto-update build error with ghc 7.4.2"
http://hydra.cryp.to/build/161454/nixlog/2/raw

[2014-08-07 21:57] #280 closed, assigned to nobody

[2014-08-11 05:41] #274 closed, assigned to nobody

[2014-08-11 07:16] kazu-yamamoto opened #281 "binding only to localhost"
I'm developing Warp on Mac. Recently, I decided to connect my Mac to the global Internet with firewall enabled. After this change, `cabal test` is caught by the firewall because it open a listen socket for any IP addresses. I would like to open a socket only bound to 127.0.0.1 for the test purpose.

So, I would like to change the test cases so that they bind sockets to 127.0.0.1. However, it seems

[2014-08-11 07:59] #281 closed, assigned to nobody

[2014-08-14 13:09] kazu-yamamoto opened #282 "graceful shutdown"
I'm trying to port the feature of graceful shutdown from Mighty to warp. That is, when an operator asks warp to shutdown (e.g. via UNIX signal), warp closes its listening socket and waits for all live connections closed.

To do this, I need to remove `forever` from `runSettingsConnectionMakerSecure` and the function breaks when `getConnLoop` throws an error. @snoyberg Would you give a look at the

[2014-08-14 13:14] #246 closed, assigned to nobody

[2014-08-18 00:47] #282 closed, assigned to nobody

[2014-08-21 11:02] prophile opened #284 "Warp has IPv6 disabled by default"
`run` only listens on the given port on IPv4—in fact it's not entirely clear how to enable IPv6 at all.

[2014-08-21 11:58] #284 closed, assigned to nobody

[2014-09-02 10:23] peti opened #285 "auto-update-0.1.1.2 test suite fails"
A complete build log is at http://hydra.nixos.org/build/13925932/nixlog/1/raw. The relevant bit seems to be:

[code]

[2014-09-02 14:23] exFalso opened #286 "new optparse-applicative breaks wai build"
http://hackage.haskell.org/package/optparse-applicative-0.10.0/docs/Options-Applicative-Builder.html#v:option
The new minor(!) version of optparse-applicative changed the type signature of 'option', breaking wai-app-static with a fresh cabal update

[2014-09-03 05:08] #286 closed, assigned to nobody

[2014-09-12 20:37] lykahb opened #288 "Action is executed after double timeout"
If I register an action in a manager that works every N seconds, it is executed after 2*N seconds

    manager <- initialize (5 * 1000 * 1000)
    register manager myaction -- myaction will run after 10 seconds

The problem is that the code in the initialize function checks changes the action state to Inactive, but checks the previous state.

        prune m@(Handle onTimeout iactive) = do

[2014-09-14 08:31] #285 closed, assigned to nobody

[2014-09-29 20:46] ndmitchell opened #290 "Add a Show instance for Request"
Would be very handy for debugging. My approach of start with nothing and fill in the pieces as they throw exceptions is hurt if I can't see inside a Request to debug.

[2014-10-01 17:55] #290 closed, assigned to nobody

[2014-10-04 22:04] bitemyapp opened #294 "Auto-update race condition"
Filing because it wasn't clear it ever got filed. Please close if it did.

From: http://www.reddit.com/r/haskell/comments/2i5d7m/updating_autoupdate/
- Possible race condition at lines 126 and 104-106 when readMVar is non-atomic (ghc < 7.8)
- async exception safety ( mask_ and handlers on blocking operations)
- possible assumptions about visibility and memory ordering in IORef reads/writes (are ba

[2014-10-06 05:17] #294 closed, assigned to nobody

[2014-10-10 20:27] dmbarbour opened #295 "Elliptic Curve PKI"
What would it take to get warp-tls working with elliptic curve public/private keys?

[2014-10-13 14:27] dmbarbour opened #296 "warp-tls "data: end of file""
I'm repeatedly receiving `data: end of file` printed to command line whenever I open a page via warp-tls. Though, for your pong.hs example in the warp-tls directory, this only seems to happen when I open the root page.

There doesn't seem to be any problem with the https response. Can we avoid printing this to the console, or avoid reporting the event in the first place?

[2014-10-13 17:10] #296 closed, assigned to nobody

[2014-10-21 12:25] ptek opened #297 "warp-tls is vulnerable to insecure renegotiation"
https://www.ssllabs.com/ssltest/ shows that our warp-tls instance (service.global.de), is prone to MITM attacks because it supports "insecure renegotiation".

warp-tls == 3.0.0.1
tls == 1.2.13

[2014-10-24 03:52] kazu-yamamoto opened #300 "Stop using SSLv3 in warp-tls"
To avoid the POODLE problem, we IIJ staff think that warp-tls should stop using SSLv3.
Cc: @yotsuya

[2014-10-24 04:04] kazu-yamamoto opened #301 "Using credentialLoadX509FromMemory in warp-tls"
We would like to have a way to let warp-tls use credentialLoadX509FromMemory.

credentialLoadX509 requires that a key file is stored in a plain text and readable. This is inconvenient if a user want to encrypt the key file or launch warp-tls after switching root to nobody.

[2014-10-27 04:39] #301 closed, assigned to nobody

[2014-10-27 05:42] kazu-yamamoto opened #302 "changing the type of runSettingsConnectionMakerSecure"
The type of the second argument is `IO (Connection, Bool)` where `Bool` indicates whether or not TLS/SSL is used. This is not good enough for HTTP/2 because HTTP/2 requires:
- TLS/1.2
- Cipher level is TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 at least
- Application Layer Protocol Negotiation
-  Server Name Indication

These parameters should be checked before starting HTTP/2.
For this purpose, I woul

[2014-10-27 07:01] #300 closed, assigned to nobody

[2014-10-28 06:14] #302 closed, assigned to nobody

[2014-11-02 11:13] sol opened #305 "Wrong handling of newlines in Network.Wai.Parse.sinkRequestBody"
As I read the [HTML 4.01 Specification](http://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.1) I think there is a bug with how we handle `application/x-www-form-urlencoded` bodies in `Network.Wai.Parse.sinkRequestBody`.

A request body of `foo=bar%0D%0Abaz` should result in `foo` having the value `"bar\nbaz"`, but it is `"bar\r\nbaz"` instead.

I assume this is due to the use of `Network.HT

[2014-11-06 16:21] #252 closed, assigned to nobody

[2014-11-06 16:24] gregwebs opened #306 "modify response headers"
Is there already a technique for this or do you want me to send a pull request with [code like this](http://stackoverflow.com/questions/26692512/in-haskell-wai-how-do-i-add-headers-as-middleware)

[2014-11-09 12:07] #305 closed, assigned to nobody

[2014-12-01 08:52] dmbarbour opened #308 "warp with bound threads"
There are some databases that use write locks or thread local storage under the hood. To be used safely from Haskell, we must use forkOS or runInBoundThread. For performance reasons, of course, it is undesirable to forkOS shortly after warp forked us a regular thread.

It would be convenient if Warp had a 'Settings' option to either provide threading function, or at least select between forkOS and

[2014-12-02 05:31] #308 closed, assigned to nobody

[2014-12-02 08:46] keynoru opened #310 "Warp: WebSockets get terminated after settingsTimeout"
Warp sets timeout (default 30 seconds) to all incoming connections to fight attacks such as Slowloris. However, WebSocket connections are supposed to live longer than that - usually until the client user leaves the page. This problem makes Warp's WebSocket feature almost unusable.

Fighting Slowloris on a WebSocket shouldn't be based on the lifespan of a connection, as even a perfectly legitimate

[2014-12-08 20:36] ndmitchell opened #311 "Importing warp with GHC 7.8.3 and profiling makes Windows fail/segfault"
Given the program:

    module Main(main) where
    import Network.Wai.Handler.Warp
    main :: IO ()
    main = print $ sum [1..1000000]

I run:

    ghc --make Profile.hs -prof -auto-all -caf-all -o profile.exe -rtsopts
    profile +RTS -p

I've tried this on two Windows GHC 7.8.3 machines:

* On my desktop, using everything brand new packages, installed using @snoyberg's LTSInstaller he sent me

[2014-12-11 17:44] tolysz opened #312 "wai-app-static does not redirect on folders"
Hi,

I run into this serving static folders, the issue is when

[code]

Now whenever I request `https://example.com/somefolder` I have broken picture box
  and whenever `https://example.com/somefolder/` not.

The former tries to access `picture.jpg` from `/picture.jpg` the later `/somefolder/picture.jpg`

The solution could be to `Redirect` if the Pieces elements point to a folder but does not hav

[2014-12-13 02:07] mkscrg opened #314 "Warp: poor space usage when profiling"
While tracking down a space leak, I found that some code behaves differently under Warp, with profiling turned on.

Working example with full build process: https://gist.github.com/mkscrg/b08a0369aa7dcee33256

Here's some IO-ful "work":

[code]

You can run this at the top level and get a nice looking profile:

[code]

![screen shot 2014-12-12 at 5 51 05 pm](https://cloud.githubusercontent.com/ass

[2014-12-13 18:07] #306 closed, assigned to nobody

[2014-12-15 13:01] pparkkin opened #315 "Changes to static files not picked up when running in a vboxsf mount."
I'm building a web app using Warp (3.0.4), WAI (3.0.2), and Scotty (0.9.0). I develop my app using Vagrant on OS X with a Linux (Ubuntu Server) guest. I have my app in a directory on my OS X hard drive, which gets mounted into the Vagrant development box where I build and run and test.

Serving static files, changes to the files are not picked up even after killing and restarting the app. The resp

[2014-12-15 16:04] #312 closed, assigned to nobody

[2014-12-15 17:56] tolysz opened #316 "Extension: Add ability to serve pre-compressed GZip files"
Hi,
I had to serve quite large static files JSON (~50MiB -> 6MB compressed) I wonder if there some easy way to store both normal and `something.json` as well as `something.json.gz` and let the `wai` stream the right one with the right header as the response to get `something.json`.

I at this point I had to `gzip` files but keep the original extension and override the `encoding` header, breaking e

[2014-12-17 18:23] #314 closed, assigned to nobody

[2014-12-22 18:43] Farataa opened #318 "Memory leaks in warp"
Hello,

I have installed next modules and their dependencies:

wai-3.0.2
wai-extra-3.0.2.2
wai-logger-2.2.3
warp-3.0.4

You can see application code here: http://pastebin.com/qBrNwVL6 . Config for this application: http://pastebin.com/kei82XWK

This application receives some
headers in http-request and returns some answer after authentication in
LDAP. On tests I'm seen memory leaks. After exclusio

[2014-12-30 11:31] k-bx opened #320 "Connection mess with sockets (InvalidStatusLine)"
Hi! I am a bit desperate in figuring out what actually happens with my app, so I just wanted to ask if you have any ideas here.

I wrote an app which has simultaneously:

1. wai-websockets
2. regular rest api via scotty

When one of rest api endpoints gets an api call, it broadcasts a message to it's list of websocket clients. To do that, it just stores a list of connected websocket clients inside

[2015-01-05 11:55] Jamedjo opened #321 "wai-extra 'import System.Posix' prevents windows install (StreamFile.hs)"
https://github.com/yesodweb/wai/blob/master/wai-extra/Network/Wai/Middleware/StreamFile.hs#L13

[2015-01-05 12:03] Jamedjo commented on #321
Changing this to `import System.PosixCompat.Files (fileSize, getFileStatus)` will probably work as it is used in https://github.com/yesodweb/wai/blob/fc2a2f6043759b97b68e129d03c61f56da54fded/wai-app-static/WaiAppStatic/Storage/Filesystem.hs#L26

[2015-01-05 12:05] snoyberg commented on #321
Thanks for the catch, I'll release a fix in the next hour.

On Mon, Jan 5, 2015, 2:04 PM James EdJo <notifications@github.com> wrote:

[2015-01-05 12:24] snoyberg commented on #321
OK, should be fixed by 3.0.4.1 which is now on Hackage, can you confirm? Thanks again for the notification.

[2015-01-05 12:50] Jamedjo commented on #321
Yes, that builds now! Thanks.

[2015-01-05 12:50] #321 closed

[2015-01-06 21:04] k-bx commented on #320
I should say that:
1. I had weird redis (that's running on localhost with that software) "broken pipe" errors from time to time, just checked with tcpflow -- redis got it's own portion of websocket traffic
2. my list of websocket clients grows over time with "dead" clients, seems like they are the cause of all problems, yet I have no idea how exactly that is possible.

Anyway, since this bug-repor

[2015-01-06 21:04] #320 closed

[2015-01-09 15:34] adamgundry opened #324 "Unable to allow insecure connections with warp-tls"
I'm upgrading a Warp 2 application to version 3, but I'm running into problems with recent versions of `warp-tls`. The server can be configured to accept both HTTP and HTTPS connections, which previously worked fine, but now HTTP connections do not receive a response. Here's a minimal example:

    {-# LANGUAGE OverloadedStrings #-}

    import Network.HTTP.Types.Status
    import Network.Wai

[2015-01-11 09:00] snoyberg commented on #324
Good catch, I believe the commit I've just pushed fixes this. Waiting on confirmation from @kazu-yamamoto before releasing.

[2015-01-12 08:52] adamgundry commented on #324
Thanks very much, quick as always! I've tested that c81177a fixes the bug in the original application.

[2015-01-12 09:33] adinapoli commented on #324
Thanks Michael!

[2015-01-12 12:42] kazu-yamamoto commented on #324
Please give me two days or so to understand this issue. (I'm a little bit busy now.)

[2015-01-12 12:43] snoyberg commented on #324
No problem

On Mon, Jan 12, 2015, 2:42 PM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-01-13 10:21] soenkehahn opened #325 "wai-app-static: links in listings are broken when used in conjunction with `UrlMap`"
When using `UrlMap` to mount a fileserver (created with `wai-app-static`) on a subpath, `wai-app-static` does not return a redirect to add a trailing `/`. This results in incorrect links in the file listing that is returned by default from `wai-app-static`.

I've tried to demonstrate the issue in this failing test case: https://github.com/soenkehahn/wai/commit/5e45529d658e5079a947fd8c672f855e46e6f

[2015-01-14 03:27] kazu-yamamoto commented on #324
I think that the solution is correct. But I would like to make the code more readable. `httpOverTls` uses the top level `goNext` while `plainHTTP` defines `newRecv` inside.

- Can we merge `goNext` and `newRecv`? If so, let's do it.
- Otherwise, I would suggest to lift `newRecv` to the top level. Their names should be symmetric, e.g. `recvPlain` and `recvTLS`.

[2015-01-14 06:25] snoyberg commented on #324
Is that better?

[2015-01-14 07:07] kazu-yamamoto commented on #324
Yes! I would also change function names. But I will do it by myself.

[2015-01-14 07:07] #324 closed

[2015-01-14 08:34] adinapoli commented on #324
Thank you folks for the lightning-fast turnaround!

[2015-01-14 09:41] snoyberg commented on #325
This bug report unfortunately doesn't surprise me. I'll look into this either today or tomorrow.

[2015-01-14 10:28] snoyberg commented on #325
I've pushed some commits to the 325-wip branch. There are two bugs here:

* UrlMap is mistakenly setting rawPathInfo, which should be left alone.
* wai-app-static wasn't using rawPathInfo for detecting the proper paths.

I'm not sure if I can actually release this change to UrlMap, however, since it breaks semantics. I'll need to think about it more tomorrow (running out of the house for the rest

[2015-01-14 17:19] gregwebs commented on #325
I am not sure if the UrlMap behavior is wrong. I think it depends on the usage pattern.

[2015-01-14 19:05] snoyberg commented on #325
I believe it *is* incorrect... but the reason for that is my fault. I've mentioned in various places the specification for `rawPathInfo`, but I never actually *wrote it in the docs*, which was completely stupidity on my part. `rawPathInfo` is supposed to remain unchanged, for purposes of creating redirects. `pathInfo` is allowed to be modified by middlewares and the like. This came up originally w

[2015-01-14 19:12] gregwebs commented on #325
Would it be better named as redirectPath then? And also better to have special setter functions for it? Actually it would be best to have setters for both path fields.

[2015-01-14 19:16] snoyberg commented on #325
I think it's correctly named: it's the raw path submitted by the user. Setter functions would be great, but that ship has sailed (unless you're thinking of something different than abstract data types).

[2015-01-14 19:19] gregwebs commented on #325
well, we can create setter functions now and state that is the preferred way to operate on the fields, but you are right that we can't take away the existing ways to operate on the fields.

[2015-01-14 19:51] snoyberg commented on #325
Doh, I'm an idiot, I merged this to master by mistake. I'll undo the UrlMap change for now, but everything else can stay as-is I think.

[2015-01-15 03:24] soenkehahn commented on #325
I have to confess that I cheated a bit on this issue, this actually came up in `servant-server`: https://github.com/haskell-servant/servant-server/issues/1. It's just that while trying to figure out what was going on I realized that I could reproduce the bug with `UrlMap` instead of `servant-server`. And that made for a much better test case.

`servant-server` however does *not* modify `rawPathInf

[2015-01-15 03:26] snoyberg commented on #325
Cool thanks. I think in that case I'll update the wai docs to discuss this
issue without making it a requirement to change behavior and then release
both packages.

On Thu, Jan 15, 2015, 5:24 AM Sönke Hahn <notifications@github.com> wrote:

[2015-01-15 03:27] soenkehahn commented on #325
Great, much appreciated!

[2015-01-15 06:40] snoyberg opened #327 "wai-app-static: use absolute paths"
There are a number of bugs that are the result of relative paths, such as #325. This issue tracks moving over to absolute paths using `rawPathInfo`. It might make sense to make this a configuration parameter.

[2015-01-15 06:44] snoyberg commented on #325
Looks like I *did* put in some documentation, but it wasn't clear enough. I've expanded the comments on `rawPathInfo` as well. I'm releasing both packages now, and I believe this issue can be closed.

[2015-01-15 06:44] #325 closed

[2015-01-15 21:27] ndmitchell commented on #311
Brand new install on a fresh MinGHC 7.8.3 32bit Windows 8.1 machine. With the program `main = return ()`, I get a segfault with:

    ghc -prof Test.hs -package=warp && test +RTS -p

No profiling information is produced. Removing `-package=warp` makes the segfault go away.

[2015-01-15 21:45] ndmitchell commented on #311
The actual minimal test case is `-package=unix-compat -package=process`, which Warp brings together, but it's not actually the fault of Warp. I've raised this as https://github.com/haskell/process/issues/17.

[2015-01-15 21:45] #311 closed

[2015-01-16 04:45] soenkehahn commented on #325
Yes, you did. And IIRC I read it and that's why `servant` does the right thing. :) But the new comment is better.

Thanks for the releases!

[2015-01-20 06:57] kazu-yamamoto opened #328 "Performance regression due to getFileStatus"
Today, I got benchmark of Mighty and nginx. Unfortunately, Mighty cannot beat nginx on a small numbers of cores. I feel this is strange, so I have investigated the source of this problem and found it.

A while back, `fileRange` was introduced to `Response.hs`. Since `fileRange` uses `getFileStatus`, `stat(2)` is called every time when a file is being sent. I believe this is a big performance regre

[2015-01-20 07:31] kazu-yamamoto commented on #328
Random thoughts:

-  An application initializes a file cache first then passes it to Warp. In this way, the application and Warp can share the file cache.
- How to pass the file cache to Warp? Adding new Runners? Is so, the number of combination becomes large.
- Adding a new filed to `Settings`? But why are `Scoket` and `ConnectionMaker` special? Should we also prepare new fields for them and just

[2015-01-20 07:42] kazu-yamamoto commented on #328
FdCache and FileCache should be integrated.

[2015-01-20 13:15] snoyberg commented on #328
I like the `Settings` approach. I'm not sure if we should play with the `Socket` and `ConnectionMaker` aspect, however.

Is it possible to avoid the `stat` call in Warp if the `content-length` response header is set by the application?

[2015-01-20 14:10] kazu-yamamoto commented on #328
I'm not sure that `content-length` can solve the problem. But it is a good point. I will consider this approach tomorrow.

[2015-01-21 03:45] kazu-yamamoto commented on #328
Here is the results of the patch above

core | 1 | 2 | 4 | 8 | 16
---- | ---- | ---- | ---- | ---- | ----
old | 20,710 | 39,237 | 76,326 | 127,449 | 199,093
new | 25,337 | 46,791 | 97,477 | 146,601 | 228,108

[2015-01-21 03:49] kazu-yamamoto commented on #328
- The patch above rescues sophisticated applications. I think that we should merge it. The patch is necessary even if we introduce a file info cache.
- To rescue simple applications, we should introduce a file info cache.
- I'm not satisfied the performance yet.

[2015-01-21 03:50] kazu-yamamoto commented on #328
I should have explained this earlier:

- `old` means that Mighty on warp without the patch.
- `new` means that Mighty on warp with the patch.

[2015-01-22 00:08] kazu-yamamoto commented on #328
@snoyberg Do you agree to merge the patch above?

P.S. I'm now exploring some other ideas to improve performance.

[2015-01-22 01:22] snoyberg commented on #328
Yes, I see no problem with that patch.

FYI: I'm traveling for the next 1.5 weeks, so apologies in advance if I'm not as responsive as usual. Also, I'm 10 time zones behind where I normally am, so there's that too.

[2015-01-23 06:07] kazu-yamamoto commented on #328
After reverting #326, the performance of Mighty got back to what I expect.

core | 1 | 2 | 4 | 8 | 16
---- | ---- | ---- | ---- | ---- | ----
old | 20,710 | 39,237 | 76,326 | 127,449 | 199,093
328 | 25,337 | 46,791 | 97,477 | 146,601 | 228,108
326 | 32,965 | 64,128 | 112,599 | 177,649 | 243,256

[2015-01-25 16:14] ygale opened #329 "wai-handler-launch 3.0.0.1 does not load dynamically on Windows"
When compiled on Windows (Win7 64-bit, GHC 7.8.3 64-bit, HP 2013.2.0.0, `--constraint=[pkg installed | pkg <- haskell-platform]`), wai-handler-launch 3.0.0.1 fails with the following error when it is loaded dynamically:

    Loading package wai-handler-launch-3.0.0.1 ... linking ... <interactive>: G:\projects\temp\wai-handler-launch\.cabal-sandbox\x86_64-windows-ghc-7.8.3\wai-handler-launch-3.0.0.

[2015-01-25 18:36] snoyberg commented on #329
Similar issues:

* https://www.haskell.org/pipermail/haskell-cafe/2014-June/114621.html
* https://ghc.haskell.org/trac/ghc/ticket/9297

I don't have a 64-bit Windows system to test this on, so I'm not going to be able to write a patch. PRs are welcome.

[2015-01-25 22:34] exFalso commented on #196
Bump, this would be nice to have. I'm implementing a sockjs wai middleware and some tests in the specification require the server to close the connection if a poll request is aborted - however there is no way to detect this in warp/wai now.

If i understand it correctly one can detect the socket disconnect by checking whether recv returns a zero length bytestring. The only problem is that whatever

[2015-01-29 14:10] #329 closed

[2015-02-04 12:22] kazu-yamamoto commented on #318
One source of memory leak has been fixed. See #326.

[2015-02-04 12:32] kazu-yamamoto commented on #302
This is done in 02e21202cbe80ec99a3a1f190475f7518b0c7787 on the master branch.
@snoyberg Please check.

[2015-02-04 12:37] snoyberg commented on #302
LGTM

[2015-02-13 02:09] kazu-yamamoto opened #335 "blaze-builder 0.4.0.0"
blaze-builder 0.4.0.0 has been released. The WAI family should support it.

[2015-02-13 04:34] snoyberg commented on #335
We first need support in streaming-commons, which is actually non trivial. @manny-fp has actually been working on that already. I'll follow up with him on status for that and then do relevant version bound bumps.

[2015-02-14 22:29] netroby opened #336 "Access log sequence not valid"
I noticed the access log print does not valid.
[code]
I guess the right sequence should be
[code]

[2015-02-14 22:32] gregwebs commented on #336
This is from yesodweb/wai#283

We should change to logging only when the request is complete.

[2015-02-16 02:41] nikuda commented on #336
Ah strange, I'll have a look at this too.

[2015-02-22 00:33] manny-fp commented on #335
@snoyberg PR for streaming-commons: https://github.com/fpco/streaming-commons/pull/18

[2015-02-22 13:08] snoyberg commented on #335
@kazu-yamamoto The Warp changes look more complicated than I had imagined. Some of the stuff in streaming-commons may help, but it looks like we're going to have to get our hands dirty with some low-level code either way. Mind having a look to see if I'm overlooking something?

[2015-02-22 13:14] manny-fp commented on #335
[Network.Wai.Handler.Warp.IO](https://github.com/yesodweb/wai/blob/fc2a2f6043759b97b68e129d03c61f56da54fded/warp/Network/Wai/Handler/Warp/IO.hs) and [Buffer](https://github.com/yesodweb/wai/blob/fc2a2f6043759b97b68e129d03c61f56da54fded/warp/Network/Wai/Handler/Warp/Buffer.hs) both look pretty easy to update (a similar mechanical change to what I did in streaming-commons).  Should I take a stab at

[2015-02-22 13:16] snoyberg commented on #335
Please do have a look, thanks.

On Sun Feb 22 2015 at 3:14:52 PM Emanuel Borsboom <notifications@github.com>
wrote:

[2015-02-22 13:17] manny-fp commented on #335
Should warp continue to support blaze-builder 0.3?  That'll need a bit of CPP.

[2015-02-22 13:19] snoyberg commented on #335
That would be ideal.

On Sun Feb 22 2015 at 3:17:25 PM Emanuel Borsboom <notifications@github.com>
wrote:

[2015-02-22 15:23] manny-fp commented on #335
See pull request https://github.com/yesodweb/wai/pull/338.

[2015-02-23 09:27] ndmitchell opened #340 "Fails to build on GHC 7.6.3"
I see:

    Preprocessing library warp-3.0.9.1...
    Network/Wai/Handler/Warp/IO.hs:18:8:
        Could not find module `Data.ByteString.Builder.Extra'
        It is a member of the hidden package `bytestring-builder-0.10.4.1.1'.
        Perhaps you need to add `bytestring-builder' to the build-depends in your .cabal file.
        Use -v to see a list of the files searched for.

Full log here: ht

[2015-02-23 09:40] snoyberg commented on #340
Pinging @manny-fp

[2015-02-23 12:15] manny-fp commented on #340
We could just add bytestring-builder to the build-depends, since it will do nothing when bytestring is new enough.  However, I ran into a problem when bytestring 0.10.2.* is installed along with bytestring-builder, since they both have `Data.ByteString.Builder.Extra` modules (Just checked, and I think this problem was introduced in https://github.com/lpsmith/bytestring-builder/commit/cc5b229cb3539

[2015-02-23 12:40] manny-fp commented on #340
(just filed an issue for with bytestring-builder: https://github.com/lpsmith/bytestring-builder/issues/6)

[2015-02-23 12:43] snoyberg commented on #340
I've just released @manny-fp's patch to Hackage. @ndmitchell can you check if that solves things?

[2015-02-23 12:59] ndmitchell commented on #340
@snoyberg that fixed it on 7.6.3 for me.

[2015-02-23 13:22] snoyberg commented on #340
Cool, thanks guys!

[2015-02-23 13:22] #340 closed

[2015-02-23 13:22] snoyberg commented on #335
All packages are now compatible with blaze-builder 0.4.

[2015-02-25 05:20] snoyberg commented on #336
Bump

[2015-02-25 05:21] netroby commented on #336
@snoyberg  is it ok now?

[2015-02-25 05:24] snoyberg commented on #336
I don't think so, I was bumping to @nikuda actually.

[2015-02-25 06:16] nikuda commented on #336
Sorry guys, will look at this first thing tomorrow.

@netroby can you provide a little more info on when does this happen? Is it only with those 2 files? Does it happen all the time or is it sporadic? How are you including those 2 files? Thanks.

[2015-02-25 06:19] netroby commented on #336
https://github.com/yesodweb/yesod-scaffold

I am test via the hello world of yesod framework. i noticed the log not the right sequence. it was very easy to reproduce .

[2015-02-25 06:21] nikuda commented on #336
Got it, thanks.

[2015-02-25 07:06] #335 closed

[2015-02-27 03:38] nikuda commented on #336
How do I get the scaffold to work? The build is complaining about merging git branches?

[2015-02-27 03:41] netroby commented on #336
http://www.yesodweb.com/page/quickstart

Do as the quickstart said:

[code]
Open browser try to visit the demo page http://127.0.0.1:3000

and see the log out print on the terminal screen

[2015-02-27 07:01] nikuda commented on #336
After getting `global constraint requires installed instance` errors I wiped GHC off OSX hoping it would be the quickest way to get things back in order, and now I'm getting this:

[code]

In my experience the dependency conflicts happen a little too frequently with with Yesod. Maybe it's just the sheer amount of libraries it uses.

[2015-02-27 07:10] snoyberg commented on #336
Did you follow the installation guide? This is one of the standard "cabal
sucks" moments, and is solved completely by the usage of a Stackage config
file.

On Fri, Feb 27, 2015 at 9:04 AM nikuda <notifications@github.com> wrote:

[2015-02-27 07:32] snoyberg commented on #336
A tl;dr of how to get those constraints in place easily would be `wget
http://www.stackage.org/nightly/cabal.config`. If you're going to be
playing around with wai-extra, you may need to delete that line from the
cabal.config file.

On Fri, Feb 27, 2015 at 9:10 AM Michael Snoyman <michael@snoyman.com> wrote:

[2015-02-27 07:52] nikuda commented on #336
Thanks. The Stackage config file did fix that problem. Although now I'm getting this on attempting to install `yesod-bin` (GHC7.8.3 on OSX).

[code]

[2015-02-27 07:53] snoyberg commented on #336
That's because you have preexisting packages from your old install. Either
follow the instructions and force reinstalls or use sandboxes.

On Fri, Feb 27, 2015, 9:52 AM nikuda <notifications@github.com> wrote:

[2015-03-02 01:42] nikuda commented on #336
Thanks @snoyberg. Force reinstalled.

@netroby when you say hello world of yesod, do you mean the default welcome scaffold page that gets generated? Or did you do another tutorial that makes it happen? With the default welcome page I get expected output:

[code]

[2015-03-02 01:46] gregwebs commented on #336
@nikuda the issue is not deterministic

[2015-03-02 04:41] netroby commented on #336
@nikuda yes, i means the default welcome scaffold.

[2015-03-03 01:06] nikuda commented on #336
This patch fixes the issue: nikuda/wai@46adf4006e4de0099ecffc7338a2f48649c76c95

@gregwebs Do you see any problems with the patch? I vaguely remember an uncertainty around the placement of that 'log the request immediately' code in another discussion.

[2015-03-03 06:59] snoyberg commented on #336
I've added a comment on the patch.

[2015-03-04 03:45] nikuda commented on #336
Good catch @snoyberg.

Updated patch: nikuda/wai@0f651eaefc42f4d59c29127c8eb669d15ac974b7

[2015-03-04 03:55] gregwebs commented on #336
The change is good, but the code was structured a different way to satisfy one use case: a very long request. This log now has a problem reminiscent of the slowloris logging problem. If you have an infinite loop in your code you may never see a log of the request that produced the infinite loop (the loop may crash your server).

The reason we have this problem in the first place is because @nikuda

[2015-03-04 07:07] snoyberg commented on #336
Fix merged, thanks!

[2015-03-04 07:07] #336 closed

[2015-03-04 22:03] vagifverdi opened #345 "Support byte range serving"
Currently warp does not support multi byte range serving.
Byte range serving is a standard feature of practically all web servers.
It is used to stream audio, video files, large pdfs etc.

http://en.wikipedia.org/wiki/Byte_serving

I think warp right now has a basic support of single range downloads. But most client side applications request multiple byte ranges in one request.

Here's an example

[2015-03-04 22:06] vagifverdi commented on #345
A good test client would be adobe acrobat reader on windows. It literally bombards the web server with muti byte range requests. The pdf file needs to be linearized, or saved with Web Fast View option for it to work.

[2015-03-08 06:50] snoyberg opened #346 "Bad range handling"
Spinning off from https://github.com/snoyberg/keter/issues/75. There are in fact two different bugs:

1. A 0-length file is being served with a 416 status code, which is invalid. Source of that bug is https://github.com/yesodweb/wai/commit/d9cb4b798e7bf0f73b904a4ddc0517d102a0c5a3#diff-d36a96a05c6b1ee5fbccb0bd0f6ed50cR228, and is easily resolved (f1f658ba6aacb77aeec33b122a8ed3f13700a8f0).
2. When a

[2015-03-08 06:56] snoyberg commented on #346
And https://github.com/yesodweb/wai/commit/d9cb4b798e7bf0f73b904a4ddc0517d102a0c5a3#diff-d36a96a05c6b1ee5fbccb0bd0f6ed50cR232 is the cause of the second bug. It sets `True` to require that the response be chunked, but also includes the `content-length` in `hs1`. Fortunately this is also an easy fix.

[2015-03-08 06:59] snoyberg commented on #346
Changes released in warp 3.0.9.3, closing.

[2015-03-08 06:59] #346 closed

[2015-03-08 07:25] creichert commented on #346
+1, Good find.

[2015-03-08 07:28] snoyberg commented on #346
Heh, thanks. In reality, -1, bad job merging :(

[2015-03-09 18:16] ygale opened #347 "wai-tls 3.0.1.4 and 3.0.2 fail to build"
wai-tls requires warp >= 3.0. But wai-tls references the `Transport` type from warp, which has only existed since warp 3.0.8.

[2015-03-09 18:58] #347 closed

[2015-03-10 18:57] ygale commented on #297
@ptek first wrote:

then wrote:

Those are two completely different claims. The first version is what I saw in a report on SSL Labs.

[2015-03-19 14:15] adamgundry opened #351 "Timeout left running after use of sourceRequestBody"
I'm debugging a Warp/conduit server that is failing with `Thread killed by Warp's timeout reaper` when a request causes a slow operation in the application. It seems that after a use of `sourceRequestBody`, the timeout is left running when control returns to the application, even if the client sends a complete request. Here's a minimal example:

    import Control.Concurrent         ( threadDelay

[2015-03-19 14:19] snoyberg commented on #351
Haven't tested this yet, but just looking at `timeoutBody`, I think your suspicion about it being buggy is correct.

[2015-03-19 17:21] snoyberg commented on #351
I tested, and had to increase the `threadDelay` to 5 seconds instead, but reproduced.

[2015-03-19 17:46] snoyberg commented on #351
OK, I've figured out what's going on here... and it's tricky. There's a subtle difference between the conduit and non-conduit version. The former is feeding data into the parser. Once the parser is done, the conduit stops. Termination therefore happens as soon as the JSON message is fully consumed. This means that the code ends up making just a single call to `requestBody`, resulting in a `ByteStr

[2015-03-20 02:58] EDmitry commented on #55
Did you find a solution to this? I am also interested in how to achieve this.

[2015-03-20 08:52] adamgundry commented on #351
Once again, your response time is amazing, thanks! I wondered if there might be something like this going on, and it does seem tricky to resolve cleanly. In the meantime, I can confirm that your workaround solves the original problem.

[2015-03-20 09:14] snoyberg commented on #351
OK, I came up with a 95% solution to the problem. For the case of non-chunked request bodies (which is the usual case), we can determine that the request is done without an extra read, which I've now implemented. I added a note about the general problem of partially-consumed request bodies to the documentation.

One final thing I could do is add a function to the vault to pause the timeout to give

[2015-03-20 09:28] snoyberg commented on #351
OK, `pauseTimeout` function is now available as well, and I've tested that it seems to resolve the issue here too. I think this is an acceptable tradeoff now, and I'll go ahead and release to Hackage.

Again, thanks for the solid bug report and for testing.

[2015-03-20 09:28] #351 closed

[2015-03-20 13:14] spl commented on #351
I just upgraded to Warp 3.0.10, which includes this change. I'm already using `Network.Wai.strictRequestBody`, and I'm seeing “Thread killed by Warp's timeout reaper” in my Warp exception handler.

I'm not sure if my problem is related to this issue. I just encountered it and haven't looked into it deeply. Just wanted to check in with you to see what you thought.

[2015-03-20 13:45] snoyberg commented on #351
Were you getting that behavior with the older Warp as well, or is this a
new regression?

On Fri, Mar 20, 2015 at 3:14 PM Sean Leather <notifications@github.com>
wrote:

[2015-03-20 13:50] spl commented on #351
@snoyberg TBH, I'm not sure. Several things have changed simultaneously, one of those changes being the addition of the exception handler.

I'm building the same app with 3.0.9.3 right now to test it. It should be fairly easy to determine if the issue was introduced in 3.0.10 because the reaper is now coming for regular visits with my current test setup.

[2015-03-20 14:50] spl commented on #351
Sadly (for me), it's not a problem introduced by this change. The response is not taking longer than 1 second in most cases, and the exception comes much later. There's a `fork` in the middle. Any suggestions on how to debug this?

[2015-03-20 21:19] spl commented on #351
Okay, I may be missing something obvious, too. I'm able to reproduce my problem with a very simple program, adapted from @adamgundry's code:

[code]

I POSTed a simple input:

[code]

This is using warp-3.0.10.

[2015-03-21 18:04] snoyberg commented on #351
I'm unable to reproduce this, I just get a result immediately. I don't see anything which would cause the server to block long enough to cause the 2 second timeout to ever get triggered. How are you sending the post? I'm using the following script:

    curl -d key=value http://localhost:3000

[2015-03-21 21:03] spl commented on #351
Interesting. I was using the Postman plugin for Chrome. I just tried it with a GET request from both Chrome and Firefox, and the same reap happens. But with curl, the thread does not get reaped. The issue came up with an AWS EC2 worker receiving messages from SQS via some local server on the worker instance (nginx, I'd guess).

[2015-03-21 21:05] spl commented on #351
Also, the request is always printed immediately no matter what I do. The reaper appears later, presumably after the timeout.

[2015-03-21 21:09] spl commented on #351
[code]

[2015-03-21 21:19] spl commented on #351
It's not the HTTP headers. I used the Chrome headers with curl, but no reaping.

[2015-03-22 08:39] snoyberg commented on #351
In your real application do you actually have such a low timeout value? Are you able to reproduce the error with the normal timeout? I have a feeling that the failures you're experiencing right now just have to do with chrome keeping a  persistent connection.

[2015-03-22 09:24] spl commented on #351
No, we use the default. I only used the low timeout here to reduce the wait before the reaper.

Yes. This is the result of using Chrome and removing the `setTimeout` from the above code:

[code]

This reflects approximately what I saw in the real application as well: about a minute of delay before the reaper arrived.

Okay... I have reproduced the same problem with netcat by forcing a persistent c

[2015-03-22 10:04] snoyberg commented on #351
Are you actually experiencing any negative effects from this, or is it just an error message? This sounds to me like Warp is just letting you know that a persistent connection was killed by the timeout reaper, but that no problem actually exists. I just realized that you ignored the first parameter to the exception handler, which would indeed let you know if this exception happened during a reques

[2015-03-22 14:24] spl commented on #351
I added printing the `Maybe Request` parameter, and it's a `Nothing` for the reaper. I don't know how the exception is thrown in relation to the request, so I wouldn't know the significance of that parameter being `Nothing` or `Just`.

I don't see any obvious direct negative effects due to the exception.

First, have you reproduced the issue? Or is it only me?

If there is no real error, I think n

[2015-03-22 14:34] snoyberg commented on #351
If you look at the default exception handler, you'll see that these
exceptions are by default not displayed. They do not indicate an error in
all cases, but instead indicate that "an exception was thrown." The
exception mechanism is the only means by which we can preemptively kill a
thread.

I don't really see what should be done here, beyond possibly improving
documentation. The defaults are corr

[2015-03-22 15:07] spl commented on #351
Fair enough.

So, I currently see the following options:

1. Catch `TimeoutThread` if I only want to ignore the timeout.
2. Use `defaultShouldDisplayException` to ignore exceptions, including `TimeoutThread`, that do not always indicate errors.
3. Use `Network.Wai.Handler.Warp.Timeout.stopManager` to disable the timeout if I don't want to generate a `TimeoutThread` exception in any case.

[2015-03-22 15:10] spl commented on #351
Or does this not even do what I would expect?

[code]

I still get a visit from the reaper.

[2015-03-22 15:12] snoyberg commented on #351
I've never tried to implement (3), so I'm not surprised it doesn't work.
I'd recommend instead just lengthening the timeout duration beyond what
most clients use for persistent connections. However, (1) and (2) sound
much better to me.

On Sun, Mar 22, 2015 at 5:07 PM Sean Leather <notifications@github.com>
wrote:

[2015-03-31 01:10] DeathByTape opened #354 "Headers differ between HEAD and GET requests"
I noticed today that the headers differ between HEAD and GET requests for the same resource. Is there a reason for this? [The RFC](http://tools.ietf.org/html/rfc2616#section-9.4) suggests that these headers be the same unless there exists a strong reason or special circumstance otherwise (i.e. the use of "SHOULD").

Here are the results of a local test:
[code]

[code]

This feature is particularly

[2015-03-31 05:38] snoyberg commented on #354
What application are you running?

On Tue, Mar 31, 2015, 4:10 AM Dennis McWherter <notifications@github.com>
wrote:

[2015-03-31 13:00] DeathByTape commented on #354
Good question (made me dig a little deeper into the code). `wai-app-static`, I believe; I am just running the `warp` binary directly. That said, after reading the source more closely it looks like this really should be giving a 405 in this application (I have tested that this is the case for POST, PUT, DELETE).

I am just starting to dig into the wai code (so I am largely unfamiliar with it at thi

[2015-03-31 13:13] snoyberg commented on #354
It looks to me like you're encountering the behavior of the [autohead](https://www.stackage.org/haddock/nightly-2015-03-31/wai-extra-3.0.5/Network-Wai-Middleware-Autohead.html) middleware, which automatically translates a HEAD request into a GET request. It looks like that middleware should be made smarter in the case of a file response. This may actually be trivial...

[2015-03-31 13:20] snoyberg commented on #354
Nope, not trivial. Looks like Warp also needs some tweaking around how it handles no-body responses to handle this correctly. It's not terribly involved, but more time than I have this week. If you're interested in diving into the wai codebase some more, this is a great place to do it actually. Check out Network/Wai/Handler/Warp/Response.hs, and look for methodHead.

[2015-03-31 13:25] DeathByTape commented on #354
That sounds great (or not since that means something needs to be fixed). I actually found this while looking for some task to get started in the codebase, so I will use this as a chance to dive in :)

[2015-03-31 13:29] snoyberg commented on #354
Awesome, welcome aboard :) Let me know if you have any questions.

On Tue, Mar 31, 2015 at 4:25 PM Dennis McWherter <notifications@github.com>
wrote:

[2015-04-01 04:22] kazu-yamamoto commented on #354
I don't know about wai-app-static but Mighty has the same behavior. This is because `responseLBS` is used for `HEAD` while `ResponseFile` is used for `GET`.

Since warp cannot tell `responseLBS` is used for `HEAD`, wai applications themselves should add Content-Length: and so on. I'm not sure this is worth fixing.

[2015-04-01 13:38] DeathByTape commented on #354
Sorry, I've been busy at work the last day (and may be through tonight as well). In any case, I've been reading the code as much as I can and see what you mean kazu.

That said, I would suggest alternate behavior where the user specifies the file with a HEAD request (i.e. the same way it is done with a GET request) and warp responds the same way except it does not send the content body (i.e. just

[2015-04-01 13:53] kazu-yamamoto commented on #354
To implement that behavior, I think that we need to change
`ResponseFile Status ResponseHeaders FilePath (Maybe FilePart)`
to
`ResponseFile Status ResponseHeaders FilePath (Maybe FilePart) Bool`
where the last `Bool` tells whether or not the file is actually sent.

Or we need to prepare another constructor.

[2015-04-01 13:54] snoyberg commented on #354
I don't think we need to change anything. Handlers should be able to notice
that the request method is HEAD and simply not send a body.

On Wed, Apr 1, 2015 at 4:53 PM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-04-01 14:02] kazu-yamamoto commented on #354
Yup, that is one possibility. We should chose one:

- 1) Changing API
-- Pros: clean semantics
-- Cons: breaking backward compatibility

- 2) Using a special header
-- Pros: maintaining backward compatibility
-- Cons: this is a hack

So, let's decide which one is better. If this is really important, I like 1).

[2015-04-01 14:05] snoyberg commented on #354
My point is that I don't think we need any special headers; the client is already setting the request method to HEAD in this case, we just need Warp to have respect for it (which it already has, it just needs to be tweaked).

[2015-04-01 14:12] kazu-yamamoto commented on #354
I read "Handlers" as "Headers". Sorry.

Yes, you are right. I will implement it tomorrow.

[2015-04-01 19:50] snoyberg opened #355 "Add opportunistic encryption function to WarpTLS"
http://bitsup.blogspot.com.au/2015/03/opportunistic-encryption-for-firefox.html

Having some simple instructions to get started and then a basic wrapper that adds the necessary headers should be all that's necessary.

[2015-04-02 04:42] #328 closed

[2015-04-02 04:43] kazu-yamamoto commented on #318
I close this issue. If you still have space leak, please reopen.

[2015-04-02 04:43] #318 closed

[2015-04-02 04:57] kazu-yamamoto commented on #355
What kind of instruction are you thinking?

The http2 branch is working. You can use HTTP/2 with/without TLS. However, I should do more work to improve performance. Since I need to write a paper about HRR in April, I will get back to the http2 work in May.

Note that I do "git push -f" to the http2 branch sometime as you may know. Please don't confuse.

[2015-04-02 06:10] snoyberg commented on #355
Instructions on how to generate a self-signed certificate and the right way to set the ports, for example.

I didn't realize the http2 branch is so far along, that's very exciting!

[2015-04-02 11:56] kazu-yamamoto commented on #355
The draft is here: http://tools.ietf.org/html/draft-ietf-httpbis-alt-svc-05

[2015-04-02 12:26] kazu-yamamoto commented on #345
Current spec is here: https://tools.ietf.org/html/rfc7233

[2015-04-02 13:55] kazu-yamamoto commented on #345
For multi ranges, I guess that sendfile cannot be used. If this is the case, the `writev` branch would help.

[2015-04-03 01:09] kazu-yamamoto commented on #345
Just a note: multiple ranges must be canonicalized to resist Apache Killer.

[2015-04-03 02:55] snoyberg commented on #354
This is now on Hackage, thanks! Can you confirm that the behavior is resolved and if so close the issue?

[2015-04-03 03:35] kazu-yamamoto commented on #354
LGTM.

@DeathByTape How about you?

[2015-04-03 03:46] kazu-yamamoto commented on #354
@snoyberg Where can I find ver-bumps-up commit for warp 3.0.11? It seems to me that the `warp/3.0.11` tag is put on warp 3.0.10.1.

[2015-04-03 03:53] snoyberg commented on #354
Good catch, commit pushed

On Fri, Apr 3, 2015, 6:46 AM Kazu Yamamoto <notifications@github.com> wrote:

[2015-04-03 03:57] kazu-yamamoto commented on #354
Thanks. You should move tags.

[2015-04-03 04:06] snoyberg commented on #354
Done.

On Fri, Apr 3, 2015 at 6:57 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-04-03 04:16] kazu-yamamoto commented on #354
Thanks!

[2015-04-03 06:17] kazu-yamamoto opened #359 "Sophisticated file handling"
This is random thoughts to support multiple ranges. (#345)

`wai-app-file-cgi` (base library for `mighttpd2`) also implements `Range:` by itself. To support multiple ranges in `warp`, I would like to remove this duplications.

First, the cache of file info (size, modification time, etc) should be ported from `mighttpd2`. This would drastically improve performance for non-sophisticate WAI applicati

[2015-04-03 11:56] DeathByTape commented on #354
I promise I'm usually not this slow :) (read: busy week). In any case, I just pulled this off hackage and can confirm that it looks good. Good works guys! Thanks :+1:

[code]
[code]

[2015-04-03 11:56] #354 closed

[2015-04-03 11:57] snoyberg commented on #354
If this is you responding slowly, I'm afraid of fast ;). This response time
is certainly above average, no need to worry.

On Fri, Apr 3, 2015 at 2:56 PM Dennis McWherter <notifications@github.com>
wrote:

[2015-04-04 16:26] reiddraper commented on #186
I think the web application _can_ do something meaningful with this. From [RFC 2616](https://www.ietf.org/rfc/rfc2616.txt), section 8.2.3:

As a concrete example, imagine writing an API or web application that processes large POST or PUT requests. Each request includes an authentication header (cookie, or otherwise). Based on the URL and header alone, the server may determine that the request is n

[2015-04-05 12:34] kazu-yamamoto commented on #186
I also feel the current behavior is hard-coding, too. I would like to let applications to decide their behavior.

[2015-04-06 14:41] reiddraper commented on #186
I'd be happy to take a try at changing this, if its something you'd be interested in merging.

[2015-04-07 00:18] kazu-yamamoto commented on #186
Yes. Please go ahead!

[2015-04-07 19:13] TravisWhitaker opened #361 "runTLSSocket and runSettingsSocket functions have different behavior."
I've been using constructs a bit like the following to implement graceful shutdown initiated by an MVar:

    safeShutdown :: MVar () -> MVar () -> Socket -> IO ()
    safeShutdown init_term warp_dead sock = do
        takeMVar init_term
        close socket
        takeMVar warp_dead

    -- Assumes warp is invoked with something like this:

    let ws = setPort 10000 defaultSettings
    s <- bin

[2015-04-08 07:29] snoyberg commented on #361
I'm not certain (the code you provided seems to have some typos and is using the wrong function names in each snippet), but I think you're reporting a real issue. My guess is that your analysis is in fact correct. Since you're currently reproducing this, would you be able to take a stab at tweaking warp-tls to respect the necessary flags?

[2015-04-09 03:04] kazu-yamamoto commented on #355
A security hole was found:
https://www.mozilla.org/en-US/security/advisories/mfsa2015-44/

[2015-04-09 03:40] kazu-yamamoto commented on #361
@TravisWhitaker Your observation is correct. Please read `acceptConnection` in `Run.hs`.

When a listen socket is closed, `acceptLoop` returns and `gracefulShutdown ` is called. So, a listen socket must be closed for graceful shutdown.

[2015-04-09 03:55] kazu-yamamoto commented on #361
`settingsInstallShutdownHandler` is used to install a handler to shutdown a listen socket, for instance, for SIGHUP. In your case, `safeShutdown` closes a listen socket. So, `settingsInstallShutdownHandler`is not related to your issue.

[2015-04-09 03:57] kazu-yamamoto commented on #361
I guess that `try getConnMaker` does not return `Left` in TLS even if a listen socket is closed.

[2015-04-09 04:00] kazu-yamamoto commented on #361
@snoyberg `runTLSSocket` should call `settingsInstallShutdownHandler` anyway.

[2015-04-09 05:33] snoyberg commented on #355
I saw that too. My understanding is that it was an  implementation bug, not
a hole in the spec, but either way we should wait a bit longer before
implementing this.

On Thu, Apr 9, 2015, 6:04 AM Kazu Yamamoto <notifications@github.com> wrote:

[2015-04-09 08:13] kazu-yamamoto commented on #355
I will join HTTP/2 meet-up on 14th April and discuss this issue deeply.

[2015-04-09 17:30] jtdaugherty opened #365 "wai-extras: RequestLogger does not export enough to construct RequestLoggerSettings"
It appears that a `RequestLoggerSettings` cannot be constructed because the `RequestLogger` module doesn't export setters or constructors for the fields of the settings type.

[2015-04-09 17:30] jtdaugherty commented on #365
(As of `3.0.6.1`.)

[2015-04-12 03:21] DeathByTape commented on #365
This is not an issue. `RequestLoggerSettings` is an instance of `Default` which means you can do something like this (notice the `import Data.Default`):

[code]

or, if you want to override the default settings:

[code]

You can see the docs here: https://hackage.haskell.org/package/wai-extra-3.0.6.1/docs/Network-Wai-Middleware-RequestLogger.html

[2015-04-12 04:46] jtdaugherty commented on #365
I see the source of the confusion: it is not documented that `outputFormat` and `autoFlush` are fields of `RequestLoggerSettings`, so it is not obvious that they can be used in the way you described.  Just judging by the types alone, they appear to be getters only.  Can you please update the haddock to indicate that this is possible?

[2015-04-12 18:47] DeathByTape commented on #365
I have submitted the PR at https://github.com/yesodweb/wai/pull/366.

It is up to @snoyberg, though, if he wants to pull this in (or make alterations to the text).

[2015-04-12 19:12] snoyberg commented on #365
PR merged, thank you for addressing that!

[2015-04-12 19:39] jtdaugherty commented on #365
Thanks for the PR, @DeathByTape.  To be clear, the confusion was not about the `Default` instance's availability or purpose.  The PR does mention that, but I don't think it goes far enough to make it clear that "relevant fields" are literally *record fields* that can be used to update the default settings value in the way we've been discussing.  The way the haddock documentation gets generated hid

[2015-04-12 19:54] DeathByTape commented on #365
Ah, I see. Yes, I misunderstood. Sorry about that @jtdaugherty!

Submitting your own PR is just as good as if I submitted one :) so that sounds like a good idea (read: I'm just some guy who recently started looking for ways to contribute to this project) ;)

In any case, I'm glad we cleared up the initial confusion. I would suggest you submit the PR with whatever you find to be the appropriate sol

[2015-04-13 04:57] kazu-yamamoto commented on #355
Relating IDs and an RFC:

- Alt-Svc: -- https://tools.ietf.org/html/draft-ietf-httpbis-alt-svc
- HTTP-TLS: (OE) -- https://tools.ietf.org/html/draft-ietf-httpbis-http2-encryption
- Strict-Transport-Security: (HSTS) -- http://tools.ietf.org/html/rfc6797

[2015-04-15 00:50] kazu-yamamoto commented on #355
I cannot explain this deeply because of NDA but Firefox 40 will enable this feature again. It will be released in this Summer. So, we should wait for Firefox 40.

[2015-04-21 04:46] snoyberg commented on #365
Closing the issue. If there are still outstanding changes you'd like to see to the docs @jtdaugherty, can you send a PR?

[2015-04-21 04:46] #365 closed

[2015-04-21 06:48] winterland1989 opened #367 "Lazy ByteString file stored in lbsBackEnd wont get collected"
With wai and apiary(another api framework) i build a file upload service recently,  but after uploading some big file (~500MB) , the server's process eat a lot of memory, after some digging i realize the apiary use lbsBackEnd store my upload file, but after I use ByteString.writeFile write the file to disk, the memory didn't get freed, here is my code and apiary's getReqBodyFiles implementation, a

[2015-04-21 06:55] snoyberg commented on #367
As stated, I think this question should be pointed at the apiary issue tracker, not WAI. We're not able to validate other codebases. If you're able to reproduce the problem with a minimal case against wai, wai-extra, and warp alone, that's something we could review.

[2015-04-21 07:01] winterland1989 commented on #367
I understand this,  but apiary's implementation is the minimal code i can think of to grab multipart file, it simply use sinkRequestBody and lbsBackEnd, after that i use writeFile to flush to disk, i just want to know if there are any caveats to use lbsBackEnd?

[2015-04-21 07:03] snoyberg commented on #367
There are the standard caveats of laziness, and the fact that holding a reference to the LBS will keep it in memory. Without auditing the entire code base I can't say more than that.

[2015-04-21 07:05] winterland1989 commented on #367
Thanks for your input, i'll try to construct a minimal case against wai-extra to see if the memory leak still stand.

[2015-04-21 09:11] winterland1989 commented on #367
Now i can make sure there's something wrong with multipart body paser in wai package, the test code is on my git:  https://github.com/winterland1989/hsync/blob/master/Server.hs#L93
It comes with a nice web upload form for you to test.

I only use parseRequestBody and lbsBackEnd from wai-extra package to extract upload files, after writing to disk, the memory leaking still appear, it seems that mem

[2015-04-21 09:13] winterland1989 commented on #367
Even if you dont write file, simple bind will eat all memory, like this:
[code]

[2015-04-21 09:16] snoyberg commented on #367
OK, your last comment made clear where the misunderstanding is. The `lbsBackEnd` does in fact store all of the contents in memory. It does *not* perform lazy I/O. If you want to have constant memory operations, you really need to use tempFileBackEnd.

[2015-04-21 09:25] winterland1989 commented on #367
alright...but there should be some way to remove the store reference.  if the lbsBackEnd  is used during request processing, the memory leaking will be constantly increase with request coming. this behavior render this function useless

[2015-04-21 09:27] snoyberg commented on #367
I have to repeat what I said above: without a standalone test case, I cannot comment on this. You've pointed twice now to a large apiary-based program. That is not a reproduction of this problem the WAI team can follow up on.

[2015-04-21 09:32] winterland1989 commented on #367
sorry for this, i will add a test case to wai-extra later and pull request

[2015-04-21 12:05] winterland1989 commented on #367
there's no need to pull request, just use code below to do a quick test, you can use a simple html form try to post a large file to server, the server just explode:

[code]

[2015-04-21 12:09] winterland1989 commented on #367
in fact, after
[code]
there's no reason lbsBackEnd's store wont get collected, there must be some issue, hope we can find it out soon.

[2015-04-21 13:33] snoyberg commented on #367
This doesn't reproduce for me, memory usage immediately goes back down after the request finishes. Perhaps you're not using the multithreaded runtime.

[2015-04-21 13:57] winterland1989 commented on #367
GHC 7.10.1 on Linux 3.13, add ```-threaded -with-rtsopts=-N``` do solve the problem but i dont understand why, and what's your peek memory consumption? In my case it's about two time to the uploading file, it seems the lazy bytestring are not processing on constant memory as i thought, is there any optimizing space?

[2015-04-21 14:12] snoyberg commented on #367
At this point we can rule out a bug in the library so I'd like to close this. Understanding GHC's performance characteristics is something better handled by a mailing list discussion or stack overflow.

[2015-04-21 14:12] #367 closed

[2015-04-21 14:41] winterland1989 commented on #367
thanks for your time, i will try to understand ghc more

[2015-04-21 15:19] TravisWhitaker commented on #361
Sorry for the delay, I've been busy with a few other projects and this issue wasn't a showstopper. I'll pretty up my branch and send a pull request as soon as I get a few free hours.

@kazu-yamamoto is correct, the connection maker set up by `runTLSSocket'` doesn't return `Left` even if its socket is closed.

[2015-04-21 23:28] jtdaugherty commented on #365
Will do (just submitted). Thanks!

[2015-04-22 10:24] bnordbo opened #369 "HEAD requests returning non-empty entity body"
I suspect there could be an issue in `warp 3.0.10.1` and onwards with regard to how responses to `HEAD` requests are handled. For instance, consider this server:

[code]

When issuing the following HTTP request:

[code]

The server will respond as follows:

[code]

As far as I can see (RFC 2616 [4.3](http://tools.ietf.org/html/rfc2616#section-4.3) and [9.4](http://tools.ietf.org/html/rfc2616#secti

[2015-04-22 10:30] snoyberg commented on #369
Pinging @kazu-yamamoto, can you have a look at this?

[2015-04-24 05:34] kazu-yamamoto commented on #361
We need to ask the tls maintainer that this is a bug or a spec.

[2015-04-24 05:51] kazu-yamamoto commented on #369
The patch above solves this problem.

@snoyberg Would you review this patch?

[2015-04-24 09:07] snoyberg commented on #369
Looks good to me. @bnordbo can you confirm?

[2015-04-24 09:25] bnordbo commented on #369
@snoyberg, @kazu-yamamoto, yes, it looks good. Thanks for the quick response!

[2015-04-24 09:32] bnordbo commented on #369
I also applied the patch, and my test case passes now. I notice that it also causes the `Transfer-Encoding` header to be removed from the `HEAD` response. This is permitted according to RFC 2616, section 9.4, which states that:

[2015-04-24 09:41] snoyberg commented on #369
Awesome, thanks for the report and testing, and thanks for fixing @kazu-yamamoto. I've released to Hackage as 3.0.12.1.

[2015-04-24 09:41] #369 closed

[2015-05-01 02:44] reiddraper opened #371 "Warp sends truncated files when using sendfile"
Tested with warp 3.0.5.2 and 3.0.12.1, and on Linux and Mac OSX.

Sample Main.hs.

[code]

Write to the file `foo`:

[code]

Everything looks good. Now edit foo, while leaving the server running:

[code]

Curl hangs, and eventually times out. This little experiment appears to be non-determinstic, as well. Disabling send-file when running the test seems to never exhibit the bug (`-f -allow-sendfile

[2015-05-01 03:48] snoyberg commented on #371
This looks like the file descriptor cache, pinging @kazu-yamamoto. Can you try disabling that cache and see if it resolves your problem?

[2015-05-01 04:11] reiddraper commented on #371
I have not yet been able to reproduce the issue with a `setFdCacheDuration` of 0. The [apache documentation](http://httpd.apache.org/docs/2.2/mod/mod_file_cache.html) seems to suggest this is a known issue with caching file-descriptors and using sendfile:

[2015-05-01 05:27] snoyberg commented on #371
In that case, should we just update the documentation and consider this working as expected? Would you be interested in sending a PR for an appropriate doc fix (i.e., somewhere that may have helped you)?

[2015-05-01 06:23] kazu-yamamoto commented on #371
This is a common problem of caching. We should clarify doc or change the default value to 0.

[2015-05-01 14:58] reiddraper commented on #371
Setting the default to 0 (no file descriptor cache) seems like a sensible compromise between performance (still using sendfile) and correctness. In production, with truly static assets, users can crank this up to 10 or 30 seconds.

[2015-05-03 06:20] snoyberg commented on #371
Kazu: since the file descriptor code is yours, do you want to make a
decision on this?

On Fri, May 1, 2015, 5:58 PM Reid Draper <notifications@github.com> wrote:

[2015-05-04 12:44] kazu-yamamoto commented on #371
Let's set the default to 0 and clarify the issue and write a recommended value (eg 10 seconds) for productions in the doc.

Since it is in the golden week (a long national holidays) in Japan, I cannot take time. @snoyberg Would you take care of this?

[2015-05-04 13:29] snoyberg commented on #371
I've made the modification in de64974. Can you guys review to make sure the text is clear?

[2015-05-04 15:00] rnons opened #372 "Is there max file size limit for warp"
I'm using warp provided by wai-app-static as my file server. However, it seems that it doesn't serve large files well. The output of curl is

[code]
The OS is Fedora-21 32bit. The version of wai-app-static is 3.0.1

I also tested it on a Mac 64bit, large file works fine. Maybe something is missing in my Fedora machine?

[2015-05-04 15:36] snoyberg commented on #372
Very interesting, looks like an integer overflow issue somewhere. My guess is this is because your Fedora machine is 32 bit. I'm looking into this on my 32-bit Windows machine right now.

[2015-05-05 09:10] snoyberg commented on #371
Thanks for the review guys, code is now on Hackage. Closing.

[2015-05-05 09:10] #371 closed

[2015-05-06 06:59] snoyberg commented on #372
I haven't been able to reproduce this on Windows, and don't have access to any other 32-bit compilers at the moment. @kazu-yamamoto do you have any thoughts on this one?

[2015-05-07 03:32] rnons commented on #372
I set up a vagrant box running Ubuntu 14.04 32bit on a Mac machine. I can reproduce this.

[2015-05-07 03:33] snoyberg commented on #372
One other thing that would be nice to know: can you reproduce this on a
64-bit Linux using a 32-bit GHC?

On Thu, May 7, 2015 at 6:32 AM rns <notifications@github.com> wrote:

[2015-05-07 03:41] rnons commented on #372
I'm not sure. I will set up a vbox later. BTW, the ghc version is 7.10

[2015-05-08 00:15] kazu-yamamoto commented on #372
I doubt `simple-sendfile`. But it has the following FFI:

[code]

The sendfile manual on Linux says:

[code]

So, it seems to me that the FFI is correct. I would like to know what C types `COff` and `CSize` refer to actually on 32bit Linux.

[2015-05-13 04:30] kazu-yamamoto commented on #372
@rnons Would you share your vagrant binary with us?

[2015-05-13 05:34] kazu-yamamoto commented on #361
I think I understand the source of this problem. `getter` in WarpTLS.hs uses `acceptSafe` which is imported `Data.Streaming.Network`. This function never ends: https://hackage.haskell.org/package/streaming-commons-0.1.0.0/docs/src/Data-Streaming-Network.html#acceptSafe

@snoyberg We should do two things:
- WarpTLS should use `accept` to share the accept logic with Warp if you don't have strong rea

[2015-05-13 05:54] kazu-yamamoto commented on #372
I would like to know what value is returned by `test "a_large_file.tar.gz"` on 32bit Linux where test is:

[code]

[2015-05-14 03:58] rnons commented on #372
@kazu-yamamoto it returns 2621110001, which is the file size according to `ls -l`

[2015-05-14 04:59] kazu-yamamoto commented on #372
@rnons Thanks. So, System.PosixCompat works well.

If I provide a special version of sendfile which displays debug information, can you try it and send the debug messages?

[2015-05-14 06:05] rnons commented on #372
Sure

[2015-05-15 00:04] kazu-yamamoto commented on #361
Pinging @snoyberg.

[2015-05-15 01:16] kazu-yamamoto commented on #372
@rnons Would try the `debuginfo` branch of my simple-sendfile repo? This displays debug information to stdout. Please try this with the big file and send me debug information (where numbers become minus).

https://github.com/kazu-yamamoto/simple-sendfile/tree/debuginfo

[2015-05-15 03:25] rnons commented on #372
[code]

Does it help? Or do you still need the vagrant image? Do you have any suggestion where can I upload it? It is ~370M

[2015-05-15 03:45] rnons commented on #372
Sorry, I'm mistaken, the vagrant image is around ~5G

[2015-05-15 04:03] kazu-yamamoto commented on #372
According the debug information, no underflow happens here. Before sharing the vagrant image, please run the following code and tell me the result:

[code]

[2015-05-15 04:09] rnons commented on #372
[code]

[2015-05-15 04:09] kazu-yamamoto commented on #372
Also, I would like to know the result of the following C code:

[code]

[2015-05-15 04:10] rnons commented on #372
size_t: 4
off_t: 4

[2015-05-15 04:11] snoyberg commented on #361
@kazu-yamamoto is https://github.com/fpco/streaming-commons/commit/f3d5cd2b51e4fec2322a23df91fc69ec2e155dc5 what you were getting at?

[2015-05-15 04:14] kazu-yamamoto commented on #372
Good reference: https://groups.google.com/forum/#!topic/yesodweb/7AhYtCu0oIA

[2015-05-15 04:19] kazu-yamamoto commented on #372
Your sendfile() cannot send a file whose size is over 2^31 according to size_t size.

It is strange that COff size is 8 while off_t size is 4.

[2015-05-15 04:20] kazu-yamamoto commented on #372
Does your Linux have sendfile64()? If so, would you send the signature of sendfile64() from its manual?

[2015-05-15 04:24] kazu-yamamoto commented on #361
Yes!

[2015-05-15 04:33] rnons commented on #372
It seems I dont's have sendfile64?
When I type `man sendfile64`, it prints the same content as `man sendfile`.
The signature is `ssize_t sendfile(int out_fd, int in_fd, off_t *offset, size_t count);`

[2015-05-15 04:34] kazu-yamamoto commented on #372
Uhhhm. So, it means that your sendfile() cannot send large files due to size_t.

[2015-05-15 04:35] kazu-yamamoto commented on #372
Oh. Please give a look at `sys/sendfile.h`. What is the signature of sendfile64()?

[2015-05-15 04:39] snoyberg commented on #361
OK, released. Does this mean @TravisWhitaker should be able to test with the new version of streaming-commons (0.1.12.1)?

[2015-05-15 04:40] rnons commented on #372
[code]

[2015-05-15 04:40] kazu-yamamoto commented on #372
I would like to invite @crosser  to this discussion since he suggested to use sendfile() instead of sendfile64() in simple-sendfile.

[2015-05-15 04:41] snoyberg commented on #372
@kazu-yamamoto If there's a way of programmatically detecting that sendfile can't support large files (sizeof CSize?) we could modify warp to bypass the optimization in those cases, right? I suppose such a fix could even be used to allow for files larger than 2^64 bytes ;)

[2015-05-15 04:43] kazu-yamamoto commented on #372
OK. sendfile64() still uses size_t. No hope for sendfile() on 32bit Linux.

[2015-05-15 04:45] kazu-yamamoto commented on #372
@snoyberg Yeah. We need to fall back to the pread()/writev() approach in such cases. *Fortunately*, we have such a branch: https://github.com/yesodweb/wai/tree/writev

[2015-05-15 05:24] kazu-yamamoto commented on #372
I understand that the intention of sendfile() AIP. If the size of file is over size_t size, we should call sendfile() repeatedly.

[2015-05-15 05:55] kazu-yamamoto commented on #372
@rnons Would you also run the following C code? off_t size should be 8, I hope.

[code]

[2015-05-15 06:03] rnons commented on #372
[code]

[2015-05-15 06:03] kazu-yamamoto commented on #361
@snoyberg We should use `accept` instead of `acceptSafe` in WarpTLS to avoid the logic overlapping.

[2015-05-15 06:04] snoyberg commented on #361
Why not have warp use `acceptSafe` instead?

[2015-05-15 06:05] kazu-yamamoto commented on #372
OK. Thanks.

[2015-05-15 07:58] crosser commented on #372
Who summoned me? ;-)
I think [this](https://mail.haskell.org/pipermail/glasgow-haskell-users/2012-February/021864.html) (and the following thread) is relevant.
The problem is (was at the time) that when you are compiling a package with C code using FFI, the C code does not know what is the value of _FILE_OFFSET_BITS in the existing Haskell runtime. I was suggesting that the "best" solution would b

[2015-05-15 08:14] crosser commented on #372
In other words, simple-sendfile _ought_ to use sendfile(), _not_ sendfile64(). But for this to compile to the right thing on both 32 and 64 bit systems, it also needs to use -D_FILE_OFFSET_BITS=64 _if and only if_ GHC itself was build with this definintion.

[2015-05-15 10:19] kazu-yamamoto commented on #361
Simply replacing `accept` with `acceptSafe` in `Run.hs` does not make sense to me. Would you show me the code which you intend?

[2015-05-15 10:23] snoyberg commented on #361
That *is* what I intended. I think I'm misunderstanding what's going on here. Is it intentional for `accept` from warp and `acceptSafe` from streaming-commons to have different behavior?

[2015-05-15 10:28] kazu-yamamoto commented on #361
Please give a look at `acceptNewConnection` in Run.hs. This code includes `isFullErrorType (ioeGetErrorType e)` in the different level of `acceptSafe`. To share this code, I think we should replace `acceptSafe` to `accept` in WarpTLS.

[2015-05-17 07:08] snoyberg commented on #361
OK, I understand what you're saying now. When you said "use `accept` to share logic with warp", I thought you meant using a function from warp, not using the standard accept. I understand now that warp is already applying that logic to the function in warp-tls.

So to confirm: you mean to replace acceptSafe with Network.Socket.accept in warp-tls, and warp will handle the necessary retry logic by w

[2015-05-18 02:43] kazu-yamamoto commented on #361
Yes, exactly. Sorry for my poor explanation.

[2015-05-18 03:29] kazu-yamamoto commented on #372
To my understanding, we should do two things for Linux:

- simple-sendfile should divide a large file according to the `CSize` size and repeat calling sendfile() for the blocks. This solves @rnons's problem.
- `_FILE_OFFSET_BITS` should be set to a right value when simple-sendfile is compile to ensure that `off_t` and `COff` be the same value. I guess that Setup.hs should check the `COff` size and

[2015-05-18 04:28] snoyberg commented on #361
OK, change pushed. Unless there are objections I can release this.

eed0bf9

[2015-05-18 04:38] kazu-yamamoto commented on #372
@rnons Would you try the following? Does this solve your problem?

https://github.com/kazu-yamamoto/simple-sendfile/tree/sizet

[2015-05-18 04:40] kazu-yamamoto commented on #361
@TravisWhitaker Could you check if the patch above solves your problem?

[2015-05-18 04:56] rnons commented on #372
@kazu-yamamoto Great, it works fine. Thank you very much.

[2015-05-18 05:02] kazu-yamamoto commented on #372
@rnons Thank you for your report!

So, the first problem has been fixed. I would leave the second problem as is since it is difficult for me to implement it. I will re-consider if the second problem actually happens.

I will release a new version of simple-sendfile soon.

[2015-05-18 06:15] rnons commented on #372
@kazu-yamamoto I'm sorry. When I reported "it works fine", the downloading was still in progress. However, I just found that it stopped at 2047M

[code]
And the warp prints out
[code]

[2015-05-18 06:31] kazu-yamamoto commented on #372
@rnons I pushed a commit to the `sizet` branch, which sets `_FILE_OFFSET_BITS` to 64. Would you try this again?

[2015-05-18 06:37] kazu-yamamoto commented on #372
Uhhm. 2621110001 - 2^30 - 2^30 = 473626353.

[2015-05-18 06:51] rnons commented on #372
same result here

[2015-05-18 12:00] kazu-yamamoto commented on #372
@rnons I pushed one more commit to the `sizet` branch. Please try.

I think this problem is caused because `off_t` is 32bit. (2^30 + 2^30) results in overflow (`EOVERFLOW`). We need to ensure to use sendfile() which uses `__off64_t`.

[2015-05-18 13:30] rnons commented on #372
Sorry, same result here

[2015-05-18 18:12] reiddraper commented on #196
I just ran into this when using a `ResponseStream` response type. I'm using server-sent events, and in a particular case, my application would never try to write to the socket. This ended up leaking resources. That being said, once I realized this, it was easy enough to simply send a heartbeat message every sixty-seconds or so. Trying to send this message on a closed socket appropriately throws an

[2015-05-18 23:15] kazu-yamamoto commented on #372
@rnons Do you understand how to ensure using `__off64_t` in sendfile() on your Linux?

[2015-05-19 00:25] kazu-yamamoto commented on #372
`cc -E <the file below>` generates on 64bit Linux:

[code]
So, `Linux.hsc` seems good.

[code]

@rnons How sendfile() is expanded on 32bit Linux?

[2015-05-19 02:55] rnons commented on #372
[code]

I don't understand how to ensure using __off64_t in sendfile() on my Linux.

[2015-05-19 03:26] kazu-yamamoto commented on #372
@rnons Thank you for your quick response. It seems that the current code ensures that sendfile() uses `__off64_t`. So, I have no idea why this new problem happens.

One more try: what happens if you replace sendfile() with sendfile64() in the FFI part of Linux.hsc?

[code]

Also, this code is worth trying:

[code]

[2015-05-19 03:46] rnons commented on #372
The first version works! :tada:

The second version doesn't build

[code]

[2015-05-19 04:04] kazu-yamamoto commented on #372
Good.

Does anyone know why "sendfile" does not work and "sendfile64" work on 32bit Linux? Note that necessary macros are surely defined.

[2015-05-19 04:12] kazu-yamamoto commented on #372
Doesn't GHC respect macros when linking C functions?

[2015-05-19 04:22] kazu-yamamoto commented on #372
- If the `COff` size is 8, use `sendfile64`
- Otherwise, use `sendfile`
- Setup.hs checks the `COff` size and define a C macro accordingly
- Either `sendfile` or `sendfile64` is selected by the C macro

Is this feasible?

[2015-05-19 12:28] crosser commented on #372
For what it's worth, it is my understanding that it's _wrong_ to use sendfile64() call and/or __off64_t type. It is also wrong to try send a large file it in 4G chunks. _If_ your system is able to give you a handle for a >4G file, then sendfile() _will_ accept 64bit offset, as long as the program is compiled with proper defines. You need some magic to find these defines, at build time. _None_ of t

[2015-05-19 12:44] crosser commented on #372
This was my patch, as of Feb 2012. I am not sure that it will work, or be usable at all on Windows, but maybe it's worth to try...
[code]

[2015-05-19 13:30] kazu-yamamoto commented on #372
Where can I find `HsConfig.h.in`?

[2015-05-19 13:40] crosser commented on #372
It should be created by `autoreconf` (as described in the README).

[2015-05-20 01:47] kazu-yamamoto commented on #372
Thanks. I now have `HsConfig.h.in`. Unfortunately, I don't understand the intention of this patch:

- Even on 64bit Linux, autoconf does not set `_FILE_OFFSET_BITS` to 64.
- Even if `_FILE_OFFSET_BITS` is set to 64 properly, GHC does not respect C header files when linking.

What we need to do is replace the `"sendfile"` string to the `"sendfile64"` string in the FFI if the COff size is 8. I don't

[2015-05-20 02:13] kazu-yamamoto commented on #372
@rnons As suggested in haskell-cafe, I implemented dynamic dispatch. Please try this:

https://github.com/kazu-yamamoto/simple-sendfile/tree/switch

I confirmed that this works well on 64bit Linux.

[2015-05-20 02:48] rnons commented on #372
It doesn't work.

[code]

[2015-05-20 04:19] kazu-yamamoto commented on #372
@rnons I'm really sorry. I made a terrible mistake. I pushed a fix. Please give one more try to the `switch` branch.

[2015-05-20 04:28] rnons commented on #372
It works fine. Thank you. :+1:

[2015-05-20 04:50] kazu-yamamoto commented on #372
I have released a new version.

@rnons I really thank you for your patient testing.

[2015-05-20 06:11] winterland1989 opened #376 "can't server index at root with wai-app-static"
i want to server a static webpage using WaiAppStatic.Storage.Embedded like this:

[code]

and i create my application like this:

[code]

i also tried `ssRedirectToIndex = True`, but directly visit `localhost:3000` result in 404, `localhost:3000/index.html`worked as expected, is there something wrong with my code?

[2015-05-20 07:43] crosser commented on #372
@kazu-yamamoto :

There is no need to define `_FILE_OFFSET_BITS` on 64bit system. Such system always has 64bit off_t. 32bit systems may use 32bit off_t or 64bit off_t. If you run `configure` on a 32bit system that _supports_ >4Gb files, it will define `_FILE_OFFSET_BITS=64`, and then libc headers will translate `sendfile()` function call into `sendfile64` syscall under the hood, invisible to you.

[2015-05-20 08:49] snoyberg commented on #376
Looking at the code, it appears that directory listings and indices are features that are simply not supported currently. Such support could be added in theory, but it would require changes to the internal structure. I don't have bandwidth to make those changes myself right now, but I'd be happy to provide guidance on them (I don't think they're that difficult, but will take some time to get every

[2015-05-21 01:12] kazu-yamamoto commented on #372
I understand 64bit Linux stuff. Thanks.

If my understanding is correct, this interpretation is not quite correct. "under the hood" can surely apply to C files but cannot to Haskell files.

On 32bit Linux which support 64bit off_t, C files are linked to `sendfile64()` thanks to "under the hood" magic. But hsc2hs does not replace `"sendfile"` to `"sendfile64"`, so `sendfile()` is linked. This is wh

[2015-05-21 03:33] winterland1989 commented on #376
As a new haskell beginner(just pick it up 2 month ago)... I'll try what i can do, thanks!

[2015-05-21 07:11] crosser commented on #372
When your .hsc file calls C `sendfile()` while proper defines are present, it will turn to a call to `sendfile64` in the compiled code, without the need to mention `sendfile64` in the code explicitly. The same way as in the "standard" `unix` module, `Common.hsc` uses "normal" name for `stat()`, and still in the compiled version, 64bit stat() is used.

I am saying that `simple-sendfile` module _oug

[2015-05-21 07:33] kazu-yamamoto commented on #372
It seems to me that `__hscore_stat`, not `stat`, is used in the unix package of GHC 7.10.1.

Moreover, according to @rnons's experiment, `senfile64()` is not linked for `"sendfile"` even if necessary macros are defined. For more information, please read discussion above.

[2015-05-21 18:14] crosser commented on #372
@kazu-yamamoto, indeed `stat()` function is called via some pointer hidden deep in Base, but for example `lseek()` is called directly, as far as I can tell. `lseek()` has an `off_t` argument and returns `off_t` result. I am 80% sure that my suggested approach will work. I have no 32bit system at hand to verify it, I will try to arrange such test system and check it.

I am not convinced that the te

[2015-05-22 00:11] kazu-yamamoto commented on #372
I confirmed that `lseek()` is used directly. Looking into the difference between `lseek()` and `sendfile()`, `lseek()` is used as `"unistd.h lseek"` but `sendfile()` was used as just `"sendfile"`. I'm wondering if I should have written `"sys/sendfile.h sendfile"` with the macros.

@crosser BTW, what is your concern of the current code (i.e. dynamic switching)?

[2015-05-22 00:36] kazu-yamamoto commented on #372
@rnons Would you take time to give one more try to this branch?

https://github.com/kazu-yamamoto/simple-sendfile/tree/autoconf

You need to run "autoreconf" before "cabal configure; cabal test". If this succeeds, the source of confusion is that `"sys/sendfile.h "` is missing.

[2015-05-22 09:28] rnons commented on #372
test pass
[code]
But download doesn't work
[code]

[2015-05-22 11:25] crosser commented on #372
My basic concern is that dual 32bit/64bit interface was _designed_ with compile-time dispatch in mind, and with the goal of hiding the duality from most of the source code. Adhering to this principle seems the Right Thing to do, and when done correctly, is potentially less prone to breakage in edge cases.

I have set up 32bit VM and run existing tests successfully. I will create a proper test with

[2015-05-23 07:31] rnons commented on #372
I just tested a 4318M file with simple-sendfile-0.2.20

[code]

[2015-05-28 10:56] crosser commented on #372
I am trying to make proper testset with files bigger than 4Gb (which is challenging because it's so easy to exhaust system resources, even with sparse files), and am getting interesting results. At the moment, it seems that the problem is not in the different limitations of `off_t` on 32bit and 64bit systems, but in the different limitations of `size_t`. That would explain why `-D_FILE_OFFSET_BITS

[2015-05-28 11:40] crosser commented on #372
@rnons, may I ask you to run this program on your 32bit system and post the results:
[code]

[2015-05-28 12:37] rnons commented on #372
FileOffset: 64
ByteCount : 32

[2015-06-04 17:52] crosser commented on #372
I was wrong when I said the FFI will automatically call the right version of sendfile() depending on the value of _FILE_OFFSET_BITS. [This link](https://wiki.haskell.org/GHC/Using_the_FFI#Importing_C_functions_that_turn_out_to_be_CPP_macros) explains how such case can be addressed. I created a pull request to simple-sendfile with all necessary updates for the decision to be made at compile time, a

[2015-06-05 17:11] joshbohde opened #378 "file descriptor leak"
One of our automated clients ended up causing a file descriptor leak. Is there a way I can report this in private, in case it's a vulnerability?

[2015-06-07 05:04] snoyberg commented on #378
Yes, you can email myself and/or Kazu directly.

[2015-06-07 14:49] #378 closed

[2015-06-08 01:48] MaxGabriel opened #379 "1getCurrentTime1 in auto-update README"
The [current auto-update README](https://github.com/yesodweb/wai/tree/4842250618772e2fadccb53510583704cb1ddb00/auto-update) has the words "1getCurrentTime1" and "1IORef1". I guess this was meant to be `getCurrentTime` and `IORef`? This just seemed like a crazy typo to happen twice so I figured I'd open an issue.

[2015-06-08 02:52] kazu-yamamoto commented on #379
Fixed in ca9321ca93cc713d5dc22f901c432537720b69c3.

Thank you for your report!

[2015-06-08 02:52] #379 closed

[2015-06-10 08:01] kazu-yamamoto opened #381 "A new buffer management"
@snoyberg I would like to ask you to review my branch: https://github.com/yesodweb/wai/tree/kazu-master

This code includes:

- Removing `connReadBuffer`, which is not used anywhere, from `Connection`
- Merging @martin-bailey's read buffer management. This does not improve performance for HTTP/1.1 on my measurement. But I hope this is good for HTTP/2. Note that this code introduce `connBufferPool`

[2015-06-10 08:19] kazu-yamamoto commented on #372
Closing this issue. Let's continue on the simple-sendfile repo if necessary.

[2015-06-10 08:19] #372 closed

[2015-06-10 08:38] kazu-yamamoto commented on #359
A crazy idea on the file info cache: adding a new member to`Request`, whose type is `FilePath -> IO FileInfo`.

[2015-06-10 08:53] snoyberg commented on #381
I didn't do a deep dive of this, but based on what I saw now and what I remember from when @martin-bailey originally raised this, I have no problem with the change.

[2015-06-10 12:06] kazu-yamamoto commented on #381
Thanks. I merged the kazu-master branch to master.

[2015-06-10 12:06] #381 closed

[2015-06-11 07:20] feuerbach opened #382 "warp: no exception upon an empty request"
I registered an exception handler through `setOnException.`

When I send some junk instead of a request, I see an exception, as expected:

[code]

However, if I send a single newline, the client gets back `500 Something went wrong`, but no exception is printed.

I think the property that any 500 error is logged on the server side is a very desirable one.

This is warp-3.0.2.3; apologies if this ha

[2015-06-11 07:23] kazu-yamamoto opened #383 "new sendfile appoarch"
The sendfile function defined in WarpTLS has performance problems because:

- It does not make use of FdCache
- It does not pack headers and a body into a single TLS record

To solve this problem, I implemented readSendFile. For all platforms, it tries to pack headers and body into a singale TLS record. For Unix, it makes use of FdCache.

File descriptors can be shared among Haskell threads when s

[2015-06-12 00:26] kazu-yamamoto commented on #361
I would close this. Please reopen if necessary.

[2015-06-12 00:26] #361 closed

[2015-06-12 00:33] kazu-yamamoto commented on #382
I would like to understand your suggestion correctly. You are talking about two cases: junk and a single line. Do you want to

- send 500 response and
- record 500 log and
- display warnings

for both cases?

[2015-06-12 04:22] feuerbach commented on #382
I don't understand the "display warnings" bit, but regarding the first two aspects, I don't see why the two invalid requests would lead to different behaviors. Are you saying the difference is intentional?

[2015-06-12 04:31] kazu-yamamoto commented on #382
Something like the following:

    Warp: Invalid first line of request: "asdf"

I think that's not intentional.

I'm not opposing your suggestions. I just want to know what you wish.

[2015-06-12 05:39] kazu-yamamoto commented on #383
I have added test cases.

[2015-06-12 05:45] feuerbach commented on #382
Right, that was what I meant. This should be the result of installing an `setOnException` handler.

[2015-06-13 20:57] kazu-yamamoto commented on #383
Pinging @snoyberg

[2015-06-14 14:11] snoyberg commented on #383
I haven't looked at the code in detail yet. I'm pushing one Windows build fix, and reporting the following test failures on Windows:

[code]

Let me know if you'd like me to review any of these in particular.

[2015-06-14 20:46] alexanderkjeldaas opened #385 "warp should support receiving secret data."
@vincenthz has the securemem package which auto-scrubs memory on free.  warp should support something like this in a type-safe manner so that there is no possibility for secret data to leak outside of its containing buffer.

I do not think this can be bolted on to warp, but must be supported at the type level from the socket read to the upper applications.

https://hackage.haskell.org/package/secu

[2015-06-15 00:23] kazu-yamamoto commented on #383
Thanks! Would you also attach the test result of the `master` branch on Windows so that I can identify which are specific to this topic branch?

[2015-06-15 00:53] kazu-yamamoto commented on #383
I pushed a fix to the read-send-file branch. Please try this first. f1e0350d7148c94025ae46e36eac7e2f2bc7f2cc

[2015-06-15 05:48] snoyberg commented on #383
Newest read-send-file results on Windows:

[code]

Testing master next...

[2015-06-15 05:51] snoyberg commented on #383
On Windows:

[code]

[2015-06-15 05:58] kazu-yamamoto commented on #383
Thank. Three more tests should be passed.

The `readSendFile` code enclosed by `#ifdef WINDOWS` works well on Linux/Mac (if I change the `#ifdef WINDOWS` to `#if 1`).  So, I guess that the `"cmp"` program does not exist on Windows. What kind of commands should we use on Windows?

BTW: is it OK with you to merge this branch to master?

[2015-06-15 06:02] snoyberg commented on #383
I don't know of an equivalent of `cmp` that can be guarantee present on Windows.

I'm OK with this merging to master.

[2015-06-15 06:17] kazu-yamamoto commented on #383
Thanks. Merged.

[2015-06-15 07:58] #383 closed

[2015-06-16 01:06] kazu-yamamoto commented on #382
Relating to #218.

According to 8913a3d97cb47fb08ee728cfc0a7c185dba8f1d3, this behavior is intentional. We need to discuss what behavior is reasonable.

[2015-06-16 02:56] kazu-yamamoto commented on #382
Never mind. #218 is not relating to this issue.

[2015-06-16 03:13] kazu-yamamoto commented on #382
What I understand so far:

- Junk header (including CRLF): sending 500 + exception handler
- A single CRLF: sending 500

I would be nice if we log 500 when sending 500. @feuerbach Do you agree?

The difference of these behaviors come from: 2c15f796e28124e71a3c877ee9b20ce827984e45
With this patch, we cannot distinguish a single CRLF and a connection close.

@snoyberg What is the intention of this c

[2015-06-16 04:58] snoyberg commented on #382
I believe it comes from differences in how clients deal with pipelining: some of them send an extra CRLF between requests (like they're supposed to) but some don't. We currently just ignore CRLFs as the beginning. This has never been a problem in the past. @feuerbach what's the case where these missing exceptions is causing problems?

[2015-06-16 07:13] kazu-yamamoto commented on #382
@snoyberg OK. It makes sense that `onE` ignores `NotEnoughLines []`. But why `headerLines` returns `NotEnoughLines []` when the connection is closed?

[2015-06-16 07:18] snoyberg commented on #382
I believe it's because there's not way to distinguish between "client completely closed the connection" and "client closed half of the connection." In a non-pipelining case, it would be perfectly reasonable for a client to send a request, close the send half of its socket, and then expect a response on the receive half.

[2015-06-16 08:14] kazu-yamamoto commented on #382
When a client does half-close and Warps throws `NotEnoughLines []`, `closeConn` is called in `fork`. So, it seems to me that there is no chance for Warp to send a response to the client. Am I missing something?

[2015-06-16 09:34] snoyberg commented on #382
I'm not sure if there's a good reason on this, and I'm not really should what the alternative is that you're looking for instead. I don't have a problem if you want to change the behavior on this case.

[2015-06-16 13:15] feuerbach commented on #382
The problem is that a server may return an error reponse (500) without leaving any local evidence. I don't know whether this specific case should be an error condition. If it is, we should see the error in the logs and in the exception handler; if not, then the client shouldn't get 500.

If what the client and the administrator see differ, then I argue that's a bug.

[2015-06-16 13:18] snoyberg commented on #382
The 500 in this case is sent just as a courtesy (I can't remember which issue triggered it). Warp really wants to just drop the connection on the floor, but an incorrectly written client may be expecting some kind of a response, so we send one. I'm really not too particular about any specific behavior here, but I favor _not_ throwing an exception since I'd consider it a false flag here.

[2015-06-16 13:28] feuerbach commented on #382
Perhaps I misunderstand the purpose of `setOnException`; what is it meant to accomplish?

[2015-06-16 13:29] snoyberg commented on #382
It's meant to let you get notified when something *really* goes wrong. A connection dying because no data was sent from the other side just doesn't fall into my category of something I'd want to be alerted about.

[2015-06-16 13:34] feuerbach commented on #382
Well it seems to throw exceptions (`Warp error: receiveloop: resource vanished (Connection reset by peer)`) every time a connection is terminated with an RST (which is pretty normal here), so there's that.

I guess what I'm asking is, is it meant for warp developers or administrators?

[2015-06-16 13:36] snoyberg commented on #382
If by "warp developers" you mean just Kazu and myself: no. It's meant for people writing sites/applications using Warp. The Yesod scaffolding uses it, for example.

[2015-06-16 13:57] feuerbach commented on #382
Right. So imagine a warp application that provides some kind of API. Say your user comes to you and says "hey, we got this 500 Something went wrong from your app". You look at your exception logs and don't see anything. I find it rather unfortunate.

[2015-06-16 13:59] snoyberg commented on #382
I don't feel strongly about this one. If you'd like to send a PR to change the behavior in this case, I'm fine with it. I'm personally OK with the current behavior.

[2015-06-16 14:35] gregwebs commented on #382
It seems to me that Michael is arguing that there is a client error. In that case the error code should not be 500 (maybe a 400 or 422)

[2015-06-17 00:20] kazu-yamamoto commented on #382
@gregwebs Right. We should categorize exceptions into 400 group and 500 group. (I think that 422 is not correct. I guess that @grepwebs meant 412.)

Anyway, I will take care of this issue. I will consider reasonable behavior which most users like and implement it. Please wait for a while.

[2015-06-17 08:18] kazu-yamamoto commented on #382
@snoyberg Please merge #386 if you think OK.

We should add `Since: ` for new exported APIs when we release a new version.

[2015-06-17 10:07] #382 closed

[2015-06-17 13:23] kazu-yamamoto opened #387 "cleaning up APIs"
`Network.Wai.Handler.Warp` exporting low level APIs and internal APIs. But we have `Network.Wai.Handler.Warp.Internal`, too. I would like to move them to `Network.Wai.Handler.Warp.Internal` so that `Network.Wai.Handler.Warp` gets simpler.

@snoyberg What do you think?

[2015-06-17 19:33] snoyberg commented on #387
I'd like to have a deprecation cycle for whatever we're going to move, but honestly, I'm not too terribly concerned about it. Yes, doing something like this is a good idea, thank you for raising it.

[2015-06-17 23:57] kazu-yamamoto commented on #387
OK. I will do two things:

-- Preparing a new rich `Network.Wai.Handler.Warp.Internal`
-- Making the low level ones and the internal ones in `Network.Wai.Handler.Warp.Internal` *deprecated*

One more question: `Network.Wai.Handler.Warp.Internal` has deprecated APIs. May I remove them? Or is it too early?

[2015-06-17 23:58] kazu-yamamoto commented on #387
And please decide the next version number of Warp? I should write "Since: 3.X.Y" for new ones. I guess it should be 3.1.0.

[2015-06-18 01:14] kazu-yamamoto commented on #387
Please merge #388. This does 1). But this does not do 2) because there is not a simple way to make reexported ones deprecated. The deprecated pragma must be used with declaration. To implement 2) for functions, we need a lot of boilerplates which I don't think pay. For types, it seems to me that 2) is impossible.

In the patch, the new document of `Network.Wai.Handler.Warp` just says "The followin

[2015-06-18 10:32] snoyberg commented on #387
I think of we announce the plan to remove functions, wait a week or two, and then do it, we can do basically whatever we want.

[2015-06-19 00:16] kazu-yamamoto commented on #387
@snoyberg I will do the following:

- Setting the version to 3.1.0
- Removing the settingsXXX functions on github
- Leaving the internal ones on the top module and writing a document that these will be removed in 3.2.0
- Announcing this cleanup by yesodweb blog

Make sense?

[2015-06-19 01:13] kazu-yamamoto commented on #387
All but blog are done on the master branch.

[2015-06-19 03:03] snoyberg commented on #387
Yes sounds good

[2015-06-19 05:29] kazu-yamamoto commented on #387
OK. I will write a blog article next week.

[2015-06-19 05:29] #387 closed

[2015-06-21 01:43] bergmark opened #390 "warp-tls build failures on all GHC versions"
http://matrix.hackage.haskell.org/package/warp-tls#GHC-7.10/warp-tls-3.0.4.1

[2015-06-21 03:47] snoyberg commented on #390
Thanks, should be fixed with 3.0.4.2.

[2015-06-21 04:54] bergmark commented on #390
Green!

[2015-06-21 04:54] #390 closed

[2015-07-03 00:57] kazu-yamamoto commented on #233
It seems to me that this issue has been resolved. Let's close.

[2015-07-03 00:57] #233 closed

[2015-07-03 00:59] kazu-yamamoto commented on #211
We have `ChangeLog.md`. Let's close.

[2015-07-03 00:59] #211 closed

[2015-07-03 01:00] kazu-yamamoto commented on #295
I have contributed ECDHE to the tls package. Please check.

[2015-07-03 01:00] #295 closed

[2015-07-03 01:03] kazu-yamamoto commented on #315
Closing this thanks to #317.

[2015-07-03 01:03] #315 closed

[2015-07-03 01:07] kazu-yamamoto commented on #264
Let's close this.

[2015-07-03 01:07] #264 closed

[2015-07-03 01:08] kazu-yamamoto commented on #210
Now the duration is 0 by default. Let's close.

[2015-07-03 01:08] #210 closed

[2015-07-09 17:59] levinotik opened #396 "Incorrect docs for logStdout and logStdoutDev"
RequestLogger was refactored in aa7d6318871f2d07cff8cb1c6bb2ceaa9ad2b15b, but the docs were not updated to reflect that change. It still states that `logStdout` and `logStdoutDev` are implemented on top of "logCallback" and "logCallbackDev"

[code]

[2015-07-09 18:03] snoyberg commented on #396
Good catch. Would you be able to send a PR to fix that?

[2015-07-09 18:12] levinotik commented on #396
I was going to do that instead of creating the issue, but I'm not clear on what the docs *should* say. Should it just say `-- Implemented on top of 'RequestLogger'`? or should it mention apache as well?

[2015-07-09 18:13] snoyberg commented on #396
Hmm, maybe mentioning "built on top of" is completely unnecessary. Simply saying what it does may be sufficient, especially since anyone can view source if desired.

[2015-07-09 18:20] levinotik commented on #396
Ok, thanks. I'll prepare a quick PR.

[2015-07-09 18:31] levinotik commented on #396
PR here https://github.com/yesodweb/wai/pull/397 sorry about the bad commit message formatting

[2015-07-09 18:36] snoyberg commented on #396
Thanks!

[2015-07-09 18:36] #396 closed

[2015-07-10 06:53] ndmitchell opened #398 "Do not call the exception handler for timeouts"
I do:

    runSettings (setOnException exception) ...

    exception :: Maybe Request -> SomeException -> IO ()
    exception r e
        | Just (_ :: InvalidRequest) <- fromException e = return ()
        | otherwise = print e

I don't want to print out invalid requests, so I skip them. I'd also rather not print out `TimeoutThread`, since these seem to be entirely internal Warp details? I suggest

[2015-07-10 11:18] snoyberg commented on #398
Check out [defaultShouldDisplayException](http://haddock.stackage.org/nightly-2015-07-09/warp-3.0.13.1/src/Network-Wai-Handler-Warp-Settings.html#defaultShouldDisplayException), which is probably the behavior you're looking for.

[2015-07-12 14:49] ndmitchell commented on #398
Thanks Michael, that is indeed what I'm after!

[2015-07-12 14:49] #398 closed

[2015-07-17 02:12] kazu-yamamoto opened #400 "RC4 is dyning"
Now [RFC 7465](https://tools.ietf.org/html/rfc7465): "Prohibiting RC4 Cipher Suites" is published. We need to consider when we should remove RC4 from WarpTLS.

[2015-07-19 21:09] snoyberg commented on #205
No response to previous question, closing as cannot reproduce

[2015-07-19 21:09] #205 closed

[2015-07-19 21:09] snoyberg commented on #138
Closing as cannot reproduce, especially since GHC has has many releases since these reports.

[2015-07-19 21:09] #138 closed

[2015-07-19 21:10] #236 closed

[2015-07-19 22:16] snoyberg commented on #129
Closing out old issues, if still relevant please open a new one.

[2015-07-19 22:16] #129 closed

[2015-07-19 22:17] snoyberg commented on #217
I believe this has since been resolved.

[2015-07-19 22:17] #217 closed

[2015-07-19 22:32] #245 closed

[2015-07-19 22:32] snoyberg commented on #271
Closing out old issues, please reopen if still relevant

[2015-07-19 22:32] #271 closed

[2015-07-19 22:33] #288 closed

[2015-07-19 22:34] snoyberg commented on #345
@kazu-yamamoto Will your planned work on #359 subsume this?

[2015-07-19 22:34] snoyberg commented on #385
I don't have any plans for how to implement this, do you want to take a crack at a PR?

[2015-07-19 22:54] snoyberg commented on #355
Closing until Firefox 40 is released.

[2015-07-19 22:54] #355 closed

[2015-07-19 23:13] snoyberg commented on #310
Closing out old issues, please reopen if still relevant

[2015-07-19 23:13] #310 closed

[2015-07-19 23:13] snoyberg commented on #248
Closing out old issues, please reopen if still relevant

[2015-07-19 23:13] #248 closed

[2015-07-19 23:14] snoyberg commented on #316
Closing out old issues, please reopen if still relevant

[2015-07-19 23:14] #316 closed

[2015-07-19 23:14] snoyberg commented on #400
I'm OK removing it now. @vincenthz any thoughts on the matter?

[2015-07-20 22:50] #327 closed

[2015-07-21 01:39] kazu-yamamoto commented on #400
FYI: http://www.rc4nomore.com/

[2015-07-21 02:19] meteficha commented on #400
Thanks for the pointer.  +1 on removing.

[2015-07-21 03:16] kazu-yamamoto commented on #400
If we agree to remove RC4, we need to decide when we do it: WarpTLS 3.1.0 or 3.2.0? I will release WarpTLS 3.1.0 in this week.

[2015-07-21 03:22] snoyberg commented on #400
I'd say 3.1. This is just changing the default, not removing the capability
entirely, right?

On Mon, Jul 20, 2015 at 8:16 PM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-07-21 03:44] kazu-yamamoto commented on #400
Right.

So, what about providing`defaultTraditionalTlsSettings` which includes RC4?

[2015-07-21 03:53] snoyberg commented on #400
Shrug. I'm fine with it, though I'm not convinced it's necessary. If you
want to go that route, feel free

On Mon, Jul 20, 2015, 8:44 PM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-07-21 03:59] kazu-yamamoto commented on #400
Please see the commit above to know what I want to do exactly.

[2015-07-21 04:01] kazu-yamamoto commented on #400
If we have `defaultTlsSettings` and `traditionalTlsSettings`, we can be more active to make `defautlTlsSettings` more modern. I would to discuss to remove re-negociation from `defaultTlsSettings`, too.

[2015-07-21 05:46] erikd commented on #400
+1 on removing RC4
+1 on removing  re-negociation from `defaultTlsSettings`

[2015-07-21 08:06] kazu-yamamoto commented on #400
I was wrong. The smart constructors (e.g. `tlsSettings`) modifiy `defaultTlsSettings`. `chainCertFiles` etc are not exported. So, we cannot modify `chainCertFiles` in `traditionalTlsSettings`.

@snoyberg What is the intention to hide `chainCertFiles` etc? Can we export them?

[2015-07-21 16:38] snoyberg commented on #400
It's a backwards compatibility hack. A better approach would be to export setters like `setChainCertFiles` that will ensure that internal invariants are kept about in-memory vs in-file storage.

[2015-07-22 00:33] kazu-yamamoto commented on #400
@snoyberg OK. We should not export these field names.

[2015-07-22 00:40] kazu-yamamoto commented on #400
Now, things are clear to me.

`traditionalTlsSettings`:

- There is no way to control renegotiation of the "tls" lib so to satisfy the tests provided by https://www.ssllabs.com/ssltest/. I will bring this issue to the "tls" lib itself.
- There is no smart constructors which can modify `traditionalTlsSettings`.
- So, let's not define `traditionalTlsSettings`.

RC4:

- Let's remove RC4 now.
- The cu

[2015-07-22 08:50] kazu-yamamoto commented on #297
Let's close this in favor of https://github.com/vincenthz/hs-tls/issues/112.

[2015-07-22 08:50] #297 closed

[2015-07-22 08:51] kazu-yamamoto commented on #400
The renego issue now goes to https://github.com/vincenthz/hs-tls/issues/112.

[2015-07-22 12:57] snoyberg commented on #400
LGTM

[2015-07-22 23:43] kazu-yamamoto commented on #400
Let's close this.

[2015-07-22 23:43] #400 closed

[2015-07-25 00:15] awpr opened #402 "Support Trailers in HTTP/1.1 chunked encoding and HTTP/2"
The HTTP/1.1 chunked encoding and HTTP/2 both allow responses to be followed by a second set of headers, referred to as "trailers".  The warp server and the Network.Wai Response type do not currently allow applications to provide these trailers.

Unfortunately I don't see a clean and backwards-compatible way to add support for this.  Adding an extra constructor to Response is awkward (since it's e

[2015-07-25 00:24] gregwebs commented on #402
Also mentioned as backwards incompatible is HTTP/2 push

[2015-07-25 00:30] awpr commented on #402
I think pushed streams can be handled similarly to connection takeovers, e.g. ResponsePush [PushedStream] Response Response, where the second response is a backup response to be used if the transport is not capable of pushing streams.  This does break compatibility, but it's easy to fix by serving the backup request.

[2015-07-25 06:02] awpr commented on #402
I've got a prototype of this working for HTTP/2, by extending the stream in the ResponseStream constructor to return a list of trailers.

Compatibility notes:
- Unaware server implementations will probably gain a warning about discarding a [(ByteString, ByteString)].  (With my changes, warp currently has such a warning in the HTTP/1 handler).
- Existing applications are unaffected because 'respons

[2015-07-25 17:20] awpr opened #403 "Warp sends an empty data frame if no data is immediately available after the headers."
This isn't illegal, but it's wasteful, and some clients don't handle it correctly.

This also appears to happen when a streaming application pushes an empty Builder, since it wakes up the waiter but does not write any actual payload to the frame.

[2015-07-26 19:52] awpr opened #404 "Warp treats exceeding the concurrency limit as a connection error."
Per http://http2.github.io/http2-spec/index.html#rfc.section.5.1.2, servers are required to treat this as a stream error.  Warp should reset the offending stream instead of terminating the connection.  The relevant code is Receiver.hs:158.

I have a potential fix that I'll push to a fork shortly.

[2015-07-26 20:02] awpr commented on #404
Proposed fix is https://github.com/awpr/wai/commit/2b8459979798ca9a88426f5482913023d4276ef3.

With this, Warp resets the offending stream, but treats further messages on it as stream errors.  I think that's a separate bug, though, since I don't see any code for ignoring frames for recently-reset streams.

[2015-07-26 20:04] awpr commented on #402
This is now visible at https://github.com/awpr/wai/commits/support_http2_trailers.

[2015-07-27 13:10] kazu-yamamoto commented on #404
I would like to have the test case in [h2spec](https://github.com/summerwind/h2spec) to see that the bug exists and is fixed after applying patch. @awpr Is it possible to do so?

[2015-07-27 13:21] kazu-yamamoto commented on #402
Yes, the reason why I have not supported trailers yet is that the interface does not support it.

We need to think the request side, too.

For push, I'm thinking the Jetty way. Warp can learn traffic patterns and automatically push some contents. This would be possible by observing Referers. But note that pushing CSS and JS gets more poor performance than no-pushing in come cases. So, I have not d

[2015-07-27 14:37] awpr commented on #404
This already appears to exist at https://github.com/summerwind/h2spec/blob/master/5_1.go#L307.  Perhaps it's always getting skipped when run against Warp?

[2015-07-28 04:14] awpr opened #406 "Receive buffers are incorrectly aliased, causing corruption of request body and framing data."
TL;DR I'm almost certain that BufferPool, or some misuse of it, is breaking referential transparency of ByteStrings.

The setup:
- Modify Warp HTTP/2 to accept 10,000 concurrent streams instead of only 100.  (This isn't strictly necessary, but you'll be re-running the client program a lot of times otherwise.)  This entails replacing 'recommendedConcurrency' with 10000 in both HTTP2/Sender.hs and H

[2015-07-28 04:56] awpr commented on #406
Oh.

[2015-07-28 19:16] awpr commented on #406
This isn't limited to just HTTP/2, and I've got a fairly simple Application that triggers it for HTTP1.  The short summary is: stream the whole request body a chunk at a time, storing both the original ByteString and a WHNF'd copy.  Compare the two "copies" of the request body and respond "error" if they mismatch.  This consistently says "error" for request bodies 16K bytes or larger, and consiste

[2015-07-28 19:20] awpr commented on #406
Also recording here that this affects warp-3.1.0 but not 3.0.13.1.

[2015-07-28 19:36] creichert commented on #406
Great, the tests make it much easier to understand the context and help
contribute (esp. for some of the in-depth http2 issues). It's much
appreciated.

I'm trying to get an exact sha1 to tag warp-3.1.

On Tue, Jul 28 2015, awpr <notifications@github.com> wrote:

[2015-07-28 19:42] AaronFriel opened #411 "Static files are ending the connection with a protocol error with HTTP/2"
I've got a Yesod front end running on a (now public) site.

Yesterday I was getting HTTP/2.0 protocol errors when accessing static files, e.g.: https://reactr.io/static/css/bootstrap.css

I restarted the site a few times, and it started working, so I moved on. I restarted it this morning after a user reported errors, and now those resources are failing (only over HTTP/2) reliably.

[2015-07-28 19:46] awpr commented on #406
It appears to be 8eb8a0b34741360f46c35020d0c5b0c1a41e54f7 -- the source tarball on Hackage contains the Changelog changes of that commit but not the 'hasBody' changes of the following one.

[2015-07-28 19:48] creichert commented on #411
@snoyberg I can't add a new label but I think it might be a good idea to add one for `http2` to help @kazu-yamamoto and others organize them.

@AaronFriel Ideally, we can narrow this down to a minimal test case. If it ends up being a Warp bug it will be nice to add to the Spec.

[2015-07-28 19:53] snoyberg commented on #411
Label created

On Tue, Jul 28, 2015, 12:48 PM Christopher Reichert <
notifications@github.com> wrote:

[2015-07-28 20:09] AaronFriel commented on #402
I would suggest that Warp not implement a high-level feature like content pushing automatically. It should be opt-in or with some logic the application provides. Otherwise you risk non-idempotent things being pushed to the client.

(I know `GET` should always be idempotent, but I'm being realistic.)

[2015-07-28 20:38] awpr commented on #402
It seems to me if pushed streams were an extra Response constructor with a normal response and a backup response, such an automatic content pushing feature could fit nicely into a middleware that adds pushed streams to the user's response.  Then application writers could opt into it where appropriate and leave it out otherwise.

[2015-07-28 20:38] awpr commented on #402
That said I think pushed streams deserve their own issue since this one is about trailers.

[2015-07-28 20:52] AaronFriel commented on #411
I can add that this fixes the problem, as opposed to using the `Static` site handlers.

[code]

I can also report that there may be some issue with `sendFile`.

[2015-07-28 21:02] awpr commented on #411
It would be informative to know what particular kind of protocol error it's reporting.  https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/HTTP2/Sender.hs#L54 is where (almost?) all protocol errors come from, so adding a trace of the exception there would probably pinpoint where the protocol error is being triggered.

[2015-07-28 21:29] awpr commented on #411
Of course I linked to the wrong line. https://github.com/yesodweb/wai/blob/master/warp/Network/Wai/Handler/Warp/HTTP2/Receiver.hs#L40

[2015-07-28 22:00] AaronFriel commented on #411
If there's no success replicating this tonight, I'll build my own Warp/WAI stack and add the traces. Just to minimize how deeply I have to grok the stack, could you tell me what to trace, and if I need any Show instances or the like?

[2015-07-28 22:06] awpr commented on #411
'err' and 'msg' both have Show instances that should give the necessary
info (err is the HTTP/2 error code and msg is a human-readable debug
message).

On Tue, Jul 28, 2015 at 3:00 PM Aaron Friel <notifications@github.com>
wrote:

[2015-07-28 23:33] awpr commented on #411
I was able to reproduce this just by trying to send a file response and started digging around.  I found this getting raised by fillResponseBodyGetNext and then ignored by the top level of the send loop:

Network/Wai/Handler/Warp/HTTP2/Sender.hs:245:9-34: Irrefutable pattern failed for pattern Just fdcache

For a workaround without code changes to Warp, try enabling the FD cache with Network.Wai.H

[2015-07-29 00:01] AaronFriel commented on #411
Thanks for the quick discovery. Sounds like an easy fix for Warp, at least?

[2015-07-29 00:21] kazu-yamamoto commented on #402
Sorry for the delay. My summer vacation is over. I would shift my gear from now on.

@AaronFriel Push, priority etc are research issues. Nothing is decided. I welcome users' opinions.

@awpr One possible way to not change Response constructors is using response headers. For instance, (":push", "default.css"). I heard that some other servers take this way.

[2015-07-29 01:02] codedmart commented on #406
@awpr I believe we are seeing a related issue in Servant which uses warp. Once we run our tests with warp 3.1 we have a failure on a route that has a large request body where we return [(String, [Rational])]. I would have to confirm the exact size she it fails, but this sounds related.

[2015-07-29 01:10] awpr commented on #406
That does sound like this bug.  I've updated my pull request with a test that would provoke the issue.

[2015-07-29 01:12] codedmart commented on #406
@awpr your pull request solves this issue for you?

[2015-07-29 01:14] awpr commented on #406
Yes -- the problem was that a BufferPool would get stuck handing out the same buffer in certain cases.

[2015-07-29 01:16] AaronFriel commented on #411
Site seems to be responding fine to static files now. For now, may I suggest changing the default FdCacheDuration and pushing a new version? Should keep anyone else from hitting this and thinking Warp HTTP/2 is broken.

[2015-07-29 01:29] codedmart commented on #406
@awpr thanks I will check that against my code in the morning.

[2015-07-29 03:14] AaronFriel opened #412 "Warp/WAI gets an F from SSL Labs"
See [this test](https://www.ssllabs.com/ssltest/analyze.html?d=reactr.io&latest) for an example.

SSL Labs says that it does not support secure renegotiation, but it appears the `tls` and `warp-tls` source both set `supportedSecureRenegotiation = True`.

[2015-07-29 04:19] kazu-yamamoto commented on #412
Please see https://github.com/vincenthz/hs-tls/issues/112.

[2015-07-29 04:32] kazu-yamamoto commented on #411
Sorry. This is my fault. The patch above would fix this issue.

However, file descriptors will leak. Does anyone have an idea to close file descriptors certainly?

[2015-07-29 04:39] kazu-yamamoto commented on #402
@awpr Would you tell me the reasons why you need trailers?

[2015-07-29 04:47] kazu-yamamoto commented on #404
Strange. Warp always passes the 5.1.2 test case of h2spec. @awpr Does warp fail the test in your environment?

Anyway, your patch looks perfect to me.

[2015-07-29 04:48] #404 closed

[2015-07-29 04:48] awpr commented on #402
In my particular case, I'm trying to interoperate with existing clients that strictly require trailers to be present as part of the semantics of the request.  In general, though, I want Haskell to have the best story of any language for HTTP/2, and supporting it fully and generally is a prerequisite for that.  I've got a more detailed reply in the works.

[2015-07-29 04:50] awpr commented on #404
It does pass that test case because closing the connection is an allowable reaction here -- see the comments on the pull request.

[2015-07-29 04:55] kazu-yamamoto commented on #404
I have just read it. Sorry for your inconvenience.

[2015-07-29 05:00] kazu-yamamoto commented on #402
OK. Thanks.

Generally speaking, trailers can be decided at the end of HTTP/2 stream. For instance, calculating a checksum (or hash) value for streaming type contents. So, we need new APIs to implement this usage.

[2015-07-29 05:51] #406 closed

[2015-07-29 05:54] kazu-yamamoto commented on #412
BTW, I'm planning to hack the tls library to get A+. :)

[2015-07-29 06:01] kazu-yamamoto commented on #403
Are you talking about `ResponseStream`?

[2015-07-29 06:02] kazu-yamamoto commented on #403
`Builder` is not an instance of `Eq`. I have no idea to tell a Builder is empty or not.

[2015-07-29 06:22] awpr commented on #402
Having thought about it some more, I'm now convinced it doesn't make sense for this HTTP/2 implementation to remain tightly coupled to WAI and Warp.  The primary reason I think this is that HTTP/2 is fundamentally different in nature from HTTP/1 -- a lot of the things that made sense for HTTP/1 and HTTP/1.1 no longer do for HTTP/2, and vice versa.

First and foremost, HTTP/2 multiplexes the connec

[2015-07-29 06:33] awpr commented on #403
Yes, for ResponseStream.  I have a change stashed currently that makes this work, by checking the amount of data that was actually written by the Builders, and skipping the frame if it was zero bytes.

I initially saw this happen when there was nothing in the output queue after sending headers, so there were no Builders at all.  Then I checked to see what would happen when sending an empty Builder

[2015-07-29 06:54] kazu-yamamoto commented on #402
All observations are appealing to me.

One quick question: if warp-http2 is used, only HTTP/2 is provided for port 80 and 443?

[2015-07-29 07:01] kazu-yamamoto commented on #403
Thanks. I'm waiting for your pull request.

[2015-07-29 16:51] awpr commented on #402
I haven't thought through the API yet for getting HTTP/2 applications into the server loop, but I was picturing 'warp-http2' exporting just Network.Wai.Handler.Warp.HTTP2.http2 (i.e. the connection-level implementation) and the automatic upgrade code ('promoteApplication'?).  I think the typical desired configuration for most people would be to provide a normal WAI application and have it automati

[2015-07-29 16:55] awpr commented on #402
Also I should point out that I initially set out yesterday to write an argument for making major changes to 'WAI.Application' to support the new HTTP/2 features, but as I wrote it I became convinced it was too messy for the reasons mentioned above, and decided to change course.  I'm not necessarily opposed to that strategy, but I think the disadvantages outweigh the benefits.

[2015-07-29 19:03] AaronFriel commented on #402
I would be in favor of splitting out HTTP/2 into its own module, so that an application can have fine-grained and precise control over the HTTP/2 stream. The points mentioned by @awpr are all well-thought out. HTTP/1.1 allows great kernel optimizations, HTTP/2.0, by its nature, disallows those. Should we penalize the API for everyone who uses only one or the other?

One last note: I would like to

[2015-07-29 19:05] AaronFriel commented on #411
`resourceT` has awesome capabilities for managing contexts. It's not a heavy-weight dependency, but it would provide you with deterministic and garbage-collected control of closing file descriptors.

[2015-07-29 19:12] AaronFriel commented on #411
To add to this example, here's what I've used:

In [hyhac Database.HyperDex.Internal.Util.Resource](
https://github.com/AaronFriel/hyhac/blob/master/src/Database/HyperDex/Internal/Util/Resource.hs#L63-L85) I use a newtype around the `InternalState` to manage resources (in my cases, pointers to memory allocated by Haskell, and passed to a C API that is asynchronous.)

 I don't use a `ForeignPtr`, b

[2015-07-29 20:59] AaronFriel commented on #412
Your patch gets me an A-. Awesome work, @kazu-yamamoto!

https://www.ssllabs.com/ssltest/analyze.html?d=reactr.io

[2015-07-29 20:59] #412 closed

[2015-07-29 22:07] awpr commented on #402
I always advocate for small-caps when this comes up: runWithHᴛᴛᴘ2.  For some reason it never catches on :)

[2015-07-30 02:33] kazu-yamamoto opened #415 "Server push in HTTP/2"
- WAI API does not allow to support server pushing which can be controlled by WAI applications.
- Jetty has a smart push mechanism with a learning dictionary based on Referer:. E.g. `default.css` is referred by `index.html`. So, if `index.html` is required next time, we can push `default.css`. It's not a good idea to support this by Warp itself. Rather, we should provide a library which WAI applic

[2015-07-30 02:44] kazu-yamamoto commented on #402
@awpr @AaronFriel Please go ahead on `warp-http2`. I would help you.

[2015-07-30 02:53] awpr commented on #402
I think my first milestone will be to add a separate type for HTTP/2 applications that's nearly identical to the current one (the initial one will probably include trailers).  Once the types are separate, the rest of the changes can be made incrementally without causing compatibility issues with the existing WAI types.

[2015-07-30 04:02] kazu-yamamoto commented on #411
I don't think that `ResourceT` fits this case. I would implement a designated thread to manage file descriptors with reaper.

[2015-07-30 05:21] kazu-yamamoto commented on #411
I noticed the the timer manager can release file descriptors.

[2015-07-30 05:28] kazu-yamamoto commented on #411
Warp 3.1.1 has been released.

[2015-07-30 05:28] #411 closed

[2015-07-30 05:57] awpr commented on #402
I've implemented what I described in my previous comment in https://github.com/awpr/wai/commits/wai_http2.  I won't pull-request it just yet because I think it's better not to release it before the Http2Application type is at least somewhat stable, and I don't want to have something in the central repo that shouldn't be released.

That said, this is working nicely for my use case -- the HTTP/2 app

[2015-07-31 05:00] awpr commented on #402
Today's progress: all the irrelevant extra Response constructors are gone, and HTTP/2 applications' streams can now return a result of arbitrary type.

I realized pushed streams are in fact required to be associated with an existing open stream, so a pushPromise action can't be part of a Session type.  Without that, it's just an isSecure boolean and a remote address, which isn't worth separating f

[2015-07-31 05:35] kazu-yamamoto commented on #402
That is my concern, too. Is it possilbe to avoid extra copy for `ResponseFile` in your scheme? I have no idea.

[2015-07-31 06:20] kazu-yamamoto commented on #402
Just FYI: http://daniel.haxx.se/blog/2015/07/31/the-last-http-workshop-day/

[2015-07-31 12:59] awpr commented on #402
If the Builder in Body were replaced with something isomorphic to Either
Builder (Buffer -> Int -> IO Int), it could be essentially the same as
before, where promoting a ResponseFile means opening a Handle and
repeatedly sending hGetBufSome h until EOF.  I would worry this is too
powerful, though, since it can do arbitrary IO in the sender thread rather
than just send a chunk of a file, and it exp

[2015-07-31 13:35] awpr commented on #402
h2i (mentioned on that link) will be extremely helpful for debugging.  Last time I needed to control exact frames I used ghex and "nc localhost 1204 < manuallyConstructedData"

[2015-07-31 19:46] awpr commented on #415
One observation: if the separate Http2Application type is accepted, the normal WAI Application will not grow an explicit interface for pushing streams, as Warp's HTTP/2 stream-push handling will be explicit in the Http2Application type.  In this case any of the several proposed "push inference" mechanisms would necessarily take the form of HTTP/2-only middleware.  This would mean it's applicable t

[2015-07-31 21:09] davean commented on #415
I generally prefer there be a different interface for HTTP2. I for one can
make far better use of it by custom coding to it then any middleware could
hope to.

It would be easy to provide HTTP and HTTP2 versions for me, and a HTTP to
HTTP2 wrapper appears easy for the cases that don't write custom code. This
approach also trivially allows HTTP2 middleware.

On Fri, Jul 31, 2015 at 3:46 PM, Andrew

[2015-07-31 21:14] awpr commented on #415
@davean We're in agreement -- see https://github.com/awpr/wai/commits/wai_http2 and https://github.com/yesodweb/wai/issues/402.

My comment here was only concerning the interface of an automatic server push middleware that would be implemented against the explicit interface (which would be available only to HTTP/2-aware applications).

[2015-08-03 00:05] awpr commented on #402
I've just successfully had Chrome receive and use a pushed resource from Warp.  There are still a ton of details to iron out, but my working copy is at least capable of pushing streams that Chrome understands.  To verify that it was actually using the pushed version, I made it serve a simple HTML page with a script reference, set it up to push one script but serve a different one if asked explicit

[2015-08-03 00:30] awpr opened #417 "Warp should respond with HTTP_1_1_REQUIRED for connection takeovers."
While browsing the HTTP/2 spec while working on server push, I noticed that section 7 defines an error code HTTP_1_1_REQUIRED for requests that must use HTTP/1.1.  This can be used to make promoted applications using ResponseRaw appear to work seamlessly with HTTP/2, since browsers (at least Chrome; I haven't tested others) will restart the request over HTTP/1.1 in response to this error code.  Th

[2015-08-03 01:05] awpr commented on #417
Although apparently we should be careful with this, because Chrome now refuses to talk to my server over HTTP/2 for any URL regardless of what browser data I clear (history/cache/cookies/etc.).  The only way I've gotten it to use HTTP/2 again is to use a different profile or incognito mode.

[2015-08-03 01:43] awpr commented on #417
Note, this state can be cleared by restarting the browser (not just closing all windows, since it keeps the process alive unless asked to exit).  I've filed https://code.google.com/p/chromium/issues/detail?id=516237.

[2015-08-03 02:35] kazu-yamamoto commented on #345
I would like to keep this open. @borsboom If you want to change the assignee from you to me, please do it.

[2015-08-03 02:36] kazu-yamamoto commented on #403
Let's close this.

[2015-08-03 02:36] #403 closed

[2015-08-03 02:55] kazu-yamamoto commented on #402
Congratulation!

[2015-08-03 02:59] kazu-yamamoto commented on #402
Just note: weight of pushing streams is fixed to 16. (See section 5.3.5 in RFC 7540). This might be a problem when other streams have heavier weights.

[2015-08-03 03:00] kazu-yamamoto commented on #402
I don't understand this. Could you implement this in a topic branch?

[2015-08-03 03:02] kazu-yamamoto commented on #402
Ah, we should discuss pushing stuff in #415.

[2015-08-03 03:15] kazu-yamamoto commented on #417
I would like to understand http://tools.ietf.org/html/draft-ietf-httpbis-alt-svc, too.

[2015-08-03 22:14] awpr commented on #415
Initial implementation is now pushed to https://github.com/awpr/wai/commits/wai_http2.  Some of the types are still a bit of a mess (e.g. Applications have to use the Zoidberg operator to make a Response, the Request in HTTP2 is an alias for (H1.Request, PushFn)), but the mechanics are there, and Chrome consistently accepts the streams except when the application pushes two streams of the same URL

[2015-08-03 22:18] awpr commented on #402
Sorry, I was referencing types that only exist in my fork.  Currently there's:

    type Response a = (Status, Headers, Body a)
    type Body a = (Builder -> IO ()) -> IO () -> IO a

If it were instead:

    data Chunk = CBuilder Builder | CFileSegment Handle Int Int
    type Body a = (Chunk -> IO ()) -> IO () -> IO a

then Sender.hs could read from the Handle directly into the connection send buf

[2015-08-04 04:55] kazu-yamamoto commented on #402
So, do you mean that you would give up on abstracting everything to streaming?

[2015-08-04 22:46] AaronFriel commented on #415
@awpr Do you have a design doc or an issue somewhere where you're tracking the API changes and discussing rationale? I haven't had a chance to dig into the commits, but it would be great to see something like a Rust PR for this. Admittedly, I don't understand HTTP/2.0 as well as I ought to, and I'd guess it pretty educational to understand why someone at Google is doing things a certain way with i

[2015-08-05 00:37] kazu-yamamoto commented on #415
@AaronFriel This does not directly answer to your question, just FYI. I'm planning to write some blog articles about design and implementation of Warp HTTP/2.

But Daniel has come to Japan as IIJ-II (our company) intern. We should concentrate to develop ghc-mod for the next two months. So, I guess I can write them in October.

[2015-08-09 18:43] k-bx opened #419 "Warp 3.1.1 fails with "Not in scope: toBS""
Getting this build error when installing latest warp via cabal:

[code]

[2015-08-09 18:44] k-bx commented on #419
It seems to be introduced in 3.1.0

[2015-08-09 20:20] creichert commented on #419
Thanks for the report, it looks like this was hiding in an #if statement and not picked up by the CI. Hopefully we can get this ironed out and also get coverage on all the possibilities.

[2015-08-10 03:49] awpr commented on #402
No, it would still be streaming, but some individual chunks could be read directly from a handle into the send buffer.

The issue I've discovered with this is that with the way the sender currently works, there could still be up to ten of these queued up when the application does its cleanup (such as closing the handle), since 'respond' can exit before the sender drains the queue -- which means th

[2015-08-10 03:52] awpr commented on #415
@AaronFriel the discussion on https://github.com/yesodweb/wai/issues/402 is the best I've currently got for design rationale; I could probably write a more detailed explanation of decisions once it's more final.

[2015-08-10 04:24] awpr commented on #415
Update on this: push support is mostly cleaned up; there are 4 things I'd still like to fix.

- It doesn't currently honor the client's MAX_CONCURRENT_STREAMS setting.
- If the sender happens to encounter a stream's trailers (end of stream) before the push attempt, it will just ignore the push; it would be nice for PUSH_PROMISE frames to participate in the ordering with the associated stream's DAT

[2015-08-10 06:17] #419 closed

[2015-08-10 06:18] creichert commented on #419
@k-bx I just merge a fix for toBS, can you verify this is fixed for you? There might be another patch upcoming as mentioned in #420

[2015-08-10 20:37] aemxdp opened #421 "warp-tls with http2 emits "send: resource vanished (Broken pipe)" on google chrome requests"
Here's a simple application using wai-3.0.3.0, warp-3.1.2, warp-tls-3.1.0:
[code]
When performing requests from Chrome 44, it emits the output in subj (though it's like warning: except the fact of the presence of such output, it works fine), while in Firefox everything is ok. Here's output:
[code]
And if we turn off https (second line of main), chrome doesn't produce that too:
[code]
Notice that h

[2015-08-10 21:12] awpr-google commented on #421
Just as a note, I've been seeing this too.  It's possible it affects all HTTP/2 connections in Chrome, because connection upgrades aren't supported, so non-TLS connections won't ever discover that HTTP/2 can be used.

I've been assuming this had something to do with Chrome being uncomfortable with my self-signed testing certificate, but I can check out net-internals later to see if I can figure ou

[2015-08-11 03:09] kazu-yamamoto opened #422 "blaze-builder vs bytestring-builder"
The current code cannot be compiled with blaze-builder < 0.4 as reported in #420:

[code]
This is because the HTTP/2 code does not support blaze-builder < 0.4.

@snoyberg Would you explain the current policy for blaze-builder? Do we have to support the old blaze-builder? Why not simply throw blaze-builder away and support bytestring-builder only?

[2015-08-11 03:18] snoyberg commented on #422
If you put a lower bound on blaze-builder for >=0.4, then you can just use bytestring-builder. Otherwise, you'll end up in a situation where wai allows blaze-builder-0.3, and warp doesn't prevent it with bounds.

[2015-08-11 03:22] kazu-yamamoto commented on #422
Do you think we should support blaze-builder < 0.4 in warp at this moment?

[2015-08-11 03:25] snoyberg commented on #422
I don't feel strongly about it. If it's easy, I'd say yes. Otherwise, don't
bother

On Tue, Aug 11, 2015, 6:22 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-08-11 03:28] kazu-yamamoto commented on #422
It's not difficult to implement it but it takes time. Moreover, it is difficult for me to test the implementation. And there are a lots of other things to do.

I would remove the support for blaze-builder and switch to bytestring-builder.

[2015-08-11 03:33] snoyberg commented on #422
OK no objection

On Tue, Aug 11, 2015, 6:28 AM Kazu Yamamoto <notifications@github.com>
wrote:

[2015-08-11 04:12] kazu-yamamoto commented on #421
If I remember correctly, Chrome makes two TCP connections first (probably because of Happy Eyeballs defined RFC6555). If HTTP/2 is selected, one of them must be terminated.

[2015-08-11 05:19] kazu-yamamoto commented on #422
For `Response.hs`, `chunkedTransferEncoding` and `chunkedTransferTerminator` are necessary. Are there alternatives?

If not, I would use blaze-builder >= 0.4 only here.

[2015-08-11 05:39] kazu-yamamoto commented on #422
See c43251b0db4dbd6b243152f743f569e919c389c8.

[2015-08-11 05:44] snoyberg commented on #422
I'm unaware of alternatives, I'd agree with using blaze-builder for those functions.

[2015-08-11 05:46] kazu-yamamoto commented on #422
Thanks. I will merge this patch.

[2015-08-11 05:48] #422 closed

[2015-08-11 09:19] k-bx commented on #419
Sorry, not until next Tuesday.

[2015-08-11 11:51] kazu-yamamoto commented on #419
Please note that Warp now does not support blaze-builder < 0.4. See #422.

[2015-08-13 02:14] kazu-yamamoto commented on #415
Server push in H2O: https://github.com/h2o/h2o/issues/421

[2015-08-13 03:10] kazu-yamamoto commented on #421
I analyzed the packet sequence. Chrome closes the first TLS/TCP connection by sending TCP FIN after sending TLS CCS and establishes the second TLS/TCP connection. TLS is not terminated by TLS alert.

So, the TLS layer (nor the application layer) cannot check if the connection is open without sending some data. In other words, this is not avoidable.

What I can do is define Haskell level errors to

[2015-08-13 03:16] kazu-yamamoto commented on #421
More concretely:
- Chrome sends TCP FIN after sending CCS
- The server sends CCS
- Chrome sends TCP RST

[2015-08-13 15:14] awpr commented on #421
If this is an expected (or, at least, accepted) way for a browser to terminate an unneeded connection, I think Warp should probably just ignore it (and probably call the connection-closed callback if feasible/applicable).  Otherwise we should file a bug against Chrome to stop doing it.

It sounds like the error might be detected by the TLS library here, and it's probably not a universally acceptab

[2015-08-14 00:54] kazu-yamamoto commented on #421
I noticed that Warp has `ConnectionClosedByPeer`. Since it belongs to `InvalidRequest`, it is a little bit awkward. But converting "resource vanished" to `ConnectionClosedByPeer` make sense.

Since Warp can specify backends (e.g. send) to TLS, this can control by WarpTLS, I guess.

[2015-08-14 05:13] kazu-yamamoto commented on #421
With the above patch, the error message is now "Client closed connection prematurely". I'm satisfied with this code.

[2015-08-17 04:11] kazu-yamamoto commented on #421
The patch is merged. I would close this issue.

[2015-08-17 04:11] #421 closed

[2015-08-17 04:11] kazu-yamamoto commented on #385
I would close this issue. Please reopen if necessary.

[2015-08-17 04:11] #385 closed

[2015-08-18 02:07] kazu-yamamoto commented on #421
A new version has been released.

[2015-08-18 10:45] k-bx commented on #419
Works now.

[2015-08-19 00:42] kazu-yamamoto commented on #419
Thank you for your report.

[2015-08-29 20:53] awpr commented on #415
I've started working on this again the last few days; another update:

* It now honors MAX_CONCURRENT_STREAMS and ENABLE_PUSH.
* The race issue is addressed by waiting for the sender to report back on a pushed stream before returning from pushResponder.
* No progress on pushing uses of the HTTP2Application itself.  It's not impossible, just unwieldy, and we should ideally make it more ... wieldy.

[2015-08-31 08:22] seanwestfall opened #427 "Http2 question"
Does http2 get turned on automatically in yesod? I got a running yesod 1.4.1 example server running on GHC version 7.10.2, and it runs warp 3.1.3, but it's still be served via HTTP 1.1, at least according to the header. Does something need to be configured in yesod for it to start using HTTP/2? Or how do I know yesod is running HTTP2 other than via the response header?

This is the response header

[2015-08-31 11:38] kazu-yamamoto commented on #427
Chrome and Firefox require TLS to use HTTP/2. HTTP/2 is negotiated by TLS (the ALPN extension).

[2015-09-01 16:51] awpr commented on #427
In more detail: Warp doesn't yet support non-TLS HTTP/2 upgrades.  If the browser sends the header "Upgrade: h2c", Warp will ignore it and continue serving over HTTP/1.1.  Over TLS, though, we always go through ALPN negotiation and advertise 'h2-someversion', and the browser will choose HTTP/2 if it supports it.

For non-TLS connections the only way to get into HTTP/2 currently is to use the magic

[2015-09-01 17:00] awpr commented on #359
HTTP2Applications introduced by #426 are capable of streaming multiple file fragments as part of their normal operation; this makes it possible to implement multipart support for HTTP/2 without copying chunks of file data.

[2015-09-02 05:46] seanwestfall commented on #427
Hmm, thanks for the response:
On Chrome 44, when viewing the default yesod through https://127.0.0.1:3443/, the request header says this (in parsed format):
[code]
Chrome doesn't include anything to indicate you're viewing a site through http2 -- in fact you can't even switch the header response from 'view parsed' to 'view source' -- maybe because it can't read the http2 format..

Though in Firefo

[2015-09-02 05:46] #427 closed

[2015-09-02 06:21] awpr commented on #427
You can also check active HTTP/2 sessions in chrome://net-internals.

[2015-09-02 08:17] kazu-yamamoto commented on #427
Using the native developer tool of Firefox and Chrome, you can check which they are using.

[2015-09-02 18:13] awpr commented on #427
I didn't know this until just now: you can enable displaying the protocol in the Network requests table as described by https://ma.ttias.be/view-http-spdy-http2-protocol-google-chrome/.

[2015-09-03 02:46] cimmanon opened #428 "Warp fails to install on OpenBSD"
Adding OpenBSD to the list of operating systems that should include Hashable in the cabal file doesn't work because OpenBSD does not have `sendfile()`.

[code]

[2015-09-03 03:13] awpr commented on #428
Does it work if you add "-f -allow-sendfilefd" to the cabal command-line?  That should force it not to use `sendfile()` even when it thinks it's on an OS that supports it.

[2015-09-03 03:17] cimmanon commented on #428
No, that doesn't change anything.

[2015-09-03 03:48] awpr commented on #428
Ah, FdCache.hs imports it unconditionally, so you'd need to add hashable to the build-depends (outside the part that's conditional on allow-sendfilefd) -- what you did before was presumably adding it to the whitelist of OSes that support sendfile.  For a real fix, we should probably move the hashable build-depends entry to everything but Windows (since the whole file is stubbed out to be a no-op o

[2015-09-03 14:00] cimmanon commented on #428
Yes, adding hashable to the build-depends outside the conditional lets it install, but the resulting library can't be used.  I don't know if this linking problem is related or a separate issue.

[code]

[2015-09-03 15:34] awpr commented on #428
Oh, the cabal file gives a hint there: it builds MultiMap only if we're using sendfile, but FdCache also uses MultiMap.  Try moving the MultiMap "Other-modules" line to the same place as the hashable dependency.

[2015-09-09 02:20] kazu-yamamoto opened #429 "Safari does not work with new Warp TLS"
@tathougies reported in http://www.yesodweb.com/blog/2015/08/ssl-server-test

Probably we should add 3DES.

[2015-09-09 05:38] kazu-yamamoto commented on #429
`TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384`, which is not specified in Warp TLS, is selected. `TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256` should be selected. I think that this is a bug of the tls library.

[2015-09-09 06:42] tathougies commented on #429
Bug already filed on the tls library github, but I'm afraid I lack the expertise to be able to adequately debug.

tls bug: https://github.com/vincenthz/hs-tls/issues/119